.triptop-container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  text-align: right;
}
.triptop-container label {
  margin: 0;
}
.triptop-container table {
  border-spacing: 0;
  border: 0;
  padding: 0;
  margin: 0;
}
.triptop-container table tr,
.triptop-container table td {
  padding: 0;
  border: 0;
  vertical-align: inherit;
}
.triptop-container ul > li:before {
  content: none;
}
.triptop-container .tt-align-left {
  text-align: right;
}
.triptop-container .tt-align-center {
  text-align: center;
}
.triptop-container .tt-align-right {
  text-align: left;
}
.triptop-container .tt-float-left {
  float: right;
}
.triptop-container .tt-float-right {
  float: left;
}
.triptop-container .tt-clear {
  clear: both;
}
.triptop-container .tt-link {
  cursor: pointer;
}
.triptop-container .tt-dropdown {
  display: block !important;
}
#triptop-profile .link-box {
  display: none !important;
}
.tt-booking-view-terms {
  display: none;
}
#triptop-booking {
  background: #FFF;
  direction: rtl;
}
#triptop-booking .tt-booking-confirm {
  line-height: 25px;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-header {
  border: 5px white solid;
  color: black;
  background-color: #e6e6e6;
  font-size: 14px;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-header .tt-header-header {
  color: #ffb40b;
  font-size: 19px;
  font-weight: bold;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-header .tt-subheader {
  font-size: 15px;
  font-weight: bold;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-header .tt-header-small {
  color: #ffb40b;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-header .tt-header-red {
  color: #ff0000;
  font-size: 10px;
  font-weight: bold;
}
#triptop-booking .tt-booking-confirm .tt-caption {
  color: #ffb40b;
  font-weight: bold;
}
#triptop-booking .tt-booking-confirm .tt-content {
  color: #000000;
  font-weight: bold;
}
#triptop-booking .tt-booking-confirm .tt-small-text {
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services {
  border: 5px solid #FFFFFF;
  border-top-width: 2px;
  color: black;
  background-color: #e6e6e6;
  font-size: 16px;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-nested-block {
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-nested-block .tt-caption {
  color: #ffb40b;
  font-size: 110%;
  font-weight: bold;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-nested-block .tt-caption-black {
  color: #ffb40b;
  font-size: 110%;
  font-weight: bold;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-header-header {
  color: #ffb40b;
  font-weight: bold;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-service-header-big {
  background-color: #e6e6e6;
  color: #ffb40b;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-service-entry {
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-service-entry .tt-single-service {
  background-color: white;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-service-entry .tt-service-entry-header {
  color: #FFA500;
  font-size: 90%;
  font-weight: bold;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-service-entry .tt-service-header {
  background-color: #eFeFeF;
  font-weight: bold;
  font-size: 12px;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-service-entry .tt-service-content {
  background-color: white;
  font-size: 12px;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-service-entry .tt-service-content .tt-from {
  font-weight: bold;
  color: #00bbbb;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-service-entry .tt-service-content .tt-to {
  font-weight: bold;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-services .tt-service-entry .tt-service-content .tt-from-airport {
  text-decoration: underline;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-footer {
  border: 5px white solid;
  background-color: #e6e6e6;
}
#triptop-booking .tt-booking-confirm .tt-confirmation-footer .tt-confirmation-content {
  border: 15px solid transparent;
  color: #000000;
  font-size: 13px;
  line-height: 16px;
}
#triptop-booking .tt-booking-confirm .tt-pass-pricing {
  border: 5px white solid;
  color: black;
  background-color: #e6e6e6;
  font-size: 16px;
}
#triptop-booking input.ng-dirty.ng-invalid,
#triptop-booking select.ng-dirty.ng-invalid {
  border-color: #FF1D1D;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#triptop-booking input.ng-dirty.ng-invalid:focus,
#triptop-booking select.ng-dirty.ng-invalid:focus {
  border-color: #FF1D1D;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
#triptop-booking i.tt-booking-field-error .tooltip {
  opacity: 1;
  right: -5px;
  top: 15px;
  white-space: nowrap;
}
#triptop-booking i.tt-booking-field-error .tooltip .tooltip-inner {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: #FF1D1D;
  box-shadow: 0px 0px 2px #999;
}
#triptop-booking i.tt-booking-field-error .tooltip .tooltip-arrow {
  right: 6px;
  left: initial;
  border-bottom-color: #FF1D1D;
}
#triptop-booking .tt-booking-normal,
#triptop-booking .tt-booking-normal i {
  font-size: 13px !important;
}
#triptop-booking .tt-booking-wizard {
  width: 100%;
  height: auto;
  padding: 10px 1%;
}
#triptop-booking .tt-booking-wizard .tt-booking-process {
  width: 100%;
  height: auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-process td {
  padding: 0;
  border-bottom: 1px solid #FF7405;
}
#triptop-booking .tt-booking-wizard .tt-booking-process td .tt-booking-stage {
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
#triptop-booking .tt-booking-wizard .tt-booking-process td .tt-booking-stage .tt-booking-stage-num {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: gray;
  font-size: 20px;
  line-height: 24px;
  color: white;
  text-align: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
#triptop-booking .tt-booking-wizard .tt-booking-process td .tt-booking-stage .tt-booking-stage-title {
  display: inline-block;
  line-height: 34px;
  font-size: 16px;
  color: gray;
}
#triptop-booking .tt-booking-wizard .tt-booking-process td .tt-booking-active-stage {
  cursor: default;
  background: #FF7405;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff7405), to(#ff7405));
  background: -webkit-linear-gradient(#ff7405, #ff7405);
  background: -moz-linear-gradient(#ff7405, #ff7405);
  background: -ms-linear-gradient(#ff7405, #ff7405);
  background: -o-linear-gradient(#ff7405, #ff7405);
  background: linear-gradient(#ff7405, #ff7405);
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}
#triptop-booking .tt-booking-wizard .tt-booking-process td .tt-booking-active-stage .tt-booking-stage-num {
  background: #FFF;
  color: #FF7405;
}
#triptop-booking .tt-booking-wizard .tt-booking-process td .tt-booking-active-stage .tt-booking-stage-title {
  color: white;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest,
#triptop-booking .tt-booking-wizard .tt-booking-content {
  width: 100%;
  height: auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest ul,
#triptop-booking .tt-booking-wizard .tt-booking-content ul {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest ul li,
#triptop-booking .tt-booking-wizard .tt-booking-content ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  float: none;
  display: inherit;
  background: inherit;
  overflow: auto;
  line-height: inherit;
  color: inherit;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-question {
  font-size: 14px !important;
  font-weight: normal;
  color: #006FCE;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-header,
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-footer {
  width: 100%;
  height: auto;
  margin: 5px 0 0;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-header td,
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-footer td {
  border-bottom: 1px solid #FF7405;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-header .tt-booking-digest-title,
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-footer .tt-booking-digest-title {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-header .tt-booking-digest-title i,
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-footer .tt-booking-digest-title i {
  padding: 0 5px;
  font-size: 20px;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-header .tt-booking-digest-title .tt-booking-digest-title-link,
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-footer .tt-booking-digest-title .tt-booking-digest-title-link {
  color: #006FCE;
  font-weight: bold;
  font-size: 13px;
  margin: 0;
  height: 18px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-footer td {
  border-bottom: 1px dashed #555;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-footer .tt-booking-digest-paxes span:nth-child(n+3):before {
  content: " + ";
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-content {
  width: 100%;
  height: auto;
  margin: 5px 0 0;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-content td {
  border-bottom: 1px dashed #CCC;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-content .tt-booking-digest-img {
  width: 40px;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-content .tt-booking-digest-img img {
  height: 30px;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-content .tt-booking-digest-icon {
  width: 20px;
  font-size: 10px;
  text-align: center;
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-content .tt-booking-digest-icon .el-icon-arrow-right:before {
  content: "\e71f";
}
#triptop-booking .tt-booking-wizard .tt-booking-digest .tt-booking-digest-content .tt-booking-digest-title {
  height: 30px;
  font-size: 12px;
  white-space: nowrap;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-field-error {
  color: #FF1D1D;
  position: absolute;
  top: 3px;
  left: 10px;
  cursor: pointer;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-content-header {
  width: 100%;
  height: auto;
  margin: 5px 0 0;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-content-header td {
  border-bottom: 1px solid #FF7405;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-content-header .tt-booking-content-title {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-content-header .tt-booking-content-title i {
  padding: 0 5px;
  font-size: 20px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-content-header .tt-booking-content-magic span,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-content-header .tt-booking-content-auth span {
  cursor: pointer;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-content-header .tt-booking-content-auth {
  color: #006FCE;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content {
  width: 100%;
  height: auto;
  margin: 5px 0 0;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content label.tt-required {
  position: relative;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content label.tt-required:after {
  content: '*';
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .form-group {
  margin: 0 10px 5px 0;
  position: relative;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-col-1 {
  width: 10%;
  height: auto;
  min-width: 80px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-col-2,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-col-3 {
  width: 35%;
  height: auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-col-2 .tt-dropdown > i,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-col-3 .tt-dropdown > i {
  position: absolute;
  bottom: 6px;
  left: 5px;
  font-size: 18px;
  cursor: pointer;
  background: white;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-col-2 .tt-dropdown ul,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-col-3 .tt-dropdown ul {
  padding: 5px 0;
  width: auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-col-4 {
  width: 20%;
  height: auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-options-col-1,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-options-col-2 {
  width: 50%;
  height: auto;
  vertical-align: top;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-data,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-options {
  width: 100%;
  height: auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-transfers-data {
  border-collapse: separate;
  border-spacing: 10px 2px;
  margin-bottom: 10px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-transfers-return {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  border-collapse: separate;
  border-spacing: 10px 2px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-options tr {
  border-bottom: 1px dashed #555;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-label {
  height: 30px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-options-link {
  color: #006FCE;
  font-weight: bold;
  font-size: 13px;
  margin: 2px 0 5px;
  height: 14px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-options-link p {
  position: absolute;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-type-dirty label,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-type-dirty div {
  color: #FF1D1D !important;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-type-dirty input,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-type-dirty select {
  border-color: #FF1D1D;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-type-dirty input:focus,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-paxes-content .tt-booking-paxes-type-dirty select:focus {
  border-color: #FF1D1D;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-header {
  width: 100%;
  height: auto;
  margin: 5px 0;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-header td {
  border-bottom: 1px dashed #555;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-header .btn-toolbar {
  display: inline-block;
  margin: 5px 0 7px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-header .btn-toolbar .btn-default:hover,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-header .btn-toolbar .btn-default:focus,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-header .btn-toolbar .btn-default:active,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-header .btn-toolbar .btn-default.active {
  color: white;
  background: #FF7405;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff7405), to(#ff7405));
  background: -webkit-linear-gradient(#ff7405, #ff7405);
  background: -moz-linear-gradient(#ff7405, #ff7405);
  background: -ms-linear-gradient(#ff7405, #ff7405);
  background: -o-linear-gradient(#ff7405, #ff7405);
  background: linear-gradient(#ff7405, #ff7405);
  border: 1px solid #EB5400;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-content {
  width: 100%;
  height: auto;
  margin: 5px 0 0;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-content td {
  border-bottom: 1px dashed #555;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-content .form-group {
  position: relative;
  margin: 0 10px 7px 0;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-content .tt-booking-form-data {
  width: 100%;
  height: auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-content .tt-booking-form-col-1 {
  width: 10%;
  height: auto;
  min-width: 90px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-content .tt-booking-form-col-2,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-content .tt-booking-form-col-3,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-content .tt-booking-form-col-4 {
  width: 24%;
  height: auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-content .tt-booking-form-col-5 {
  width: 18%;
  height: auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-content .tt-booking-form-col-2 .tt-dropdown > i {
  position: absolute;
  bottom: 6px;
  left: 5px;
  font-size: 18px;
  cursor: pointer;
  background: white;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-content .tt-booking-form-col-2 .tt-dropdown ul {
  padding: 5px 0;
  width: auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-price {
  width: 100%;
  height: auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-price td {
  text-align: center;
  border-bottom: 1px dashed #555;
  height: 65px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-price td > div {
  width: 100%;
  height: 100%;
  position: relative;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-price input {
  width: 80px;
  height: auto;
  margin: 0 auto;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-price .tt-booking-form-price-label {
  width: 100%;
  height: auto;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 5px;
  right: 0;
  font-size: 11px;
  line-height: 12px;
  color: #999;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-form-price .tt-booking-form-price-value {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 7px;
  vertical-align: bottom;
  line-height: 95px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-errors {
  width: 100%;
  height: auto;
  margin: 5px auto;
  color: #FF1D1D;
  text-align: center;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-next,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-cancel,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-apply {
  cursor: pointer;
  text-align: center;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-next {
  margin: 15px auto 0;
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background: #FF7405;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff7405), to(#ff7405));
  background: -webkit-linear-gradient(#ff7405, #ff7405);
  background: -moz-linear-gradient(#ff7405, #ff7405);
  background: -ms-linear-gradient(#ff7405, #ff7405);
  background: -o-linear-gradient(#ff7405, #ff7405);
  background: linear-gradient(#ff7405, #ff7405);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border: 1px solid #EB5400;
  width: 200px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-next-disable {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-cancel {
  margin: 5px auto 0;
  font-size: 11px;
  color: gray;
  width: 350px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-apply {
  margin: 10px auto;
  padding: 5px 10px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  background: #FF7405;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff7405), to(#ff7405));
  background: -webkit-linear-gradient(#ff7405, #ff7405);
  background: -moz-linear-gradient(#ff7405, #ff7405);
  background: -ms-linear-gradient(#ff7405, #ff7405);
  background: -o-linear-gradient(#ff7405, #ff7405);
  background: linear-gradient(#ff7405, #ff7405);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border: 1px solid #EB5400;
  width: 100px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-terms {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 15px 0 0;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-terms input {
  float: none;
  margin: 0;
  width: 25px;
  height: 25px;
  vertical-align: top;
  margin-left: 5px;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-terms a,
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-terms span[data-toggle] {
  color: #006FCE;
  cursor: pointer;
}
#triptop-booking .tt-booking-wizard .tt-booking-content .tt-booking-terms span {
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
}
#triptop-booking .tt-booking-wizard .tt-booking-glass-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
#triptop-booking .tt-booking-wizard .tt-booking-glass-box .tt-booking-glass-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
  filter: alpha(opacity=40);
  z-index: -1;
  background-color: #333;
  top: 0;
  left: 0;
}
#triptop-booking .tt-booking-wizard .tt-booking-glass-box .tt-booking-loader-box {
  width: 620px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  background-color: white;
}
#triptop-booking .tt-booking-wizard .tt-booking-glass-box .tt-booking-loader-box .tt-booking-loader {
  margin: 10px auto;
  background: url("../img/loader.gif") 0 0 no-repeat;
  width: 128px;
  height: 128px;
}
#triptop-booking .tt-booking-wizard .tt-booking-glass-box .tt-booking-loader-box .tt-booking-loader-message {
  margin: 10px auto;
  width: 400px;
  color: #333;
  font-size: 14px;
  text-align: center;
}
