.box (@width: 100%, @height: auto) {
	width: @width;
	height: @height;
}

.triptop-container {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #555;
	text-align: @left;

	label {
		margin: 0;
	}

	table {
		border-spacing: 0;
		border: 0;
		padding: 0;
		margin: 0;

		tr, td {
			padding: 0;
			border: 0;
			vertical-align: inherit;
		}
	}

	ul > li:before {
		content: none;
	}

	.tt-align-left {
		text-align: @left;
	}

	.tt-align-center {
		text-align: center;
	}

	.tt-align-right {
		text-align: @right;
	}

	.tt-float-left {
		float: @left;
	}

	.tt-float-right {
		float: @right;
	}

	.tt-clear {
		clear: both;
	}

	.tt-link {
		cursor: pointer;
	}

	.tt-dropdown {
		display: block !important;
	}
}

#triptop-profile {
	.link-box {
		display: none !important;
	}
}

.tt-booking-view-terms {
	display: none;
}

#triptop-booking {
	background: #FFF;
	direction: @dir;

    .tt-booking-confirm {
		line-height: 25px;

		.tt-confirmation-header {
			.tt-header-header {
				color: #ffb40b;
                font-size: 19px;
				font-weight: bold
			}

            .tt-subheader {
                font-size: 15px;
                font-weight: bold;
            }

            .tt-header-small {
                color: #ffb40b;
                font-size: 15px;
                font-weight: bold;
                line-height: 24px;
            }

            .tt-header-red {
                color: #ff0000;
                font-size: 10px;
                font-weight: bold;
            }

			border: 5px white solid;
			color: black;
			background-color: #e6e6e6;
			font-size: 14px;
		}

		.tt-caption {
			color: #ffb40b;
			font-weight: bold
		}

		.tt-content {
			color: #000000;
			font-weight: bold
		}

		.tt-small-text {
            font-size: 13px;
            font-weight: bold;
            line-height: 15px;
        }

		.tt-confirmation-services {
			.tt-nested-block {
                .tt-caption {
                    color: #ffb40b;
                    font-size: 110%;
                    font-weight: bold;
                }

                .tt-caption-black {
                    color: #ffb40b;
                    font-size: 110%;
                    font-weight: bold;
                }

				border-left: 15px solid transparent;
                border-bottom: 15px solid transparent;
			}
	
			.tt-header-header {
				color: #ffb40b;
				font-weight: bold
			}

            .tt-service-header-big {
                background-color: #e6e6e6;
                color: #ffb40b;
                font-weight: bold;
                font-size: 18px;
                line-height: 29px;
            }


            .tt-service-entry {
				box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);

				.tt-single-service {
					background-color: white;
				}

                .tt-service-entry-header {
                    color: #FFA500;
                    font-size: 90%;
                    font-weight: bold;
                }

				.tt-service-header {
					background-color: #eFeFeF;
					font-weight: bold;
					font-size: 12px;
				}

				.tt-service-content {
					background-color: white;
					font-size: 12px;
		
					.tt-from {
						font-weight: bold;
						color: #00bbbb;
					}
					.tt-to {
						font-weight: bold;
					}
					.tt-from-airport {
						text-decoration: underline;
					}
				}
			}

            border: 5px solid #FFFFFF;
            border-top-width: 2px;
            color: black;
			background-color: #e6e6e6;
			font-size: 16px;
		}

		.tt-confirmation-footer {
			border: 5px white solid;
			background-color: #e6e6e6;

			.tt-confirmation-content {
				border: 15px solid transparent;
                color: #000000;
                font-size: 13px;
                line-height: 16px;
			}
		}

		.tt-pass-pricing {
			border: 5px white solid;
			color: black;
			background-color: #e6e6e6;
			font-size: 16px;
		}
	}

	input.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid {
		border-color: #FF1D1D;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}

	input.ng-dirty.ng-invalid:focus, select.ng-dirty.ng-invalid:focus {
		border-color: #FF1D1D;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	}

	i.tt-booking-field-error {
		.tooltip {
			opacity: 1;
			right: -5px;
			top: 15px;
			white-space: nowrap;

			.tooltip-inner {
				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 13px;
				background-color: #FF1D1D;
				box-shadow: 0px 0px 2px #999;
			}

			.tooltip-arrow {
				right: 6px;
				left: initial;
				border-bottom-color: #FF1D1D;
			}
		}
	}

	.tt-booking-normal, .tt-booking-normal i {
		font-size: 13px !important;
	}

	.tt-booking-wizard {
		.box();
		padding: 10px 1%;

		.tt-booking-process {
			.box();

			td {
				padding: 0;
				border-bottom: 1px solid #FF7405;

				.tt-booking-stage {
					cursor: pointer;
					white-space: nowrap;
					text-align: center;

					.tt-booking-stage-num {
						.box(24px, 24px);
						display: inline-block;
						background: gray;
						font-size: 20px;
						line-height: 24px;
						color: white;
						text-align: center;
						border-radius: 12px;
						-webkit-border-radius: 12px;
						-moz-border-radius: 12px;
					}

					.tt-booking-stage-title {
						display: inline-block;
						line-height: 34px;
						font-size: 16px;
						color: gray;
					}
				}

				.tt-booking-active-stage {
					cursor: default;
					background: #FF7405;
					background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF7405), to(#FF7405));
					background: -webkit-linear-gradient(#FF7405, #FF7405);
					background: -moz-linear-gradient(#FF7405, #FF7405);
					background: -ms-linear-gradient(#FF7405, #FF7405);
					background: -o-linear-gradient(#FF7405, #FF7405);
					background: linear-gradient(#FF7405, #FF7405);
					border-radius: 5px 5px 0 0;
					-webkit-border-radius: 5px 5px 0 0;
					-moz-border-radius: 5px 5px 0 0;

					.tt-booking-stage-num {
						background: #FFF;
						color: #FF7405;
					}

					.tt-booking-stage-title {
						color: white;
					}
				}
			}
		}

		.tt-booking-digest, .tt-booking-content {
			.box();

			ul {
				.box();
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin: 0;
					padding: 0;
					list-style: none;
					width: auto;
					float: none;
					display: inherit;
					background: inherit;
					overflow: auto;
					line-height: inherit;
					color: inherit;
				}
			}
		}

		.tt-booking-digest {

			.tt-booking-question {
				font-size: 14px !important;
				font-weight: normal;
				color: #006FCE;
			}

			.tt-booking-digest-header, .tt-booking-digest-footer {
				.box();
				margin: 5px 0 0;

				td {
					border-bottom: 1px solid #FF7405;
				}

				.tt-booking-digest-title {
					height: 30px;
					font-size: 16px;
					font-weight: bold;
					white-space: nowrap;

					i {
						padding: 0 5px;
						font-size: 20px;
					}

					.tt-booking-digest-title-link {
						color: #006FCE;
						font-weight: bold;
						font-size: 13px;
//						border-bottom: 1px dashed #006FCE;
						margin: 0;
						height: 18px;
						display: inline-block;
						cursor: pointer;
						margin-@{left}: 10px;
					}
				}
			}

			.tt-booking-digest-footer {
				td {
					border-bottom: 1px dashed #555;
				}

				.tt-booking-digest-paxes {
					span:nth-child(n+3):before {
						content: " + "
					}
				}
			}

			.tt-booking-digest-content {
				.box();
				margin: 5px 0 0;

				td {
					border-bottom: 1px dashed #CCC;
				}

				.tt-booking-digest-img {
					width: 40px;

					img {
						height: 30px;
					}
				}

				.tt-booking-digest-icon {
					width: 20px;
					font-size: 10px;
					text-align: center;

					.el-icon-arrow-right:before when (@dir = ltr) {
						content: "\e71e";
					}

					.el-icon-arrow-right:before when (@dir = rtl) {
						content: "\e71f";
					}
				}

				.tt-booking-digest-title {
					height: 30px;
					font-size: 12px;
					white-space: nowrap;
				}
			}
		}

		.tt-booking-content {

			.tt-booking-field-error {
				color: #FF1D1D;
				position: absolute;
				top: 3px;
				@{right}: 10px;
				cursor: pointer;
			}

			.tt-booking-content-header {
				.box();
				margin: 5px 0 0;

				td {
					border-bottom: 1px solid #FF7405;
				}

				.tt-booking-content-title {
					height: 30px;
					font-size: 16px;
					font-weight: bold;
					white-space: nowrap;

					i {
						padding: 0 5px;
						font-size: 20px;
					}
				}

				.tt-booking-content-magic, .tt-booking-content-auth {
					span {
						cursor: pointer;
					}
				}

				.tt-booking-content-auth {
					color: #006FCE;
				}
			}

			.tt-booking-paxes-content {
				.box();
				margin: 5px 0 0;

				label.tt-required {
					position: relative;

					&:after {
						content: '*';
					}					
				}

				.form-group {
					margin: 0 10px 5px 0;
					position: relative;
				}

				.tt-booking-paxes-col-1 {
					.box(10%);
					min-width: 80px;
				}

				.tt-booking-paxes-col-2, .tt-booking-paxes-col-3 {
					.box(35%);

					.tt-dropdown > i {
						position: absolute;
						bottom: 6px;
						@{right}: 5px;
						font-size: 18px;
						cursor: pointer;
						background: white;
					}

					.tt-dropdown ul {
						padding: 5px 0;
						width: auto;
					}
				}

				.tt-booking-paxes-col-4 {
					.box(20%);
				}

				.tt-booking-paxes-options-col-1, .tt-booking-paxes-options-col-2 {
					.box(50%);
					vertical-align: top;
				}

				.tt-booking-paxes-data, .tt-booking-paxes-options {
					.box(100%);
				}

                .tt-booking-transfers-data {
                    border-collapse: separate;
                    border-spacing: 10px 2px;
                    margin-bottom: 10px;
                }

                .tt-booking-transfers-return {
                    font-size: 16px;
                    line-height: 20px;
                    padding-bottom: 10px;
                    font-weight: bold;
                    border-collapse: separate;
                    border-spacing: 10px 2px;
                }

                .tt-booking-paxes-options {
					tr {
						border-bottom: 1px dashed #555;
					}
				}

				.tt-booking-paxes-label {
					height: 30px;
				}

				.tt-booking-paxes-options-link {
					color: #006FCE;
					font-weight: bold;
					font-size: 13px;
//					border-bottom: 1px dashed #006FCE;
					margin: 2px 0 5px;
					height: 14px;
					display: inline-block;
					cursor: pointer;
					margin-@{right}: 10px;

					p {
						position: absolute;
					}
				}

				.tt-booking-paxes-type-dirty {

					label, div {
						color: #FF1D1D !important;
					}

					input, select {
						border-color: #FF1D1D;
						-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
					}

					input:focus, select:focus {
						border-color: #FF1D1D;
						-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
						box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
					}
				}
			}

			.tt-booking-form-header {
				.box();
				margin: 5px 0;

				td {
					border-bottom: 1px dashed #555;
				}

				.btn-toolbar {
					display: inline-block;
					margin: 5px 0 7px;

					.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
						color: white;
						background: #FF7405;
						background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF7405), to(#FF7405));
						background: -webkit-linear-gradient(#FF7405, #FF7405);
						background: -moz-linear-gradient(#FF7405, #FF7405);
						background: -ms-linear-gradient(#FF7405, #FF7405);
						background: -o-linear-gradient(#FF7405, #FF7405);
						background: linear-gradient(#FF7405, #FF7405);
						border: 1px solid #EB5400;
					}
				}
			}

			.tt-booking-form-content {
				.box();
				margin: 5px 0 0;

				td {
					border-bottom: 1px dashed #555;
				}

				.form-group {
					position: relative;
					margin: 0 10px 7px 0;
				}

				.tt-booking-form-data {
					.box(100%);
				}

				.tt-booking-form-col-1 {
					.box(10%);
					min-width: 90px;
				}

				.tt-booking-form-col-2, .tt-booking-form-col-3, .tt-booking-form-col-4 {
					.box(24%);
				}

				.tt-booking-form-col-5 {
					.box(18%);
				}

				.tt-booking-form-col-2 {
					.tt-dropdown > i {
						position: absolute;
						bottom: 6px;
						@{right}: 5px;
						font-size: 18px;
						cursor: pointer;
						background: white;
					}

					.tt-dropdown ul {
						padding: 5px 0;
						width: auto;
					}
				}
			}

			.tt-booking-form-price {
				.box();

				td {
					text-align: center;
					border-bottom: 1px dashed #555;
					height: 65px;

					> div {
						.box(100%, 100%);
						position: relative;
					}
				}

				input {
					.box(80px);
					margin: 0 auto;
				}

				.tt-booking-form-price-label {
					.box();
					font-weight: bold;
					position: absolute;
					text-align: center;
					top: 5px;
					@{left}: 0;
					font-size: 11px;
					line-height: 12px;
					color: #999;
				}

				.tt-booking-form-price-value {
					.box(100%, 100%);
					font-size: 16px;
					font-weight: bold;
					text-align: center;
					margin: 0 auto 7px;
					vertical-align: bottom;
					line-height: 95px;
				}
			}

			.tt-booking-errors {
				.box(100%);
				margin: 5px auto;
				color: #FF1D1D;
				text-align: center;
			}

			.tt-booking-next, .tt-booking-cancel, .tt-booking-apply {
				cursor: pointer;
				text-align: center;
			}

			.tt-booking-next {
				margin: 15px auto 0;
				padding: 10px 15px;
				color: white;
				font-size: 18px;
				font-weight: bold;
				background: #FF7405;
				background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF7405), to(#FF7405));
				background: -webkit-linear-gradient(#FF7405, #FF7405);
				background: -moz-linear-gradient(#FF7405, #FF7405);
				background: -ms-linear-gradient(#FF7405, #FF7405);
				background: -o-linear-gradient(#FF7405, #FF7405);
				background: linear-gradient(#FF7405, #FF7405);
				border-radius: 7px;
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				border: 1px solid #EB5400;
				width: 200px;
			}

			.tt-booking-next-disable {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
				filter: alpha(opacity=40);
				-moz-opacity: 0.4;
				-khtml-opacity: 0.4;
				opacity: 0.4;
			}

			.tt-booking-cancel {
				margin: 5px auto 0;
				font-size: 11px;
				color: gray;
				width: 350px;
			}

			.tt-booking-apply {
				margin: 10px auto;
				padding: 5px 10px;
				color: white;
				font-size: 13px;
				font-weight: bold;
				background: #FF7405;
				background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF7405), to(#FF7405));
				background: -webkit-linear-gradient(#FF7405, #FF7405);
				background: -moz-linear-gradient(#FF7405, #FF7405);
				background: -ms-linear-gradient(#FF7405, #FF7405);
				background: -o-linear-gradient(#FF7405, #FF7405);
				background: linear-gradient(#FF7405, #FF7405);
				border-radius: 7px;
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				border: 1px solid #EB5400;
				width: 100px;
			}

			.tt-booking-terms {
				.box();
				text-align: center;
				margin: 15px 0 0;

				input {
					float: none;
					margin: 0;
					width: 25px;
					height: 25px;
					vertical-align: top;
					margin-@{right}: 5px;
				}

				a, span[data-toggle] {
					color: #006FCE;
					cursor: pointer;
				}

				span {
					display: inline-block;
					vertical-align: top;
					line-height: 25px;
				}
			}
		}

		.tt-booking-glass-box {
			.box(100%, 100%);
			position: fixed;
			top: 0;
			left: 0;
			z-index: 10000;

			.tt-booking-glass-panel {
				.box(100%, 100%);
				position: absolute;
				opacity: 0.4;
				filter: alpha(opacity=40);
				z-index: -1;
				background-color: #333;
				top: 0;
				left: 0;
			}

			.tt-booking-loader-box {
				width: 620px;
				height: auto;
				margin: 0 auto;
				padding: 10px;
				border-radius: 12px;
				-webkit-border-radius: 12px;
				-moz-border-radius: 12px;
				background-color: white;								

				.tt-booking-loader {
					margin: 10px auto;
					background: url("../img/loader.gif") 0 0 no-repeat;
					width: 128px;
					height: 128px;
				}

				.tt-booking-loader-message {
					margin: 10px auto;
					width: 400px;
					color: #333;
					font-size: 14px;
					text-align: center;
				}
			}
		}
	}
}