<table class='payment-box'>
    <tr align="center" valign="middle" >
        <td>
            <div class='content-box'>
                <paymentinitial ng-if='paymentStage == 1'></paymentinitial>
                <div ng-if='paymentStage > 1'>
                    <table class='tt-payment-header'>
                        <tbody>
                        <tr>
                            <td class='tt-payment-title'>
                                <i class='el-icon-shopping-cart'></i>
                                <span>&zwj;Please check selected products and finish booking with payment via credit card&zwj;</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class='tt-payment-wizard' style="height: 100%">
                        <tbody>
                        <tr>
                            <td>
                                <paymentpricing></paymentpricing>
                                <div class='tt-payment-digest'
                                     style="width:568px;height:340px;overflow: auto;overflow-x: hidden;" class='tt-payment-info'>
                                    <ul>
                                        <li ng-repeat='product in booking.products'>
                                            <div ng-switch on='product.type'>
                                                <paymentflightdigest ng-switch-when='FLIGHT'></paymentflightdigest>
                                                <hoteldigest ng-switch-when='HOTEL'></hoteldigest>
                                                <transferdigest ng-switch-when='TRANSFER'></transferdigest>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class='tt-payment-digest' ng-repeat='product in booking.products'>
                                    <paymentfooter ng-if="$index==0"></paymentfooter>
                                </div>
                            </td>
                            <td class='tt-payment-content'>
                                <paymentcontent></paymentcontent>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class='close close-button' ng-click='closePaymentWizard();'>&times;</button>
            </div>
        </td>
    </tr>
</table>