<div class='bonus-box panel panel-default'>
    <div class='panel-heading'>
        &zwj;Bonus cards&zwj;
    </div>

    <div class='panel-nav' style="&zwj;rtl&zwj;: 8px;">
        <button type='button'
                class='btn btn-default btn-xs'
                ng-click='addBonusCard();'>
            <span class='glyphicon glyphicon-plus-sign'></span>
            &zwj;Add&zwj;
        </button>
        &nbsp;
        <button type='button'
                class='btn btn-default btn-xs'
                ng-click='deleteBonusCard();'>
            <span class='glyphicon glyphicon-edit'></span>
            &zwj;Delete&zwj;
        </button>
        &nbsp;
        <button type='button'
                class='btn btn-default btn-xs'
                ng-click='bonusCardsBack();'>
            <span class='glyphicon glyphicon-share'></span>
            &zwj;Back&zwj;
        </button>
    </div>

    <div class='panel-scroll'>
        <table class='table table-condensed table-hover'>
            <thead>
            <tr>
                <th></th>
                <th>
                    &zwj;Airline&zwj;
                </th>
                <th>
                    &zwj;Card number&zwj;
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='bonusCard in bonusCards' ng-click='selectBonusCard($event, $index);'>
                <td align="center">
                    <div style="height:6px"></div>
                    <div class='selectMark' style="cursor:pointer"></div>
                </td>
                <td>
                    <select id="airlineList"
                            class='form-control input-sm'
                            ng-model='bonusCard.airlineCode'
                            ng-options="airline.code as airline.name for airline in airlines"
                            required>
                            </select>
                </td>
                <td><input type='text'
                           class='form-control input-sm'
                           ng-model='bonusCard.code'
                           placeholder='&zwj;Bonus card&zwj;'
                           required ng-minlength='1'/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class='col-sm-10 submit-box' style="margin-left:620px;">
        <div style="height:8px;"></div>
        <button class='btn btn-primary'
                ng-click='submitBonusCards();'>&zwj;Submit&zwj;
        </button>
    </div>
</div>