<div class='editinfo-box panel panel-default'>
    <div class='panel-heading'>&zwj;Change your email&zwj;</div>
	<div class='panel-nav' style="&zwj;rtl&zwj;: 8px;">
		<button type='button' class='btn btn-default btn-xs' ng-click='selectView("editor");'><span class='glyphicon glyphicon-share'></span> &zwj;Back&zwj;</button>
	</div>
	<div class='panel-body'>
		<div ng-form name='editEmailForm' class='form-horizontal'>

            <div class='form-group'>
                <label class='col-sm-3 control-label'>&zwj;Current email&zwj;:</label>
                <div class='col-sm-7'>
                    <input type='email' name='email' class='form-control input-sm disabled'
                           ng-model='profile.email'
                           placeholder='&zwj;Email&zwj;' disabled='disabled'>
                </div>
            </div>

            <div class='form-group'>
				<label class='col-sm-3 control-label'>&zwj;New email&zwj;:</label>
				<div class='col-sm-7'>
					<input type='email' name='email'
                           class='form-control input-sm'
                           ng-model='user.newemail'
                           placeholder='&zwj;Email&zwj;' required>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-3 control-label'>&zwj;Password&zwj;:</label>
				<div class='col-sm-7'>
					<input type='password' name='password'
                           class='form-control input-sm'
                           ng-model='user.password'
                           placeholder='&zwj;Current password&zwj;'
                           required>
				</div>
			</div>
			<div class='col-sm-10 submit-box'>
				<button class='btn btn-primary'
                        ng-click='submitEditEmail();'>&zwj;Submit&zwj;</button>
			</div>
		</div>
	</div>
</div>
<div class='editinfo-box panel panel-default'>
	<div class='panel-heading'>&zwj;Change your password&zwj;</div>
	<div class='panel-nav' style='right: 8px'>
		<button type='button' class='btn btn-default btn-xs' ng-click='selectView("editor");'><span class='glyphicon glyphicon-share'></span> &zwj;Back&zwj;</button>
	</div>
	<div class='panel-body'>
		<div ng-form name='editPasswordForm' class='form-horizontal'>
			<div class='form-group'>
				<label class='col-sm-3 control-label'>&zwj;Password&zwj;:</label>
				<div class='col-sm-7'>
					<input type='password' name='curpassword' class='form-control input-sm'
                           ng-model='user.curpassword'
                           placeholder='&zwj;Current password&zwj;'
                           required ng-minlength='5'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-3 control-label'>&zwj;New password&zwj;:</label>
				<div class='col-sm-7'>
					<input type='password' name='newpassword' class='form-control input-sm'
                           ng-model='user.newpassword'
                           placeholder='&zwj;New password&zwj;' required>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-3 control-label'>&zwj;Repeat&zwj;:</label>
				<div class='col-sm-7'>
					<input type='password' name='confirm' class='form-control input-sm'
                           ng-model='user.confirm'
                           placeholder='&zwj;Password confirmation&zwj;'
                           required password-verify='user.newpassword'>
				</div>
			</div>
			<div class='col-sm-10 submit-box'>
				<button class='btn btn-primary' ng-click='submitEditPass();'>&zwj;Submit&zwj;</button>
			</div>
		</div>
	</div>
</div>