<div class='editinfo-box panel panel-default'>
	<div class='panel-heading'>&zwj;Edit your personal info<&zwj;</div>
	<div class='panel-nav' style="&zwj;rtl&zwj;: 8px;">
        <button type='button' class='btn btn-default btn-xs' ng-click='editProfileBonusCards();'><span class='glyphicon glyphicon-credit-card'></span> &zwj;Bonus cards<&zwj;</button>
        &nbsp;
		<button type='button' class='btn btn-default btn-xs' ng-click='selectView("credentials");'><span class='glyphicon glyphicon-cog'></span> &zwj;Change credentials&zwj;</button>
        &nbsp;
		<button type='button' class='btn btn-default btn-xs' ng-click='selectView("profile");'><span class='glyphicon glyphicon-share'></span> &zwj;Back&zwj;</button>
	</div>
	<div class='panel-body'>
		<div ng-form name='editInfoForm' class='form-horizontal'>
            <div class='form-group'>
                <label class='col-sm-4 control-label'>
                    &zwj;Sex&zwj;
                    :</label>

                <div class='col-sm-7'>
                    <select class='form-control input-sm' ng-model='profile.sex' required>
                        <option value='male'>
                            &zwj;Male&zwj;
                        </option>
                        <option value='female'>
                            &zwj;Female&zwj;
                        </option>
                    </select>
                </div>
            </div>

			<div class='form-group'>
				<label class='col-sm-4 control-label'>
                    &zwj;Email&zwj;:</label>
				<div class='col-sm-7'>
					<input type='email' name='email'
                           class='form-control input-sm disabled'
                           ng-model='profile.email'
                           placeholder='&zwj;Email&zwj;'
                           disabled='disabled'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-4 control-label'>
                    &zwj;First name&zwj;:</label>
				<div class='col-sm-7'>
					<input type='text' name='name'
                           class='form-control input-sm' ng-model='profile.name'
                           placeholder='&zwj;First name&zwj;'
                           required ng-minlength='2'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-4 control-label'>
                    &zwj;Last name&zwj;:</label>
				<div class='col-sm-7'>
					<input type='text' name='surname' class='form-control input-sm'
                           ng-model='profile.surname'
                           placeholder='&zwj;Last name&zwj;'
                           required ng-minlength='2'>
				</div>
			</div>

            <passportedit></passportedit>

            <div class='form-group'>
				<label class='col-sm-4 control-label'>
                    &zwj;Birthday&zwj;:</label>
				<div class='col-sm-3'>
					<input type='text'
                           name='birthday'
                           style="width: 142px"
                           class='form-control input-sm'
                           ng-model='profile.birthday'
                           end-date='-0d'
                           datepicker
                           placeholder='&zwj;DD.MM.YYYY&zwj;'
                           required>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-4 control-label'>&zwj;Phone&zwj;:</label>
				<div class='col-sm-7'>
					<input type='text' class='form-control input-sm'
                           ng-model='profile.phone'
                           placeholder='&zwj;Phone number&zwj;'
                           required ng-pattern='/^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$/'
                           ng-minlength='7'>
				</div>
			</div>
            <div class='form-group'>
                <label class='col-sm-4 control-label'>
                    &zwj;Citizenship&zwj;
                    :</label>

                <div class='col-sm-7'>
                    <select class='form-control input-sm' name='country' ng-model='profile.country' ng-options='c.id as c.name for c in countries' required></select>
                </div>
            </div>

            <div class='col-sm-12 submit-box'>
				<button class='btn btn-primary'
                        ng-click='submitEditInfo();'>&zwj;Submit&zwj;
                </button>
			</div>
		</div>
	</div>
</div>