<div class='form-group'>
    <label class='col-sm-4 control-label'>
        &zwj;Passport&zwj;
        /
        &zwj;Expiry date&zwj;
        :</label>

    <div class='col-sm-7'>
        <table>
            <tr>
                <td class="no-padding">
                    <input type='text'
                           style="width: 142px"
                           class='form-control input-sm'
                           ng-model='currentPassport.number'
                           ng-change="onPassportChange()"
                           placeholder='&zwj;Passport&zwj;'
                           ng-if="passports.length == 0 || state == 'add' || state == 'edit'"
                           required ng-minlength='1'/>

                    <select id="passportList"
                            style="width: 142px"
                            class='form-control input-sm'
                            ng-show="passports.length > 0 && state == 'list'"
                            ng-model='selectedPassport'
                            ng-change="selectPassport(selectedPassport)"
                            ng-options="passport.number for passport in passports"
                            required>
                    </select>
                </td>

                <td width="10px"/>

                <td width="100px">
                    <input type='text'
                           name='birthday'
                           class='form-control input-sm'
                           ng-model='currentPassport.date'
                           datepicker
                           start-date='+0d'
                           ng-change="onPassportChange()"
                           placeholder='&zwj;DD.MM.YYYY&zwj;'
                           required/>
                </td>

                <td width="10px"/>

                <td>
                    <div class='btn-group' ng-if="passports.length > 0">
                        <button type='button'
                                class='btn btn-default btn-xs'
                                ng-click='mainButtonClick();'>
                            <div ng-if="state=='add' || state == 'edit'">
                                <span class='glyphicon glyphicon-edit'></span>
                                &zwj;Submit&zwj;
                            </div>
                            <div ng-if="state=='list'">
                                <span class='glyphicon glyphicon-edit'></span>
                                &zwj;Add&zwj;
                            </div>
                        </button>
                        <button type='button'
                                class='btn btn-default btn-xs dropdown-toggle'
                                data-toggle='dropdown'>
                            <span class='caret'></span>
                            <span class='sr-only'>&zwj;Toggle Dropdown&zwj;</span>
                        </button>
                        <ul class='dropdown-menu' role='menu'>
                            <li ng-if="passports.length > 1 && state == 'list'">
                                <a ng-click='setDefault();'
                                   style="cursor:pointer">
                                            <span class='glyphicon glyphicon-edit'>
                                            </span>
                                    &zwj;Set as default&zwj;
                                </a>
                            </li>
                            <li ng-if="passports.length > 0 && state == 'list'">
                                <a ng-click='deletePassport();' style="cursor:pointer">
                                                <span class='glyphicon glyphicon-minus-sign'>
                                                </span>
                                    &zwj;Delete&zwj;
                                </a>
                            </li>
                            <li ng-if="passports.length > 0 && state == 'list'">
                                <a ng-click='editPassport();' style="cursor:pointer">
                                                <span class='glyphicon glyphicon-pencil'>
                                                </span>
                                    &zwj;Edit&zwj;
                                </a>
                            </li>

                            <li ng-if="state == 'add' || state == 'edit'">
                                <a ng-click='cancelPassport();' style="cursor:pointer">
                                                <span class='glyphicon glyphicon-minus-sign'>
                                                </span>
                                    &zwj;Cancel editing&zwj;
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>