<option value=''></option>
<option value='100'>Afghanistan</option>
<option value='101'>Albania</option>
<option value='102'>Algeria</option>
<option value='103'>American Samoa</option>
<option value='104'>Andorra</option>
<option value='105'>Angola</option>
<option value='106'>Anguilla</option>
<option value='107'>Antarctica</option>
<option value='108'>Antigua and Barbuda</option>
<option value='109'>Argentina</option>
<option value='110'>Armenia</option>
<option value='111'>Aruba</option>
<option value='112'>Australia</option>
<option value='113'>Austria</option>
<option value='114'>Azerbaijan</option>
<option value='115'>Azores (Portugal)</option>
<option value='116'>Bahamas</option>
<option value='117'>Bahrain</option>
<option value='118'>Bangladesh</option>
<option value='119'>Barbados</option>
<option value='120'>Belarus</option>
<option value='121'>Belgium</option>
<option value='122'>Belize</option>
<option value='123'>Benin</option>
<option value='124'>Bermuda</option>
<option value='125'>Bhutan</option>
<option value='126'>Bolivia</option>
<option value='127'>Bosnia and Herzegovina</option>
<option value='128'>Botswana</option>
<option value='129'>Brazil</option>
<option value='130'>British Virgin Islands</option>
<option value='132'>Brunei</option>
<option value='133'>Bulgaria</option>
<option value='134'>Burkina Faso</option>
<option value='135'>Burundi</option>
<option value='136'>Cambodia</option>
<option value='137'>Cameroon</option>
<option value='138'>Canada</option>
<option value='139'>Cape Verde</option>
<option value='140'>Cayman Islands</option>
<option value='141'>Central African Republic</option>
<option value='142'>Chad</option>
<option value='143'>Channel Islands</option>
<option value='144'>Chile</option>
<option value='267'>China</option>
<option value='146'>Colombia</option>
<option value='147'>Comoros Islands</option>
<option value='148'>Cook Islands</option>
<option value='149'>Costa Rica</option>
<option value='150'>Côte d'Ivoire</option>
<option value='151'>Croatia</option>
<option value='152'>Cuba</option>
<option value='153'>Cyprus</option>
<option value='154'>Czech Republic</option>
<option value='155'>Democratic People's Republic of Korea</option>
<option value='156'>Democratic Republic of the Congo</option>
<option value='157'>Denmark</option>
<option value='158'>Djibouti</option>
<option value='159'>Dominica</option>
<option value='160'>Dominican Republic</option>
<option value='161'>East Timor</option>
<option value='162'>Ecuador</option>
<option value='163'>Egypt</option>
<option value='164'>El Salvador</option>
<option value='166'>Equatorial Guinea</option>
<option value='167'>Eritrea</option>
<option value='168'>Estonia</option>
<option value='169'>Ethiopia</option>
<option value='170'>Falkland Islands</option>
<option value='171'>Faroe Islands</option>
<option value='172'>Federated States of Micronesia</option>
<option value='173'>Federation of Saint Kitts and Nevis</option>
<option value='174'>Fiji</option>
<option value='175'>Finland</option>
<option value='177'>France</option>
<option value='178'>French Guiana</option>
<option value='179'>French Polynesia</option>
<option value='180'>Gabon</option>
<option value='181'>Gambia</option>
<option value='182'>Georgia</option>
<option value='183'>Germany</option>
<option value='184'>Ghana</option>
<option value='185'>Gibraltar</option>
<option value='186'>Greece</option>
<option value='187'>Greenland</option>
<option value='188'>Grenada</option>
<option value='189'>Guadeloupe</option>
<option value='190'>Guam</option>
<option value='191'>Guatemala</option>
<option value='192'>Guinea</option>
<option value='193'>Guinea-Bissau</option>
<option value='194'>Guyana</option>
<option value='195'>Haiti</option>
<option value='196'>Honduras</option>
<option value='197'>Hong Kong</option>
<option value='198'>Hungary</option>
<option value='199'>Iceland</option>
<option value='200'>India</option>
<option value='201'>Indonesia</option>
<option value='202'>Iran</option>
<option value='203'>Iraq</option>
<option value='204'>Ireland</option>
<option value='205'>Israel</option>
<option value='206'>Italy</option>
<option value='207'>Jamaica</option>
<option value='208'>Japan</option>
<option value='209'>Jordan</option>
<option value='210'>Kazakhstan</option>
<option value='211'>Kenya</option>
<option value='212'>Kiribati</option>
<option value='214'>Kuwait</option>
<option value='215'>Kyrgyzstan</option>
<option value='216'>Laos</option>
<option value='217'>Latvia</option>
<option value='218'>Lebanon</option>
<option value='219'>Lesotho</option>
<option value='220'>Liberia</option>
<option value='221'>Libya</option>
<option value='9832'>Lichtenshtein</option>
<option value='222'>Lithuania</option>
<option value='223'>Luxembourg</option>
<option value='224'>Macau Special administrative region</option>
<option value='225'>Macedonia</option>
<option value='226'>Madagascar</option>
<option value='227'>Madeira</option>
<option value='228'>Malawi</option>
<option value='229'>Malaysia</option>
<option value='230'>Maldives</option>
<option value='231'>Mali</option>
<option value='232'>Malta</option>
<option value='233'>Marshall Islands</option>
<option value='234'>Martinique</option>
<option value='235'>Mauritania</option>
<option value='236'>Mauritius</option>
<option value='237'>Mayotte</option>
<option value='238'>Mexico</option>
<option value='239'>Moldova</option>
<option value='240'>Monaco</option>
<option value='241'>Mongolia</option>
<option value='242'>Montenegro</option>
<option value='131'>Montserrat</option>
<option value='243'>Morocco</option>
<option value='244'>Mozambique</option>
<option value='245'>Myanmar</option>
<option value='246'>Namibia</option>
<option value='247'>Nauru</option>
<option value='248'>Nepal</option>
<option value='249'>Netherlands</option>
<option value='250'>Netherlands Antilles</option>
<option value='251'>New Caledonia</option>
<option value='252'>New Zealand</option>
<option value='253'>Nicaragua</option>
<option value='254'>Niger</option>
<option value='255'>Nigeria</option>
<option value='256'>Niue</option>
<option value='258'>Northern Mariana Islands</option>
<option value='259'>Norway</option>
<option value='260'>Oman</option>
<option value='261'>Pakistan</option>
<option value='262'>Palau</option>
<option value='264'>Panama</option>
<option value='265'>Papua New Guinea</option>
<option value='266'>Paraguay</option>
<option value='268'>Peru</option>
<option value='269'>Philippines</option>
<option value='270'>Poland</option>
<option value='271'>Portugal</option>
<option value='272'>Puerto Rico</option>
<option value='273'>Qatar</option>
<option value='274'>Republic of San Marino</option>
<option value='9834'>Republic of the Congo</option>
<option value='275'>Réunion</option>
<option value='276'>Romania</option>
<option value='277'>Russia</option>
<option value='278'>Rwanda</option>
<option value='279'>Saint Helena</option>
<option value='280'>Saint Lucia</option>
<option value='281'>Saint Vincent and the Grenadines</option>
<option value='282'>Samoa</option>
<option value='283'>São Tomé and Príncipe</option>
<option value='284'>Saudi Arabia</option>
<option value='286'>Senegal</option>
<option value='287'>Serbia</option>
<option value='288'>Seychelles</option>
<option value='289'>Sierra Leone</option>
<option value='290'>Singapore</option>
<option value='291'>Slovakia</option>
<option value='292'>Slovenia</option>
<option value='293'>Solomon Islands</option>
<option value='294'>Somalia</option>
<option value='295'>South Africa</option>
<option value='296'>South Korea</option>
<option value='297'>Spain</option>
<option value='298'>Sri Lanka</option>
<option value='299'>Sudan</option>
<option value='300'>Suriname</option>
<option value='301'>Swaziland</option>
<option value='302'>Sweden</option>
<option value='303'>Switzerland</option>
<option value='304'>Syria</option>
<option value='305'>Taiwan</option>
<option value='306'>Tajikistan</option>
<option value='307'>Tanzania</option>
<option value='308'>Thailand</option>
<option value='309'>Togo</option>
<option value='310'>Tonga</option>
<option value='311'>Trinidad and Tobago</option>
<option value='312'>Tunisia</option>
<option value='313'>Turkey</option>
<option value='314'>Turkmenistan</option>
<option value='315'>Turks and Caicos Islands</option>
<option value='316'>Tuvalu</option>
<option value='317'>U.S. Minor Outlying Islands</option>
<option value='318'>U.S. Virgin Islands</option>
<option value='319'>Uganda</option>
<option value='320'>Ukraine</option>
<option value='321'>United Arab Emirates</option>
<option value='165'>United Kingdom</option>
<option value='322'>United States</option>
<option value='323'>Uruguay</option>
<option value='324'>Uzbekistan</option>
<option value='325'>Vanuatu</option>
<option value='326'>Venezuela</option>
<option value='327'>Vietnam</option>
<option value='328'>Wallis and Futuna Islands</option>
<option value='329'>Western Sahara</option>
<option value='330'>Yemen</option>
<option value='331'>Zambia</option>
<option value='332'>Zimbabwe</option>