<div class="triptop-container">
    <div id="userOrPasswordIncorrect" hidden="true">
        &zwj;Email or password is incorrect&zwj;
    </div>
    <div id="cantConnect" hidden="true">
        &zwj;Can't connect to the server or server internal error, please try again&zwj;
    </div>
    <div id="checkEmailMsg" hidden="true">
        &zwj;Please check %s for confirmation mail.&zwj;
    </div>
    <div id="newPasswordSetMsg" hidden="true">
        &zwj;New password has been set, please check email to confirm it.&zwj;
    </div>
    <div id="wrongPassMsg" hidden="true">
        &zwj;Wrong password!&zwj;
    </div>
    <div id="wrongPassConfirmationMsg" hidden="true">
        &zwj;Wrong password confirmation!&zwj;
    </div>
    <div id="passwordsShouldMatchMsg" hidden="true">
        &zwj;Passwords should match&zwj;
    </div>
    <div id="passwordChangedMsg" hidden="true">
        &zwj;Password changed, please check your mail&zwj;
    </div>
    <div id="emailNotConfirmed" hidden="true">
        &zwj;Please confirm your email before you change your password&zwj;
    </div>
    <div id="unknownEmail" hidden="true">
        &zwj;This is unknown email&zwj;
    </div>
    <div id="notConfirmedMsg" hidden="true">
        &zwj;Your email is not confirmed. Please confirm it using url in registration email.&zwj;
    </div>
    <div id="birthdayMsg" hidden="true">
        &zwj;Birthday should be in the past&zwj;
    </div>
    <div id="deletePassengerMsg" hidden="true">
        &zwj;Are you sure that you want to delete passenger?&zwj;
    </div>
    <div id="userAlreadyExists" hidden="true">
        &zwj;User already exists&zwj;
    </div>
    <div id="pleaseFillRedFields" hidden="true">
        &zwj;Please provide correct values for fields, that are were marked with red&zwj;
    </div>
    <div id="signOutMsg" hidden="true">
        &zwj;Are you sure that you want to sign out?&zwj;
    </div>
    <div id="postRegisterMessage" hidden="true">
        &zwj;You were successfully registered. Please check confirmation e-mail.&zwj;
    </div>
    <div id="wrongPassport" hidden="true">
        &zwj;Passport should have non-empty number and date.&zwj;
    </div>
    <div id="passportAlreadyExists" hidden="true">
        &zwj;Passport with this number already exists, please provide unique number.&zwj;
    </div>
    <div id="docketCantBePaid" hidden="true">
        &zwj;This docket can not be paid.&zwj;
    </div>
    <div id="docketCancelRequested" hidden="true">
        &zwj;Order cancellation request has been sent. Our operator will cancel it soon.&zwj;
    </div>
    <div id="creditCardDisabled" hidden="true">
        &zwj;Доступность одного из трансферов - по запросу, поэтому мы не можем принять онлайн оплату. Нажмите 'Заказать', и с вами свяжется агент.&zwj;
    </div>
    <div id="noDropOffOrPickUp" hidden="true">
        &zwj;Пожалуйста, укажите место посадки и место высадки&zwj;
    </div>
    <div id="transferWaitingDuration" hidden="true">
        &zwj;Transfer waiting duration:&zwj;
    </div>
    <div id="fillHotelOrAddress" hidden="true">
        &zwj;Please, specify hotel name or address!&zwj;
    </div>
    <div id="wrongCaptcha" hidden="true">
        &zwj;Please provide correct captcha&zwj;
    </div>
    <div id="fillAirlineOrNumber" hidden="true">
        &zwj;Please, specify airline and flight number!&zwj;
    </div>

    <div id="tt-modal-message" class="triptop-container modal fade" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default tt-yes" hidden="true">Yes</button>
                <button type="button" class="btn btn-default tt-no" hidden="true">No</button>
                <button type="button" class="btn btn-default tt-ok" hidden="true">Ok</button>
            </div>
        </div>
    </div>
</div>