<div class="tt-waiting tt-process-waiting">
    <div class="tt-wrap">
        <div class="panel panel-default tt-panel">
            <div class="panel-body">
                <img ng-src="{{imgDir}}/loader.gif"/>
            </div>
        </div>
    </div>
</div>