.link-box {
  display: none !important;
}
.triptop-container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
}
.triptop-container .modal-body {
  max-height: 400px;
  overflow-y: auto;
}
.triptop-container .tt-waiting {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
.triptop-container .tt-waiting .tt-wrap {
  height: 100%;
  white-space: nowrap;
  text-align: center;
}
.triptop-container .tt-waiting .tt-wrap:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  margin-right: -0.25em;
}
.triptop-container .tt-waiting .tt-wrap:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-color: #333;
  z-index: -1;
}
.triptop-container .tt-waiting .tt-wrap .tt-panel {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid #90A7B7;
  box-shadow: 0 0 3px #90A7B7;
  font-weight: bold;
  min-width: 500px;
}
.triptop-container .tt-waiting .tt-wrap .tt-panel img {
  width: 60px;
  height: 60px;
  float: left;
}
.triptop-container .tt-waiting.tt-process-waiting .tt-wrap:after {
  background-color: #FFF;
}
.triptop-container .tt-waiting.tt-process-waiting .tt-wrap .tt-panel {
  min-width: inherit;
}
.triptop-container .tt-waiting.tt-process-waiting .tt-wrap .tt-panel img {
  width: 40px;
  height: 40px;
  float: none;
}
#triptop-flights {
  font-family: Arial;
  font-size: 12px;
  color: #333;
  box-sizing: border-box;
}
#triptop-flights .selectize-control {
  height: 30px;
  padding: 0;
}
#triptop-flights .selectize-control .selectize-input {
  height: 30px;
  min-height: inherit;
  line-height: 18px;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
}
#triptop-flights .selectize-control .selectize-input input {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
#triptop-flights .selectize-control .selectize-input:after {
  right: 5px;
}
#triptop-flights .selectize-control .selectize-input .tt-item .tt-code:before {
  content: " [";
}
#triptop-flights .selectize-control .selectize-input .tt-item .tt-code:after {
  content: "]";
}
#triptop-flights .selectize-control .selectize-dropdown .tt-item {
  font-weight: bold;
  color: #666;
}
#triptop-flights .selectize-control .selectize-dropdown .tt-item .tt-code:before {
  content: " [";
}
#triptop-flights .selectize-control .selectize-dropdown .tt-item .tt-code:after {
  content: "]";
}
#triptop-flights .selectize-control .selectize-dropdown .tt-description {
  color: #90A7B7;
}
#triptop-flights input.input-sm {
  padding: 5px 10px;
}
#triptop-flights label {
  white-space: nowrap;
  width: 100%;
  margin-bottom: 0;
}
#triptop-flights .slider.slider-horizontal {
  display: block;
  width: auto !important;
  margin: 0 10px;
}
#triptop-flights .slider.slider-horizontal .slider-handle.round {
  width: 16px;
  height: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: -3px;
  border: 1px solid;
}
#triptop-flights .tt-search-form {
  width: 900px;
  margin: 0 auto;
  color: #FFF;
  background-color: #9FC7D8;
  border: 1px solid #90A7B7;
  box-shadow: 0 0 3px #90A7B7;
}
#triptop-flights .tt-search-form .panel-heading {
  color: inherit;
  background-color: inherit;
  border-color: transparent;
  padding: 10px 15px 0;
  font-size: 120%;
  font-weight: bold;
}
#triptop-flights .tt-search-form .panel-heading i {
  vertical-align: text-top;
}
#triptop-flights .tt-search-form .panel-body .row {
  margin-bottom: 15px;
}
#triptop-flights .tt-search-form .panel-body .row .col-xs-1,
#triptop-flights .tt-search-form .panel-body .row .col-xs-2,
#triptop-flights .tt-search-form .panel-body .row .col-xs-3,
#triptop-flights .tt-search-form .panel-body .row .col-xs-4 {
  position: relative;
  padding-right: 0;
}
#triptop-flights .tt-search-form .panel-body .row .col-lt {
  padding-right: 15px;
}
#triptop-flights .tt-search-form .panel-body .tt-adults,
#triptop-flights .tt-search-form .panel-body .tt-children,
#triptop-flights .tt-search-form .panel-body .tt-infants {
  position: relative;
}
#triptop-flights .tt-search-form .panel-body .tt-adults img,
#triptop-flights .tt-search-form .panel-body .tt-children img,
#triptop-flights .tt-search-form .panel-body .tt-infants img {
  position: absolute;
  bottom: 4px;
  left: 22px;
  height: 22px;
  z-index: 1;
}
#triptop-flights .tt-search-form .panel-body .tt-adults .selectize-input > .item,
#triptop-flights .tt-search-form .panel-body .tt-children .selectize-input > .item,
#triptop-flights .tt-search-form .panel-body .tt-infants .selectize-input > .item {
  padding-left: 16px;
}
#triptop-flights .tt-search-form .panel-body .row-lt {
  margin-bottom: 0;
}
#triptop-flights .tt-search-form .panel-body [class*="el-icon-"] {
  position: absolute;
  bottom: 7px;
  right: 7px;
  color: #999;
  font-size: 16px;
  cursor: pointer;
}
#triptop-flights .tt-search-form .panel-body .checkbox {
  margin: 0;
}
#triptop-flights .tt-search-form .panel-body .checkbox input[type="checkbox"] {
  margin-top: 2px;
}
#triptop-flights .tt-search-form .panel-body .tt-search-type {
  margin-top: -15px;
}
#triptop-flights .tt-search-form .panel-body .tt-search-type .radio {
  margin: 0;
  min-height: 21px;
  line-height: 21px;
}
#triptop-flights .tt-search-form .panel-body .tt-transparent {
  color: transparent;
  background-color: transparent;
}
#triptop-flights .tt-search-form .panel-body .tt-add,
#triptop-flights .tt-search-form .panel-body .tt-remove {
  color: #FFF;
  margin: 0;
  padding: 6px 0;
  outline: none;
  text-decoration: none;
}
#triptop-flights .tt-search-form .panel-body .tt-add i,
#triptop-flights .tt-search-form .panel-body .tt-remove i {
  position: inherit;
  color: inherit;
  font-size: inherit;
}
#triptop-flights .tt-search-form .panel-body .tt-add {
  margin-top: 14px;
}
#triptop-flights .tt-search-form .panel-body .tt-multi.tt-next label {
  display: none;
}
#triptop-flights .tt-search-form .panel-body .tt-submit {
  width: 100%;
  font-size: 25px;
}
#triptop-flights .tt-search-form .panel-body .ng-valid.ng-dirty {
  border: 1px solid #ccc;
}
#triptop-flights .tt-search-waiting .tt-code:before {
  content: " [";
}
#triptop-flights .tt-search-waiting .tt-code:after {
  content: "]";
}
#triptop-flights .tt-search-filter {
  width: 900px;
  margin: 10px auto 0;
}
#triptop-flights .tt-search-filter .panel {
  border: 1px solid #90A7B7;
  box-shadow: 0 0 3px #90A7B7;
  margin-bottom: 10px;
}
#triptop-flights .tt-search-filter .panel .panel-body {
  padding: 10px;
}
#triptop-flights .tt-search-filter .panel .panel-body .tt-airlines {
  float: left;
  width: 30%;
  position: relative;
}
#triptop-flights .tt-search-filter .panel .panel-body .tt-airlines label {
  display: block;
  vertical-align: top;
  position: relative;
}
#triptop-flights .tt-search-filter .panel .panel-body .tt-airlines label input {
  margin: 2px 0 0;
}
#triptop-flights .tt-search-filter .panel .panel-body .tt-airlines label span {
  position: absolute;
  top: 0;
  right: 10px;
}
#triptop-flights .tt-search-filter .panel .panel-body .tt-airlines .tt-box {
  max-height: 120px;
  overflow: hidden;
}
#triptop-flights .tt-search-filter .panel .panel-body .tt-airlines .tt-box.tt-display {
  z-index: 1;
  position: absolute;
  max-height: initial;
  overflow: auto;
  background: white;
  padding: 5px;
  top: -5px;
  left: -5px;
  box-shadow: 0 3px 3px;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#triptop-flights .tt-search-filter .panel .panel-body .tt-airlines .tt-box.tt-display label span {
  right: 0;
}
#triptop-flights .tt-search-filter .panel .panel-body .tt-airlines .tt-showall {
  text-align: center;
  font-size: 10px;
  padding: 0;
  margin: 2px auto 0;
  display: block;
}
#triptop-flights .tt-search-filter .panel .panel-body .tt-values {
  float: left;
  width: 70%;
}
#triptop-flights .tt-search-filter .panel .panel-body .tt-values .tt-row {
  float: left;
  width: 49%;
  margin-left: 1%;
  margin-bottom: 5px;
}
#triptop-flights .tt-fixed-filter .tt-search-results {
  margin-top: 170px;
}
#triptop-flights .tt-fixed-filter .tt-fixed-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
#triptop-flights .tt-fixed-filter .tt-fixed-on .tt-search-filter {
  margin: 0 auto;
}
#triptop-flights .tt-fixed-filter .tt-fixed-on .tt-search-filter .panel {
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
#triptop-flights .tt-fixed-filter .tt-fixed-on .tt-search-filter .panel:hover {
  background-color: #FFF;
}
#triptop-flights .tt-search-results-header {
  width: 900px;
  margin: 10px auto;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0ad4e;
}
#triptop-flights .tt-search-results-header i[class*="el-icon-"] {
  font-size: 17px;
  vertical-align: text-bottom;
}
#triptop-flights .tt-search-flextable {
  width: 500px;
  margin: 10px auto;
}
#triptop-flights .tt-search-flextable .tt-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0ad4e;
}
#triptop-flights .tt-search-flextable .tt-title i[class*="el-icon-"] {
  font-size: 17px;
  vertical-align: text-bottom;
}
#triptop-flights .tt-search-flextable label {
  display: inline-block;
  vertical-align: middle;
}
#triptop-flights .tt-search-flextable .tt-date {
  font-size: 14px;
}
#triptop-flights .tt-search-flextable .tt-date label {
  margin: 0;
  height: 50px;
  line-height: 50px;
}
#triptop-flights .tt-search-flextable .tt-value {
  float: left;
  width: 30%;
  border-bottom: 1px dashed #333;
  border-left: 1px dashed #333;
  color: #ed9c28;
  font-size: 18px;
  text-align: center;
}
#triptop-flights .tt-search-flextable .tt-value label {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
#triptop-flights .tt-search-flextable .tt-value.tt-active,
#triptop-flights .tt-search-flextable .tt-value:hover {
  color: #FFF;
  background-color: #ed9c28;
}
#triptop-flights .tt-search-flextable .tt-middle {
  position: relative;
  color: #0e90d2;
}
#triptop-flights .tt-search-flextable .tt-middle .tt-text {
  position: absolute;
  font-size: 11px;
  text-align: center;
}
#triptop-flights .tt-search-flextable .tt-box-top {
  width: 30%;
  float: left;
  text-align: center;
}
#triptop-flights .tt-search-flextable .tt-box-top label {
  height: 30px;
  line-height: 30px;
}
#triptop-flights .tt-search-flextable .tt-box-left {
  width: 10%;
  float: left;
  text-align: left;
}
#triptop-flights .tt-search-flextable .tt-box-left label {
  height: 50px;
  line-height: 50px;
}
#triptop-flights .tt-search-flextable .tt-first {
  border-left: none;
}
#triptop-flights .tt-search-flextable .tt-last {
  border-bottom: none;
}
#triptop-flights .tt-search-flextable .tt-end {
  clear: both;
  margin-bottom: 5px;
}
#triptop-flights .tt-search-results {
  width: 900px;
  margin: 10px auto 0;
}
#triptop-flights .tt-search-results .tt-row {
  border: 1px solid #90A7B7;
  box-shadow: 0 0 3px #90A7B7;
  margin-bottom: 10px;
}
#triptop-flights .tt-search-results .tt-row .panel-body {
  padding: 10px;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal {
  clear: both;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal .tt-title {
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal .tt-title .tt-code:before {
  content: " [";
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal .tt-title .tt-code:after {
  content: "]";
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal .tt-body {
  width: 80%;
  float: left;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal .tt-control {
  width: 20%;
  float: right;
  text-align: center;
  position: relative;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal .tt-control .tt-info {
  position: absolute;
  top: -20px;
  width: 100%;
  font-weight: bold;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal .tt-control .tt-price {
  color: #ed9c28;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal .tt-control .tt-booking {
  font-size: 14px;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal .tt-control .tt-details {
  padding-bottom: 0;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal .tt-control .tt-rules {
  margin-top: 5px;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal .tt-separator {
  display: none;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal.tt-similar {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 1s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal.tt-similar.tt-slide {
  max-height: 300px ;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-deal.tt-similar .tt-separator {
  display: block;
  height: 5px;
  margin: 5px 0;
  color: #ed9c28;
  border-bottom: 1px solid #ed9c28;
}
#triptop-flights .tt-search-results .tt-row .panel-body .pagination {
  margin: 5px 0 0;
}
#triptop-flights .tt-search-results .tt-row .panel-body .pagination > li > span {
  padding: 4px 0px;
  font-size: 11px;
  width: 26px;
  text-align: center;
  cursor: pointer;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-similar-wait {
  text-align: center;
  clear: both;
}
#triptop-flights .tt-search-results .tt-row .panel-body .tt-similar-wait img {
  width: 40px;
  height: 40px;
}
#triptop-flights .tt-search-results .tt-similar-show {
  text-align: right;
  margin-top: -10px;
}
#triptop-flights .tt-search-results .tt-similar-show > div {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #90A7B7;
  border-top: 0;
  box-shadow: 0 0 3px #90A7B7;
  height: 4px;
}
#triptop-flights .tt-search-results .tt-similar-show > div:nth-child(1) {
  margin: 0 5px;
}
#triptop-flights .tt-search-results .tt-similar-show > div:nth-child(2) {
  margin: 0 10px;
}
#triptop-flights .tt-search-results .tt-similar-show > div:nth-child(3),
#triptop-flights .tt-search-results .tt-similar-show > div:nth-child(4) {
  display: inline-block;
  margin: 0 auto;
  margin-left: 5px;
  cursor: pointer;
  height: auto;
  padding: 2px 5px;
  position: relative;
  top: -9px;
  right: 5px;
  background-color: #f0ad4e;
  border-color: #eea236;
  box-shadow: 0 1px 2px #90A7B7;
  color: #FFF;
}
#triptop-flights .tt-search-results .tt-similar-show > div:nth-child(3):hover,
#triptop-flights .tt-search-results .tt-similar-show > div:nth-child(4):hover {
  background-color: #ed9c28;
  border-color: #d58512;
}
#triptop-flights .tt-search-results .tt-similar-show > div:nth-child(3) i,
#triptop-flights .tt-search-results .tt-similar-show > div:nth-child(4) i {
  font-size: 12px;
}
#triptop-flights .tt-search-results .tt-similar-show > div.tt-active,
#triptop-flights .tt-search-results .tt-similar-show > div.tt-inactive {
  top: -8px;
}
#triptop-flights .tt-search-results .tt-similar-show > div.tt-inactive {
  background-color: #fff;
  color: #f0ad4e;
}
#triptop-flights .tt-search-results .tt-similar-show > div.tt-inactive:hover {
  background-color: #ed9c28;
  border-color: #d58512;
  color: #fff;
}
#triptop-flights .tt-search-results .tt-similar-show > div.tt-once {
  top: -1px;
  margin-bottom: 7px;
}
#triptop-flights .tt-search-results .tt-similar-hide {
  text-align: right;
  margin-top: -11px;
}
#triptop-flights .tt-search-results .tt-similar-hide > div {
  display: inline-block;
  margin: 0 auto 10px;
  cursor: pointer;
  height: auto;
  padding: 2px 5px;
  position: relative;
  top: 0;
  right: 5px;
  background-color: #f0ad4e;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #eea236;
  border-top: 0;
  box-shadow: 0 1px 2px #90A7B7;
  color: #FFF;
}
#triptop-flights .tt-search-results .tt-similar-hide > div:hover {
  background-color: #ed9c28;
  border-color: #d58512;
}
#triptop-flights .tt-search-results .tt-similar-hide > div i {
  font-size: 12px;
}
#triptop-flights .tt-search-results .tt-nodata {
  margin-bottom: 10px;
}
#triptop-flights .tt-search-results .tt-footer {
  position: relative;
  margin-top: 10px;
  border-top: 1px solid #f0ad4e;
  width: 100%;
}
#triptop-flights .tt-search-results .tt-footer .pagination {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 0;
}
#triptop-flights .tt-search-results .tt-footer .pagination > li > span {
  padding: 4px 0px;
  font-size: 11px;
  width: 26px;
  text-align: center;
  cursor: pointer;
}
#triptop-flights .tt-search-results .tt-footer .tt-records {
  text-align: left;
  line-height: 45px;
  font-weight: bold;
}
#triptop-flights .tt-search-results-row {
  font-size: 11px;
  line-height: 14px;
  cursor: pointer;
}
#triptop-flights .tt-search-results-row .tt-item {
  position: relative;
  clear: both;
  min-height: 37px;
}
#triptop-flights .tt-search-results-row .tt-item .tt-icon {
  position: absolute;
  top: 0;
}
#triptop-flights .tt-search-results-row .tt-item .tt-icon img {
  width: 30px;
  height: 30px;
}
#triptop-flights .tt-search-results-row .tt-item .tt-flight {
  margin-left: 40px;
}
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-route {
  float: left;
  width: 30%;
}
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-route .tt-location {
  font-weight: normal;
}
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-route .tt-location .tt-code:before {
  content: " [";
}
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-route .tt-location .tt-code:after {
  content: "]";
}
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-route .tt-time {
  font-weight: bold;
}
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-changes,
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-duration {
  float: left;
  width: 20%;
}
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-changes .tt-value,
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-duration .tt-value {
  font-weight: bold;
}
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-changes .tt-details,
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-duration .tt-details {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-desc {
  float: left;
  width: 100%;
  margin: 5px 0 8px;
  position: relative;
}
#triptop-flights .tt-search-results-row .tt-item .tt-flight .tt-desc .el-icon-plane {
  position: absolute;
  left: -24px;
  top: 6px;
  font-size: 16px;
}
#triptop-flights .tt-search-results-row .tt-item .tt-segment {
  position: relative;
  height: 70px;
}
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-connection {
  float: left;
  width: 100%;
  margin: 0 0 5px;
  border: 1px dashed #f0ad4e;
  border-left: 0;
  border-right: 0;
  padding: 3px 0;
}
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-connection b {
  color: red;
}
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-duration,
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-aircraft,
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-seats {
  float: left;
}
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-duration .tt-value,
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-aircraft .tt-value,
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-seats .tt-value {
  font-weight: bold;
}
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-duration .tt-details,
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-aircraft .tt-details,
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-seats .tt-details {
  font-weight: normal;
}
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-aircraft {
  width: 20%;
}
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-duration,
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-seats {
  width: 10%;
}
#triptop-flights .tt-search-results-row .tt-item .tt-segment .tt-seats {
  text-align: center;
}
#triptop-flights .tt-search-results-row .tt-item .tt-segment.tt-next {
  height: 96px;
}
#triptop-flights .tt-search-results-row .tt-item .tt-segment.tt-next .tt-icon {
  top: 27px;
}
#triptop-flights .tt-search-results-row .tt-round .tt-icon {
  top: 10px;
}
#triptop-flights .tt-search-results-row .tt-round:before {
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px dashed #333;
}
#triptop-flights .tt-search-results-row .tt-round .tt-segment .tt-icon {
  top: 0;
}
#triptop-flights .tt-search-results-row .tt-item:nth-child(even) .tt-desc .el-icon-plane {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#triptop-flights .tt-booking-wizard {
  width: 900px;
  margin: 10px auto 0;
}
#triptop-flights .tt-booking-wizard .tt-process {
  height: 34px;
  border-bottom: 1px solid #ed9c28;
}
#triptop-flights .tt-booking-wizard .tt-process .tt-stage {
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  float: left;
  width: 33.33%;
}
#triptop-flights .tt-booking-wizard .tt-process .tt-stage .tt-num {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: gray;
  font-size: 20px;
  line-height: 24px;
  color: white;
  text-align: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
#triptop-flights .tt-booking-wizard .tt-process .tt-stage .tt-title {
  display: inline-block;
  line-height: 34px;
  font-size: 16px;
  color: gray;
}
#triptop-flights .tt-booking-wizard .tt-process .tt-active {
  cursor: default;
  background: #ed9c28;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}
#triptop-flights .tt-booking-wizard .tt-process .tt-active .tt-num {
  background: #FFF;
  color: #ed9c28;
}
#triptop-flights .tt-booking-wizard .tt-process .tt-active .tt-title {
  color: white;
}
#triptop-flights .tt-booking-wizard .tt-digest {
  border-bottom: 1px dashed #555;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-header {
  position: relative;
  border-bottom: 1px solid #ed9c28;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-header .tt-title {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  margin: 5px 0;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-header .tt-title i {
  padding: 0 5px;
  font-size: 20px;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-header .tt-title span {
  color: #006FCE;
  font-weight: bold;
  font-size: 13px;
  margin: 0;
  height: 18px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-header .tt-info {
  position: absolute;
  right: 0;
  bottom: 5px;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content {
  font-size: 11px;
  line-height: 18px;
  border-bottom: 1px dashed #333;
  padding-bottom: 5px;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item {
  position: relative;
  clear: both;
  min-height: 38px;
  margin-top: 5px;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-icon {
  position: absolute;
  top: 0;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-icon img {
  width: 30px;
  height: 30px;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight {
  margin-left: 40px;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-route {
  float: left;
  width: 30%;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-route .tt-location {
  font-weight: normal;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-route .tt-location .tt-code:before {
  content: " [";
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-route .tt-location .tt-code:after {
  content: "]";
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-route .tt-time {
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-changes,
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-duration {
  float: left;
  width: 20%;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-changes .tt-value,
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-duration .tt-value {
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-changes .tt-details,
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-duration .tt-details {
  font-weight: normal;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-desc {
  float: left;
  width: 100%;
  margin: 5px 0 8px;
  position: relative;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-item .tt-flight .tt-desc .el-icon-plane {
  position: absolute;
  left: -24px;
  top: 6px;
  font-size: 16px;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-round .tt-icon {
  top: 7px;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-content .tt-round:before {
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px dashed #999;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-footer {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-footer .tt-info span:nth-child(n+3):before {
  content: " + ";
}
#triptop-flights .tt-booking-wizard .tt-digest .tt-footer .tt-price {
  position: absolute;
  right: 0;
  bottom: 0;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-header,
#triptop-flights .tt-booking-wizard .tt-book .tt-header {
  position: relative;
  border-bottom: 1px solid #ed9c28;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-header .tt-title,
#triptop-flights .tt-booking-wizard .tt-book .tt-header .tt-title {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-header .tt-title i,
#triptop-flights .tt-booking-wizard .tt-book .tt-header .tt-title i {
  padding: 0 5px;
  font-size: 20px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-header .tt-title span,
#triptop-flights .tt-booking-wizard .tt-book .tt-header .tt-title span {
  font-size: 12px;
  font-weight: normal;
  float: right;
  margin-top: 5px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-header .tt-title span i,
#triptop-flights .tt-booking-wizard .tt-book .tt-header .tt-title span i {
  font-size: 12px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields {
  position: relative;
  height: 55px;
  margin-left: 65px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields > div,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields > div,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields > div,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields > div {
  position: relative;
  float: left;
  height: 50px;
  margin-top: 5px;
  padding-left: 10px;
  width: 33.33%;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-title,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-title,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-title,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-title {
  position: absolute;
  top: 0;
  left: -64px;
  width: 70px;
  float: none;
  padding: 0;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-error,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-error,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-error,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-error {
  position: absolute;
  top: 1px;
  right: 10px;
  color: #c9302c;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-error .tooltip,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-error .tooltip,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-error .tooltip,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-error .tooltip {
  opacity: 1;
  right: -5px;
  top: 15px;
  white-space: nowrap;
  margin: 0;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-error .tooltip .tooltip-inner,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-error .tooltip .tooltip-inner,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-error .tooltip .tooltip-inner,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-error .tooltip .tooltip-inner {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: #c9302c;
  box-shadow: 0px 0px 2px #999;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-error .tooltip .tooltip-arrow,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-error .tooltip .tooltip-arrow,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-error .tooltip .tooltip-arrow,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-error .tooltip .tooltip-arrow {
  right: 6px;
  left: initial;
  border-bottom-color: #c9302c;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty label,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty label,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty label,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty label,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty div,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty div,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty div,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty div {
  color: #c9302c !important;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty input,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty input,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty input,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty input,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty select,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty select,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty select,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty select {
  border-color: #c9302c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty input:focus,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty input:focus,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty input:focus,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty input:focus,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty select:focus,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-paxes-type.tt-dirty select:focus,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty select:focus,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-paxes-type.tt-dirty select:focus {
  border-color: #c9302c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-persons,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-persons,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-persons,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-persons {
  position: absolute;
  bottom: 4px;
  right: 6px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-persons i,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-persons i,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-persons i,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-persons i {
  font-size: 18px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-persons ul,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-persons ul,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-persons ul,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-persons ul {
  left: initial;
  right: 0;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-fields .tt-persons ul a,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-fields .tt-persons ul a,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields .tt-persons ul a,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields .tt-persons ul a {
  padding: 3px 10px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-end,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-end,
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-end,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-end {
  clear: both;
  height: 0;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax > div,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax > div {
  position: relative;
  margin-bottom: 5px;
  border-bottom: 1px dashed #333;
  min-height: 133px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-options,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-options {
  width: 100%;
  clear: both;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-options > div,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-options > div {
  float: left;
  width: 50%;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-options .tt-left,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-options .tt-left {
  text-align: left;
  padding-right: 5px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-options .tt-right,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-options .tt-right {
  text-align: right;
  padding-left: 5px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-options .tt-link,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-options .tt-link {
  color: #006FCE;
  font-weight: bold;
  font-size: 13px;
  margin: 2px 0 5px;
  height: 14px;
  display: inline-block;
  cursor: pointer;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-options .tt-box,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-options .tt-box {
  height: 160px;
  text-align: left;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-options .tt-box label,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-options .tt-box label {
  margin-top: 5px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-pax .tt-options .tt-box .tt-apply,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-pax .tt-options .tt-box .tt-apply {
  margin-top: 10px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form {
  position: relative;
  margin-bottom: 5px;
  border-bottom: 1px dashed #333;
  min-height: 65px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-content .tt-form .tt-fields > div,
#triptop-flights .tt-booking-wizard .tt-book .tt-content .tt-form .tt-fields > div {
  width: 25%;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-errors,
#triptop-flights .tt-booking-wizard .tt-book .tt-errors {
  width: 100%;
  text-align: center;
  color: #c9302c;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-type,
#triptop-flights .tt-booking-wizard .tt-book .tt-type {
  text-align: center;
  margin: 10px auto;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-type .btn-group,
#triptop-flights .tt-booking-wizard .tt-book .tt-type .btn-group {
  float: none;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-type .btn-group label,
#triptop-flights .tt-booking-wizard .tt-book .tt-type .btn-group label {
  width: auto;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-price,
#triptop-flights .tt-booking-wizard .tt-book .tt-price {
  clear: both;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 10px 0;
  border-bottom: 1px dashed #333;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-price > div,
#triptop-flights .tt-booking-wizard .tt-book .tt-price > div {
  display: inline-block;
  margin: 0 20px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-price > div label,
#triptop-flights .tt-booking-wizard .tt-book .tt-price > div label {
  line-height: 30px;
  vertical-align: top;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-price > div p,
#triptop-flights .tt-booking-wizard .tt-book .tt-price > div p {
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-price > div input,
#triptop-flights .tt-booking-wizard .tt-book .tt-price > div input {
  width: 100px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-terms,
#triptop-flights .tt-booking-wizard .tt-book .tt-terms {
  clear: both;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 15px 0 5px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-terms input,
#triptop-flights .tt-booking-wizard .tt-book .tt-terms input {
  float: none;
  margin: 0;
  width: 25px;
  height: 25px;
  vertical-align: top;
  margin-right: 5px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-terms span,
#triptop-flights .tt-booking-wizard .tt-book .tt-terms span {
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-terms button,
#triptop-flights .tt-booking-wizard .tt-book .tt-terms button {
  padding: 0;
  font-size: inherit;
  vertical-align: top;
  line-height: 25px;
  margin: 0;
  border: 0;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-footer,
#triptop-flights .tt-booking-wizard .tt-book .tt-footer {
  clear: both;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-footer button,
#triptop-flights .tt-booking-wizard .tt-book .tt-footer button {
  display: block;
  margin: 10px auto;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-footer .tt-next,
#triptop-flights .tt-booking-wizard .tt-book .tt-footer .tt-next {
  font-size: 25px;
  margin-top: 15px;
}
#triptop-flights .tt-booking-wizard .tt-paxes .tt-footer .tt-cancel,
#triptop-flights .tt-booking-wizard .tt-book .tt-footer .tt-cancel {
  color: #999;
  font-size: 10px;
  padding: 0;
}
#triptop-flights .tt-booking-wizard .tt-confirm {
  border: 1px solid #90A7B7;
  box-shadow: 0 0 3px #90A7B7;
  margin-bottom: 10px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body {
  padding: 10px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0ad4e;
  clear: both;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-title i[class*="el-icon-"] {
  font-size: 17px;
  vertical-align: text-bottom;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-header {
  margin-bottom: 10px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-header .tt-thanks {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body {
  width: 80%;
  float: left;
  font-size: 11px;
  line-height: 14px;
  cursor: pointer;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item {
  position: relative;
  clear: both;
  min-height: 37px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-icon {
  position: absolute;
  top: 0;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-icon img {
  width: 30px;
  height: 30px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight {
  margin-left: 40px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-route {
  float: left;
  width: 35%;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-route .tt-location {
  font-weight: normal;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-route .tt-location .tt-code:before {
  content: " [";
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-route .tt-location .tt-code:after {
  content: "]";
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-route .tt-time {
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-changes,
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-duration {
  float: left;
  width: 20%;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-changes .tt-value,
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-duration .tt-value {
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-changes .tt-details,
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-duration .tt-details {
  font-weight: normal;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-desc {
  float: left;
  width: 100%;
  margin: 5px 0 8px;
  position: relative;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-flight .tt-desc .el-icon-plane {
  position: absolute;
  left: -24px;
  top: 6px;
  font-size: 16px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment {
  position: relative;
  height: 70px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-connection {
  float: left;
  width: 100%;
  margin: 0 0 5px;
  border: 1px dashed #f0ad4e;
  border-left: 0;
  border-right: 0;
  padding: 3px 0;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-connection b {
  color: red;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-duration,
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-aircraft,
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-seats {
  float: left;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-duration .tt-value,
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-aircraft .tt-value,
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-seats .tt-value {
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-duration .tt-details,
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-aircraft .tt-details,
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-seats .tt-details {
  font-weight: normal;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-aircraft {
  width: 20%;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment .tt-duration {
  width: 10%;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment.tt-next {
  height: 96px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item .tt-segment.tt-next .tt-icon {
  top: 27px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-round .tt-icon {
  top: 10px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-round:before {
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px dashed #333;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-round .tt-segment .tt-icon {
  top: 0;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-body .tt-item:nth-child(even) .tt-desc .el-icon-plane {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-data {
  width: 20%;
  float: right;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 16px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-data > div {
  margin-left: 10px;
  padding: 10px 0;
  background-color: #ed9c28;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-data .tt-price label {
  font-size: 12px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-data .tt-price p {
  font-size: 12px;
  margin: 0;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-data .tt-price.tt-total {
  margin: 5px 0;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-data .tt-price.tt-total label {
  font-size: 14px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-data .tt-price.tt-total p {
  font-size: 16px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-paxes {
  margin-bottom: 5px;
  margin-left: 15px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-paxes .tt-pax {
  margin-bottom: 5px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-docs {
  margin-bottom: 5px;
  margin-left: 15px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-docs .tt-doc {
  padding: 0;
  font-size: 12px;
  margin-right: 10px;
}
#triptop-flights .tt-booking-wizard .tt-confirm .panel-body .tt-footer {
  font-size: 11px;
}
#triptop-flights .tt-booking-wizard .tt-payment {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap {
  height: 100%;
  white-space: nowrap;
  text-align: center;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  margin-right: -0.25em;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-color: #333;
  z-index: -1;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid #90A7B7;
  box-shadow: 0 0 3px #90A7B7;
  font-weight: bold;
  width: 960px;
  text-align: left;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body {
  padding: 10px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-title {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0ad4e;
  clear: both;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-title i[class*="el-icon-"] {
  font-size: 17px;
  vertical-align: text-bottom;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-header {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #f0ad4e;
  margin-bottom: 10px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-header .tt-title {
  margin-bottom: 0;
  border-bottom: 0;
  position: relative;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-header .tt-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body {
  width: 520px;
  float: left;
  font-size: 11px;
  line-height: 14px;
  cursor: pointer;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content {
  font-size: 11px;
  line-height: 18px;
  border-bottom: 1px dashed #333;
  padding-bottom: 5px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item {
  position: relative;
  clear: both;
  min-height: 38px;
  margin-top: 5px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-icon {
  position: absolute;
  top: 0;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-icon img {
  width: 30px;
  height: 30px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight {
  margin-left: 40px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-route {
  float: left;
  width: 30%;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-route .tt-location {
  font-weight: normal;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-route .tt-location .tt-code:before {
  content: " [";
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-route .tt-location .tt-code:after {
  content: "]";
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-route .tt-time {
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-changes,
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-duration {
  float: left;
  width: 20%;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-changes .tt-value,
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-duration .tt-value {
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-changes .tt-details,
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-duration .tt-details {
  font-weight: normal;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-desc {
  float: left;
  width: 100%;
  margin: 5px 0 8px;
  position: relative;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-item .tt-flight .tt-desc .el-icon-plane {
  position: absolute;
  left: -24px;
  top: 6px;
  font-size: 16px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-round .tt-icon {
  top: 7px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-content .tt-round:before {
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px dashed #999;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item {
  position: relative;
  clear: both;
  min-height: 37px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-icon {
  position: absolute;
  top: 0;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-icon img {
  width: 30px;
  height: 30px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight {
  margin-left: 40px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-route {
  float: left;
  width: 35%;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-route .tt-location {
  font-weight: normal;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-route .tt-location .tt-code:before {
  content: " [";
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-route .tt-location .tt-code:after {
  content: "]";
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-route .tt-time {
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-changes,
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-duration {
  float: left;
  width: 20%;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-changes .tt-value,
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-duration .tt-value {
  font-weight: bold;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-changes .tt-details,
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-duration .tt-details {
  font-weight: normal;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-desc {
  float: left;
  width: 100%;
  margin: 5px 0 8px;
  position: relative;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-item .tt-flight .tt-desc .el-icon-plane {
  position: absolute;
  left: -24px;
  top: 6px;
  font-size: 16px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-round .tt-icon {
  top: 10px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-round:before {
  content: '';
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px dashed #333;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-price {
  text-align: center;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-price > div {
  display: inline-block;
  margin: 0 5px;
  width: 90px;
  vertical-align: top;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-price > div label {
  color: #999;
  font-size: 11px;
  white-space: normal;
  min-height: 30px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-price > div p {
  font-size: 14px;
  margin-top: 10px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-price > div p.tt-total {
  color: #f0ad4e;
  font-size: 18px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-body .tt-footer {
  font-size: 12px;
  margin: 10px 0 5px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-portal {
  width: 410px;
  height: 410px;
  overflow: hidden;
  float: right;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 14px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-portal .tt-currency {
  text-align: center;
  margin-bottom: 10px;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-portal .tt-currency label {
  display: inline-block;
  width: auto;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-portal .tt-currency .selectize-control {
  display: inline-block;
  width: 180px;
  text-align: left;
}
#triptop-flights .tt-booking-wizard .tt-payment .tt-wrap .tt-panel .panel-body .tt-portal iframe {
  height: 480px;
  width: 400px;
}
