.link-box {
	display: none !important;
}

.triptop-container {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #555;

    .modal-body {
        max-height: 400px;
        overflow-y: auto;
    }

    .tt-waiting {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;

        .tt-wrap {
            height: 100%;
            white-space: nowrap;
            text-align: center;

            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 0;
                height: 100%; 
                margin-right: -.25em;
            }

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.6;
                background-color: #333;
                z-index: -1;
            }

            .tt-panel {
                display: inline-block;
                vertical-align: middle;
                white-space: normal;
                margin: 0 auto;
                background-color: #FFF;
                border: 1px solid #90A7B7;
                box-shadow: 0 0 3px #90A7B7;
                font-weight: bold;
                min-width: 500px;

                img {
                    width: 60px;
                    height: 60px;
                    float: @left;
                }
            }
        }

        &.tt-process-waiting {
            .tt-wrap {
                &:after {
                    background-color: #FFF;
                }

                .tt-panel {
                    min-width: inherit;

                    img {
                        width: 40px;
                        height: 40px;
                        float: none;
                    }
                }
            }
        }
    }
}

#triptop-flights {
	font-family: Arial;
	font-size: 12px;
	color: #333;
	box-sizing: border-box;

    .selectize-control {
        height: 30px;
        padding: 0;

        .selectize-input {
            height: 30px;
            min-height: inherit;
            line-height: 18px;
            padding: 5px 10px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            font-size: 12px;

            input {
                font-size: inherit;
                font-family: inherit;
                line-height: inherit;
            }

            &:after {
                @{right}: 5px;
            }

            .tt-item {
                .tt-code {
                    &:before {
                        content: " ["
                    }

                    &:after {
                        content: "]"
                    }
                }    
            }
        }

        .selectize-dropdown {
            .tt-item {
                font-weight: bold;
                color: #666;

                .tt-code {
                    &:before {
                        content: " ["
                    }

                    &:after {
                        content: "]"
                    }
                }    
            }

            .tt-description {
                color: #90A7B7;
            }
        }
    }

    input.input-sm {
        padding: 5px 10px;
    }

    label {
        white-space: nowrap;
        width: 100%;
        margin-bottom: 0;
    }

    .slider.slider-horizontal {
        display: block;
        width: auto !important;
        margin: 0 10px;

        .slider-handle.round {
            width: 16px;
            height: 16px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            margin-top: -3px;
            border: 1px solid;
        }
    }

	.tt-search-form {
		width: 900px;
		margin: 0 auto;
		color: #FFF;
		background-color: #9FC7D8;
		border: 1px solid #90A7B7;
		box-shadow: 0 0 3px #90A7B7;

		.panel-heading {
			color: inherit;
			background-color: inherit;
			border-color: transparent;
			padding: 10px 15px 0;
			font-size: 120%;
			font-weight: bold;

            i {
                vertical-align: text-top;
            }
		}

		.panel-body {
			.row {
				margin-bottom: 15px;

				.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4 {
					position: relative;
					padding-right: 0;
				}

				.col-lt {
					padding-right: 15px;
				}
			}

			.tt-adults, .tt-children, .tt-infants {
				position: relative;

				img {
					position: absolute;
					bottom: 4px;
					@{left}: 22px;
					height: 22px;
                    z-index: 1;
				}

                .selectize-input > .item {
                    padding-@{left}: 16px; 
                }
			}

			.row-lt {
				margin-bottom: 0;
			}

			[class*="el-icon-"] {
				position: absolute;
				bottom: 7px;
				right: 7px;
				color: #999;
				font-size: 16px;
				cursor: pointer;
			}

            .checkbox {
                margin: 0;

                input[type="checkbox"] {
                    margin-top: 2px;
                }
            }

			.tt-search-type {
				margin-top: -15px;

				.radio {
					margin: 0;
					min-height: 21px;
					line-height: 21px;
				}
			}

			.tt-transparent {
				color: transparent;
				background-color: transparent;
			}

			.tt-add, .tt-remove {
                color: #FFF;
                margin: 0;
                padding: 6px 0;
                outline: none;
                text-decoration: none;

                i {
                    position: inherit;
                    color: inherit;
                    font-size: inherit;
                }
			}

            .tt-add {
                margin-top: 14px;
            }

			.tt-multi.tt-next {

				label {
					display: none;
				}
			}

			.tt-submit {
				width: 100%;
				font-size: 25px;
			}

            .ng-valid.ng-dirty {
                border: 1px solid #ccc;
            }
		}
	}

    .tt-search-waiting {

        .tt-code {
            &:before {
                content: " ["
            }

            &:after {
                content: "]"
            }
        }
    }

    .tt-search-filter {
        width: 900px;
        margin: 10px auto 0;

        .panel {
            border: 1px solid #90A7B7;
            box-shadow: 0 0 3px #90A7B7;
            margin-bottom: 10px;

            .panel-body {
                padding: 10px;

                .tt-airlines {
                    float: @left;
                    width: 30%;
                    position: relative;

                    label {
                        display: block;
                        vertical-align: top;
                        position: relative;

                        input {
                            margin: 2px 0 0;
                        }

                        span {
                            position: absolute;
                            top: 0;
                            @{right}: 10px;
                        }
                    }

                    .tt-box {
                        max-height: 120px;
                        overflow: hidden;

                        &.tt-display {
                            z-index: 1;
                            position: absolute;
                            max-height: initial;
                            overflow: auto;
                            background: white;
                            padding: 5px;
                            top: -5px;
                            left: -5px;
                            box-shadow: 0 3px 3px;
                            width: 100%;
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            border-radius: 4px;

                            label span {
                                @{right}: 0;
                            }
                        }
                    }

                    .tt-showall {
                        text-align: center;
                        font-size: 10px;
                        padding: 0;
                        margin: 2px auto 0;
                        display: block;
                    }
                }

                .tt-values {
                    float: @left;
                    width: 70%;

                    .tt-row {
                        float: @left;
                        width: 49%;
                        margin-@{left}: 1%;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .tt-fixed-filter {
        .tt-search-results {
            margin-top: 170px;
        }

        .tt-fixed-on {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 3;

            .tt-search-filter {
                margin: 0 auto;

                .panel {
                    margin-bottom: 0;
                    background-color: rgba(255, 255, 255, 0.9);

                    &:hover {
                        background-color: #FFF;
                    }
                }
            }
        }
    }

    .tt-search-results-header {
        width: 900px;
        margin: 10px auto;
        font-size: 15px;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 10px;
        border-bottom: 1px solid #f0ad4e;

        i[class*="el-icon-"] {
            font-size: 17px;
            vertical-align: text-bottom;
        }
    }

    .tt-search-flextable {
        width: 500px;
        margin: 10px auto;

        .tt-title {
            font-size: 15px;
            font-weight: bold;
            line-height: 24px;
            margin-bottom: 10px;
            border-bottom: 1px solid #f0ad4e;

            i[class*="el-icon-"] {
                font-size: 17px;
                vertical-align: text-bottom;
            }
        }

        label {
            display: inline-block;
            vertical-align: middle;
        }

        .tt-date {
            font-size: 14px;

            label {
                margin: 0;
                height: 50px;
                line-height: 50px;
            }
        }

        .tt-value {
            float: @left;
            width: 30%;
            border-bottom: 1px dashed #333;
            border-left: 1px dashed #333;
            color: #ed9c28;
            font-size: 18px;
            text-align: center;

            label {
                height: 50px;
                line-height: 50px;
                cursor: pointer;
            }

            &.tt-active, &:hover {
                color: #FFF;
                background-color: #ed9c28;
            }
        }

        .tt-middle {
            position: relative;
            color: #0e90d2;

            .tt-text {
                position: absolute;
                font-size: 11px;
                text-align: center;
            }
        }

        .tt-box-top {
            width: 30%;
            float: @left;
            text-align: center;

            label {
                height: 30px;
                line-height: 30px;
            }

            &.tt-middle .tt-text {
            }
        }

        .tt-box-left {
            width: 10%;
            float: @left;
            text-align: @left;

            label {
                height: 50px;
                line-height: 50px;
            }

            &.tt-middle .tt-text {
            }
        }

        .tt-first {
            border-@{left}: none;
        }

        .tt-last {
            border-bottom: none;
        }

        .tt-end {
            clear: both;
            margin-bottom: 5px;
        }
    }

    .tt-search-results {
        width: 900px;
        margin: 10px auto 0;

        .tt-row {
            border: 1px solid #90A7B7;
            box-shadow: 0 0 3px #90A7B7;
            margin-bottom: 10px;

            .panel-body {
                padding: 10px;

                .tt-deal {
                    clear: both;

                    .tt-title {
                        width: 100%;
                        font-size: 13px;
                        font-weight: bold;
                        margin-bottom: 5px;

                        .tt-code {
                            &:before {
                                content: " ["
                            }

                            &:after {
                                content: "]"
                            }
                        }
                    }

                    .tt-body {
                        width: 80%;
                        float: @left;
                    }

                    .tt-control {
                        width: 20%;
                        float: @right;
                        text-align: center;
                        position: relative;

                        .tt-info {
                            position: absolute;
                            top: -20px;
                            width: 100%;
                            font-weight: bold;
                        }

                        .tt-price {
                            color: #ed9c28;
                            font-weight: bold;
                            font-size: 18px;
                            margin-bottom: 5px;
                        }

                        .tt-booking {
                            font-size: 14px;
                        }

                        .tt-details {
                            padding-bottom: 0;
                        }

                        .tt-rules {
                            margin-top: 5px;
                        }
                    }

                    .tt-separator {
                        display: none;
                    }

                    &.tt-similar {
                        max-height: 0;            
                        overflow-y: hidden;
                        -webkit-transition: max-height 1s ease-in-out;
                        -moz-transition: max-height 1s ease-in-out;
                        -o-transition: max-height 1s ease-in-out;
                        transition: max-height 1s ease-in-out;

                        &.tt-slide {            
                            max-height: 300px ;                    
                        }    

                        .tt-separator {
                            display: block;
                            height: 5px;
                            margin: 5px 0;
                            color: #ed9c28;
                            border-bottom: 1px solid #ed9c28;
                        }
                    }
                }

                .pagination {
                    margin: 5px 0 0;

                    > li > span {
                        padding: 4px 0px;
                        font-size: 11px;
                        width: 26px;
                        text-align: center;
                        cursor: pointer;
                    }
                }

                .tt-similar-wait {
                    text-align: center;
                    clear: both;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        .tt-similar-show {
            text-align: @right;
            margin-top: -10px;

            > div {
                border-radius: 4px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border: 1px solid #90A7B7;
                border-top: 0;
                box-shadow: 0 0 3px #90A7B7;
                height: 4px;

                &:nth-child(1) {
                    margin: 0 5px;
                }

                &:nth-child(2) {
                    margin: 0 10px;
                }

                &:nth-child(3), &:nth-child(4) {
                    display: inline-block;
                    margin: 0 auto;
                    margin-@{left}: 5px;
                    cursor: pointer;
                    height: auto;
                    padding: 2px 5px;
                    position: relative;
                    top: -9px;
                    @{right}: 5px;
                    background-color: #f0ad4e;
                    border-color: #eea236;
                    box-shadow: 0 1px 2px #90A7B7;
                    color: #FFF;

                    &:hover {
                        background-color: #ed9c28;
                        border-color: #d58512;
                    }

                    i {
                        font-size: 12px;
                    }
                }

                &.tt-active, &.tt-inactive {
                    top: -8px;
                }

                &.tt-inactive {
                    background-color: #fff;
                    color: #f0ad4e;

                    &:hover {
                        background-color: #ed9c28;
                        border-color: #d58512;
                        color: #fff;
                    }
                }

                &.tt-once {
                    top: -1px;
                    margin-bottom: 7px;
                }
            }
        }

        .tt-similar-hide {
            text-align: @right;
            margin-top: -11px;

            > div {
                display: inline-block;
                margin: 0 auto 10px;
                cursor: pointer;
                height: auto;
                padding: 2px 5px;
                position: relative;
                top: 0;
                @{right}: 5px;
                background-color: #f0ad4e;
                border-radius: 4px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border: 1px solid #eea236;
                border-top: 0;
                box-shadow: 0 1px 2px #90A7B7;
                color: #FFF;

                &:hover {
                    background-color: #ed9c28;
                    border-color: #d58512;
                }

                i {
                    font-size: 12px;
                }
            }
        }

        .tt-nodata {
            margin-bottom: 10px;
        }

        .tt-footer {
            position: relative;
            margin-top: 10px;
            border-top: 1px solid #f0ad4e;
            width: 100%;

            .pagination {
                position: absolute;
                top: 0;
                @{right}: 0;
                margin: 10px 0;

                > li > span {
                    padding: 4px 0px;
                    font-size: 11px;
                    width: 26px;
                    text-align: center;
                    cursor: pointer;
                }
            }

            .tt-records {
                text-align: @left;
                line-height: 45px;
                font-weight: bold;
            }
        }
    }

    .tt-search-results-row {
        font-size: 11px;
        line-height: 14px;
        cursor: pointer;

        .tt-item {
            position: relative;
            clear: both;
            min-height: 37px;

            .tt-icon {
                position: absolute;
                top: 0;

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            .tt-flight {
                margin-@{left}: 40px;

                .tt-route {
                    float: @left;
                    width: 30%;

                    .tt-location {
                        font-weight: normal;
    
                        .tt-code {
                            &:before {
                                content: " ["
                            }

                            &:after {
                                content: "]"
                            }
                        }
                    }

                    .tt-time {
                        font-weight: bold;
                    }
                }

                .tt-changes, .tt-duration {
                    float: @left;
                    width: 20%;

                    .tt-value {
                        font-weight: bold;
                    }

                    .tt-details {
                        font-weight: normal;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-right: 5px;
                    }
                }

                .tt-desc {
                    float: @left;
                    width: 100%;
                    margin: 5px 0 8px;
                    position: relative;

                    .el-icon-plane {
                        position: absolute;
                        left: -24px;
                        top: 6px;
                        font-size: 16px;
                    }
                }
            }

            .tt-segment {
                position: relative;
                height: 70px;

                .tt-connection {
                    float: @left;
                    width: 100%;
                    margin: 0 0 5px;
                    border: 1px dashed #f0ad4e;
                    border-left: 0;
                    border-right: 0;
                    padding: 3px 0;

                    b {
                        color: red;
                    }
                }

                .tt-duration, .tt-aircraft, .tt-seats {
                    float: @left;

                    .tt-value {
                        font-weight: bold;
                    }

                    .tt-details {
                        font-weight: normal;
                    }
                }

                .tt-aircraft {
                    width: 20%;
                }

                .tt-duration, .tt-seats {
                    width: 10%;
                }

                .tt-seats {
                    text-align: center;
                }

                &.tt-next {
                    height: 96px;

                    .tt-icon {
                        top: 27px;
                    }
                }
            }
        }

        .tt-round {
            .tt-icon {
                top: 10px;
            }

            &:before {
                content: '';
                display: block;
                width: 100%;
                margin-bottom: 10px;
                border-bottom: 1px dashed #333;
            }

            .tt-segment {
                .tt-icon {
                    top: 0;
                }
            }
        }

        .tt-item:nth-child(even) {
            .tt-desc .el-icon-plane {
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }

    .tt-booking-wizard {
        width: 900px;
        margin: 10px auto 0;

        .tt-process {
            height: 34px;
            border-bottom: 1px solid #ed9c28;

            .tt-stage {
                cursor: pointer;
                white-space: nowrap;
                text-align: center;
                float: left;
                width: 33.33%;

                .tt-num {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    background: gray;
                    font-size: 20px;
                    line-height: 24px;
                    color: white;
                    text-align: center;
                    border-radius: 12px;
                    -webkit-border-radius: 12px;
                    -moz-border-radius: 12px;
                }

                .tt-title {
                    display: inline-block;
                    line-height: 34px;
                    font-size: 16px;
                    color: gray;
                }
            }

            .tt-active {
                cursor: default;
                background: #ed9c28;
                border-radius: 5px 5px 0 0;
                -webkit-border-radius: 5px 5px 0 0;
                -moz-border-radius: 5px 5px 0 0;

                .tt-num {
                    background: #FFF;
                    color: #ed9c28;
                }

                .tt-title {
                    color: white;
                }
            }
        }

        .tt-digest {
            border-bottom: 1px dashed #555;

            .tt-header {
                position: relative;
                border-bottom: 1px solid #ed9c28;

                .tt-title {
                    font-size: 16px;
                    font-weight: bold;
                    white-space: nowrap;
                    margin: 5px 0;

                    i {
                        padding: 0 5px;
                        font-size: 20px;
                    }

                    span {
                        color: #006FCE;
                        font-weight: bold;
                        font-size: 13px;
                        margin: 0;
                        height: 18px;
                        display: inline-block;
                        cursor: pointer;
                        margin-@{left}: 10px;
                    }
                }

                .tt-info {
                    position: absolute;
                    @{right}: 0;
                    bottom: 5px;
                }
            }

            .tt-content {
                font-size: 11px;
                line-height: 18px;
                border-bottom: 1px dashed #333;
                padding-bottom: 5px;

                .tt-item {
                    position: relative;
                    clear: both;
                    min-height: 38px;
                    margin-top: 5px;

                    .tt-icon {
                        position: absolute;
                        top: 0;

                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .tt-flight {
                        margin-@{left}: 40px;

                        .tt-route {
                            float: @left;
                            width: 30%;

                            .tt-location {
                                font-weight: normal;
            
                                .tt-code {
                                    &:before {
                                        content: " ["
                                    }

                                    &:after {
                                        content: "]"
                                    }
                                }
                            }

                            .tt-time {
                                font-weight: bold;
                            }
                        }

                        .tt-changes, .tt-duration {
                            float: @left;
                            width: 20%;

                            .tt-value {
                                font-weight: bold;
                            }

                            .tt-details {
                                font-weight: normal;
                            }
                        }

                        .tt-desc {
                            float: @left;
                            width: 100%;
                            margin: 5px 0 8px;
                            position: relative;

                            .el-icon-plane {
                                position: absolute;
                                left: -24px;
                                top: 6px;
                                font-size: 16px;
                            }
                        }
                    }
                }

                .tt-round {
                    .tt-icon {
                        top: 7px;
                    }

                    &:before {
                        content: '';
                        display: block;
                        width: 100%;
                        margin-bottom: 5px;
                        border-bottom: 1px dashed #999;
                    }
                }
            }

            .tt-footer {
                position: relative;
                font-size: 14px;
                font-weight: bold;
                margin: 5px 0;

                .tt-info {
                    span:nth-child(n+3):before {
                        content: " + "
                    }
                }

                .tt-price {
                    position: absolute;
                    @{right}: 0;
                    bottom: 0;
                }
            }
        }

        .tt-paxes, .tt-book {

            .tt-header {
                position: relative;
                border-bottom: 1px solid #ed9c28;

                .tt-title {
                    margin: 5px 0;
                    font-size: 16px;
                    font-weight: bold;

                    i {
                        padding: 0 5px;
                        font-size: 20px;
                    }

                    span {
                        font-size: 12px;
                        font-weight: normal;
                        float: right;
                        margin-top: 5px;

                        i {
                            font-size: 12px;
                        }
                    }
                }
            }

            .tt-content {
                .tt-pax, .tt-form {
                    .tt-fields {
                        position: relative;
                        height: 55px;
                        margin-@{left}: 65px;
                        
                        > div {
                            position: relative;
                            float: @left;
                            height: 50px;
                            margin-top: 5px;
                            padding-@{left}: 10px;
                            width: 33.33%;
                        }
    
                        .tt-title {
                            position: absolute;
                            top: 0;
                            @{left}: -64px;
                            width: 70px;
                            float: none;
                            padding: 0;
                        }
    
                        .tt-error {
                            position: absolute;
                            top: 1px;
                            right: 10px;
                            color: #c9302c;
                    
                            .tooltip {
                                opacity: 1;
                                right: -5px;
                                top: 15px;
                                white-space: nowrap;
                                margin: 0;

                                .tooltip-inner {
                                    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                    font-size: 13px;
                                    background-color: #c9302c;
                                    box-shadow: 0px 0px 2px #999;
                                }

                                .tooltip-arrow {
                                    right: 6px;
                                    left: initial;
                                    border-bottom-color: #c9302c;
                                }
                            }
                        }

                        .tt-paxes-type.tt-dirty {

                            label, div {
                                color: #c9302c !important;
                            }

                            input, select {
                                border-color: #c9302c;
                                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                            }

                            input:focus, select:focus {
                                border-color: #c9302c;
                                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
                                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
                            }
                        }

                        .tt-persons {
                            position: absolute;
                            bottom: 4px;
                            @{right}: 6px;

                            i {
                                font-size: 18px;
                            }

                            ul {
                                @{left}: initial;
                                @{right}: 0;

                                a {
                                    padding: 3px 10px;
                                }
                            }
                        }
                    }

                    .tt-end {
                        clear: both;
                        height: 0;
                    }
                }

                .tt-pax {
                    > div {
                        position: relative;
                        margin-bottom: 5px;
                        border-bottom: 1px dashed #333;
                        min-height: 133px;
                    }

                    .tt-options {
                        width: 100%;
                        clear: both;

                        > div {
                            float: @left;
                            width: 50%;
                        }

                        .tt-left {
                            text-align: @left;
                            padding-@{right}: 5px;
                        }

                        .tt-right {
                            text-align: @right;
                            padding-@{left}: 5px;
                        }

                        .tt-link {
                            color: #006FCE;
                            font-weight: bold;
                            font-size: 13px;
                            margin: 2px 0 5px;
                            height: 14px;
                            display: inline-block;
                            cursor: pointer;
                        }

                        .tt-box {
                            height: 160px;
                            text-align: @left;

                            label {
                                margin-top: 5px;
                            }

                            .tt-apply {
                                margin-top: 10px;
                            }
                        }
                    }
                }

                .tt-form {
                    position: relative;
                    margin-bottom: 5px;
                    border-bottom: 1px dashed #333;
                    min-height: 65px;

                    .tt-fields {                        
                        > div {
                            width: 25%;
                        }
                    }
                }
            }

            .tt-errors {
                width: 100%;
                text-align: center;
                color: #c9302c;
            }

            .tt-type {
                text-align: center;
                margin: 10px auto;

                .btn-group {
                    float: none;
    
                    label {
                        width: auto;
                    }
                }
            }

            .tt-price {
                clear: both;
                width: 100%;
                height: auto;
                text-align: center;
                margin: 10px 0;
                border-bottom: 1px dashed #333;

                > div {
                    display: inline-block;
                    margin: 0 20px;

                    label {
                        line-height: 30px;
                        vertical-align: top;
                    }

                    p {
                        line-height: 30px;
                        font-size: 14px;
                        font-weight: bold;
                    }

                    input {
                        width: 100px;
                    }
                }
            }

            .tt-terms {
                clear: both;
                width: 100%;
                height: auto;
                text-align: center;
                margin: 15px 0 5px;

                input {
                    float: none;
                    margin: 0;
                    width: 25px;
                    height: 25px;
                    vertical-align: top;
                    margin-right: 5px;
                }

                span {
                    display: inline-block;
                    vertical-align: top;
                    line-height: 25px;
                }

                button {
                    padding: 0;
                    font-size: inherit;
                    vertical-align: top;
                    line-height: 25px;
                    margin: 0;
                    border: 0;
                }
            }

            .tt-footer {
                clear: both;

                button {
                    display: block;
                    margin: 10px auto;
                }

                .tt-next {
                    font-size: 25px;
                    margin-top: 15px;
                }

                .tt-cancel {
                    color: #999;
                    font-size: 10px;
                    padding: 0;
                }
            }
        }

        .tt-confirm {
            border: 1px solid #90A7B7;
            box-shadow: 0 0 3px #90A7B7;
            margin-bottom: 10px;

            .panel-body {
                padding: 10px;

                .tt-title {
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 24px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid #f0ad4e;
                    clear: both;

                    i[class*="el-icon-"] {
                        font-size: 17px;
                        vertical-align: text-bottom;
                    }
                }

                .tt-header {
                    margin-bottom: 10px;

                    .tt-thanks {
                        text-align: center;
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: bold;
                    }
                }

                .tt-body {
                    width: 80%;
                    float: @left;
                    font-size: 11px;
                    line-height: 14px;
                    cursor: pointer;

                    .tt-item {
                        position: relative;
                        clear: both;
                        min-height: 37px;

                        .tt-icon {
                            position: absolute;
                            top: 0;

                            img {
                                width: 30px;
                                height: 30px;
                            }
                        }

                        .tt-flight {
                            margin-@{left}: 40px;

                            .tt-route {
                                float: @left;
                                width: 35%;

                                .tt-location {
                                    font-weight: normal;
                
                                    .tt-code {
                                        &:before {
                                            content: " ["
                                        }

                                        &:after {
                                            content: "]"
                                        }
                                    }
                                }

                                .tt-time {
                                    font-weight: bold;
                                }
                            }

                            .tt-changes, .tt-duration {
                                float: @left;
                                width: 20%;

                                .tt-value {
                                    font-weight: bold;
                                }

                                .tt-details {
                                    font-weight: normal;
                                }
                            }

                            .tt-desc {
                                float: @left;
                                width: 100%;
                                margin: 5px 0 8px;
                                position: relative;

                                .el-icon-plane {
                                    position: absolute;
                                    left: -24px;
                                    top: 6px;
                                    font-size: 16px;
                                }
                            }
                        }

                        .tt-segment {
                            position: relative;
                            height: 70px;

                            .tt-connection {
                                float: @left;
                                width: 100%;
                                margin: 0 0 5px;
                                border: 1px dashed #f0ad4e;
                                border-left: 0;
                                border-right: 0;
                                padding: 3px 0;

                                b {
                                    color: red;
                                }
                            }

                            .tt-duration, .tt-aircraft, .tt-seats {
                                float: @left;

                                .tt-value {
                                    font-weight: bold;
                                }

                                .tt-details {
                                    font-weight: normal;
                                }
                            }

                            .tt-aircraft {
                                width: 20%;
                            }

                            .tt-duration {
                                width: 10%;
                            }

                            &.tt-next {
                                height: 96px;
                        
                                .tt-icon {
                                    top: 27px;
                                }
                            }
                        }
                    }

                    .tt-round {
                        .tt-icon {
                            top: 10px;
                        }

                        &:before {
                            content: '';
                            display: block;
                            width: 100%;
                            margin-bottom: 10px;
                            border-bottom: 1px dashed #333;
                        }

                        .tt-segment {
                            .tt-icon {
                                top: 0;
                            }
                        }
                    }

                    .tt-item:nth-child(even) {
                        .tt-desc .el-icon-plane {
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }
                    }
                }

                .tt-data {
                    width: 20%;
                    float: @right;
                    text-align: center;
                    position: relative;
                    font-weight: bold;
                    font-size: 16px;

                    > div {
                        margin-@{left}: 10px;
                        padding: 10px 0;
                        background-color: #ed9c28;
                        color: #FFF;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                    }

                    .tt-price {
                        label {
                            font-size: 12px;
                        }

                        p {
                            font-size: 12px;
                            margin: 0;
                        }
                    }

                    .tt-price.tt-total {
                        margin: 5px 0; 

                        label {
                            font-size: 14px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }
                }

                .tt-paxes {
                    margin-bottom: 5px;
                    margin-@{left}: 15px;

                    .tt-pax {
                        margin-bottom: 5px;
                    }
                }

                .tt-docs {
                    margin-bottom: 5px;
                    margin-@{left}: 15px;

                    .tt-doc {
                        padding: 0;
                        font-size: 12px;
                        margin-@{right}: 10px;
                    }
                }

                .tt-footer {
                    font-size: 11px;
                }
            }
        }

        .tt-payment {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;

            .tt-wrap {
                height: 100%;
                white-space: nowrap;
                text-align: center;

                &:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 0;
                    height: 100%; 
                    margin-right: -.25em;
                }

                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0.6;
                    background-color: #333;
                    z-index: -1;
                }

                .tt-panel {
                    display: inline-block;
                    vertical-align: middle;
                    white-space: normal;
                    margin: 0 auto;
                    background-color: #FFF;
                    border: 1px solid #90A7B7;
                    box-shadow: 0 0 3px #90A7B7;
                    font-weight: bold;
                    width: 960px;
                    text-align: @left;

                    .panel-body {
                        padding: 10px;

                        .tt-title {
                            font-size: 15px;
                            font-weight: bold;
                            padding: 5px;
                            margin-bottom: 10px;
                            border-bottom: 1px solid #f0ad4e;
                            clear: both;

                            i[class*="el-icon-"] {
                                font-size: 17px;
                                vertical-align: text-bottom;
                            }
                        }

                        .tt-header {
                            height: 30px;
                            font-size: 16px;
                            font-weight: bold;
                            color: white;
                            background: #f0ad4e;
                            margin-bottom: 10px;

                            .tt-title {
                                margin-bottom: 0;
                                border-bottom: 0;
                                position: relative;
                            }

                            .tt-close {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                                cursor: pointer;
                            }
                        }

                        .tt-body {
                            width: 520px;
                            float: @left;
                            font-size: 11px;
                            line-height: 14px;
                            cursor: pointer;

                            .tt-content {
                                font-size: 11px;
                                line-height: 18px;
                                border-bottom: 1px dashed #333;
                                padding-bottom: 5px;

                                .tt-item {
                                    position: relative;
                                    clear: both;
                                    min-height: 38px;
                                    margin-top: 5px;

                                    .tt-icon {
                                        position: absolute;
                                        top: 0;

                                        img {
                                            width: 30px;
                                            height: 30px;
                                        }
                                    }

                                    .tt-flight {
                                        margin-@{left}: 40px;

                                        .tt-route {
                                            float: @left;
                                            width: 30%;

                                            .tt-location {
                                                font-weight: normal;
                            
                                                .tt-code {
                                                    &:before {
                                                        content: " ["
                                                    }

                                                    &:after {
                                                        content: "]"
                                                    }
                                                }
                                            }

                                            .tt-time {
                                                font-weight: bold;
                                            }
                                        }

                                        .tt-changes, .tt-duration {
                                            float: @left;
                                            width: 20%;

                                            .tt-value {
                                                font-weight: bold;
                                            }

                                            .tt-details {
                                                font-weight: normal;
                                            }
                                        }

                                        .tt-desc {
                                            float: @left;
                                            width: 100%;
                                            margin: 5px 0 8px;
                                            position: relative;

                                            .el-icon-plane {
                                                position: absolute;
                                                left: -24px;
                                                top: 6px;
                                                font-size: 16px;
                                            }
                                        }
                                    }
                                }

                                .tt-round {
                                    .tt-icon {
                                        top: 7px;
                                    }

                                    &:before {
                                        content: '';
                                        display: block;
                                        width: 100%;
                                        margin-bottom: 5px;
                                        border-bottom: 1px dashed #999;
                                    }
                                }
                            }

                            .tt-item {
                                position: relative;
                                clear: both;
                                min-height: 37px;

                                .tt-icon {
                                    position: absolute;
                                    top: 0;

                                    img {
                                        width: 30px;
                                        height: 30px;
                                    }
                                }

                                .tt-flight {
                                    margin-@{left}: 40px;

                                    .tt-route {
                                        float: @left;
                                        width: 35%;

                                        .tt-location {
                                            font-weight: normal;
                        
                                            .tt-code {
                                                &:before {
                                                    content: " ["
                                                }

                                                &:after {
                                                    content: "]"
                                                }
                                            }
                                        }

                                        .tt-time {
                                            font-weight: bold;
                                        }
                                    }

                                    .tt-changes, .tt-duration {
                                        float: @left;
                                        width: 20%;

                                        .tt-value {
                                            font-weight: bold;
                                        }

                                        .tt-details {
                                            font-weight: normal;
                                        }
                                    }

                                    .tt-desc {
                                        float: @left;
                                        width: 100%;
                                        margin: 5px 0 8px;
                                        position: relative;

                                        .el-icon-plane {
                                            position: absolute;
                                            left: -24px;
                                            top: 6px;
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }

                            .tt-round {
                                .tt-icon {
                                    top: 10px;
                                }

                                &:before {
                                    content: '';
                                    display: block;
                                    width: 100%;
                                    margin-bottom: 10px;
                                    border-bottom: 1px dashed #333;
                                }
                            }

                            .tt-price {
                                text-align: center;

                                > div {
                                    display: inline-block;
                                    margin: 0 5px;
                                    width: 90px;
                                    vertical-align: top;

                                    label {
                                        color: #999;
                                        font-size: 11px;
                                        white-space: normal;
                                        min-height: 30px;
                                    }

                                    p {
                                        font-size: 14px;
                                        margin-top: 10px;
                                    }

                                    p.tt-total {
                                        color: #f0ad4e;
                                        font-size: 18px;
                                    }
                                }
                            }

                            .tt-footer {
                                font-size: 12px;
                                margin: 10px 0 5px;
                            }
                        }

                        .tt-portal {
                            width: 410px;
                            height: 410px;
                            overflow: hidden;
                            float: @right;
                            text-align: center;
                            position: relative;
                            font-weight: bold;
                            font-size: 14px;

                            .tt-currency {
                                text-align: center;
                                margin-bottom: 10px;

                                label {
                                    display: inline-block;
                                    width: auto;
                                }

                                .selectize-control {
                                    display: inline-block;
                                    width: 180px;
                                    text-align: @left;
                                }
                            }

                            iframe {
                                height:480px;
                                width:400px;
                            }
                        }
                    }
                }
            }
        }
    }
}