<table class='tt-payment-confirm'>
	<tbody>
		<tr>
			<td>
				<span>Спасибо за заказ на нашем сайте.</span>
			</td>
		</tr>
		<tr>
			<td>
				<span>Для оплаты заказа с Вашей карты успешно депонированна сумма <b>1,333.00$</b>.</span>
			</td>
		</tr>
		<tr>
			<td>
				<span>Ваш номер бронирования от поставщика <b>#A31YEI</b>. Номер бронирования в нашей системе <b>#123456</b>.</span>
			</td>
		</tr>
		<tr>
			<td>
				<span>Вам отправлено подтверждение на адрес <b>asdfghjk@asdfghj.com</b> и в течении следующих 2 часов будут высланы электроные билеты.</span>
			</td>
		</tr>
		<tr>
			<td>
				<span>Если у Вас есть дополнительные вопросы или необходимо помощь, то пожалуйста звоните нам по телефену поддержки: <b>03-5171448</b>.</span>
			</td>
		</tr>
		<tr>
			<td>
				<span>Данное окно будет закрыто в течении 30 секунд либо закройте его самостоятельно нажав "Закрыть".</span>
			</td>
		</tr>
		<tr>
			<td>
				<button type="button" class="btn btn-primary btn-lg" ng-click='closeWizard();'>&zwj;Закрыть&zwj;</button>
			</td>
		</tr>
	</tbody>
</table>
