<div ng-switch on='paymentStage'>
	<paymentcurrency ng-switch-when='2'></paymentcurrency>
	<paymentprocess ng-switch-when='3'></paymentprocess>
	<paymentconfirm ng-switch-when='4'></paymentconfirm>
</div>
