<table class='tt-payment-currency'>
	<tbody>
		<tr>
			<td>
				<i class='el-icon-ok-circle'></i>
                <span>&zwj;Thank you for waiting, we have received reservation number from&zwj;
                    <b>{{pnr}}</b>
                    &zwj;and can start payment process. Please select payment currency.&zwj;</span>
				<div class='form-group'>
					<label>&zwj;Currency&zwj;:</label>
					<select class='form-control input-sm' ng-click="onClick(selectedCurrency)" ng-model="selectedCurrency">
						<option value='USD'>&zwj;US Dollar (USD)&zwj;</option>
						<option value='EUR'>&zwj;Euro (EUR)&zwj;</option>
						<option value='ILS'>&zwj;Sheqel (ILS)&zwj;</option>
					</select>
				</div>
				<button type="button"
                        class="btn btn-primary btn-lg"
                        ng-click='gotoStage(3);'>
                    &zwj;Pay&zwj;
                </button>
			</td>
		</tr>
	</tbody>
</table>
