<table class='tt-payment-digest-header' width="100%">
    <tbody>
    <tr>
        <td class='tt-payment-digest-title tt-payment-normal'>
            <span>&zwj;Passengers&zwj;: </span>
				<span ng-if='product.paxes.adult > 0' ng-pluralize count="{{product.paxes | paxcount:'adult'}}"
                      when="{'1': '1 &zwj;adult&zwj;',
							'other': '&zwj;{} взрослых&zwj;'}"></span>
				<span ng-if='product.paxes.senior > 0' ng-pluralize count="{{product.paxes | paxcount:'senior'}}"
                      when="{'1': '1 &zwj;senior&zwj;',
							'2': '&zwj;{} пенсионера&zwj;',
							'3': '&zwj;{} пенсионера&zwj;',
							'4': '&zwj;{} пенсионера&zwj;',
							'other': '&zwj;{} пенсионеров&zwj;'}"></span>
				<span ng-if='product.paxes.youth > 0' ng-pluralize count="{{product.paxes | paxcount:'youth'}}"
                      when="{'1': '1 &zwj;youth&zwj;',
							'2': '&zwj;{} подростка&zwj;',
							'3': '&zwj;{} подростка&zwj;',
							'4': '&zwj;{} подростка&zwj;',
							'other': '&zwj;{} подростков&zwj;'}"></span>
				<span ng-if='product.paxes.child > 0' ng-pluralize count="{{product.paxes | paxcount:'child'}}"
                      when="{'1': '1 &zwj;child&zwj;',
							'2': '&zwj;{} ребенка&zwj;',
							'3': '&zwj;{} ребенка&zwj;',
							'4': '&zwj;{} ребенка&zwj;',
							'other': '&zwj;{} детей&zwj;'}"></span>
				<span ng-if='product.paxes.infant > 0' ng-pluralize count="{{product.paxes | paxcount:'infant'}}"
                      when="{'1': '1 &zwj;infant&zwj;',
							'2': '&zwj;{} младенца&zwj;',
							'3': '&zwj;{} младенца&zwj;',
							'4': '&zwj;{} младенца<&zwj;',
							'other': '&zwj;{} младенцев&zwj;'}"></span>
        </td>
    </tr>
    </tbody>
</table>