<table class='tt-payment-header' ng-if='paymentStage == 1'>
    <tbody>
        <tr>
            <td class='tt-payment-title'>
                <i class='el-icon-hourglass'></i>
                <span>
                    &zwj;Please wait while we are checking availability of seats and finalizing booking process. It'll take few seconds.&zwj;
                </span>
            </td>
        </tr>
        <tr>
            <td class='tt-payment-initial'>
                <div>&nbsp;</div>
            </td>
        </tr>
    </tbody>
</table>