<table class='tt-payment-form-header'>
	<tbody>
		<tr>
			<td class='tt-payment-form-title'>
				<i class='el-icon-list-alt'></i><span>&zwj;Payment details&zwj;</span>
			</td>
		</tr>
	</tbody>
</table>
<table class='tt-payment-form-price'>
	<tbody>
		<tr>
			<td ng-if="booking.prices['fare'] != 0.">
				<div>
					<label class='tt-payment-form-price-label'>&zwj;Fare&zwj;</label>
					<div class='tt-payment-form-price-value'>{{booking | paymentprice:'fare'}}</div>
				</div>
			</td>
            <td ng-if="booking.prices['tax'] > 0.">
                <div>
                    <label class='tt-payment-form-price-label'>&zwj;Fees&zwj;</label>
                    <div class='tt-payment-form-price-value'>{{booking | paymentprice:'tax'}}</div>
                </div>
            </td>
			<td ng-if='booking.prices.agent'>
				<div>
					<label class='tt-payment-form-price-label'>&zwj;Manual markup&zwj;</label>
					<div class='tt-payment-form-price-value'>{{booking | paymentprice:'agent'}}</div>
				</div>
			</td>
            <td ng-if="booking.prices['creditcard'] > 0.">
                <div>
                    <label class='tt-payment-form-price-label'>&zwj;Online markup&zwj;</label>
                    <div class='tt-payment-form-price-value'>{{booking | paymentprice:'creditcard'}}</div>
                </div>
            </td>
            <td ng-if="booking.prices['discount'] > 0.">
                <div>
                    <label class='tt-payment-form-price-label'>&zwj;Discounts&zwj;</label>
                    <div class='tt-payment-form-price-value'>{{booking | paymentprice:'discount'}}</div>
                </div>
            </td>
		</tr>
	</tbody>
</table>
<table class='tt-payment-form-total-price'>
	<tbody>
		<tr>
			<td>
				<span>&zwj;Total payment amount&zwj;: </span>
				<span class='tt-payment-form-price-value'>{{booking | paymentprice:'total'}}</span>
			</td>
		</tr>
	</tbody>
</table>