<div ng-show="!frameLoaded">
    <center>
        <img ng-src="{{waitImg}}"/>
    </center>
</div>
<div ng-show="frameLoaded">
    <table class='tt-payment-currency'>
        <tr>
            <td>
                <div class='form-group'>
                    <label>&zwj;Currency&zwj;:</label>
                    <select class='form-control input-sm' ng-click="onClick(selectedCurrency)" ng-model="selectedCurrency">
                        <option value='USD'>&zwj;US Dollar (USD)&zwj;</option>
                        <option value='EUR'>&zwj;Euro (EUR)&zwj;</option>
                        <option value='ILS'>&zwj;Sheqel (ILS)&zwj;</option>
                    </select>
                </div>
            </td>
        </tr>
    </table>
    <iframe iframe-onload="iframeLoadedCallBack()" frameborder="0" scrolling="no" 
            ng-src="{{frameUrl}}" style="height:480px; width:400px;"/>
</div>