<bookingpaxesheader></bookingpaxesheader>
<div ng-form='paxesList'>
	<div class='tt-booking-paxes-content' ng-repeat='pax in booking.paxes'>
		<div ng-form='paxItem' ng-controller='PaxRowController' ng-mouseenter='contentMouseEnter(true);' ng-mouseleave='contentMouseEnter(false);'>
			<table class='tt-booking-paxes-data'>
				<tbody>
					<tr>
						<td class='tt-booking-paxes-col-1'>
							<div class='form-group'>
								<label>&zwj;Пол&zwj;</label>
								<div class='btn-toolbar' role='toolbar'>
									<div class='btn-group btn-group-sm' data-toggle='buttons'>
										<label type='button' class='btn btn-default' ng-class='pax.sex == "male" ? "active" : ""' ng-click='changePaxSex(pax, "male");'>
											<input type='radio' ng-model="pax.sex" name='sex{{$index}}' value='male'>
											<!--i class='el-icon-male'></i-->
											<b>&zwj;М&zwj;</b>
										</label>
										<label type='button' class='btn btn-default' ng-class='pax.sex == "female" ? "active" : ""' ng-click='changePaxSex(pax, "female");'>
											<input type='radio' ng-model="pax.sex" name='sex{{$index}}' value='female'>
											<!--i class='el-icon-female'></i-->
											<b>&zwj;Ж&zwj;</b>
										</label>
									</div>
								</div>
							</div>
						</td>
						<td class='tt-booking-paxes-col-2'>
							<div class='form-group'>
								<label class="tt-required">&zwj;Фамилия&zwj;</label>
								<input type='text' class='form-control input-sm'
									name='surname'
									ng-model='pax.surname'
									required ng-pattern='/([a-zA-Z/s])+/'
									ng-keypress='latinNameEnter($event);'
									placeholder='In latin letters'/>
								<bookingpersonselect ng-if='profileStage == true && booking.help.passengers.length > 0'></bookingpersonselect>
								<i class='el-icon-exclamation-sign tt-booking-field-error' ng-if="paxesList.submited && (paxItem.surname.$error.required || paxItem.surname.$error.pattern)" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
									<div class="tooltip bottom" ng-show="showTooltip">
										<div class="tooltip-arrow"></div>
										<div class="tooltip-inner" ng-show="paxItem.surname.$error.required">
											&zwj;Required field&zwj;
										</div>
										<div class="tooltip-inner" ng-show="paxItem.surname.$error.pattern">
											&zwj;Pattern error&zwj;
										</div>
									</div>
								</i>
							</div>
						</td>
						<td class='tt-booking-paxes-col-3'>
							<div class='form-group'>
								<label class="tt-required">&zwj;Имя&zwj;</label>
								<input type='text' class='form-control input-sm' 
									name='name'
									ng-model='pax.name'
									required ng-pattern='/[a-zA-Z]+/'
									ng-keypress='latinNameEnter($event);'
									placeholder='In latin letters'/>
								<i class='el-icon-exclamation-sign tt-booking-field-error' ng-if="paxesList.submited && (paxItem.name.$error.required || paxItem.name.$error.pattern)" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
									<div class="tooltip bottom" ng-show="showTooltip">
										<div class="tooltip-arrow"></div>
										<div class="tooltip-inner" ng-show="paxItem.name.$error.required">
											&zwj;Required field&zwj;
										</div>
										<div class="tooltip-inner" ng-show="paxItem.name.$error.pattern">
											&zwj;Pattern error&zwj;
										</div>
									</div>
								</i>
							</div>
						</td>
						<td class='tt-booking-paxes-col-4'>
							<div class='form-group tt-booking-paxes-type'>
								<label class="tt-required">&zwj;Дата рождения&zwj;</label>
								<input type='text' class='form-control input-sm' datepicker end-date='-0d'
									name='birthday'
									ng-model='pax.birthday'
									ng-change='changeBirthDay(pax);'
									ng-keypress='dateEnter($event);'
									required placeholder='dd.mm.yyyy'/>
								<i class='el-icon-exclamation-sign tt-booking-field-error' ng-if="paxesList.submited && paxItem.birthday.$error.required" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
									<div class="tooltip bottom" ng-show="showTooltip">
										<div class="tooltip-arrow"></div>
										<div class="tooltip-inner" ng-show="paxItem.birthday.$error.required">
											&zwj;Required field&zwj;
										</div>
									</div>
								</i>
							</div>
						</td>
					</tr>
					<tr>
						<td class='tt-booking-paxes-col-1 tt-booking-paxes-type' ng-switch on='pax.type'>
							<div class='form-group' ng-switch-when='ADULT'>
								<label>&zwj;Взрослый&zwj;</label>
								<div class='tt-booking-paxes-label'>(18-65)</div>
							</div>
							<div class='form-group' ng-switch-when='SENIOR'>
								<label>&zwj;Пенсионер&zwj;</label>
								<div class='tt-booking-paxes-label'>(65+)</div>
							</div>
							<div class='form-group' ng-switch-when='YOUTH'>
								<label>&zwj;Молодежь&zwj;</label>
								<div class='tt-booking-paxes-label'>(12-18)</div>
							</div>
							<div class='form-group' ng-switch-when='CHILD'>
								<label>&zwj;Ребенок&zwj;</label>
								<div class='tt-booking-paxes-label'>(2-12)</div>
							</div>
							<div class='form-group' ng-switch-when='INFANT'>
								<label>&zwj;Младенец&zwj;</label>
								<div class='tt-booking-paxes-label'>(0-2)</div>
							</div>
							<div class='form-group' ng-switch-default>&nbsp;</div>
						</td>
						<td class='tt-booking-paxes-col-2'>
							<div class='form-group'>
								<label class="tt-required">&zwj;Гражданство&zwj;</label>
								<select class='form-control input-sm' name='country' ng-model='pax.country' ng-options='c.id as c.name for c in countries' required></select>
								<i class='el-icon-exclamation-sign tt-booking-field-error' ng-if="paxesList.submited && paxItem.country.$error.required" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
									<div class="tooltip bottom" ng-show="showTooltip">
										<div class="tooltip-arrow"></div>
										<div class="tooltip-inner" ng-show="paxItem.country.$error.required">
											&zwj;Required field&zwj;
										</div>
									</div>
								</i>
							</div>
						</td>
						<td class='tt-booking-paxes-col-3'>
							<div class='form-group' ng-if='booking.passportRequired === true'>
								<label class="tt-required">&zwj;Серия и номер документа&zwj;</label>
								<input type='text' class='form-control input-sm' name='document' ng-model='pax.document' required/>
								<bookingpassportselect ng-if='profileStage == true && booking.help.passports.length > 0'></bookingpassportselect>
								<i class='el-icon-exclamation-sign tt-booking-field-error' ng-if="paxesList.submited && paxItem.document.$error.required" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
									<div class="tooltip bottom" ng-show="showTooltip">
										<div class="tooltip-arrow"></div>
										<div class="tooltip-inner" ng-show="paxItem.document.$error.required">
											&zwj;Required field&zwj;
										</div>
									</div>
								</i>
							</div>
						</td>
						<td class='tt-booking-paxes-col-4'>
							<div class='form-group' ng-if='booking.passportRequired === true'>
								<label class="tt-required">&zwj;Срок действия&zwj;</label>
								<input type='text' class='form-control input-sm'
									datepicker start-date='+0d'
									name='documentdate'
									ng-model='pax.documentdate'
									ng-keypress='dateEnter($event);'
									required placeholder='dd.mm.yyyy'/>
								<i class='el-icon-exclamation-sign tt-booking-field-error' ng-if="paxesList.submited && paxItem.documentdate.$error.required" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
									<div class="tooltip bottom" ng-show="showTooltip">
										<div class="tooltip-arrow"></div>
										<div class="tooltip-inner" ng-show="paxItem.documentdate.$error.required">
											&zwj;Required field&zwj;
										</div>
									</div>
								</i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<table class='tt-booking-paxes-options'>
				<tbody>
					<tr>
						<td class='tt-booking-paxes-options-col-1'>
							<bookingflightoptions></bookingflightoptions>
						</td>
						<td class='tt-booking-paxes-options-col-2 tt-align-right'>
							<bookingflightbonus></bookingflightbonus>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class='tt-booking-errors' ng-show='paxesList.submited && !paxesList.$valid'>
		<i class='el-icon-exclamation-sign'></i>&nbsp;
		&zwj;Обратите внимание на некорректно заполненные поля!&zwj;
	</div>
</div>
<bookingpaxesfooter></bookingpaxesfooter>