<rentacarsearch></rentacarsearch>
<rentacarwaiting ng-if="rentacarSearchStage == 1"></rentacarwaiting>
<rentacarnoresults ng-if="rentacarSearchStage == 2"></rentacarnoresults>
<rentacarresults ng-if="rentacarSearchStage == 3"></rentacarresults>