<div class="tt-rentacar-search-results">
    <div class="tt-rentacar-search-results-car" ng-repeat="car in resultCars">
        <div class="tt-rentacar-search-results-header">
            {{car.name}}
            <br/>
            <span>{{car.class}}</span>
        </div>
        <div class="tt-rentacar-search-results-left">
            <p>
                <img src="img/{{car.img}}"/>
            </p>
            <ul>
                <li>
                    <div>
                        <span class="tt-rentacar-search-results-icon icon-passenger"></span>
                    </div>
                    <label>
                        {{car.passengerQuantity}}
                    </label>
                </li>
                <li><div>
                    <span class="tt-rentacar-search-results-icon icon-baggage"></span>
                </div>
                    <label>
                        {{car.baggageQuantity}}
                    </label>
                </li>
                <li>
                    <div>
                        <span class="tt-rentacar-search-results-icon icon-doors"></span>
                    </div>
                    <label>
                        {{car.doorsQuantity}}
                    </label>
                </li>
                <li ng-show='car.transmission == "man"'>
                    <div>
                        <span class="tt-rentacar-search-results-icon icon-manual"></span>
                    </div>
                    <label>
                        MAN
                    </label>
                </li>
                <li ng-show='car.transmission == "auto"'>
                    <div>
                        <span class="tt-rentacar-search-results-icon icon-auto"></span>
                    </div>
                    <label>
                        AUTO
                    </label>
                </li>
                <li ng-show="car.airConditioning">
                    <div>
                        <span class="tt-rentacar-search-results-icon icon-ac"></span>
                    </div>
                    <label>
                        AC
                    </label>
                </li>
            </ul>
        </div>
        <div class="tt-rentacar-search-results-right">
            <div class="tt-rentacar-search-results-logo">
                <p>
                    <span class="dollar_thrifty"></span>
                </p>
            </div>
            <div class="tt-rentacar-search-results-details">
                <p ng-show="car.info.terminalPickup">
                    <span class="tt-rentacar-search-results-icon icon-airport"></span>
                    <span class="tt-rentacar-search-results-info info-bold">
                        Airport Terminal Pickup
                    </span>
                </p>
                <p ng-show="car.info.meetAndGreet">
                    <span class="tt-rentacar-search-results-icon-gray icon-tick"></span>
                    <span class="tt-rentacar-search-results-info">
                        Pickup: Meet and greet
                    </span>
                </p>
                <p ng-show="car.info.fuelFull">
                    <span class="tt-rentacar-search-results-icon-gray icon-tick"></span>
                    <span class="tt-rentacar-search-results-info">
                        Fuel: Pick up and return full
                    </span>
                </p>
                <p ng-show="car.info.freeCancellation">
                    <span class="tt-rentacar-search-results-icon-gray icon-tick"></span>
                    <span class="tt-rentacar-search-results-info info-green">
                        <b>FREE</b> Cancellation
                    </span>
                </p>
                <p ng-show="car.info.freeAmendment">
                    <span class="tt-rentacar-search-results-icon-gray icon-tick"></span>
                    <span class="tt-rentacar-search-results-info info-green">
                        <b>FREE</b> Amendment
                    </span>
                </p>
            </div>
            <div class="tt-rentacar-search-results-price">
                <h1>
                    $ {{car.price}}
                    <label>
                        per day
                    </label>
                </h1>
                <h5>
                    Total $ MODEL
                </h5>
            </div>
        </div>
    </div>
    <div class="tt-search-form-end "></div>
</div>