<div class="tt-rentacar-search-form">
    <div class="tt-rentacar-search-locations">
        <input type="text" ng-model="query.from" placeholder="Type in city or airport name"/>
        <input type="checkbox" ng-model="query.diffLocation"/><span>Return to a different location</span>
    </div>
    <div class="tt-rentacar-search-locations" ng-show="query.diffLocation">
        <input type="text" ng-model="query.returnLocation" placeholder="Return location"/>
    </div>
    <div class="tt-rentacar-search-dates">
        <div class="tt-rentacar-search-date">
            <input name='startDate' type='text'
                   datepicker start-date='+1d'
                   ng-model='query.startDate'
                   required placeholder='&zwj;Start date&zwj;'/>
        </div>
        <div class="tt-rentacar-search-time">
            <input type="text"
                   ng-model='query.startTime'
                   ng-change="onChangeDepartureTime()"
                   timepicker="10:00"/>
        </div>
    </div>
    <div class="tt-rentacar-search-dates">
        <div class="tt-rentacar-search-date">
            <input name='startDate' type='text'
                   datepicker start-date='+1d'
                   ng-model='query.endDate'
                   required placeholder='&zwj;End date&zwj;'/>
        </div>
        <div class="tt-rentacar-search-time">
            <input type="text"
                   ng-model='query.endTime'
                   ng-change="onChangeDepartureTime()"
                   timepicker="10:00"/>
        </div>
    </div>
    <div class="tt-rentacar-search-locations">
        <span>I live in</span>
        <select combobox='countries'
                ng-model="query.country"
                ng-options="c for c in countries">
            <option style="display:none" value="">&zwj;Select country&zwj;</option>
        </select>
    </div>
    {{rentacarSearchStage}}
    <div class="tt-insurance-search-button" ng-click="runSearch();">Search</div>
    <div class="tt-search-form-end"></div>
</div>