<div class='tt-booking-next' ng-click='gotoStage2();'>&zwj;Перейти на шаг 3&zwj;</div>
<div class='tt-booking-cancel' ng-click='gotoStage(0);'>&zwj;Отменить бронирование и вернуться к результатам поиска&zwj;</div>