<table class='tt-booking-content-header'>
    <tbody>
    <tr>
        <td class='tt-booking-content-title' ng-if='booking.hasFlights'>
            <i class='el-icon-group'></i><span>&zwj;Данные пассажиров как в паспорте&zwj;</span>
        </td>
        <td class='tt-booking-content-title' ng-if='!booking.hasFlights'>
            <i class='el-icon-group'></i><span>&zwj;Данные как в паспорте&zwj;</span>
        </td>
        <td class='tt-booking-content-title tt-booking-content-magic tt-booking-normal tt-align-right' ng-if='profileStage == false'>
            <i class='el-icon-magic'></i>
            <span data-toggle="modal" data-target="#tt-booking-dialog-magic">&zwj;Преимущества зарегистрированных пользователей&zwj;</span>
        </td>
        <td class='tt-booking-content-title tt-booking-content-auth tt-booking-normal tt-align-right' ng-if='profileStage == false'>
            <a href='#' ng-click='profileLogin();'><i class='el-icon-off'></i><span>&zwj;Войти&zwj;</span></a>
        </td>
    </tr>
    </tbody>
</table>
<div class="modal fade tt-align-left" id="tt-booking-dialog-magic" tabindex="-1" role="dialog" aria-labelledby="tt-booking-dialog-magic-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="tt-booking-dialog-magic-title">&zwj;Преимущества зарегистрированных пользователей&zwj;</h4>
			</div>
			<div class="modal-body">&zwj;Список приемуществ&zwj;</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">&zwj;Закрыть&zwj;</button>
			</div>
		</div>
	</div>
</div>