<i ng-if="booking.help.passengers.length > 0" class='el-icon-address-book' data-toggle="dropdown"></i>
<ul class="dropdown-menu" role="menu">
	<li ng-repeat='person in booking.help.passengers'>
		<a style="cursor: pointer" ng-click='selectPax(person, pax);'>
			<i class='el-icon-{{person.sex}}'></i>&nbsp;
			<span>{{person.surname}}</span>&nbsp;
			<span>{{person.name}}</span>
		</a>
	</li>
</ul>