<div class="tt-booking-wizard">
	<div ng-if="bookingState == 'PAXES' || bookingState == 'FORM'">
		<div class="tt-process">
			<div class="tt-stage">
				<div class="tt-num">1</div>&nbsp;
				<div class="tt-title" ng-click="cancelBooking();">&zwj;Результаты поиска&zwj;</div>
			</div>
			<div class="tt-stage" ng-click="changeBookingState('PAXES');" ng-class="bookingState == 'PAXES' ? 'tt-active' : ''">
				<div class="tt-num">2</div>&nbsp;
				<div class="tt-title">&zwj;Данные пассажиров&zwj;</div>
			</div>
			<div class="tt-stage" ng-class="bookingState == 'FORM' ? 'tt-active' : ''">
				<div class="tt-num">3</div>&nbsp;
				<div class="tt-title">&zwj;Оформление заказа&zwj;</div>
			</div>
		</div>
		<flightbookingdigest></flightbookingdigest>
	</div>
	<flightbookingpaxes ng-if="bookingState == 'PAXES'"></flightbookingpaxes>
	<flightbookingform ng-if="bookingState == 'FORM'"></flightbookingform>
	<flightbookingpayment ng-if="bookingState == 'PAYMENT'"></flightbookingpayment>
	<flightbookingconfirm ng-if="bookingState == 'CONFIRM'"></flightbookingconfirm>
</div>
<div class="hide tt-unavailable">
    &zwj;Извините, но данный полет недоступен для бронирования. Вернитесь в результаты поиска и выберите другой продукт.&zwj;
</div>