<div class="panel panel-default tt-confirm">
	<div class="panel-body">
		<div class="tt-header">
			<div class="tt-title">
				<i class="el-icon-ok-circle"></i> &zwj;Подтверждение заказа #{{product.docketId}}&zwj;
			</div>
			<div class="tt-thanks">
				&zwj;Уважаемый {{product.person.name}} {{product.person.surname}}, администрация сайта {{product.confirm.affiliate}} благодарна Вам, за успешно сделанный заказ регулярного полета.&zwj;
			</div>
		</div>
		<div class="tt-title">
			<i class="el-icon-plane"></i> &zwj;Регулярный полет&zwj;
		</div>
		<div class="tt-body">
			<div class="tt-item" ng-repeat="item in product | flightsRow" ng-class="$index == 1 ? 'tt-round' : ''">
				<div class="tt-segment" ng-repeat="segment in item" ng-class="$index == 1 ? 'tt-next' : ''">
					<div ng-if="$index > 0" class="tt-connection">
						<b>&zwj;Пересадка:&zwj;</b>
						<span>&zwj;{{segment.departure.airport.location.name}}, {{segment.departure.airport.name}}, терминал {{segment.departure.airport.code}} / {{segment.departure.terminal}},&zwj;</span>
						<span>&zwj;время ожидания:&zwj;</span>
						<b>{{item[$index - 1].connectionTime | flightsDuration}}</b>
					</div>
					<div class="tt-icon">
						<img ng-src="//static.trip-top.com/triptop/gallery/triptop-gallery/images/air/{{segment.airline.code | lowercase}}.jpg">
					</div>
					<div class="tt-flight">
						<div class="tt-route">
							<div class="tt-location">
								<span class="tt-name">{{segment.departure.airport.location.name}}</span>
								<span class="tt-code" ng-if="segment.departure.terminal">{{segment.departure.airport.code}} / {{segment.departure.terminal}}</span>
								<span class="tt-code" ng-if="!segment.departure.terminal">{{segment.departure.airport.code}}</span>
							</div>
							<div class="tt-time">
								{{segment.departure.time | date:'dd.MM.yyyy, HH:mm'}}
							</div>
						</div>
						<div class="tt-route">
							<div class="tt-location">
								<span class="tt-name">{{segment.arrival.airport.location.name}}</span>
								<span class="tt-code" ng-if="segment.arrival.terminal">{{segment.arrival.airport.code}} / {{segment.arrival.terminal}}</span>
								<span class="tt-code" ng-if="!segment.arrival.terminal">{{segment.arrival.airport.code}}</span>
							</div>
							<div class="tt-time">
								{{segment.arrival.time | date:'dd.MM.yyyy, HH:mm'}}
							</div>
						</div>
						<div class="tt-aircraft">
							<div class="tt-value">
								&zwj;Рейс {{segment.airline.code}}{{segment.flightNumber}}&zwj;
							</div>
							<div class="tt-details">
								{{segment.aircraft.manufacturer}} {{segment.aircraft.name}}
							</div>
						</div>
						<div class="tt-duration">
							<div class="tt-value">
								&zwj;В пути&zwj;
							</div>
							<div class="tt-details">
								{{segment.flightTime | flightsDuration}}
							</div>
						</div>
						<div class="tt-desc">
							<i class="el-icon-plane"></i>
							<b>&zwj;Отправление:&zwj;</b>
							<span>&zwj;{{segment.departure.time | date:'dd.MM.yyyy, HH:mm'}}, {{segment.departure.airport.location.name}}, {{segment.departure.airport.name}}, терминал {{segment.departure.airport.code}} / {{segment.departure.terminal}}, рейс {{segment.airline.name}} {{segment.airline.code}}{{segment.flightNumber}}&zwj;</span>
							<br/>
							<b>&zwj;Прибытие:</b>
							<span>&zwj;{{segment.arrival.time | date:'dd.MM.yyyy, HH:mm'}}, {{segment.arrival.airport.location.name}}, {{segment.arrival.airport.name}}, терминал {{segment.arrival.airport.code}} / {{segment.arrival.terminal}}&zwj;</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tt-data">
			<div>
				<div ng-if="product.confirm.pnrs">
					&zwj;PNR: {{product.confirm.pnrs}}&zwj;
				</div>
				<div ng-if="!product.confirm.pnrs">
					&zwj;Заказ #{{product.docketId}}&zwj;
				</div>
				<div class="tt-price tt-total">
					<label>&zwj;Общая стоимость:&zwj;</label>
					<p class="tt-total">
						{{product | totalPrices}}
					</p>
				</div>
				<div class="tt-price" ng-init="price = product.onlinePrice">
					<label>&zwj;Детали стоимости:&zwj;</label>
					<p ng-if="price.fare > 0.">
						&zwj;Тариф: {{price.fare | prices:price.currencyCode}}&zwj;
					</p>
					<p ng-if="price.tax > 0.">
						&zwj;Сборы: {{price.tax | prices:price.currencyCode}}&zwj;
					</p>
					<p ng-if="product.bookingType == 'CARD' && price.onlineMarkup > 0.">
						&zwj;Оплата картой: {{price.onlineMarkup | prices:price.currencyCode}}&zwj;
					</p>
					<p ng-if="price.manualMarkup > 0.">
						&zwj;Комиссия агента: {{price.manualMarkup | prices:price.currencyCode}}&zwj;
					</p>
				</div>
			</div>
		</div>
		<div class="tt-title">
			<i class="el-icon-group"></i> &zwj;Данные пассажиров&zwj;
		</div>
		<div class="tt-paxes" ng-repeat="pax in product.paxes">
			<div class="tt-pax">
				<i class="el-icon-adult"></i>&nbsp;
				<span ng-if="pax.sex == 'male'">
					&zwj;Мистер {{pax.name}} {{pax.surname}}, дата рождения {{pax.birthday | date:'dd.MM.yyyy'}}.&zwj;
				</span>
				<span ng-if="pax.sex == 'female'">
					&zwj;Мисс {{pax.name}} {{pax.surname}}, дата рождения {{pax.birthday | date:'dd.MM.yyyy'}}.&zwj;
				</span>
				<span ng-if="product.docRequired == true">
					&zwj;Документ #{{pax.docnum}} до {{pax.docdate | date:'dd.MM.yyyy'}}&zwj;
				</span>
			</div>
		</div>
		<div class="tt-title" ng-if="product.confirm.documents">
			<i class="el-icon-paper-clip"></i> &zwj;Документы&zwj;
		</div>
		<div class="tt-docs" ng-if="product.confirm.documents && product.confirm.documents.length > 0">
			<button class="btn btn-link tt-doc" ng-repeat="document in product.confirm.documents" ng-click="openDocument(document.id);">
				<i class="el-icon-paper-clip"></i>&nbsp;
                <span ng-if="document.type == 'Voucher'">&zwj;Ваучер&zwj;</span>
                <span ng-if="document.type == 'Invoice'">&zwj;Счет&zwj;</span>
                <span ng-if="document.type == 'Confirmation'">&zwj;Подтверждение заказа&zwj;</span>
                <span ng-if="document.type == 'ClientVoucher'">&zwj;Ваучер&zwj;</span>
                <span ng-if="document.type == 'Discount'">&zwj;Скидка&zwj;</span>
                <span ng-if="document.type == 'Remarks'">&zwj;Ремарки&zwj;</span>
                <span ng-if="document.type == 'FareRules'">&zwj;Правила тарифа&zwj;</span>
			</button>
		</div>
		<div class="tt-title">
			<i class="el-icon-info-sign"></i> &zwj;К вашему сведению&zwj;
		</div>
		<div class="tt-footer">
            &zwj;When to Arrive at the Airport Advisory:<br/>Security measures are in place which necessitate an earlier arrival. See Security Checkpoints for details.<br/>To get a general idea of when you should arrive at the airport, add the required check-in time below to the current security wait time.<br/>If you are traveling as a Delta customer on one of our codeshare partners, check in with that codeshare carrier for their security check-in requirements. Security Check-in Requirements from U.S. Cities, Puerto Rico, and the U.S. Virgin Islands We recommend you arrive at the airport 75 minutes prior to departure for travel within the U.S. (must be checked in 30 minutes prior to departure). If you're traveling within the United States and you're checking bags, your baggage must be present at the check-in counter and checked in at least 30 minutes before your scheduled departure time.&zwj;
		</div>
	</div>
</div>