<div class="tt-payment">
	<div class="tt-wrap">
		<div class="panel panel-default tt-panel">
			<div class="panel-body">
				<div class="tt-header">
					<div class="tt-title">
					    <i class="el-icon-shopping-cart"></i> &zwj;Пожалуйста проверьте выбранный полет и завершите заказ оплатой банковской  картой&zwj;
					    <i class="el-icon-remove-circle tt-close" ng-click="closePayment();"></i>
					</div>
				</div>
				<div class="tt-body">
					<div class="tt-title">
						<i class="el-icon-list-alt"></i> &zwj;Оплата заказа #{{product.docketId}}&zwj;
					</div>
					<div class="tt-price" ng-init="price = product.onlinePrice">
						<div ng-if="price.fare > 0.">
							<label>&zwj;Тариф&zwj;</label>
							<p>{{price.fare | prices:price.currencyCode}}</p>
						</div>
						<div ng-if="price.tax > 0.">
							<label>&zwj;Сборы&zwj;</label>
							<p>{{price.tax | prices:price.currencyCode}}</p>
						</div>
						<div ng-if="product.bookingType == 'CARD' && price.onlineMarkup >  0.">
							<label>&zwj;Комиссия оплаты картой&zwj;</label>
							<p>{{price.onlineMarkup | prices:price.currencyCode}}</p>
						</div>
						<div ng-if="price.manualMarkup > 0.">
							<label>&zwj;Дополнительная комиссия&zwj;</label>
							<p>{{price.manualMarkup | prices:price.currencyCode}}</p>
						</div>
						<div>
							<label>&zwj;Итого к оплате&zwj;</label>
							<p class="tt-total">{{product | totalPrices}}</p>
						</div>
					</div>
					<div class="tt-title">
						<i class="el-icon-plane"></i> &zwj;Регулярный полет&zwj;
					</div>
					<div class="tt-content">
						<div class="tt-item" ng-repeat="item in product | flightsRow" ng-class="$index == 1 ? 'tt-round' : ''">
							<div class="tt-icon" ng-init="firstSegment = firstSegment(item);">
								<img ng-src="//static.trip-top.com/triptop/gallery/triptop-gallery/images/air/{{firstSegment.airline.code | lowercase}}.jpg">
							</div>
							<div class="tt-flight">
								<div class="tt-route">
									<div class="tt-location">
										<span class="tt-name">{{firstSegment.departure.airport.location.name}}</span>
										<span class="tt-code">{{firstSegment.departure.airport.code}}</span>
									</div>
									<div class="tt-time">
										{{firstSegment.departure.time | date:"dd.MM.yyyy, HH:mm"}}
									</div>
								</div>
								<div class="tt-route" ng-init="lastSegment = lastSegment(item);">
									<div class="tt-location">
										<span class="tt-name">{{lastSegment.arrival.airport.location.name}}</span>
										<span class="tt-code">{{lastSegment.arrival.airport.code}}</span>
									</div>
									<div class="tt-time">
										{{lastSegment.arrival.time | date:"dd.MM.yyyy, HH:mm"}}
									</div>
								</div>
								<div class="tt-changes">
									<div class="tt-value">
										<span ng-pluralize count="{{item.length - 1}}"
											when="{'0': '&zwj;Без пересадок&zwj;',
												'1': '&zwj;Одна пересадка&zwj;',
												'other': '&zwj;{} пересадок&zwj;'}"></span>
									</div>
									<div class="tt-details">
										{{item | flightsChangesDetail}}
									</div>
								</div>
								<div class="tt-duration">
									<div class="tt-value">
										&zwj;В пути&zwj;
									</div>
									<div ng-if="$index == 0" class="tt-details">
										{{product.outFlightTime | flightsDuration}}
									</div>
									<div ng-if="$index == 1" class="tt-details">
										{{product.inFlightTime | flightsDuration}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tt-footer">
						<span>&zwj;Пассажиры:&zwj;&nbsp;</span>
						<span ng-if="querySet.paxes.adults > 0" ng-pluralize count="{{querySet.paxes.adults}}"
							when="{'1': '&zwj;1 взрослый&zwj;',
									'other': '&zwj;{} взрослых&zwj;'}"></span>
						<span ng-if="querySet.paxes.children > 0" ng-pluralize count="{{querySet.paxes.children}}"
							when="{'1': '&zwj;1 ребенок&zwj;',
									'2': '&zwj;{} ребенка&zwj;',
									'3': '&zwj;{} ребенка&zwj;',
									'4': '&zwj;{} ребенка&zwj;',
									'other': '&zwj;{} детей&zwj;'}"></span>
						<span ng-if="querySet.paxes.infants > 0" ng-pluralize count="{{querySet.paxes.infants}}"
							when="{'1': '&zwj;1 младенец&zwj;',
									'2': '&zwj;{} младенца&zwj;',
									'3': '&zwj;{} младенца&zwj;',
									'4': '&zwj;{} младенца&zwj;',
									'other': '&zwj;{} младенцев&zwj;'}"></span>
					</div>
				</div>
				<div class="tt-portal">
					<img ng-show="paymentState === 'WAITING'" ng-src="{{imgDir}}/loader.gif"/>
					<div ng-show="paymentState === 'READY' || paymentState === 'COMPLETE'">
						<div class="tt-currency">
							<label>&zwj;Валюта платежа&zwj;:</label>
							<select class="form-control input-sm" selectize="product.paymentPrices.currencyCode" method="paymentCurrency">
								<option value='USD'>&zwj;US Dollar (USD)&zwj;</option>
								<option value='EUR'>&zwj;Euro (EUR)&zwj;</option>
								<option value='ILS'>&zwj;Sheqel (ILS)&zwj;</option>
							</select>
						</div>
						<iframe iframe-onload="iframeLoadedCallBack()" frameborder="0" scrolling="no" ng-src="{{product.frameUrl}}"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>