<table ng-repeat="product in booking.products" class="tt-service-entry" width="95%">
    <tr>
        <td width="100%" bgcolor="white">
            <table>
                <tr class="tt-service-entry-header">
                    <td>&nbsp;&nbsp;</td>
                    <td>{{product.title}}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr class="tt-service-header">
                    <td>&nbsp;</td>
                    <td>&zwj;City&zwj;</td>
                    <td>&zwj;Check in&zwj;</td>
                    <td>&nbsp;</td>
                    <td>&zwj;Check out&zwj;</td>
                    <td>&zwj;Room&zwj;</td>
                    <td>&zwj;Board&zwj;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tt-service-content">
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        {{product.location.name}}
                    </td>
                    <td>
                        {{product.dateIn | date: 'dd.MM.yyyy'}}
                    </td>
                    <td>
                        <img ng-src="{{bookingImgUrlBase}}/hotelbed.png"/>
                    </td>
                    <td>
                        {{product.dateIn | date: 'dd.MM.yyyy'}}
                    </td>
                    <td ng-init="productRoomType = product.room.type">
                        <hotelroomtype></hotelroomtype>
                    </td>
                    <td ng-init="productRoomBoarding = product.room.boarding">
                        <hotelroomboarding></hotelroomboarding>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
