<table width="100%">
    <tr>
        <td align="center" class="tt-header-header">
            &zwj;Your hotel booking confirmation&zwj;
            #{{booking.docketId}}
        </td>
    </tr>
    <tr>
        <td align="center" class="tt-subheader">
            &zwj;For hotel&zwj;
            "{{booking.products[0].title}}"
            &zwj;in&zwj;
            {{booking.products[0].location.name}},
            &zwj;from&zwj;&nbsp;
            {{booking.products[0].dateIn | date: 'dd.MM.yyyy'}}
            &nbsp;&zwj;till&zwj;&nbsp;
            {{booking.products[0].dateOut | date: 'dd.MM.yyyy'}}
        </td>
    </tr>
    <tr><td></td></tr>
    <tr>
        <td align="center" class="tt-header-small">
            &zwj;Voucher will be e-mailed to address provided by you within next 24 hours&zwj;
        </td>
    </tr>
    <tr>
        <td align="center" class="tt-header-red">
            <span ng-if="booking.products[0].cancellationDate">
                &zwj;Cancellation allowed without fees until&zwj;
                {{booking.products[0].cancellationDate | date: 'HH:mm dd.MM.yyyy'}}.
                &zwj;If cancelled after&zwj;
                {{booking.products[0].cancellationDate | date: 'HH:mm dd.MM.yyyy'}}.
                &zwj;, price for one night will be charged. Call 03-5171448 for info.&zwj;
            </span>
        </td>
    </tr>
</table>