<div class="tt-right">
	<div class="tt-link">
		<div ng-hide="showBonus" ng-click="openBonus()">
			<span>&nbsp;</span>
			<span ng-if="isMouseEnter || (pax.airline && pax.airline.card)">&zwj;Бонусная карта&zwj;</span>
			<span ng-if="isMouseEnter && !(pax.airline && pax.airline.card)">&nbsp;&zwj;авиакомпании&zwj;</span>
			<span ng-if="pax.airline && pax.airline.card">&nbsp;{{pax.airline.name}}</span>
			<span ng-if="pax.airline && pax.airline.card">&nbsp;{{pax.airline.card}}</span>
		</div>
		<div ng-show="showBonus" ng-click="closeBonus()">&zwj;Закрыть форму&zwj;</div>
	</div>
	<div class="tt-box" ng-show="showBonus">
		<label>&zwj;Авиакомпания&zwj;</label>
		<select class="form-control input-sm" selectize="pax.airline.code" method="airlines"></select>
		<label>&zwj;Номер карты&zwj;</label>
		<input class="form-control input-sm" ng-model="pax.airline.card"/>
		<button class="btn btn-info tt-apply" ng-click="hideBonus();">&zwj;Сохранить&zwj;</button>
	</div>
</div>