<i class='el-icon-book' data-toggle="dropdown"></i>
<ul class="dropdown-menu" role="menu">
	<li ng-repeat='passport in booking.help.passports'>
		<a ng-click='selectPassport(passport, pax);'>
			<i class='el-icon-book'></i>&nbsp;
			<span>{{passport.number}}</span>&nbsp;
			<span>{{passport.date | date:'dd.MM.yyyy'}}</span>
		</a>
	</li>
</ul>