<div class="tt-digest" ng-init="showDetails = false">
	<div class="tt-header">
		<div class="tt-title">
			<i class="el-icon-plane"></i> &zwj;Регулярный полет&zwj;
			<span ng-hide="showDetails" ng-click="showDetails = true">&zwj;Показать детали&zwj;</span>
			<span ng-show="showDetails" ng-click="showDetails = false">&zwj;Закрыть детали&zwj;</span>
		</div>
		<div class="tt-info">
			<i class="el-icon-bell"></i>
			<span ng-pluralize count="{{product | flightsSeatsAmount}}"
				when="{'1': '&zwj;Одно свободное место&zwj;',
						'2': '&zwj;{} свободных места&zwj;',
						'3': '&zwj;{} свободных места&zwj;',
						'4': '&zwj;{} свободных места&zwj;',
						'other': '&zwj;{} свободных мест&zwj;'}"></span>
		</div>
	</div>
	<div class="tt-content" ng-show="showDetails">
		<div class="tt-item" ng-repeat="item in product | flightsRow" ng-class="$index > 0 ? 'tt-round' : ''">
			<div class="tt-icon" ng-init="firstSegment = firstSegment(item);">
				<img ng-src="//static.trip-top.com/triptop/gallery/triptop-gallery/images/air/{{firstSegment.airline.code | lowercase}}.jpg">
			</div>
			<div class="tt-flight">
				<div class="tt-route">
					<div class="tt-location">
						<span class="tt-name">{{firstSegment.departure.airport.location.name}}</span>
						<span class="tt-code">{{firstSegment.departure.airport.code}}</span>
					</div>
					<div class="tt-time">
						{{firstSegment.departure.time | date:"dd.MM.yyyy, HH:mm"}}
					</div>
				</div>
				<div class="tt-route" ng-init="lastSegment = lastSegment(item);">
					<div class="tt-location">
						<span class="tt-name">{{lastSegment.arrival.airport.location.name}}</span>
						<span class="tt-code">{{lastSegment.arrival.airport.code}}</span>
					</div>
					<div class="tt-time">
						{{lastSegment.arrival.time | date:"dd.MM.yyyy, HH:mm"}}
					</div>
				</div>
				<div class="tt-changes">
					<div class="tt-value">
						<span ng-pluralize count="{{item.length - 1}}"
							when="{'0': '&zwj;Без пересадок&zwj;',
								'1': '&zwj;Одна пересадка&zwj;',
								'other': '&zwj;{} пересадок&zwj;'}"></span>
					</div>
					<div class="tt-details">
						{{item | flightsChangesDetail}}
					</div>
				</div>
				<div class="tt-duration">
					<div class="tt-value">
						&zwj;В пути&zwj;
					</div>
					<div ng-if="$index == 0" class="tt-details">
						{{product.outFlightTime | flightsDuration}}
					</div>
					<div ng-if="$index == 1" class="tt-details">
						{{product.inFlightTime | flightsDuration}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tt-footer">
		<div class="tt-info">
			<span>&zwj;Пассажиры:&zwj;&nbsp;</span>
			<span ng-if="querySet.paxes.adults > 0" ng-pluralize count="{{querySet.paxes.adults}}"
				when="{'1': '&zwj;1 взрослый&zwj;',
						'other': '&zwj;{} взрослых&zwj;'}"></span>
			<span ng-if="querySet.paxes.children > 0" ng-pluralize count="{{querySet.paxes.children}}"
				when="{'1': '&zwj;1 ребенок&zwj;',
						'2': '&zwj;{} ребенка&zwj;',
						'3': '&zwj;{} ребенка&zwj;',
						'4': '&zwj;{} ребенка&zwj;',
						'other': '&zwj;{} детей&zwj;'}"></span>
			<span ng-if="querySet.paxes.infants > 0" ng-pluralize count="{{querySet.paxes.infants}}"
				when="{'1': '&zwj;1 младенец&zwj;',
						'2': '&zwj;{} младенца&zwj;',
						'3': '&zwj;{} младенца&zwj;',
						'4': '&zwj;{} младенца&zwj;',
						'other': '&zwj;{} младенцев&zwj;'}"></span>
		</div>
		<div class="tt-price" ng-init="price = product.onlinePrice">
			<span>&zwj;Стоимость:&zwj;&nbsp;</span>
			<span>{{price.baseAmount | prices:price.currencyCode}}</span>
		</div>
	</div>
</div>