<p style="margin-bottom:0in;border:none;padding:0in">
<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><b>
	Terms and Conditions</b></font></font></font></p>
<p style="margin-bottom:0in"><br>
</p>
<p style="margin-bottom:0in;border:none;padding:0in">
<br>
</p>
<ol>
	<li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">
		The Company reserves the right, in its sole and absolute discretion, to refuse to accept any Booking and without giving any reason. The Company does not represent, warrant or undertake to be able to find a Driver or Vehicle or a suitable Vehicle for any enquiry.<b>Fares – General:</b></font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">
		All prices quoted:</font></font></font></p>
	<ol>
		<li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">
			are guide prices. Whilst the Company will endeavour to ensure quoted prices are not changed, this cannot be guaranteed. If, for example, there has been adverse weather conditions or major road blockages on the day the Vehicle Hire Services have been ordered for, Drivers may require a higher fare in view of, for example, the longer journey time. Customers should be aware that the fare for a journey will be higher during peak times, and over public or bank holidays. The onus shall be on the Customer to check with the Company (whether by telephone or checking the Website) on the day that the Vehicle Hire Services have been ordered to get confirmation of any change to the price;</font></font></font></p>
		</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">are	based on the details of the arrival and destination location and any pick-up or drop-offs en-route provided by the Customer to the Company at the time of the Booking. If the Customer or any Passenger wants to change any of the Journey Details then this will incur an additional charge. Where the Customer holds an account
		they must advise the Company of any changes rather than arranging through the Driver; and</font></font></font></p>
		</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">are based on a maximum of 4 Passengers in saloon or estate Vehicle Class and 6 Passengers in MPV Vehicle Class. Customers should check the Website for details of the baggage and any other appropriate capacity limits for the Vehicle Class ordered.</font></font></font></p>
	</li></ol>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">In most cases there is no VAT payable on the fare. If a receipt is required, then this should be requested from the Driver where the fare is being paid in cash to the Driver. For account Customers, VAT invoices will be issued in accordance with agreed credit terms, and such invoices will include VAT where applicable.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Other than account customers, all fares must be paid at the destination location as Booked. If it is not possible to reach the destination location, then the fare shall be paid at the nearest point to the destination location that the Driver is able to get to. All fares must be paid in full, without deduction setoff or counterclaim. If it becomes apparent to a Driver during the course of journey that the Customer or Passengers do not have the money to pay for the fare, for example because they cannot get cash out of a cash point machine, then the Driver has the right to terminate the journey, without any obligation to drive the Customer or Passengers to
	another location.<b>charges – </b></font></font></font>
	</p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">In respect of airport collections, Drivers will wait at the specified pick-up point for a maximum of one hour after the published arrival time of the flight, or if specified at the time of Booking, the specified collection time.&nbsp;<br>If a delay is longer than the 1 hour then:</font></font></font></p>
	<ol>
		<li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">prior to the end of this hour, the Customer should contact the Company and advise of the issue; and</font></font></font></p>
		</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">if no such contact has been made then the Company reserves the right to allocate the Driver to another job, and in such case the Customer will incur the full price of the Vehicle Hire Service.</font></font></font></p>
	</li></ol>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Company shall have the right to make any changes to the Vehicle Hire Services which are necessary to comply with any applicable law or safety requirement, or which do not materially affect the nature or quality of the Vehicle Hire Services, and the Company shall notify the Customer (or as the case may be the Passengers) in any such event.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Company does not provide any promise or assurance that the Booking App will be uninterrupted and error free.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Company is not responsible for any delays, delivery failures, or any other loss or damage from the transfer of data over communications networks and facilities, including the internet, and the Customer acknowledges that the Booking App may be subject to limitations, delays and other problems inherent in the use of such software.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Customer shall be responsible for the following:</font></font></font></p>
	<ol>
		<li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Allowing sufficient time for their journey to arrive at their destination location at the time they require.</font></font></font></p>
		<dd style="margin-bottom:0.21in;border:none;padding:0in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><b>a.&nbsp;</b>The date and time for the Vehicle Hire Services. When Booking, Customers should take particular care of time changes when travelling through different time zones, and time changes when daylight saving hours apply (i.e. the clocks going back or forwards as the case may be);</font></font></font></dd><dd style="margin-bottom:0.21in;border:none;padding:0in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><b>b.&nbsp;</b>The arrival and destination locations. If the location details are not reasonably clear of exactly where the Driver needs to be, then such further details should be provided to make this clear;</font></font></font></dd><dd style="margin-bottom:0.21in;border:none;padding:0in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><b>c.&nbsp;</b>Any other pick-up or drop-off routes;</font></font></font></dd><dd style="margin-bottom:0.21in;border:none;padding:0in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><b>d.&nbsp;</b>The number of Passengers;</font></font></font></dd><dd style="margin-bottom:0.21in;border:none;padding:0in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><b>e.&nbsp;</b>Details of any Property to be transported;; and</font></font></font></dd><dd style="margin-bottom:0.21in;border:none;padding:0in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><b>f.&nbsp;</b>Whether a baby seat is required. Customers should note that baby seats are not included in the Vehicle as standard. If a Customer does not mention it requires a baby seat at the time of Booking, then the Driver will not arrive with one. All Customers are recommended to call the Company to confirm Bookings where baby seats are required to confirm availability;</font></font></font></dd><dd style="margin-bottom:0.21in;border:none;padding:0in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><b>g.&nbsp;</b>The Vehicle Class required. Customers should visit the Website to determine the passenger and baggage capacity for the Vehicle Type ordered; and</font></font></font></dd></li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Allowing sufficient time for their journey to arrive at their destination location at the time they require.</font></font></font></p>
	</li></ol>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Customer and Passengers shall co-operate with the Company in all matters relating to the Vehicle Hire Services.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Customer and all Passengers shall ensure they are ready on time for collection at the specified arrival time and place as provided on the Booking.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">With the exception of guide dogs, no animals are permitted into Vehicles.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Customer and Passenger shall reimburse the Driver and Company in full and on demand for any reasonable expense incurred in the event that any Passenger vomits, soils, or otherwise causes any damage to a Vehicle or injury to the Driver. This shall include a reasonable charge in respect of the lost earnings of a Driver.</font></font></font><strong><font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><span style="font-weight:normal">CUSTOMER AND Passenger Property:</span></font></font></font></strong></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Company reserves the right, in its sole and absolute discretion, to refuse to carry any Property.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Customer and Passengers may not bring Property which:</font></font></font></p>
	<ol>
		<li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Exceeds the Company’s weight and size allowance. Apart from one small piece of hand-held luggage, all luggage and other Property must be able to fit safely and comfortably in the luggage section of the Vehicle;</font></font></font></p>
		</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">They would not be able to lift themselves;</font></font></font></p>
		</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Is hazardous or of an inflammable nature;</font></font></font></p>
		</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Is likely to cause damage to other Property, the Driver, the Vehicle or themselves; or</font></font></font></p>
		</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Is likely to cause injury or offence to other Passengers or the Driver.</font></font></font></p>
	</li></ol>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Customers and Passengers shall remain fully responsible for all their Property. The Company does not accept any responsibility for any loss or damage to any Property. The Customer and all Passengers should ensure all their Property is appropriately insured.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Customer and Passengers should ensure they have all their Property in their possession before leaving the Vehicle.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Neither the Company nor Drivers accept any responsibility for loss or damage to property whatsoever or howsoever arising. </font></font></font><strong><font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><span style="font-weight:normal">Customer and passenger SAFETY:</span></font></font></font></strong></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">All Customers and Passengers must act in a responsible and considerate manner with the Company and Drivers.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">For safety reasons Customers and Passengers must wear seat belts at all times when in the Vehicle.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">For safety reasons Customers and Passengers&nbsp;<b>must not:</b></font></font></font></p>
	<ol>
		<li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Smoke in any of the Driver’s Vehicles;</font></font></font></p>
		</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Consume alcohol or be in possession of an open container of alcohol;</font></font></font></p>
		</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Commit any crime that may affect other Passengers, the Driver or the Vehicle; and</font></font></font></p>
		</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Without the Company’s or the Driver’s written permission take flash photography whilst the Vehicle is moving or play any music or musical instrument.</font></font></font></p>
	</li></ol>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Company and the Driver may refuse to transport any person who in the Company’s or the Driver’s sole and absolute opinion is intoxicated or acting in any anti-social manner.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">From time to time, for Customer and Passenger personal safety the Driver’s Vehicle may be monitored by CCTV cameras. Images may be recorded and used for the purposes of crime prevention, legal proceedings and safety.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Children under the age of 16 shall not be permitted to travel alone. Children between 16 and 18 shall only be permitted to travel alone with the consent of their parent or guardian, such consent shall be presumed by the Company and Driver. If, however, a Driver believes a person is under 16 or does not have parental or guardian consent, then they may ask to see ID. Further, at the Driver’s sole and absolute discretion they may refuse to allow a passenger on board who they believe is under 16 or does not have parental or guardian consent. In such case the full fare for the journey will still be payable.
	.</font></font></font><strong><font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><span style="font-weight:normal">the relationship between the company and the driver:</span></font></font></font></strong></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">When providing the Vehicle Hire Services to the Customer and any Passengers the Company is acting as an agent for the Driver, for the purposes of introducing the Driver to the Customer and any Passengers.</font></font></font></p>
</li></ol>
<p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
<br><br>
</p>
<ol start="26">
	<li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Nothing in these Terms shall limit or exclude the Company's liability for:</font></font></font></p>
	<ol>
		<li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">death or personal injury caused by its negligence, or the negligence of its employees, agents or subcontractors; or</font></font></font></p>
		</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">fraud or fraudulent misrepresentation.</font></font></font></p>
	</li></ol>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Subject to clause 14.1:</font></font></font></p>
	<ol>
		<li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Neither the Company nor any of its staff shall be liable to the Customer or any Passengers for any loss, injury, damage, expense or delay incurred or suffered by the Customer or any Passengers arising directly or indirectly from or in any way connected with the Company or the Driver’s failure or delay to perform any of their obligations in these Terms. In particular, but without limiting the generality of the foregoing, the Company will not be liable for any loss, injury, damage, expense or delay suffered by a Customer or any Passenger arising from or in any way connected with:</font></font></font></p>
		<dd style="margin-bottom:0.21in;border:none;padding:0in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><b>a.&nbsp;</b>Any failure of a Driver to meet the Customer or any Passenger’s requirements for all or any of the purposes of the Vehicle Hire Services; or</font></font></font></dd><dd style="margin-bottom:0.21in;border:none;padding:0in">
		<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt"><b>b.&nbsp;</b>Any act or omission of a Driver, whether wilful, negligent, fraudulent, dishonest, reckless or otherwise.</font></font></font></dd></li></ol>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Company will not be liable to the Customer or any Passengers in contract, tort, negligence, breach of statutory duty or otherwise for any loss, damage, costs or expenses of any nature whatsoever incurred or suffered by the Customer or any Passengers of an indirect or consequential nature including without limitation any economic loss or other loss of turnover, profits, business or goodwill.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">The Customer and any Passengers will indemnify and hold harmless the Company from and against all Claims and Losses arising from loss, damage, liability, injury to the Company its employees and third parties by reason of or arising out of any loss, injury, damage, expense or delay suffered or incurred by the Driver arising directly or indirectly from or in any way connected with the acts and omissions of the Customer or any Passengers, whether wilful, negligent, fraudulent, dishonest, reckless or otherwise that arises directly or indirectly out of or in any way connected with the Vehicle Hire Services. ‘Claims’ will mean all demands, claims,
	proceedings, penalties, fines and liability (whether criminal or civil, in contract, tort or otherwise), and ‘Losses’ will mean all losses including without limitation financial losses, damages, legal costs and other expenses of any nature whatsoever.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Subject to clause 14.1, the Customer and any Passengers acknowledge that, in using the Vehicle Hire Services, that they do not do so in reliance on any representation, warranty or other provision except as expressly provided in these Terms, and any conditions, warranties or other terms implied by statute or common law are excluded from these Terms to the fullest extent permitted by law.</font></font></font></p>
</li></ol>
<p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
<br><br>
</p>
<ol start="31">
	<li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">A eference to a company shall include any company, corporation or other body corporate, wherever and however incorporated or established.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">Words in the singular shall include the plural and vice versa, and a reference to one gender shall include a reference to the other genders.</font></font></font></p>
	</li><li><p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	<font color="#444444"><font face="Arial, Helvetica, sans-serif"><font style="font-size:8pt">A reference to a statute or statutory provision is a reference to it as it is in force for the time being, taking account of any amendment, extension, or re-enactment and includes any subordinate legislation for the time being in force made under it.</font></font></font></p>
	<p style="margin-bottom:0.06in;border:none;padding:0in;line-height:0.15in">
	</p>
</li></ol>