<div class="tt-search-filter">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="tt-values-wide">
				<div class="tt-row-34">
					<label>&zwj;Стоимость: {{filterSet.price[0] | prices}} - {{filterSet.price[1] | prices}}&zwj;</label>
					<input slider="price" type="text"/>
				</div>
				<div class="tt-row-33">
					<label>&zwj;Название отеля&zwj;</label>
					<input type="text" class="form-control input-sm"/>
				</div>
				<div class="tt-row-33">
					<label>&zwj;Категория отеля&zwj;</label>
					<select class="form-control input-sm" selectize="query.rank">
						<option value="0">&zwj;Все категории&zwj;</option>
						<option value="1">&#9733;</option>
						<option value="2">&#9733;&#9733;</option>
						<option value="3">&#9733;&#9733;&#9733;</option>
						<option value="4">&#9733;&#9733;&#9733;&#9733;</option>
						<option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
					</select>
				</div>
				<div class="tt-row-25">
					<label>&zwj;Тип номера&zwj;</label>
					<select class="form-control input-sm" selectize="query.roomType">
						<option value="1">&zwj;Одноместный&zwj;</option>
						<option value="2">&zwj;Двухместный&zwj;</option>
						<option value="3">&zwj;Трехместный&zwj;</option>
						<option value="4">&zwj;Четырехместный&zwj;</option>
						<option value="5">&zwj;Двухместный (2 кровати)&zwj;</option>
						<option value="6">&zwj;Двухместный одному&zwj;</option>
						<option value="7">&zwj;Двухместный+реб.&zwj;</option>
						<option value="8">&zwj;Двухместный+2реб.&zwj;</option>
						<option value="9">&zwj;Двухместный+3реб.&zwj;</option>
					</select>
				</div>
				<div class="tt-row-25">
					<label>&zwj;Boarding&zwj;</label>
					<select class="form-control input-sm" selectize="query.roomType">
						<option value="1">&zwj;Одноместный&zwj;</option>
						<option value="2">&zwj;Двухместный&zwj;</option>
						<option value="3">&zwj;Трехместный&zwj;</option>
						<option value="4">&zwj;Четырехместный&zwj;</option>
						<option value="5">&zwj;Двухместный (2 кровати)&zwj;</option>
						<option value="6">&zwj;Двухместный одному&zwj;</option>
						<option value="7">&zwj;Двухместный+реб.&zwj;</option>
						<option value="8">&zwj;Двухместный+2реб.&zwj;</option>
						<option value="9">&zwj;Двухместный+3реб.&zwj;</option>
					</select>
				</div>
				<div class="tt-row-25">
					<label>&zwj;Сортировать&zwj;</label>
					<select class="form-control input-sm" selectize="filterSet.sort" method="sort">
						<option value="price">&zwj;По цене&zwj;</option>
						<option value="departure">&zwj;По времени отправления&zwj;</option>
						<option value="arrival">&zwj;По времени прибытия&zwj;</option>
					</select>
				</div>
				<div class="tt-row-25">
					<label>&zwj;Только доступные&zwj;</label>
					<select class="form-control input-sm" selectize="query.available">
						<option value="1">&zwj;Да&zwj;</option>
						<option value="2">&zwj;Нет&zwj;</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>