body {
  margin: 0;
  font-family: Arial;
  font-size: 12px;
  box-sizing: border-box;
  background-image: url(http://aviaru.co.il/images/hotels.jpg);
}
.tt-terminal-login {
  position: fixed;
  width: 100%;
  top: 45%;
  padding: 10px;
  background: rgba(51, 51, 51, 0.9);
  box-shadow: 0 0 5px #333;
}
.tt-terminal-login .tt-terminal-login-body {
  margin: 0 auto;
  width: 610px;
}
.tt-terminal-login .tt-terminal-login-body img {
  float: left;
}
.tt-terminal-login .tt-terminal-login-body .tt-terminal-login-form {
  float: left;
  padding: 10px 0;
}
.tt-terminal-login .tt-terminal-login-body .tt-terminal-login-form input,
.tt-terminal-login .tt-terminal-login-body .tt-terminal-login-form button {
  display: inline-block;
  margin-left: 10px;
}
.tt-terminal-login .tt-terminal-login-body .tt-terminal-login-form input {
  width: 160px;
}
.tt-terminal-login .tt-terminal-login-body .tt-terminal-login-form button {
  width: 66px;
}
.tt-terminal-login .tt-terminal-support-body {
  clear: both;
  width: 610px;
  margin: 0 auto;
}
.tt-terminal-login .tt-terminal-support-body .checkbox {
  float: left;
  margin: 0;
  margin-left: 190px;
  min-height: 16px;
}
.tt-terminal-login .tt-terminal-support-body .checkbox label {
  color: #FFF;
}
.tt-terminal-login .tt-terminal-support-body .checkbox input {
  margin-top: 0;
}
.tt-terminal-login .tt-terminal-support-body .tt-terminal-support-links {
  float: right;
}
.tt-terminal-login .tt-terminal-support-body .tt-terminal-support-links a {
  color: #FFF;
  margin: 0 5px;
}
.tt-terminal-content .tt-terminal-title {
  font-family: 'Special Elite';
}
