<div class="tt-search-filter">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="tt-airlines">
				<div class="tt-box" ng-class="displayAll ? 'tt-display' : ''">
					<label>
						<input type="checkbox" ng-model="filterSet.airlines.selected" ng-change="setSelectedAll()"> &zwj;Все авиакомпании&zwj;
					</label>
					<label ng-repeat="item in filterSet.airlines">
						<input type="checkbox" ng-model="item.selected" ng-change="setSelected(item)"> {{item.airline.name}}
						<span class="tt-price">{{item.price | prices}}</span>
					</label>
					<button type="button" class="btn btn-link tt-showall" ng-show="displayAll" ng-click="displayAll = false">
						&zwj;Скрыть все&zwj;
					</button>
				</div>
				<button type="button" class="btn btn-link tt-showall" ng-show="filterSet.airlines.length > 5" ng-click="displayAll = true">
					&zwj;Показать все ({{filterSet.airlines.length}})&zwj;
				</button>
			</div>
			<div class="tt-values">
				<div class="tt-row">
					<label>&zwj;Стоимость: {{filterSet.price[0] | prices}} - {{filterSet.price[1] | prices}}&zwj;</label>
					<input slider="price" type="text"/>
				</div>
				<div class="tt-row">
					<label>&zwj;Время отправления: {{filterSet.departure[0] | flightsTimeFormater}} - {{filterSet.departure[1] | flightsTimeFormater}}&zwj;</label>
					<input slider="departure" type="text"/>
				</div>
				<div class="tt-row">
					<label>&zwj;Продолжительность: {{filterSet.duration[0] | flightsTimeFormater}} - {{filterSet.duration[1] | flightsTimeFormater}}&zwj;</label>
					<input slider="duration" type="text"/>
				</div>
				<div class="tt-row">
					<label>&zwj;Время прибытия: {{filterSet.arrival[0] | flightsTimeFormater}} - {{filterSet.arrival[1] | flightsTimeFormater}}&zwj;</label>
					<input slider="arrival" type="text"/>
				</div>
				<div class="tt-row">
					<label>&zwj;Количество пересадок&zwj;</label>
					<select class="form-control input-sm" selectize="filterSet.stops" method="stops">
						<option value="0">&zwj;Без пересадок&zwj;</option>
						<option value="1">&zwj;Одна пересадка&zwj;</option>
						<option value="2">&zwj;Любое&zwj;</option>
					</select>
				</div>
				<div class="tt-row">
					<label>&zwj;Сортировать&zwj;</label>
					<select class="form-control input-sm" selectize="filterSet.sort" method="sort">
						<option value="price">&zwj;По цене&zwj;</option>
						<option value="departure">&zwj;По времени отправления&zwj;</option>
						<option value="arrival">&zwj;По времени прибытия&zwj;</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>