<flightflextable ng-if="flightFlexibleOn"></flightflextable>
<flightfilter ng-if="flightFilterOn"></flightfilter>
<div class="tt-search-results">
    <div ng-repeat="product in resultSet.visibleProducts" data-id="{{product.id}}">
        <div class="panel panel-default tt-row">
            <div class="panel-body">
                <div class="tt-deal" ng-repeat="row in product | flightsVisibleProducts:displayedSimilarProduct" ng-class="$index > 0 ? 'tt-similar' : ''">
                    <div class="tt-separator">&nbsp;</div>
                    <div class="tt-title">
                        <span class="tt-name">{{row.validatingCarrier.name}}</span>
                        <span class="tt-code">{{row.validatingCarrier.code}}</span>
                    </div>
                    <div class="tt-body">
                        <flightresultrow ng-hide="row.showDetails"></flightresultrow>
                        <flightresultrowdetails ng-if="row.showDetails"></flightresultrowdetails>
                    </div>
                    <div class="tt-control">
                        <div class="tt-info">
                            &zwj;Доступно мест: {{row | flightsSeatsAmount}}&zwj;
                        </div>
                        <div class="tt-price">
                            {{row.onlinePrice.baseAmount | prices}}
                        </div>
                        <button type="button" class="btn btn-warning tt-booking" ng-hide="package.flight" ng-click="addFlight(row);">
                            &zwj;Добавить&zwj;
                        </button>
                        <button type="button" class="btn btn-warning tt-booking" ng-show="package.flight" disabled="disabled">
                            &zwj;Добавить&zwj;
                        </button>
                        <button type="button" class="btn btn-link tt-details" ng-hide="row.showDetails" ng-click="showDetails(row);">
                            &zwj;Показать детали&zwj;
                        </button>
                        <button type="button" class="btn btn-link tt-details" ng-show="row.showDetails" ng-click="hideDetails(row);">
                            &zwj;Скрыть детали&zwj;
                        </button>
                        <button type="button" class="btn btn-info tt-rules" ng-show="row.showDetails" ng-click="showRules($event, row);">
                            &zwj;Правила тарифа&zwj;
                        </button>
                    </div>
                </div>
                <div class="tt-similar" ng-if="displayedSimilarProduct == product && displayedSimilarProduct.pagination && displayedSimilarProduct.pagination.amount > 1">
                    <ul class="pagination pagination-sm">
                        <li>
                            <span ng-click="loadSimilarPage(0);">&laquo;</span>
                        </li>
                        <li ng-repeat="page in [] | range:0:displayedSimilarProduct.pagination.amount" ng-class="displayedSimilarProduct.pagination.current == $index ? 'active' : ''">
                            <span ng-click="loadSimilarPage($index);">{{$index + 1}}</span>
                        </li>
                        <li>
                            <span ng-click="loadSimilarPage(displayedSimilarProduct.pagination.amount - 1);">&raquo;</span>
                        </li>
                    </ul>
                </div>
                <div class="tt-similar-wait" ng-if="product.similarState == 'WAITING'">
                    <img ng-src="{{imgDir}}/loader.gif"/>
                </div>
            </div>
        </div>
        <div class="tt-similar-show" ng-if="!product.displayedSimilarProduct && product.similarProductGroup && !product.similarProductGroup.gdsProductPrices && product.similarProductGroup.groupSize > 1">
            <div>&nbsp;</div><div>&nbsp;</div>
            <div ng-click="showSimilars(product);">
                <i class="el-icon-zoom-in"></i> &zwj;Показать {{product.similarProductGroup.groupSize}} предложений компании {{product.validatingCarrier.name}}&zwj;
            </div>
        </div>
        <div class="tt-similar-hide" ng-if="product.displayedSimilarProduct">
            <div ng-click="hideSimilars(product);">
                <i class="el-icon-zoom-out"></i> &zwj;Скрыть предложения компании {{product.validatingCarrier.name}}&zwj;
            </div>
        </div>
        <div class="tt-similar-show" ng-if="product.similarProductGroup && product.similarProductGroup.gdsProductPrices">
            <div ng-show="product.similarProductGroup.groupSize > 1">&nbsp;</div>
            <div ng-show="product.similarProductGroup.groupSize > 1">&nbsp;</div>
            <div ng-repeat="group in product.similarProductGroup.gdsProductPrices" ng-click="switchGdsGroup(product, group);" ng-class="{'tt-active': product.gds == group.gds, 'tt-inactive': product.gds != group.gds, 'tt-once': product.similarProductGroup.groupSize == 1}">
                {{group.gds}} - <b>{{group.price.baseAmount | prices}}</b>
            </div>
        </div>
    </div>
    <div class="alert alert-danger tt-nodata" role="alert" ng-if="!resultSet.visibleProducts || resultSet.visibleProducts.length == 0">
        <i class="el-icon-info-sign"></i> &zwj;Для выбранных условий фильтра, данных не найдено. Измените условия фильтра.&zwj;
    </div>
    <div class="tt-footer" ng-if="resultSet.visibleProducts && resultSet.pagination && resultSet.pagination.amount > 1">
        <div class="tt-records">&zwj;Предложения с {{(resultSet.pagination.current * resultSet.pagination.limit) + 1}} по {{(resultSet.pagination.current * resultSet.pagination.limit) + resultSet.visibleProducts.length}} из {{resultSet.total}}&zwj;</div>
        <ul class="pagination pagination-sm">
            <li>
                <span ng-click="loadPage(0);">&laquo;</span>
            </li>
            <li ng-repeat="page in [] | range:0:resultSet.pagination.amount" ng-class="resultSet.pagination.current == $index ? 'active' : ''">
                <span ng-click="loadPage($index);">{{$index + 1}}</span>
            </li>
            <li>
                <span ng-click="loadPage(resultSet.pagination.amount - 1);">&raquo;</span>
            </li>
        </ul>
    </div>
</div>