<div ng-form="insuranceForm" class="tt-insurance-search-form">
    <table class="tt-search-form-header">
        <tr>
            <td>
                <i class="el-icon-pencil"></i>
                &zwj;Детали желательного покрытия&zwj;
            </td>
        </tr>
    </table>
    <table>
        <tr class="tt-search-form-label-header">
            <td width="33%" id="tt-cover-label">
                &zwj;Покрытие&zwj;
            </td>
            <td width="17%">
                &zwj;Начало&zwj;
            </td>
            <td width="17%">
                &zwj;Конец&zwj;
            </td>
            <td width="34%"></td>
        </tr>
        <tr>
            <td width="33%">
                <select combobox='coverTypes'
                        class="form-control"
                        ng-model="query.options[0]"
                        ng-options="t for t in coverTypes">
                    <option style="display:none" value="">&zwj;Выберите покрытие&zwj;</option>
                </select>
            </td>
            <td width="17%">
                <input type='text'
                       name='startDate'
                       class='tt-insurance-selector-date form-control'
                       datepicker start-date='+1d'
                       ng-model='query.startDate'
                       required placeholder='&zwj;dd.mm.yyyy&zwj;'/>
            </td>
            <td width="17%">
                <input type='text'
                       name='endDate'
                       class='tt-insurance-selector-date form-control'
                       datepicker start-date='+1d'
                       ng-model='query.endDate'
                       required placeholder='&zwj;dd.mm.yyyy&zwj;'/>
            </td>
            <td width="34%"></td>
        </tr>
    </table>
    <!--<table>-->
        <!--<tr>-->
            <!--<td width="10%"></td>-->
            <!--<td>-->
                <!--<input type="checkbox" ng-model="query.options.flag1"/>-->
                <!--<span>&zwj;полиса без багажа&zwj;</span>-->
            <!--</td>-->
            <!--<td>-->
                <!--<input type="checkbox" ng-model="query.options.flag2"/>-->
                <!--<span>&zwj;продолжение госпитализации в Израиле&zwj;</span>-->
            <!--</td>-->
            <!--<td>-->
                <!--<input type="checkbox" ng-model="query.options.flag3"/>-->
                <!--<span>&zwj;дополнительная премия для Белоруссии&zwj;</span>-->
            <!--</td>-->
        <!--</tr>-->
    <!--/table-->
    <table class="tt-search-form-header">
        <tr>
            <td>
                <i class="el-icon-user"></i>
                &zwj;Данные ведущего пассажира&zwj;
            </td>
        </tr>
    </table>
    <table class="tt-insurance-address">
        <tr class="tt-search-form-label-header">
            <td width="33%">
                <table width="100%">
                    <tr>
                        <td width="30%">
                            Пол
                        </td>
                        <td width="70%">
                            &zwj;Имя&zwj;
                        </td>
                    </tr>
                </table>
            </td>
            <td width="33%">
                &zwj;Фамилия&zwj;
            </td>
            <td width="34%">
                &zwj;Номер документа&zwj;
            </td>
        </tr>
        <tr>
            <td width="33%">
                <table width="100%">
                    <tr>
                        <td width="30%">
                            <div class="btn-group btn-group-sm" data-toggle="buttons">
                                <label type="button"
                                       class="btn btn-default"
                                       ng-class="query.underwriter.gender == &quot;Male&quot; ? &quot;active&quot; : &quot;&quot;"
                                       ng-click="changePaxSex(&quot;Male&quot;);">
                                    <input type="radio"
                                           ng-model="query.underwriter.gender"
                                           name="sex0"
                                           value="Male"
                                           class="ng-pristine ng-valid">
                                    <b>M</b>
                                </label>
                                <label type="button"
                                       class="btn btn-default"
                                       ng-class="query.underwriter.gender == &quot;Female&quot; ? &quot;active&quot; : &quot;&quot;"
                                       ng-click="changePaxSex(&quot;Female&quot;);">
                                    <input type="radio"
                                           ng-model="query.underwriter.gender"
                                           name="sex0"
                                           value="Female"
                                           class="ng-pristine ng-valid">
                                    <b>F</b>
                                </label>
                            </div>
                        </td>
                        <td width="70%">
                            <input type="text"
                                   name="name"
                                   class="form-control"
                                   ng-model="query.underwriter.firstName"
                                   placeholder="&zwj;Имя&zwj;"
                                   ng-pattern="/^[a-zA-Z]+$/" required
                                   ng-keypress='latinNameEnter($event);'/>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="33%">
                <input type="text"
                       name="surname"
                       class="form-control"
                       ng-model="query.underwriter.lastName"
                       placeholder="&zwj;Фамилия&zwj;"
                       ng-pattern="/^[ a-zA-Z]+$/" required
                       ng-keypress='latinNameEnter($event);'/>
            </td>
            <td width="34%">
                <input type="text"
                       name="documentNum"
                       class="form-control"
                       ng-model="query.underwriter.passportNumber"
                       placeholder="&zwj;Номер документа&zwj;"
                       ng-pattern="/^[0-9][-0-9]*$/" required />
            </td>
        </tr>
        <tr class="tt-search-form-label-header">
            <td width="33%">
                &zwj;Город&zwj;
            </td>
            <td width="33%">
                &zwj;Адрес&zwj;
            </td>
            <td width="34%">
                &zwj;ZIP&zwj;
            </td>
        </tr>
        <tr>
            <td width="33%">
                <input type="text"
                       name="city"
                       class="form-control"
                       ng-model="query.underwriter.city"
                       placeholder="&zwj;Город&zwj;"
                       required />
            </td>
            <td width="33%">
                <input type="text"
                       name="address"
                       class="form-control"
                       ng-model="query.underwriter.address"
                       placeholder="&zwj;Адрес&zwj;"
                       required />
            </td>
            <td width="34%">
                <input type="text"
                       name="ZIP"
                       class="form-control"
                       ng-model="query.underwriter.zipCode"
                       placeholder="&zwj;ZIP-код&zwj;"
                       ng-pattern="/^[0-9]+$/" />
            </td>
        </tr>
        <tr class="tt-search-form-label-header">
            <td width="33%">
                &zwj;Телефон&zwj;
            </td>
            <td width="33%">
                &zwj;Моб.телефон&zwj;
            </td>
            <td width="34%">
                &zwj;Email&zwj;
            </td>
        </tr>
        <tr>
            <td width="33%">
                <input type="text"
                       name="phone"
                       class="form-control"
                       ng-model="query.underwriter.phone"
                       check-phone
                       placeholder="&zwj;Номер телефона&zwj;"/>
            </td>
            <td width="33%">
                <input type="text"
                       name="mobile"
                       class="form-control"
                       ng-model="query.underwriter.mobilePhone"
                       check-phone
                       placeholder="&zwj;Номер моб.телефона&zwj;"/>
            </td>
            <td width="34%">
                <input type="email"
                       class="form-control"
                       ng-model="query.underwriter.email"
                       placeholder="&zwj;Email&zwj;"
                       required=""/>
            </td>
        </tr>
    </table>
    <table class="tt-search-form-header">
        <tr>
            <td>
                <i class="el-icon-group"></i>
                <span>&zwj;Данные пассажиров (на английском)&zwj;</span>
            </td>
        </tr>
    </table>
    <table class="tt-insurance-paxes-header">
        <tr>
            <th width="15%">&zwj;Имя&zwj;</th>
            <th width="15%">&zwj;Фамилия&zwj;</th>
            <th width="11%">&zwj;Дата рождения&zwj;</th>
            <th width="11%">&zwj;Соревнования&zwj;</th>
            <th width="11%">&zwj;Дайвинг&zwj;</th>
            <th width="11%">&zwj;Зимний спорт&zwj;</th>
            <th width="11%">&zwj;Экстремальный спорт&zwj;</th>
            <th width="11%">&zwj;Ноутбук&zwj;</th>
            <th width="5%"></th>
        </tr>
        <table  class="tt-insurance-paxes" ng-repeat='row in query.paxes track by $index'>
            <tr>
                <th width="15%"></th>
                <th width="15%"></th>
                <th width="11%"></th>
                <th width="11%"></th>
                <th width="11%"></th>
                <th width="11%"></th>
                <th width="11%"></th>
                <th width="11%"></th>
                <th width="9%" style="display: none;"></th>
            </tr>
            <tr>
                <td widtd="15%">
                    <input type="text" class="form-control" ng-model="row.firstName" placeholder="&zwj;Имя&zwj;"/>
                </td>
                <td widtd="15%">
                    <input type="text" class="form-control" ng-model="row.lastName" placeholder="&zwj;Фамилия&zwj;"/>
                </td>
                <td widtd="11%">
                    <!--<select combobox='years'-->
                            <!--class="form-control"-->
                            <!--ng-model="row.birthday"-->
                            <!--ng-options="y for y in years">-->
                        <!--<option style="display:none" value="">&zwj;Год&zwj;</option>-->
                    <!--</select>-->
                    <input type='text'
                           name='birthday'
                           class='tt-insurance-selector-date tt-insurance-selector-bithday form-control'
                           datepicker start-date='-100y'
                           ng-model='row.birthday'
                           required placeholder='&zwj;dd.mm.yyyy&zwj;'/>
                </td>
                <td widtd="10%" style="text-align: center;">
                    <input type="checkbox" ng-model="row.competitionFlag"/>
                </td>
                <td widtd="10%" style="text-align: center;">
                    <input type="checkbox" ng-model="row.divingFlag"/>
                </td>
                <td widtd="10%" style="text-align: center;">
                    <input type="checkbox" ng-model="row.skiFlag"/>
                </td>
                <td widtd="10%" style="text-align: center;">
                    <input type="checkbox" ng-model="row.challengingSports"/>
                </td>
                <td widtd="10%" style="text-align: center;">
                    <input type="checkbox" ng-model="row.laptopFlag"/>
                </td>
                <td width="9%">
                    <button type="button"
                            class="tt-insurance-paxes-remove btn btn-default"
                            ng-show="query.paxes.length > 1"
                            ng-click="removePerson(row)"><span class="glyphicon glyphicon-minus"></span></button>
                </td>
            </tr>
            <tr id="competition" ng-show="row.competitionFlag">
                <td widtd="15%"></td>
                <td widtd="15%"></td>
                <td widtd="11%"></td>
                <td colspan="5">
                    <table width="100%">
                        <tr>
                            <td width="24%">
                                <b>&zwj;Соревнования&zwj;</b>
                            </td>
                            <td width="13%">
                                &zwj;Начало&zwj;
                            </td>
                            <td width="25%">
                                <input name='startDate' type='text'
                                       class='tt-insurance-selector-date form-control'
                                       datepicker start-date='+1d'
                                       ng-model='row.competitionStartDate'
                                       required placeholder='&zwj;dd.mm.yyyy&zwj;'/>
                            </td>
                            <td width="13%">
                                &zwj;Конец&zwj;
                            </td>
                            <td width="25%">
                                <input name='endDate' type='text'
                                       class='tt-insurance-selector-date form-control'
                                       datepicker start-date='+1d'
                                       ng-model='row.competitionEndDate'
                                       required placeholder='&zwj;dd.mm.yyyy&zwj;'/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="diving" ng-show="row.divingFlag">
                <td widtd="15%"></td>
                <td widtd="15%"></td>
                <td widtd="11%"></td>
                <td colspan="5">
                    <table width="100%">
                        <tr>
                            <td width="24%">
                                <b>&zwj;Дайвинг&zwj;</b>
                            </td>
                            <td width="13%">
                                &zwj;Начало&zwj;
                            </td>
                            <td width="25%">
                                <input name='startDate' type='text'
                                       class='tt-insurance-selector-date form-control'
                                       datepicker start-date='+1d'
                                       ng-model='row.divingStartDate'
                                       required placeholder='&zwj;dd.mm.yyyy&zwj;'/>
                            </td>
                            <td width="13%">
                                &zwj;Конец&zwj;
                            </td>
                            <td width="25%">
                                <input name='endDate' type='text'
                                       class='tt-insurance-selector-date form-control'
                                       datepicker start-date='+1d'
                                       ng-model='row.divingEndDate'
                                       required placeholder='&zwj;dd.mm.yyyy&zwj;'/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="ski"  ng-show="row.skiFlag">
                <td widtd="15%"></td>
                <td widtd="15%"></td>
                <td widtd="11%"></td>
                <td colspan="5">
                    <table width="100%">
                        <tr>
                            <td width="24%">
                                <b>&zwj;Зимний спорт&zwj;</b>
                            </td>
                            <td width="13%">
                                &zwj;Начало&zwj;
                            </td>
                            <td width="25%">
                                <input name='startDate' type='text'
                                       class='tt-insurance-selector-date form-control'
                                       datepicker start-date='+1d'
                                       ng-model='row.skiStartDate'
                                       required placeholder='&zwj;dd.mm.yyyy&zwj;'/>
                            </td>
                            <td width="13%">
                                &zwj;Конец&zwj;
                            </td>
                            <td width="25%">
                                <input name='endDate' type='text'
                                       class='tt-insurance-selector-date form-control'
                                       datepicker start-date='+1d'
                                       ng-model='row.skiEndDate'
                                       required placeholder='&zwj;dd.mm.yyyy&zwj;'/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="laptop" ng-show="row.laptopFlag">
                <td widtd="15%"></td>
                <td widtd="15%"></td>
                <td widtd="11%"></td>
                <td colspan="5">
                    <table width="100%">
                        <tr>
                            <td width="24%">
                                <b>&zwj;Ноутбук&zwj;</b>
                            </td>
                            <td width="13%">
                                &zwj;Год&zwj;
                            </td>
                            <td width="25%">
                                <select combobox='years'
                                        class="form-control"
                                        ng-model="row.laptop.year"
                                        ng-options="y for y in years">
                                    <option style="display:none" value="">&zwj;Год&zwj;</option>
                                </select>
                            </td>
                            <td width="13%">
                                &zwj;Модель&zwj;
                            </td>
                            <td width="25%">
                                <input name='endDate' type='text'
                                       class="form-control"
                                       ng-model='row.laptop.model'
                                       required placeholder='&zwj;Модель&zwj;'/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </table>
    <button type="button"
            class="tt-insurance-paxes-add btn btn-default"
            ng-show="query.paxes.length < 5"
            ng-click="addPerson();"><span class="glyphicon glyphicon-plus"></span>&zwj; Добавить пассажира&zwj;</button>
    {{showTotal}}
    <div class="tt-insurance-search-button-wrapper">
        <div class="tt-insurance-search-button" ng-click="runSearch();">&zwj;Заказать&zwj;</div>
    </div>
    <div class="tt-search-form-end"></div>
</div>
