<div class="tt-search-results-row" ng-click="showDetails(row);">
    <div class="tt-item" ng-repeat="item in row | flightsRow" ng-class="$index == 1 ? 'tt-round' : ''">
        <div class="tt-icon" ng-init="firstSegment = firstSegment(item);">
            <img ng-src="//static.trip-top.com/triptop/gallery/triptop-gallery/images/air/{{firstSegment.airline.code | lowercase}}.jpg">
        </div>
        <div class="tt-flight">
            <div class="tt-route">
                <div class="tt-location">
                    <span class="tt-name">{{firstSegment.departure.airport.location.name}}</span>
                    <span class="tt-code">{{firstSegment.departure.airport.code}}</span>
                </div>
                <div class="tt-time">
                    {{firstSegment.departure.time | date:'dd.MM.yyyy, HH:mm'}}
                </div>
            </div>
            <div class="tt-route" ng-init="lastSegment = lastSegment(item);">
                <div class="tt-location">
                    <span class="tt-name">{{lastSegment.arrival.airport.location.name}}</span>
                    <span class="tt-code">{{lastSegment.arrival.airport.code}}</span>
                </div>
                <div class="tt-time">
                    {{lastSegment.arrival.time | date:'dd.MM.yyyy, HH:mm'}}
                </div>
            </div>
            <div class="tt-changes">
                <div class="tt-value">
                    <span ng-pluralize count='{{item.length - 1}}'
                        when="{'0': '&zwj;Без пересадок&zwj;',
                                '1': '&zwj;Одна пересадка&zwj;',
                                'other': '&zwj;{} пересадок&zwj;'}"></span>
                </div>
                <div class="tt-details">
                    {{item | flightsChangesDetail}}
                </div>
            </div>
            <div class="tt-duration">
                <div class="tt-value">
                    &zwj;В пути&zwj;
                </div>
                <div ng-if="$index == 0" class="tt-details">
                    {{row.outFlightTime | flightsDuration}}
                </div>
                <div ng-if="$index == 1" class="tt-details">
                    {{row.inFlightTime | flightsDuration}}
                </div>
            </div>
        </div>
    </div>
</div>