<div class="panel panel-default tt-search-form">
	<div class="panel-heading">
		<i class="el-icon-plane"></i> &zwj;Поиск авиабилетов&zwj;
	</div>
	<div class="panel-body">
		<div class="row" ng-repeat="segment in query | flightsQuerySegments">
			<div class="col-lg type visible-xs col-xs-12" ng-if="$index == 0">
				<select class="form-control input-sm" selectize="query.tripType" method="tripType">
					<option value="1">&zwj;В одну сторону&zwj;</option>
					<option value="2">&zwj;Туда и обратно&zwj;</option>
					<option value="3">&zwj;Сложный маршрут&zwj;</option>
				</select>
			</div>
			<div ng-if="query.tripType < 3" class="tt-simple row col-xs-12 col-sm-10 col-md-10 col-lg-10">
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-4">
					<label>&zwj;Город вылета&zwj;</label>
					<select selectize="segment.from" method="airports" class="form-control input-sm" placeholder="&zwj;Город вылета&zwj;">
					</select>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-4">
					<label>&zwj;Город назначения&zwj;</label>
					<select selectize="segment.to" method="airports" class="form-control input-sm" placeholder="&zwj;Город назначения&zwj;">
					</select>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
					<label>&zwj;Дата вылета&zwj;</label>
					<!--<input name='time' type='text' class='form-control input-sm' placeholder='dd.mm.yyyy'-->
						<!--datepicker start-date='+0d' ng-model='segment.time' required ng-change="onChangeTime()"/>-->
					<input name='time' type='text' class='form-control input-sm' placeholder='dd.mm.yyyy'
						   jquery-datepicker months="2" start-date="+3d"
						   ng-model='segment.time' required ng-change="onChangeTime()"/>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
					<label>&zwj;Дата обратно&zwj;</label>
					<!--<input name='round' type='text' class='form-control input-sm' placeholder='dd.mm.yyyy'-->
						<!--datepicker start-date='+0d' ng-model='segment.round' ng-disabled="query.tripType == 1"/>-->
					<input name='round' type='text' class='form-control input-sm' placeholder='dd.mm.yyyy'
						   jquery-datepicker months="2"
						   ng-model='segment.round' ng-disabled="query.tripType == 1"/>
				</div>
			</div>
			<div ng-if="query.tripType == 3" class="tt-multi row col-xs-12 col-sm-10 col-md-10 col-lg-10" ng-class="$index > 0 ? 'tt-next' : ''">
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-4">
					<label>&zwj;Город вылета&zwj;</label>
					<select selectize="segment.from" method="airports" class="form-control input-sm" placeholder="&zwj;Город вылета&zwj;">
					</select>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-4">
					<label>&zwj;Город назначения&zwj;</label>
					<select selectize="segment.to" method="airports" class="form-control input-sm" placeholder="&zwj;Город назначения&zwj;">
					</select>
				</div>
				<div class="visible-xs col-xs-12 visible-sm col-sm-12" ng-if="$index > 0">&nbsp;</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
					<label>&zwj;Дата вылета&zwj;</label>
					<input type='text' class='form-control input-sm' placeholder='dd.mm.yyyy' datepicker ng-model='segment.time' required/>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2" ng-if="$index == 0">
					<button type="button" class="btn btn-link tt-add" ng-click="addSegment();">
						<i class="el-icon-plus"></i> &zwj;Добавить полет&zwj;
					</button>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2" ng-if="$index > 0">
					<button type="button" class="btn btn-link tt-remove" ng-click="removeSegment(segment)">
						<i class="el-icon-remove"></i>
					</button>
				</div>
			</div>
			<div class="type hidden-xs col-sm-2 col-md-2 col-lg-2" ng-if="$index == 0">
				<label>&zwj;</label>
				<select class="form-control input-sm" selectize="query.tripType" method="tripType">
					<option value="1">&zwj;В одну сторону&zwj;</option>
					<option value="2">&zwj;Туда и обратно&zwj;</option>
					<option value="3">&zwj;Сложный маршрут&zwj;</option>
				</select>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-lt" ng-if="$index > 0">&nbsp;</div>
		</div>
		<div class="row row-lt">
			<div class="row col-xs-12 col-sm-10 col-md-10 col-lg-10">
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-4">
					<label>&zwj;Класс&zwj;</label>
					<select class="form-control input-sm" selectize="query.flightClass">
						<option value="1">&zwj;Эконом&zwj;</option>
						<option value="2">&zwj;Бизнес&zwj;</option>
						<option value="3">&zwj;Премиум&zwj;</option>
						<option value="4">&zwj;Стандарт&zwj;</option>
						<option value="5">&zwj;Первый&zwj;</option>
					</select>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 tt-adults">
					<label>&zwj;Взрослые&zwj;</label>
					<select class="form-control input-sm" selectize="query.paxes.adults" options="0,1,2,3,4,5,6,7,8,9"></select>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 tt-children">
					<label>&zwj;Подростки&zwj;</label>
					<select class="form-control input-sm" selectize="query.paxes.children" options="0,1,2,3,4,5,6,7,8,9"></select>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 tt-infants">
					<label>&zwj;Дети&zwj;</label>
					<select class="form-control input-sm" selectize="query.paxes.infants" options="0,1,2,3,4,5,6,7,8,9"></select>
				</div>
				<div class="change col-xs-4 col-sm-4 col-md-3 col-lg-2">
					<label>&zwj;Количество пересадок&zwj;</label>
					<select class="form-control input-sm" selectize="query.stops">
						<option value="0">&zwj;Без пересадок&zwj;</option>
						<option value="1">&zwj;Одна пересадка&zwj;</option>
						<option value="2">&zwj;Любое&zwj;</option>
					</select>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="query.flexible"> &zwj;±1 день&zwj;
						</label>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-lt">
				<button type="button" class="btn btn-warning tt-submit" ng-click="runSearch()">&zwj;Поиск&zwj;</button>
			</div>
		</div>
	</div>
</div>
<div class="hide tt-notfound">
    &zwj;Извините, по вашему запросу результатов не найдено. Измените параметры запроса и выполните поиск еще раз.&zwj;
</div>
<div class="hide tt-corrupt">
    &zwj;Извините, но результаты поиска устарели. Поиск будет запущен повторно.&zwj;
</div>