<div class="tt-search-waiting tt-waiting">
    <div class="tt-wrap">
        <div class="panel panel-default tt-panel">
            <div class="panel-body">
                <img ng-src="{{imgDir}}/loader.gif"/>
                <div>&zwj;Мы ищем для вас регулярные полеты&zwj;:</div>
                <div>
                    <span>{{digest.from.location.name}}</span><span class="tt-code">{{digest.from.code}}</span> - 
                    <span>{{digest.to.location.name}}</span><span class="tt-code">{{digest.to.code}}</span>
                </div>
                <div>
                    <span>
                        &zwj;Вылет туда&zwj;: {{digest.time | date:"dd.MM.yyyy"}}
                    </span>
                    <span ng-if="digest.tripType == 2">
                        &zwj;и обратно&zwj;: {{digest.round | date:"dd.MM.yyyy"}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>