<div class="tt-search-flextable" ng-if="flexDatePrices.length == 9">
	<div class="tt-title">
		<i class="el-icon-th-list"></i> &zwj;Лучшие цены за выбранный период&zwj;
	</div>
	<div class="tt-table">
		<div class="tt-box-top tt-box-left">
			&nbsp;
		</div>
		<div class="tt-date tt-box-top">
			<label>
				{{flexDatePrices[0].departure | date:'dd.MM'}}
			</label>
		</div>
		<div class="tt-date tt-box-top tt-middle">
			<label>
				{{flexDatePrices[3].departure | date:'dd.MM'}}
			</label>
		</div>
		<div class="tt-date tt-box-top">
			<label>
				{{flexDatePrices[6].departure | date:'dd.MM'}}
			</label>
		</div>
		<div class="tt-date tt-box-left">
			<label>
				{{flexDatePrices[0].arrival | date:'dd.MM'}}
			</label>
		</div>
		<div class="tt-value tt-first" ng-click="selectFlexDate(0);" ng-class="selectedDate == 0 ? 'tt-active' : ''">
			<label>
				{{flexDatePrices[0].price | prices}}
			</label>
		</div>
		<div class="tt-value" ng-click="selectFlexDate(3);" ng-class="selectedDate == 3 ? 'tt-active' : ''">
			<label>
				{{flexDatePrices[3].price | prices}}
			</label>
		</div>
		<div class="tt-value" ng-click="selectFlexDate(6);" ng-class="selectedDate == 6 ? 'tt-active' : ''">
			<label>
				{{flexDatePrices[6].price | prices}}
			</label>
		</div>
		<div class="tt-date tt-box-left tt-middle">
			<label>
				{{flexDatePrices[1].arrival | date:'dd.MM'}}
			</label>
		</div>
		<div class="tt-value tt-first" ng-click="selectFlexDate(1);" ng-class="selectedDate == 1 ? 'tt-active' : ''">
			<label>
				{{flexDatePrices[1].price | prices}}
			</label>
		</div>
		<div class="tt-value tt-middle" ng-click="selectFlexDate(4);" ng-class="selectedDate == 4 ? 'tt-active' : ''">
			<label>
				{{flexDatePrices[4].price | prices}}
			</label>
		</div>
		<div class="tt-value" ng-click="selectFlexDate(7);" ng-class="selectedDate == 7 ? 'tt-active' : ''">
			<label>
				{{flexDatePrices[7].price | prices}}
			</label>
		</div>
		<div class="tt-date tt-box-left">
			<label>
				{{flexDatePrices[2].arrival | date:'dd.MM'}}
			</label>
		</div>
		<div class="tt-row tt-value tt-first tt-last" ng-click="selectFlexDate(2);" ng-class="selectedDate == 2 ? 'tt-active' : ''">
			<label>
				{{flexDatePrices[2].price | prices}}
			</label>
		</div>
		<div class="tt-row tt-value tt-last" ng-click="selectFlexDate(5);" ng-class="selectedDate == 5 ? 'tt-active' : ''">
			<label>
				{{flexDatePrices[5].price | prices}}
			</label>
		</div>
		<div class="tt-row tt-value tt-last" ng-click="selectFlexDate(8);" ng-class="selectedDate == 8 ? 'tt-active' : ''">
			<label>
				{{flexDatePrices[8].price | prices}}
			</label>
		</div>
	</div>
	<div class="tt-end"></div>
</div>
<div class="hide tt-notfound">
    &zwj;Извините, но дополнительных данных не найдено.&zwj;
</div>