<span class='tt-booking-paxes-options-link'>
	<div ng-if='!showBonus' ng-click='openBonus()'>
		<span>&nbsp;</span>
		<span ng-if='isMouseEnter || (pax.airline && pax.airlinecard)'>&zwj;Бонусная карта&zwj;</span>
		<span ng-if='isMouseEnter && !(pax.airline && pax.airlinecard)'>&nbsp;&zwj;авиакомпании&zwj;</span>
		<span ng-if='pax.airline && pax.airlinecard'>&nbsp;{{pax.valueairline}}</span>
		<span ng-if='pax.airline && pax.airlinecard'>&nbsp;{{pax.airlinecard}}</span>
	</div>
	<div ng-if='showBonus' ng-click='closeBonus()'>&zwj;Закрыть форму&zwj;</div>
</span>
<div class='form-group tt-align-left' ng-if='showBonus'>
	<label>&zwj;Авиакомпания&zwj;</label>
	<select class='form-control input-sm'
            ng-model='pax.tmpairline'
            ng-change='changeAirline();'
            ng-options='code as name for (code, name) in booking.help.airlines'>
            <option value=''></option>
	</select>
	<label>&zwj;Номер карты&zwj;</label>
	<input class='form-control input-sm' ng-model='pax.tmpairlinecard'>
	<div class='tt-booking-apply' ng-click='hideBonus();'>&zwj;Сохранить&zwj;</div>
</div>
