<span class='tt-booking-paxes-options-link'>
	<div ng-if='!showOptions' ng-click='openOptions(pax)'>
		<span ng-if='isMouseEnter && !pax.meals && !pax.specials'>&zwj;Дополнительные опции&zwj;</span>
		<span ng-if='pax.meals'>{{pax.valuemeals}}</span>
		<span ng-if='pax.meals && pax.specials'>&nbsp;+&nbsp;</span>
		<span ng-if='pax.specials'>{{pax.valuespecials}}</span>
		<span>&nbsp;</span>
	</div>
	<div ng-if='showOptions' ng-click='closeOptions(pax)'>&zwj;Закрыть дополнительные опции&zwj;</div>
</span>
<div class='form-group' ng-if='showOptions'>
	<label>&zwj;Питание&zwj;</label>
	<select class='form-control input-sm' ng-model='pax.tmpmeals' ng-change='changeMeal();' ng-options='m.id as m.name for m in meals'></select>
	<label>&zwj;Специальные услуги&zwj;</label>
	<select class='form-control input-sm' ng-model='pax.tmpspecials' ng-change='changeSpecial();' ng-options='s.id as s.name for s in specials'></select>
	<div class='tt-booking-apply' ng-click='hideOptions(pax);'>&zwj;Сохранить&zwj;</div>
</div>
