<table class='tt-payment-digest-header'>
    <tbody>
    <tr>
        <td class='tt-payment-digest-title'>
            <i class='el-icon-car'></i>
            <span>&zwj;Transfer&zwj;</span>
        </td>
    </tr>
    </tbody>
</table>
<table class='tt-payment-digest-footer'>
    <tr>
        <td colspan="5">&zwj;Shared transfer in&zwj;&nbsp;{{product.transfer.pickup.location.parent.name}}</td>
    </tr>
    <tr class='tt-payment-digest-title'>
        <td>&zwj;City&zwj;</td>
        <td>&zwj;From&zwj;</td>
        <td></td>
        <td>&zwj;To&zwj;</td>
        <td>&zwj;Transport&zwj;</td>
    </tr>
    <tr>
        <td>{{product.transfer.pickup.location.parent.name}}</td>
        <td>{{product.transfer.pickup.location.name}}, <br/>{{product.transfer.pickup.date | date: 'dd.MM.yyyy HH:mm'}}</td>
        <td class='tt-payment-digest-icon'>
            <i class='el-icon-arrow-right'></i>
        </td>
        <td>{{product.transfer.dropoff.location.name}}, <br/>{{product.transfer.dropoff.date | date: 'dd.MM.yyyy HH:mm'}}</td>
        <td>
            <span ng-if="product.transfer.vehicle.code == 'std'">&zwj;Private car&zwj;</span>
            <span ng-if="product.transfer.vehicle.code == 'tba'">&zwj;Bus&zwj;</span>
            <span ng-if="product.transfer.vehicle.code == 'ss2'">&zwj;Shared shuttle&zwj;</span>
            <span ng-if="product.transfer.vehicle.code == 'ss3'">&zwj;Shared shuttle&zwj;</span>
            <span ng-if="product.transfer.vehicle.code == 'mnv'">&zwj;Minivan&zwj;</span>
            <span ng-if="product.transfer.vehicle.code == 'mnb'">&zwj;Minibus&zwj;</span>
        </td>
    </tr>
</table>