<table class="tt-service-entry" width="95%">
    <tr>
        <td width="100%" bgcolor="white">
            <table>
                <tr>
                    <td>&nbsp;&nbsp;</td>
                    <td width="100%" class="tt-caption">
                        <span>&zwj;Private transfer in&zwj;</span>
                        {{product.city}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr class="tt-service-header">
                    <td width="3%">&nbsp;</td>
                    <td width="6%">&zwj;City&zwj;</td>
                    <td width="25%">&zwj;From&zwj;</td>
                    <td width="25%">&zwj;To&zwj;</td>
                    <td>&zwj;Transport&zwj;</td>
                    <td>&zwj;Passengers&zwj;</td>
                    <td>&zwj;No. of luggages&zwj;</td>
                </tr>
                <tr class="tt-service-content">
                    <td width="3%">&nbsp;</td>
                    <td>
                        {{product.city}}
                    </td>
                    <td>
                        {{product.locations[0].name}},<br/>
                        {{product.locations[0].time | date: 'dd.MM.yyyy'}}
                        <b>{{product.locations[0].time | date: 'HH:mm'}}</b>
                    </td>
                    <td>
                        {{product.locations[1].name}},<br/>
                        {{product.locations[1].time | date: 'dd.MM.yyyy'}}
                        <b>{{product.locations[1].time | date: 'HH:mm'}}</b>
                    </td>
                    <td>
                        <span ng-if="product.car == 'std'">&zwj;Private car&zwj;</span>
                        <span ng-if="product.car == 'tba'">&zwj;Bus&zwj;</span>
                        <span ng-if="product.car == 'ss2'">&zwj;Shared shuttle&zwj;</span>
                        <span ng-if="product.car == 'ss3'">&zwj;Shared shuttle&zwj;</span>
                        <span ng-if="product.car == 'mnv'">&zwj;Minivan&zwj;</span>
                        <span ng-if="product.car == 'mnb'">&zwj;Minibus&zwj;</span>
                        <span ng-if="product.car == 'lux'">&zwj;Luxury car&zwj;</span>
                        <span ng-if="product.car == 'mnc'">&zwj;Mini coach&zwj;</span>
                        <span ng-if="product.car == 'cch'">&zwj;Coach&zwj;</span>
                    </td>
                    <td>{{product.paxNumber}}</td>
                    <td>{{product.luggageNumber}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>