<table class='tt-booking-digest-header'>
    <tbody>
        <tr>
            <td class='tt-booking-digest-title'>
                <i class='el-icon-car'></i>
                <span>&zwj;Transfer&zwj;</span>
                <span class='tt-booking-digest-title-link'>
                    <span ng-if='!showDetails' ng-click='openDetails()'>&zwj;Показать детали&zwj;</span>
                    <span ng-if='showDetails' ng-click='hideDetails()'>&zwj;Закрыть детали&zwj;</span>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<table class='tt-booking-digest-content' ng-if='showDetails' border="0">
    <tr>
        <td align="center">&zwj;Transfer type&zwj;</td>
        <td></td>
        <td align="center">&zwj;Number of pass.&zwj;<br/>&zwj;per vehicle&zwj;</td>
        <td></td>
        <td align="center">&zwj;Total baggage allowed&zwj;</td>
        <td align="center">&zwj;Route duration&zwj;</td>
        <td align="center">&zwj;Direction&zwj;</td>
    </tr>
    <tr ng-repeat="product in booking.products">
        <td align="center">
            <img width="130px" ng-src="{{getImage(product.originalProduct.vehicle.code)}}"/>
            <br/>{{product.originalProduct.vehicle.name}}&nbsp;
            <img style="cursor: pointer" ng-click="onProductInfoClick(product.originalProduct)"
                 ng-src="{{imgUrlBase}}/info.png"/>
        </td>
        <td align="center">
            <img width="32px" ng-src="{{imgUrlBase}}/multiply.png"/>
        </td>
        <td align="center" ng-if="product.originalProduct.vehicle.minPax != product.originalProduct.vehicle.maxPax">
            <img width="33px" ng-src="{{imgUrlBase}}/pass.png"/>
            <br/>{{product.originalProduct.vehicle.minPax}} &minus; {{product.originalProduct.vehicle.maxPax}}
        </td>
        <td align="center" ng-if="product.originalProduct.vehicle.minPax == product.originalProduct.vehicle.maxPax">
            <img width="33px" ng-src="{{imgUrlBase}}/pass.png"/>
            <br/>{{product.originalProduct.vehicle.maxPax}}
        </td>
        <td align="center"><img width="32px" ng-src="{{imgUrlBase}}/plus.png"/></td>
        <td align="center">
            <img ng-src="{{imgUrlBase}}/baggage.png"/>
            <br/>
            {{product.originalProduct.vehicle.maxLuggage}}
        </td>
        <td align="center">
            <img ng-src="{{imgUrlBase}}/time.png"/>
            <br/>{{getDurationStr(product.originalProduct.transferDuration)}}
        </td>
        <td> 
            {{product.locations[0].name}} &#8594; {{product.locations[1].name}}
        </td>
    </tr>
</table>
<table class='tt-booking-digest-footer'>
    <tbody>
        <tr>
            <td class='tt-booking-digest-title tt-align-right'>
                <span>&zwj;Стоимость:&zwj;&nbsp;</span>
                <span>{{booking.prices | productprice:'total'}}</span>
            </td>
        </tr>
    </tbody>
</table>