<table width="100%">
    <tr>
        <td align="center" class="tt-header-header">
            &zwj;Your transfer booking confirmation&zwj; #{{booking.docketId}}
        </td>
    </tr>
    <tr>
        <td align="center" class="tt-subheader">&zwj;For transfer in&zwj;
            {{booking.products[0].city}},
            {{booking.products[0].locations[0].time | date: 'dd.MM.yyyy'}}
            <span ng-if="bookin.products.length > 1">
                &ndash;
                {{booking.products[1].locations[0].time | date: 'dd.MM.yyyy'}}
            </span>
        </td>
    </tr>
    <tr><td></td></tr>
    <tr>
        <td align="center" class="tt-header-small">
            &zwj;Voucher will be e-mailed to address provided by you within next 24 hours&zwj;
        </td>
    </tr>
    <tr>
        <td align="center" class="tt-header-red">
            &zwj;Free cancellation is possible not later then 60 hours before departure. Payment is not returned in cancellation is done later then 60 hours before departure&zwj;
        </td>
    </tr>
</table>