<table>
    <tr ng-if="confirm.confirmedServices.length > 0">
        <td class="tt-confirmation-content"><b>&zwj;Confirmed services&zwj;</b></td>
    </tr>
    <tr ng-repeat="product in confirm.confirmedServices">
        <td>
            &zwj;Transfer in&zwj; {{product.to}} &zwj;on&zwj; {{product.startTime}},<br>
            PNR: {{product.pnr}}
        </td>
    </tr>
    <tr ng-if="confirm.unconfirmedServices.length > 0">
        <td class="tt-confirmation-content"><b>&zwj;Unconfirmed services&zwj;</b></td>
    </tr>
    <tr ng-repeat="product in confirm.unconfirmedServices">
        <td>
            &zwj;Transfer in&zwj; {{product.to}} &zwj;on&zwj; {{product.startTime}}
        </td>
    </tr>
</table>