<div class='tt-booking-content'>
    <div class="tt-booking-paxes-content">
        <table class='tt-booking-transfers-data' ng-if="product.direction == 'direct'">
            <tr>
                <td>
                    <b>
                        &zwj;No. of paxes&zwj;:&nbsp;
                    </b>
                </td>
                <td width="80px">
                    <select class='form-control input-sm'
                        name='paxNumber'
                        ng-model='product.paxNumber'
                        ng-options='number for number in product.paxNumbers'
                        required>
                    </select>
                </td>
                <td align="right">
                    <b>&nbsp;&nbsp;&zwj;No. of luggages&zwj;:&nbsp;</b>
                </td>
                <td width="80px">
                    <select class='form-control input-sm'
                        name='luggageNumber'
                        ng-model='product.luggageNumber'
                        ng-options='number for number in product.luggageNumbers'
                        required>
                    </select>
                </td>
            </tr>
        </table>
        <table class='tt-booking-transfers-return' ng-if="product.direction == 'return'">
            <tr><td>&zwj;Return transfer details&zwj;:</td></tr>
        </table>
        <table class='tt-booking-transfers-data' width="100%">
            <tr ng-repeat-start='location in product.locations'>
                <td>
                    <span ng-if="location.type == 'PICKUP'"><b>&zwj;Pick up&zwj;</b></span>
                    <span ng-if="location.type == 'DROPOFF'"><b>&zwj;Drop off&zwj;</b></span>
                </td>
                <td ng-if="location.subType == 'AIRPORT'">
                    <b>&zwj;Airline&zwj;</b>
                </td>
                <td ng-if="location.subType == 'AIRPORT'">
                    <b>&zwj;Flight number&zwj;</b>
                </td>
                <td ng-if="location.subType == 'AIRPORT'">
                    <b>&zwj;Terminal&zwj;</b>
                </td>
                <td ng-if="location.subType == 'CENTER'">
                    <b>&zwj;Hotel name&zwj;</b>
                </td>
                <td ng-if="location.subType == 'CENTER'" colspan="2">
                    <b>&zwj;Hotel address&zwj;</b>
                </td>
                <td>
                    <b>&zwj;Comments&zwj;</b>
                </td>
            </tr>
            <tr ng-repeat-end>
                <td>
                    {{location.name}}
                </td>
                <td ng-if="location.subType == 'AIRPORT'">
                    <select
                        id="airline-{{product.direction}}"
                        class='form-control input-sm'
                        ng-model='location.airline'
                        ng-options="airline as airline.name for airline in product.airlines"/>
                </td>
                <td ng-if="location.subType == 'AIRPORT'">
                    <input size="5" type='text' 
                        id="flightNumber-{{product.direction}}"
                        class='form-control input-sm'
                        ng-model='location.flightNumber'/>
                </td>
                <td ng-if="location.subType == 'AIRPORT'">
                    <input size="5" type='text' 
                        class='form-control input-sm'
                        ng-model='location.terminal'/>
                </td>
                <td ng-if="location.subType == 'CENTER'">
                    <input size="35" type='text' 
                        id="hotelName-{{product.direction}}"
                        class='form-control input-sm'
                        ng-model='location.hotelName'/>
                </td>
                <td ng-if="location.subType == 'CENTER'" colspan="2">
                    <input size="22" type='text'
                        id="hotelAddress-{{product.direction}}"
                        class='form-control input-sm'
                        ng-model='location.hotelAddress'/>
                </td>
                <td>
                    <input size="35" type='text'
                        class='form-control input-sm'
                        ng-model='location.comments'/>
                </td>
            </tr>
        </table>
        <table class='tt-booking-paxes-options'>
            <tr><td></td></tr>
        </table>
    </div>
</div>
<bookingpaxesfooter ng-if='$last'></bookingpaxesfooter>