<option value=''></option>
<option value='132'>ברוניי דארוסאלאם</option>
<option value='319'>אוגנדה</option>
<option value='324'>אוזבקיסטן</option>
<option value='113'>אוסטריה</option>
<option value='112'>אוסטרליה</option>
<option value='320'>אוקראינה</option>
<option value='323'>אורוגוואי</option>
<option value='114'>אזרבייג'אן</option>
<option value='321'>איחוד האמירויות הערביות</option>
<option value='206'>איטליה</option>
<option value='317'>איי אוס מינור אאוטליין</option>
<option value='116'>איי הבאהאמה</option>
<option value='130'>איי הבתולה הבריטיים</option>
<option value='318'>איי הבתולה של ארצות הברית</option>
<option value='143'>איי התעלה</option>
<option value='328'>איי וואליס ופוטונה</option>
<option value='315'>איי טורקס וקאיקוס</option>
<option value='258'>איי מריאנה הצפוניים</option>
<option value='233'>איי מרשל</option>
<option value='288'>איי סיישל</option>
<option value='171'>איי פארו</option>
<option value='170'>איי פוקלנד</option>
<option value='147'>איי קומורו</option>
<option value='148'>איי קוק</option>
<option value='140'>איי קיימן</option>
<option value='293'>איי שלמה</option>
<option value='201'>אינדונזיה</option>
<option value='199'>איסלנד</option>
<option value='202'>איראן</option>
<option value='204'>אירלנד</option>
<option value='164'>אל סלבדור</option>
<option value='101'>אלבניה</option>
<option value='102'>אלג'יריה</option>
<option value='105'>אנגולה</option>
<option value='106'>אנגילה</option>
<option value='104'>אנדורה</option>
<option value='107'>אנטארקטיקה</option>
<option value='108'>אנטיגואה וברבודה</option>
<option value='168'>אסטוניה</option>
<option value='100'>אפגניסטן</option>
<option value='162'>אקוודור</option>
<option value='109'>ארגנטינה</option>
<option value='111'>ארובה</option>
<option value='167'>אריתריאה</option>
<option value='110'>ארמניה</option>
<option value='322'>ארצות הברית</option>
<option value='169'>אתיופיה</option>
<option value='125'>בהוטן</option>
<option value='128'>בוטסואנה</option>
<option value='133'>בולגריה</option>
<option value='126'>בוליביה</option>
<option value='127'>בוסניה והרצגובינה</option>
<option value='135'>בורונדי</option>
<option value='134'>בורקינה פאסו</option>
<option value='117'>בחריין</option>
<option value='120'>בלארוס</option>
<option value='121'>בלגיה</option>
<option value='122'>בליז</option>
<option value='118'>בנגלדש</option>
<option value='123'>בנין</option>
<option value='119'>ברבדוס</option>
<option value='129'>ברזיל</option>
<option value='165'>בריטניה</option>
<option value='124'>ברמודה</option>
<option value='158'>ג'יבוטי</option>
<option value='207'>ג'מייקה</option>
<option value='180'>גאבון</option>
<option value='182'>גאורגיה</option>
<option value='184'>גאנה</option>
<option value='191'>גואטמלה</option>
<option value='190'>גואם</option>
<option value='189'>גוואדלופה</option>
<option value='178'>גויאנה הצרפתית</option>
<option value='194'>גיאנה</option>
<option value='185'>גיברלטר</option>
<option value='192'>גינאה</option>
<option value='193'>גינאה ביסאו</option>
<option value='166'>גיניאה המשוונית</option>
<option value='181'>גמביה</option>
<option value='187'>גרינלנד</option>
<option value='183'>גרמניה</option>
<option value='188'>גרנדה</option>
<option value='159'>דומיניקה</option>
<option value='157'>דנמרק</option>
<option value='295'>דרום אפריקה</option>
<option value='195'>האיטי</option>
<option value='115'>האיים האזוריים</option>
<option value='250'>האנטילים ההולנדים</option>
<option value='200'>הודו</option>
<option value='249'>הולנד</option>
<option value='197'>הונג קונג</option>
<option value='198'>הונגריה</option>
<option value='196'>הונדורס</option>
<option value='160'>הרפובליקה הדומיניקנית</option>
<option value='156'>הרפובליקה הדמוקרטית של קונגו</option>
<option value='141'>הרפובליקה המרכז אפריקאית</option>
<option value='327'>ויאטנם</option>
<option value='325'>ונואטו</option>
<option value='326'>ונצואלה</option>
<option value='332'>זימבאבווה</option>
<option value='331'>זמביה</option>
<option value='306'>טג'קיסטן</option>
<option value='316'>טובאלו</option>
<option value='309'>טוגו</option>
<option value='310'>טונגה</option>
<option value='313'>טורקיה</option>
<option value='314'>טורקמניסטן</option>
<option value='305'>טייוואן</option>
<option value='307'>טנזניה</option>
<option value='311'>טרינידד וטובגו</option>
<option value='186'>יוון</option>
<option value='208'>יפן</option>
<option value='209'>ירדן</option>
<option value='205'>ישראל</option>
<option value='214'>כווית</option>
<option value='216'>לאוס</option>
<option value='218'>לבנון</option>
<option value='221'>לוב</option>
<option value='223'>לוקסמבורג</option>
<option value='217'>לטביה</option>
<option value='220'>ליבריה</option>
<option value='222'>ליטא</option>
<option value='9832'>ליכטנשטיין</option>
<option value='219'>לסוטו</option>
<option value='235'>מאוריטניה</option>
<option value='236'>מאוריציוס</option>
<option value='231'>מאלי</option>
<option value='226'>מדגסקר</option>
<option value='227'>מדיירה</option>
<option value='244'>מוזמביק</option>
<option value='239'>מולדובה</option>
<option value='240'>מונאקו</option>
<option value='241'>מונגוליה</option>
<option value='242'>מונטנגרו</option>
<option value='131'>מונטסראט</option>
<option value='161'>מזרח טימור, אינדונזיה</option>
<option value='237'>מיוט</option>
<option value='245'>מייאנמאר</option>
<option value='172'>מיקרונזיה</option>
<option value='228'>מלאווי</option>
<option value='230'>מלדיבים</option>
<option value='229'>מלזיה</option>
<option value='232'>מלטה</option>
<option value='163'>מצרים</option>
<option value='224'>מקאו</option>
<option value='225'>מקדוניה</option>
<option value='238'>מקסיקו</option>
<option value='243'>מרוקו</option>
<option value='234'>מרטיניק</option>
<option value='247'>נאורו</option>
<option value='259'>נורווגיה</option>
<option value='255'>ניגריה</option>
<option value='252'>ניו זילנד</option>
<option value='256'>ניואה</option>
<option value='254'>ניז'ר</option>
<option value='253'>ניקרגואה</option>
<option value='246'>נמיביה</option>
<option value='248'>נפאל</option>
<option value='283'>סאו טומה ופרינסיפה</option>
<option value='329'>סהרה מערבית</option>
<option value='299'>סודן</option>
<option value='301'>סוואזילנד</option>
<option value='294'>סומליה</option>
<option value='304'>סוריה</option>
<option value='300'>סורינאם</option>
<option value='289'>סיירה לאונה</option>
<option value='267'>סין</option>
<option value='290'>סינגפור</option>
<option value='292'>סלובניה</option>
<option value='291'>סלובקיה</option>
<option value='282'>סמואה</option>
<option value='103'>סמואה האמריקנית</option>
<option value='286'>סנגל</option>
<option value='279'>סנט הלנה</option>
<option value='281'>סנט וינסנט והגרנדינים</option>
<option value='280'>סנט לוסיה</option>
<option value='173'>סנט קיטס ונוויס</option>
<option value='297'>ספרד</option>
<option value='287'>סרביה</option>
<option value='298'>סרי לנקה</option>
<option value='260'>עומאן</option>
<option value='203'>עיראק</option>
<option value='284'>ערב הסעודית</option>
<option value='262'>פאלאו</option>
<option value='270'>פולין</option>
<option value='179'>פולינזיה הצרפתית</option>
<option value='272'>פורטו ריקו</option>
<option value='271'>פורטוגל</option>
<option value='174'>פיג'י</option>
<option value='269'>פיליפינים</option>
<option value='175'>פינלנד</option>
<option value='264'>פנמה</option>
<option value='265'>פפואה גיניאה החדשה</option>
<option value='261'>פקיסטן</option>
<option value='266'>פרגוואי</option>
<option value='268'>פרו</option>
<option value='142'>צ'אד</option>
<option value='144'>צ'ילה</option>
<option value='154'>צ'כיה</option>
<option value='177'>צרפת</option>
<option value='152'>קובה</option>
<option value='150'>קוטה דלווירה</option>
<option value='146'>קולומביה</option>
<option value='149'>קוסטה ריקה</option>
<option value='296'>קוריאה</option>
<option value='155'>קוריאה הצפונית</option>
<option value='210'>קזחסטן</option>
<option value='273'>קטאר</option>
<option value='139'>קייפ ורדה</option>
<option value='215'>קירגיזסטן</option>
<option value='212'>קיריבאטי</option>
<option value='251'>קלדוניה החדשה</option>
<option value='136'>קמבודיה</option>
<option value='137'>קמרון</option>
<option value='138'>קנדה</option>
<option value='211'>קניה</option>
<option value='153'>קפריסין</option>
<option value='151'>קרואטיה</option>
<option value='275'>ראוניון</option>
<option value='278'>רואנדה</option>
<option value='276'>רומניה</option>
<option value='277'>רוסיה</option>
<option value='274'>רפובליקה סאן מרינו</option>
<option value='9834'>רפובליקה קונגו</option>
<option value='302'>שוודיה</option>
<option value='303'>שווייץ</option>
<option value='308'>תאילנד</option>
<option value='312'>תוניסיה</option>
<option value='330'>תימן</option>