<div class="details-wrapper">
    <div class="details-message">
        <div class="message-header">
            <button type="button" class="close" ng-click="hideDetails('flight')">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Flight details</h4>
        </div>
        <div class="message-body">
            <div class="tt-item" ng-repeat="item in package.flight | flightsRow" ng-class="$index > 0 ? 'tt-round' : ''">
                <div class="tt-segment" ng-repeat="segment in item" ng-class="$index > 0 ? 'tt-next' : ''">
                    <div ng-if="$index > 0" class="tt-connection">
                        <b>&zwj;Пересадка:&zwj;</b>
                        <span>&zwj;{{segment.departure.airport.location.name}}, {{segment.departure.airport.name}}, терминал {{segment.departure.airport.code}} / {{segment.departure.terminal}},&zwj;</span>
                        <span>&zwj;время ожидания:&zwj;</span>
                        <b>{{item[$index - 1].connectionTime | flightsDuration}}</b>
                    </div>
                    <div class="tt-icon">
                        <img ng-src="//static.trip-top.com/triptop/gallery/triptop-gallery/images/air/{{segment.airline.code | lowercase}}.jpg">
                    </div>
                    <div class="tt-flight">
                        <div class="tt-route">
                            <div class="tt-location">
                                <span class="tt-name">{{segment.departure.airport.location.name}}</span>
                                <span class="tt-code" ng-if="segment.departure.terminal">{{segment.departure.airport.code}} / {{segment.departure.terminal}}</span>
                                <span class="tt-code" ng-if="!segment.departure.terminal">{{segment.departure.airport.code}}</span>
                            </div>
                            <div class="tt-time">
                                {{segment.departure.time | date:'dd.MM.yyyy, HH:mm'}}
                            </div>
                        </div>
                        <div class="tt-route">
                            <div class="tt-location">
                                <span class="tt-name">{{segment.arrival.airport.location.name}}</span>
                                <span class="tt-code" ng-if="segment.arrival.terminal">{{segment.arrival.airport.code}} / {{segment.arrival.terminal}}</span>
                                <span class="tt-code" ng-if="!segment.arrival.terminal">{{segment.arrival.airport.code}}</span>
                            </div>
                            <div class="tt-time">
                                {{segment.arrival.time | date:'dd.MM.yyyy, HH:mm'}}
                            </div>
                        </div>
                        <div class="tt-aircraft">
                            <div class="tt-value">
                                &zwj;Рейс {{segment.airline.code}}{{segment.flightNumber}}&zwj;
                            </div>
                            <div class="tt-details">
                                {{segment.aircraft.manufacturer}} {{segment.aircraft.name}}
                            </div>
                        </div>
                        <div class="tt-duration">
                            <div class="tt-value">
                                &zwj;В пути&zwj;
                            </div>
                            <div class="tt-details">
                                {{segment.flightTime | flightsDuration}}
                            </div>
                        </div>
                        <div class="tt-seats">
                            <div class="tt-value">
                                &zwj;Мест&zwj;
                            </div>
                            <div class="tt-details">
                                {{segment.seats}}{{segment.bookingClass}}
                            </div>
                        </div>
                        <div class="tt-desc">
                            <i class="el-icon-plane"></i>
                            <b>&zwj;Отправление:&zwj;</b>
                            <span>&zwj;{{segment.departure.time | date:'dd.MM.yyyy, HH:mm'}}, {{segment.departure.airport.location.name}}, {{segment.departure.airport.name}}, терминал {{segment.departure.airport.code}} / {{segment.departure.terminal}}, рейс {{segment.airline.name}} {{segment.airline.code}}{{segment.flightNumber}}&zwj;</span>
                            <br/>
                            <b>&zwj;Прибытие:</b>
                            <span>&zwj;{{segment.arrival.time | date:'dd.MM.yyyy, HH:mm'}}, {{segment.arrival.airport.location.name}}, {{segment.arrival.airport.name}}, терминал {{segment.arrival.airport.code}} / {{segment.arrival.terminal}}&zwj;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>