<div class="panel panel-default tt-search-package">
    <div class="tt-title">
        Информация о содержимом пакета
    </div>
    <div class="tt-body">
        <div class="tt-components">
            <div class="package-flight" ng-show="package.flight">
            <!--<div class="package-flight">-->
                <h5>Flight:</h5>
                <span class="delete-item" ng-click="removeFlight();">Delete flight</span>
                <div ng-repeat="item in package.flight | flightsRow">
                    <div class="airline-icon" ng-init="firstSegment = firstSegment(item);">
                        <img class="flight-airline"
                             ng-src="//static.trip-top.com/triptop/gallery/triptop-gallery/images/air/{{firstSegment.airline.code | lowercase}}.jpg">
                    </div>
                    <span>{{package.flight.validatingCarrier.name}}</span>
                    <span class="flight-stops"
                          ng-pluralize count='{{item.length - 1}}'
                          when="{'0': '&zwj;Без пересадок&zwj;',
                                '1': '&zwj;Одна пересадка&zwj;',
                                'other': '&zwj;{} пересадок&zwj;'}"></span>
                    <ul class="flight-to">
                        <li>
                            <div class="route-title">
                                {{firstSegment.departure.airport.location.name}} [{{firstSegment.departure.airport.code}}]
                            </div>
                            <div class="route-details">
                                {{firstSegment.departure.time | date:'dd.MM.yyyy, HH:mm'}}
                            </div>
                        </li>
                        <li class="route-arrow">
                            &#10230;
                        </li>
                        <li ng-init="lastSegment = lastSegment(item);">
                            <div class="route-title">
                                {{lastSegment.arrival.airport.location.name}} [{{lastSegment.arrival.airport.code}}]
                            </div>
                            <div class="route-details">
                                {{lastSegment.arrival.time | date:'dd.MM.yyyy, HH:mm'}}
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="#" ng-click="showDetails('flight')">Show flight details &raquo;</a>
                <packageflightdetails ng-if="showFlightDeatils"></packageflightdetails>
                <a class="to-results" href="#">Show results</a>
            </div>
            <div class="package-flight" ng-hide="package.flight">
                <h5>Flight:</h5>
                Полёт не выбран
            </div>
            <div class="package-hotel">
                <h5>Hotel:</h5>
                <img src="http://c775792.r92.cf2.rackcdn.com/sml/0/86/86772.jpg">
                <div class="hotel-info">
                    <h4>Hotel name</h4>
                    <div>
                        ***STARS***
                    </div>
                    Bangkok, Kek st. 6
                </div>
                <a class="to-results" href="#">Show results</a>
            </div>
            <div class="package-insurance">
                <h5>Insurance:</h5>
            </div>
            <div class="package-rentacar">
                <h5>Car rent:</h5>
            </div>
        </div>
        <div class="tt-control">
            <h5>Total:</h5>
            <div class="tt-price">
                $ {{package.price}}
            </div>
            <div class="btn btn-warning tt-booking">
                Book
            </div>
        </div>
    </div>
</div>