body {
  margin: 0;
}
#triptop-payment {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100%;
  height: 100%;
}
#triptop-payment .content-box {
  background: #fff;
  color: #333;
  box-shadow: 0 2px 5px #666;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}
#triptop-payment .close-button {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #444 !important;
  color: #eee;
  box-shadow: 0 2px 5px #666;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 17px;
  font-weight: bold;
  opacity: 1;
  filter: none;
  width: 20px;
  height: 20px;
}
#triptop-payment .payment-box {
  position: fixed;
  top: 0;
  z-index: 3;
  color: #fff;
  width: 100%;
  height: 100%;
}
#triptop-payment .payment-box .content-box {
  width: 1000px;
  height: auto;
  min-height: 240px;
}
#triptop-payment table {
  border-spacing: 0;
  border: 0;
  padding: 0;
  margin: 0;
}
#triptop-payment .tt-align-left {
  text-align: left;
}
#triptop-payment .tt-align-right {
  text-align: right;
}
#triptop-payment .tt-float-left {
  float: left;
}
#triptop-payment .tt-float-right {
  float: right;
}
#triptop-payment .tt-clear {
  clear: both;
}
#triptop-payment .tt-link {
  cursor: pointer;
}
#triptop-payment .tt-departure-color {
  color: #0089FF;
}
#triptop-payment .tt-departure-color {
  color: #0089FF;
}
#triptop-payment .tt-arrival-color {
  color: #FF7405;
}
#triptop-payment {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
}
#triptop-payment .tt-payment-normal,
#triptop-payment .tt-payment-normal i {
  font-size: 13px !important;
}
#triptop-payment .tt-payment-header {
  width: 100%;
  height: auto;
  margin: 0;
}
#triptop-payment .tt-payment-header .tt-payment-title {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #FF7405;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff7405), to(#ff7405));
  background: -webkit-linear-gradient(#ff7405, #ff7405);
  background: -moz-linear-gradient(#ff7405, #ff7405);
  background: -ms-linear-gradient(#ff7405, #ff7405);
  background: -o-linear-gradient(#ff7405, #ff7405);
  background: linear-gradient(#ff7405, #ff7405);
}
#triptop-payment .tt-payment-header .tt-payment-title i {
  padding: 0 5px;
  font-size: 20px;
}
#triptop-payment .tt-payment-initial {
  text-align: center;
}
#triptop-payment .tt-payment-initial div {
  display: block;
  margin: 10px auto;
  background: url("../img/loader.gif") 0 0 no-repeat;
  width: 128px;
  height: 128px;
}
#triptop-payment .tt-payment-wizard,
#triptop-payment .tt-payment-initial {
  width: 100%;
  height: auto;
}
#triptop-payment .tt-payment-wizard td,
#triptop-payment .tt-payment-initial td {
  vertical-align: top;
}
#triptop-payment .tt-payment-wizard .tt-payment-info,
#triptop-payment .tt-payment-initial .tt-payment-info {
  width: 490px;
  max-width: 490px;
}
#triptop-payment .tt-payment-wizard .tt-payment-content,
#triptop-payment .tt-payment-initial .tt-payment-content,
#triptop-payment .tt-payment-wizard .tt-payment-currency,
#triptop-payment .tt-payment-initial .tt-payment-currency,
#triptop-payment .tt-payment-wizard .tt-payment-confirm,
#triptop-payment .tt-payment-initial .tt-payment-confirm {
  width: 408px;
  max-width: 408px;
}
#triptop-payment .tt-payment-wizard .tt-payment-currency,
#triptop-payment .tt-payment-initial .tt-payment-currency,
#triptop-payment .tt-payment-wizard .tt-payment-confirm,
#triptop-payment .tt-payment-initial .tt-payment-confirm {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
#triptop-payment .tt-payment-wizard .tt-payment-currency td,
#triptop-payment .tt-payment-initial .tt-payment-currency td,
#triptop-payment .tt-payment-wizard .tt-payment-confirm td,
#triptop-payment .tt-payment-initial .tt-payment-confirm td {
  padding: 10px;
}
#triptop-payment .tt-payment-wizard .tt-payment-currency i,
#triptop-payment .tt-payment-initial .tt-payment-currency i,
#triptop-payment .tt-payment-wizard .tt-payment-confirm i,
#triptop-payment .tt-payment-initial .tt-payment-confirm i {
  font-size: 20px;
  margin-right: 5px;
}
#triptop-payment .tt-payment-wizard .tt-payment-currency .form-group,
#triptop-payment .tt-payment-initial .tt-payment-currency .form-group,
#triptop-payment .tt-payment-wizard .tt-payment-confirm .form-group,
#triptop-payment .tt-payment-initial .tt-payment-confirm .form-group {
  margin: 0px 0;
  text-align: center;
}
#triptop-payment .tt-payment-wizard .tt-payment-currency .form-group label,
#triptop-payment .tt-payment-initial .tt-payment-currency .form-group label,
#triptop-payment .tt-payment-wizard .tt-payment-confirm .form-group label,
#triptop-payment .tt-payment-initial .tt-payment-confirm .form-group label,
#triptop-payment .tt-payment-wizard .tt-payment-currency .form-group select,
#triptop-payment .tt-payment-initial .tt-payment-currency .form-group select,
#triptop-payment .tt-payment-wizard .tt-payment-confirm .form-group select,
#triptop-payment .tt-payment-initial .tt-payment-confirm .form-group select {
  display: inline-block;
}
#triptop-payment .tt-payment-wizard .tt-payment-currency .form-group select,
#triptop-payment .tt-payment-initial .tt-payment-currency .form-group select,
#triptop-payment .tt-payment-wizard .tt-payment-confirm .form-group select,
#triptop-payment .tt-payment-initial .tt-payment-confirm .form-group select {
  width: 180px;
  margin: 0 20px;
}
#triptop-payment .tt-payment-wizard .tt-payment-currency button,
#triptop-payment .tt-payment-initial .tt-payment-currency button,
#triptop-payment .tt-payment-wizard .tt-payment-confirm button,
#triptop-payment .tt-payment-initial .tt-payment-confirm button {
  margin: 0 auto;
  display: block;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest,
#triptop-payment .tt-payment-initial .tt-payment-digest,
#triptop-payment .tt-payment-wizard .tt-payment-form,
#triptop-payment .tt-payment-initial .tt-payment-form {
  width: 100%;
  height: auto;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest ul,
#triptop-payment .tt-payment-initial .tt-payment-digest ul,
#triptop-payment .tt-payment-wizard .tt-payment-form ul,
#triptop-payment .tt-payment-initial .tt-payment-form ul {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest ul li,
#triptop-payment .tt-payment-initial .tt-payment-digest ul li,
#triptop-payment .tt-payment-wizard .tt-payment-form ul li,
#triptop-payment .tt-payment-initial .tt-payment-form ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-header,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-header {
  width: 100%;
  height: auto;
  margin: 5px 0 0;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-header td,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-header td {
  border-bottom: 1px solid #FF7405;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-header .tt-payment-digest-title,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-header .tt-payment-digest-title {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-header .tt-payment-digest-title i,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-header .tt-payment-digest-title i {
  padding: 0 5px;
  font-size: 20px;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-content,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-content,
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-footer,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-footer {
  width: 100%;
  height: auto;
  margin: 0;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-content td,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-content td,
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-footer td,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-footer td {
  border-bottom: 1px dashed #CCC;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-content .tt-payment-digest-icon,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-content .tt-payment-digest-icon,
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-footer .tt-payment-digest-icon,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-footer .tt-payment-digest-icon {
  width: 20px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-content .tt-payment-digest-icon .el-icon-arrow-right:before,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-content .tt-payment-digest-icon .el-icon-arrow-right:before,
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-footer .tt-payment-digest-icon .el-icon-arrow-right:before,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-footer .tt-payment-digest-icon .el-icon-arrow-right:before {
  content: "\e71e";
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-content .tt-payment-digest-title,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-content .tt-payment-digest-title,
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-footer .tt-payment-digest-title,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-footer .tt-payment-digest-title {
  height: 25px;
  font-size: 12px;
  line-height: 25px;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-content .tt-payment-digest-wait,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-content .tt-payment-digest-wait,
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-footer .tt-payment-digest-wait,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-footer .tt-payment-digest-wait {
  text-align: center;
  font-weight: bold;
  font-size: 11px;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-hotel .tt-payment-digest-hotel-cell,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-hotel .tt-payment-digest-hotel-cell {
  border-bottom: 1px dashed #555;
  font-weight: bold;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-footer td,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-footer td {
  border-bottom: 1px dashed #555;
  font-weight: bold;
}
#triptop-payment .tt-payment-wizard .tt-payment-digest .tt-payment-digest-footer .tt-hotel-details,
#triptop-payment .tt-payment-initial .tt-payment-digest .tt-payment-digest-footer .tt-hotel-details {
  font-weight: normal;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-header,
#triptop-payment .tt-payment-initial .tt-payment-form-header {
  width: 100%;
  height: auto;
  margin: 5px 0 0;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-header td,
#triptop-payment .tt-payment-initial .tt-payment-form-header td {
  border-bottom: 1px solid #FF7405;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-header .tt-payment-form-title,
#triptop-payment .tt-payment-initial .tt-payment-form-header .tt-payment-form-title {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-header .tt-payment-form-title i,
#triptop-payment .tt-payment-initial .tt-payment-form-header .tt-payment-form-title i {
  padding: 0 5px;
  font-size: 20px;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-price,
#triptop-payment .tt-payment-initial .tt-payment-form-price {
  width: 100%;
  height: auto;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-price td,
#triptop-payment .tt-payment-initial .tt-payment-form-price td {
  text-align: center;
  border-bottom: 1px dashed #CCC;
  height: 65px;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-price td > div,
#triptop-payment .tt-payment-initial .tt-payment-form-price td > div {
  width: 100%;
  height: 100%;
  position: relative;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-price input,
#triptop-payment .tt-payment-initial .tt-payment-form-price input {
  width: 80px;
  height: auto;
  margin: 0 auto;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-price .tt-payment-form-price-label,
#triptop-payment .tt-payment-initial .tt-payment-form-price .tt-payment-form-price-label {
  width: 100%;
  height: auto;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 5px;
  left: 0;
  font-size: 11px;
  line-height: 12px;
  color: #999;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-price .tt-payment-form-price-value,
#triptop-payment .tt-payment-initial .tt-payment-form-price .tt-payment-form-price-value {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 7px;
  vertical-align: bottom;
  line-height: 95px;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-total-price,
#triptop-payment .tt-payment-initial .tt-payment-form-total-price {
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-total-price td,
#triptop-payment .tt-payment-initial .tt-payment-form-total-price td {
  text-align: center;
  border-bottom: 1px dashed #555;
  height: 30px;
}
#triptop-payment .tt-payment-wizard .tt-payment-form-total-price .tt-payment-form-price-value,
#triptop-payment .tt-payment-initial .tt-payment-form-total-price .tt-payment-form-price-value {
  color: #FF7405;
}
