body {
  margin: 0;
}

.box (@width: 100%, @height: auto) {
  width: @width;
  height: @height;
}

#triptop-payment {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100%;
  height: 100%;

  & .content-box {
    background: #fff;
    color: #333;
    box-shadow: 0 2px 5px #666;
    border-radius: 5px;
    padding: 10px;
    position: relative;
  }

  & .close-button {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: #444 !important;
    color: #eee;
    box-shadow: 0 2px 5px #666;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    @{right}: -10px;
    font-size: 17px;
    font-weight: bold;
    opacity: 1;
    filter: none;
    .box(20px, 20px);
  }

  & .payment-box {
    position: fixed;
    top: 0;
    z-index: 3;
    color: #fff;
    .box(100%, 100%);
    & .content-box {
      .box(1000px);
      min-height: 240px;
    }
  }

  table {
    border-spacing: 0;
    border: 0;
    padding: 0;
    margin: 0;
  }

  .tt-align-left {
    text-align: @left;
  }

  .tt-align-right {
    text-align: @right;
  }

  .tt-float-left {
    float: @left;
  }

  .tt-float-right {
    float: @right;
  }

  .tt-clear {
    clear: both;
  }

  .tt-link {
    cursor: pointer;
  }

  .tt-departure-color {
    color: #0089FF;
  }

  .tt-departure-color {
    color: #0089FF;
  }

  .tt-arrival-color {
    color: #FF7405;
  }
}

#triptop-payment {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;

  .tt-payment-normal, .tt-payment-normal i {
    font-size: 13px !important;
  }

  .tt-payment-header {
    .box();
    margin: 0;

    .tt-payment-title {
      height: 30px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      background: #FF7405;
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF7405), to(#FF7405));
      background: -webkit-linear-gradient(#FF7405, #FF7405);
      background: -moz-linear-gradient(#FF7405, #FF7405);
      background: -ms-linear-gradient(#FF7405, #FF7405);
      background: -o-linear-gradient(#FF7405, #FF7405);
      background: linear-gradient(#FF7405, #FF7405);

      i {
        padding: 0 5px;
        font-size: 20px;
      }
    }
  }

  .tt-payment-initial {
    text-align: center;

    div {
      display: block;
      margin: 10px auto;
      background: url("../img/loader.gif") 0 0 no-repeat;
      width: 128px;
      height: 128px;
    }
  }

  .tt-payment-wizard, .tt-payment-initial {
    .box();

    td {
      vertical-align: top;
    }

    .tt-payment-info {
      width: 490px;
      max-width: 490px;
    }

    .tt-payment-content, .tt-payment-currency, .tt-payment-confirm {
      width: 408px;
      max-width: 408px;
    }

    .tt-payment-currency, .tt-payment-confirm {
      margin: 0;
      padding: 0;
      font-size: 14px;

      td {
        padding: 10px;
      }

      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }

    .tt-payment-currency, .tt-payment-confirm {

      .form-group {
        margin: 0px 0;
        text-align: center;

        label, select {
          display: inline-block;
        }

        select {
          width: 180px;
          margin: 0 20px;
        }
      }

      button {
        margin: 0 auto;
        display: block;
      }
    }

    .tt-payment-digest, .tt-payment-form {
      .box();

      ul {
        .box();
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 0;
          padding: 0;
          list-style: none;
        }
      }
    }

    .tt-payment-digest {

      .tt-payment-digest-header {
        .box();
        margin: 5px 0 0;

        td {
          border-bottom: 1px solid #FF7405;
        }

        .tt-payment-digest-title {
          height: 30px;
          font-size: 16px;
          font-weight: bold;
          white-space: nowrap;

          i {
            padding: 0 5px;
            font-size: 20px;
          }
        }
      }

      .tt-payment-digest-content, .tt-payment-digest-footer {
        .box();
        margin: 0;

        td {
          border-bottom: 1px dashed #CCC;
        }

        .tt-payment-digest-icon {
          width: 20px;
          font-size: 10px;
          text-align: center;
          vertical-align: middle;

          .el-icon-arrow-right:before when (@dir = ltr) {
            content: "\e71e";
          }

          .el-icon-arrow-right:before when (@dir = rtl) {
            content: "\e71f";
          }
        }

        .tt-payment-digest-title {
          height: 25px;
          font-size: 12px;
          line-height: 25px;
        }

        .tt-payment-digest-wait {
          text-align: center;
          font-weight: bold;
          font-size: 11px;
        }
      }
      .tt-payment-digest-hotel {
          .tt-payment-digest-hotel-cell {
              border-bottom: 1px dashed #555;
              font-weight: bold;
          }
      }

      .tt-payment-digest-footer {
        td {
          border-bottom: 1px dashed #555;
          font-weight: bold;
        }

        .tt-hotel-details {
          font-weight: normal;
        }
      }
    }


    .tt-payment-form-header {
      .box();
      margin: 5px 0 0;

      td {
        border-bottom: 1px solid #FF7405;
      }

      .tt-payment-form-title {
        height: 30px;
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;

        i {
          padding: 0 5px;
          font-size: 20px;
        }
      }
    }

    .tt-payment-form-price {
      .box();

      td {
        text-align: center;
        border-bottom: 1px dashed #CCC;
        height: 65px;

        > div {
          .box(100%, 100%);
          position: relative;
        }
      }

      input {
        .box(80px);
        margin: 0 auto;
      }

      .tt-payment-form-price-label {
        .box();
        font-weight: bold;
        position: absolute;
        text-align: center;
        top: 5px;
        @{left}: 0;
        font-size: 11px;
        line-height: 12px;
        color: #999;
      }

      .tt-payment-form-price-value {
        .box(100%, 100%);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto 7px;
        vertical-align: bottom;
        line-height: 95px;
      }
    }

    .tt-payment-form-total-price {
      .box();
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;

      td {
        text-align: center;
        border-bottom: 1px dashed #555;
        height: 30px;
      }

      .tt-payment-form-price-value {
        color: #FF7405;
      }
    }
  }
}