<table class='tt-terms-content-header'>
	<tbody>
		<tr>
			<td class='tt-terms-content-title'>
				<i class='el-icon-globe'></i><span>Варшавская конвенция</span>
			</td>
		</tr>
	</tbody>
</table>
<div class='tt-terms-content-body'>
<table>
 <tr>
  <td>
  <p class=MsoNormal align=center style='margin-bottom:9.0pt;text-align:center;
  line-height:9.0pt'><b><span style='font-size:9.0pt;font-family:"Tahoma","sans-serif";
  color:#4D6D91'>Для унификации некоторых правил, касающихся международных
  воздушных перевозок, Конвенция, Варшава, 12.10.1929г. (С учетом изменений
  внесенных Протоколом от 28.09.1955г., Гаага)</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Глава </span></b><b><span lang=EN-US style='font-size:10.0pt;
  font-family:"Arial","sans-serif";color:#4D6D91'>I</span></b><b><span
  style='font-size:10.0pt;font-family:"Arial","sans-serif";color:#4D6D91'>.
  Предмет - определения</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 1</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1. Настоящая
  Конвенция применяется при всякой международной перевозке людей, багажа или
  грузов, осуществляемой за плату посредством воздушного судна. Она применяется
  также к бесплатным перевозкам, осуществляемым посредством воздушного судна
  предприятием воздушных перевозок.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  &quot;Международной перевозкой&quot;, в смысле настоящей Конвенции,
  называется всякая перевозка, при которой, согласно определению сторон, место
  отправления и место назначения, вне зависимости от того, имеются или нет
  перерыв в перевозке или перегрузка, расположены либо на территории двух
  Высоких Договаривающихся Сторон, либо на территории одной и той же Высокой
  Договаривающейся Стороны, если остановка предусмотрена на территории,
  находящейся под суверенитетом, сюзеренитетом, мандатом или властью другой
  даже не Договаривающейся Державы. Перевозка без подобной остановки, между
  территориями, находящимися под суверенитетом, сюзеренитетом, мандатом или
  властью одной и той же Высокой Договаривающейся Стороны, не рассматриваются в
  смысле настоящей Конвенции как международная.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>3.
  Перевозка, подлежащая осуществлению посредством нескольких последовательных
  воздушных перевозчиков, почитается образующей, с точки зрения применения
  настоящей Конвенции, единую перевозку, если она рассматривалась сторонами как
  одна операция, вне зависимости от того, была ли она заключена в виде одного
  договора или ряда договоров, и не теряет своего международного характера в
  силу того, что один или ряд договоров должны быть выполнены на территории,
  находящейся под суверенитетом, сюзеренитетом, мандатом или властью одной и
  той же Высокой Договаривающейся Стороны.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 2</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Конвенция применяется к перевозкам, совершенным государством или другими
  публично-правовыми юридическими лицами, отвечающим условиям, предусмотренным
  в статье 1.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Из-под действия настоящей Конвенции исключаются перевозки, совершаемые на
  основании международных почтовых конвенций.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Глава </span></b><b><span lang=EN-US style='font-size:10.0pt;
  font-family:"Arial","sans-serif";color:#4D6D91'>II</span></b><b><span
  style='font-size:10.0pt;font-family:"Arial","sans-serif";color:#4D6D91'>.
  Перевозочные документы</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Раздел </span></b><b><span lang=EN-US style='font-size:9.0pt;
  font-family:"Arial","sans-serif";color:#4D6D91'>I</span></b><b><span
  style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#4D6D91'>.
  Проездной билет</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 3</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  При перевозке пассажиров перевозчик обязан выдавать проездной билет, который
  должен содержать следующие указания: а) место и день выдачи; б) места
  отправления и назначения; в) предусмотренные остановки, с сохранением
  возможности для перевозчика обусловливать свое право их изменять в случае
  необходимости и без того, чтобы изменение могло лишить перевозчика ее
  международного характера; г) название и адрес перевозчика или перевозчиков;
  д) указание, что перевозка подпадает под действие правил об ответственности,
  установленных настоящей Конвенцией.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Отсутствие, неправильность и утеря билета не влияют ни на существование, ни
  на действительность договора о перевозке, который будет, тем не менее,
  подпадать под действие правил настоящей Конвенции. Однако если перевозчик
  примет пассажиров без выдачи проездного билета, то он не будет иметь права
  ссылаться на положения настоящей Конвенции, освобождающие его от
  ответственности или ограничивающие таковую.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Раздел </span></b><b><span lang=EN-US style='font-size:9.0pt;
  font-family:"Arial","sans-serif";color:#4D6D91'>II</span></b><b><span
  style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#4D6D91'>.
  Багажная квитанция</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 4</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  При перевозке багажа за исключением мелких личных вещей, оставляемых
  пассажиром при себе, перевозчик обязан выдавать багажную квитанцию.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Багажная квитанция должна составляться в двух экземплярах: один для
  пассажира, другой для перевозчика.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>3.
  Она должна содержать следующие указания: а) место и день выдачи; б) места
  отправления и назначения; в) название и адрес перевозчика или перевозчиков;
  г) номер проездного билета; д) указание, что выдача багажа производится
  предъявителю квитанции; е) количество и вес мест; ж) размер объявленной
  стоимости в соответствии со статьей 22, абзац 2; з) указание, что перевозка
  подпадает под действие правил об ответственности, установленных настоящей
  Конвенцией.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>4.
  Отсутствие, неправильность и утеря багажной квитанции не влияют ни на
  существование, ни на действительность договора о перевозке, который будет,
  тем не менее, подпадать под действие правил настоящей Конвенции. Однако если
  перевозчик примет багаж без выдачи багажной квитанции или если багажная
  квитанция не будет содержать сведений, указанных под литерами &quot;г&quot;,
  &quot;е&quot; и &quot;з&quot;, то перевозчик не будет иметь права ссылаться
  на положения настоящей Конвенции, освобождающие его от ответственности или
  ограничивающие таковую.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Раздел </span></b><b><span lang=EN-US style='font-size:9.0pt;
  font-family:"Arial","sans-serif";color:#4D6D91'>III</span></b><b><span
  style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#4D6D91'>.
  Воздушно-перевозочный документ</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 5</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1. Каждый
  перевозчик товаров имеет право требовать от отправителя составления и
  вручения ему документа, именуемого:</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>&quot;воздушно-перевозочный
  документ&quot;; всякий отправитель имеет право требовать от перевозчика
  принятия этого документа.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Однако отсутствие, неправильность или утеря этого документа не влияют ни на
  существование, ни на действительность договора о перевозке, который будет,
  тем не менее, подпадать под действие правил настоящей Конвенции, с оговоркой,
  установленной в статье 9.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 6</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1. Воздушно-перевозочный
  документ составляется отправителем в трех подлинных экземплярах и вручается
  вместе с товаром.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Первый экземпляр носит пометку &quot;для перевозчика&quot;; он подписывается
  отправителем. Второй экземпляр носит пометку &quot;для получателя&quot;; он
  подписывается отправителем и перевозчиком и должен следовать с товаром.
  Третий экземпляр подписывается перевозчиком и возвращается им отправителю по
  принятии товара.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>3.
  Подпись перевозчика должна быть сделана немедленно по принятии товара.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>4.
  Подпись перевозчика может быть заменена штемпелем; подпись отправителя может
  быть печатная или заменена штемпелем.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>5.
  Если, по требованию отправителя, перевозчик составит воздушно - перевозочный
  документ, он рассматривается, до доказательства противного, как действующий
  за счет отправителя.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 7</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Перевозчик
  товаров имеет право требовать от отправителя составления отдельных
  воздушно-перевозочных документов, если имеется несколько мест.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 8</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Воздушно-перевозочный
  документ должен содержать следующие указания: а) место, где документ был
  составлен, и день его составления; б) места отправления и назначения; в)
  предусмотренные остановки, с сохранением возможности для перевозчика
  обусловливать свое право изменять в случае необходимости и без того, чтобы
  это изменение могло лишить перевозку ее международного характера; г) название
  и адрес отправителя; д) название и адрес получателя, если он указан; ж) род
  товара; з) количество, род упаковки, маркировка или номера мест; и) вес,
  количество, объем или размеры товара; к) внешнее состояние товара и его
  упаковки; л) стоимость перевозки, если таковая обусловлена, время и место
  платежа и лицо, которое должно уплатить; м) если отправка производится
  наложенным платежом, стоимость товара и в подлежащих случаях размер расходов;
  н) размер объявленной стоимости в соответствии со статьей 22, абзац 2; о)
  количество экземпляров воздушно-перевозочного документа; п) документы,
  переданные перевозчику вместе с воздушно-перевозочным документом; р) срок
  перевозки и общие указания о пути следования (</span><span lang=EN-US
  style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>via</span><span
  style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>), если таковые
  обусловлены; с) указание, что перевозка подпадает под действие правил об
  ответственности, установленных настоящей Конвенцией.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 9</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Если
  перевозчик примет товары без составления воздушно-перевозочного документа или
  если последний не содержит всех сведений, указанных в статье 8 ( литеры от
  &quot;а&quot; до &quot;и&quot; включительно и литера &quot;с&quot;),
  перевозчик не будет иметь права ссылаться на положения настоящей Конвенции,
  освобождающие его от ответственности или ограничивающие таковую.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 10</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1. Отправитель
  отвечает за правильность сведений и объявлений, касающихся товара, которые он
  заносит в воздушно-перевозочный документ.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2. Он
  будет нести ответственность за всякий вред, понесенный перевозчиком или
  всяким другим лицом по причине неправильности, неточности или неполноты
  данных им сведений и объявлений.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 11</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Воздушно-перевозочный документ, до доказательства противного, является
  удостоверением заключения договора принятия товара и условий перевозки.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Данные воздушно-перевозочного документа о весе, размерах и об упаковке
  товара, а также о числе мест являются удостоверением, до доказательства
  противного; данные о количестве, об объеме и о состоянии товара служат
  доказательством против перевозчика, лишь поскольку им была сделана их
  проверка в присутствии отправителя, с указанием об этом в
  воздушно-перевозочном документе, или поскольку это касается данных о внешнем
  состоянии товара.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 12</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Отправитель имеет право, при условии выполнения всех обязательств, вытекающих
  из договора перевозки, распоряжаться товаром, либо забирая его обратно с
  аэродрома отправления или назначения, либо останавливая его в пути следования
  при посадке, либо давая указание о выдаче его на месте назначения или в пути
  следования иному лицу, чем получатель, указанный в воздушно-перевозочном
  документе, либо требуя его (товара) возвращения на аэродром отправления,
  поскольку осуществление этого права не наносит ущерба ни перевозчику, ни
  другим отправителям, и с обязательством возмещения вытекающих из этого
  расходов.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2. В
  тех случаях, когда невозможно исполнение распоряжений отправителя, перевозчик
  обязан немедленно его об этом уведомить.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>3.
  Если перевозчик сообразуется с распоряжением отправителя, не требуя
  представления выданного последнему экземпляра воздушно-перевозочного
  документа, то тем самым он принимает на себя, с сохранением права регресса к
  отправителю, ответственность за ущерб, который может быть этим причинен
  надлежащему владельцу воздушно-перевозочного документа.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>4.
  Право отправителя прекращается в тот момент, когда возникает право
  получателя, согласно следующей ниже статье 13.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Однако
  если получатель отказывается от принятия перевозочного документа или товара
  или если они не могут быть ему вручены, то отправитель снова приобретает свое
  право распоряжения.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 13</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1. За
  исключением случаев, указанных в предыдущей статье, получатель имеет право
  требовать от перевозчика, с момента прибытия товара на место назначения,
  передачи ему воздушно-перевозочного документа и выдачи товара, против уплаты
  суммы требований и исполнения условий перевозки, указанных в
  воздушно-перевозочном документе.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Если иное не будет оговорено, перевозчик обязан известить получателя
  немедленно по прибытии товара.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>3.
  Если утеря товара признана перевозчиком или если по истечении семидневного
  срока, считая со дня, когда товар должен был прибыть, товар не прибудет,
  получателю разрешается осуществлять по отношению к перевозчику права,
  вытекающие из договора о перевозке.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 14</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Отправитель
  и получатель могут осуществлять все права, соответственно предоставленные им
  статьями 12 и 13, каждый от своего собственного имени, независимо от того,
  действует ли он в своих собственных интересах или в интересах другого, но при
  условии выполнения обязательств, налагаемых договором.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 15</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Статьи 12, 13 и 14 не оказывают никакого влияния на взаимоотношения
  отправителя и получателя, ни на отношения третьих лиц, права которых
  проистекают либо от отправителя, либо от получателя.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Любая оговорка, отступающая от условий статей 12, 13 и 14, должна быть
  занесена в воздушно-перевозочный документ.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 16</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Отправитель обязан дать сведения и присоединить к воздушно-перевозочному
  документу документы, которые до передачи товара получателю необходимы для
  выполнения таможенных, городских таможенных или полицейских формальностей.
  Отправитель отвечает перед перевозчиком за все убытки, которые могли бы
  проистечь от отсутствия, недостаточности или неправильности этих сведений и
  бумаг, за исключением случаев вины со стороны перевозчика или поставленных им
  лиц.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Перевозчик не обязан проверять эти сведения и документы в отношении их
  точности или достаточности.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Глава </span></b><b><span lang=EN-US style='font-size:9.0pt;
  font-family:"Arial","sans-serif";color:#4D6D91'>III</span></b><b><span
  style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#4D6D91'>.
  Ответственность перевозчика</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 17</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Перевозчик
  отвечает за вред, происшедший в случае смерти, ранения или всякого другого
  телесного повреждения, понесенного пассажиром, если несчастный случай,
  причинивший вред, произошел на борту воздушного судна или во время всяких
  операций по посадке и высадке.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 18</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Перевозчик отвечает за вред, происшедший в случае уничтожения, потери или
  повреждения зарегистрированного багажа или товара, если происшествие,
  причинившее вред, произошло во время воздушной перевозки.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Воздушная перевозка, по смыслу предыдущего абзаца, охватывает период времени,
  в течение которого багаж или товар находятся под охраной перевозчика,
  независимо от того, имеет ли это место на аэродроме, на борту воздушного
  судна или в каком-либо ином месте, в случае посадки вне аэродрома.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>3.
  Период времени воздушной перевозки не включает в себя никакой земной, морской
  или речной перевозки, осуществленной вне аэродрома. Однако если подобная
  перевозка осуществляется во исполнение договора воздушной перевозки, в целях
  погрузки, сдачи или перегрузки, всякий ущерб почитается вытекающим, до
  доказательства противного, из происшествия, происшедшего во время воздушной
  перевозки.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 19</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Перевозчик
  несет ответственность за вред, происшедший вследствие опоздания при воздушной
  перевозке пассажиров, багажа или товаров.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 20</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Перевозчик не несет ответственности, если он докажет, что им и поставленными
  им лицами были приняты все необходимые меры к тому, чтобы избежать вреда или
  что им было невозможно их принять.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  При перевозке товаров и багажа перевозчик не несет ответственности, если
  докажет, что причиненный вред произошел вследствие ошибки в пилотаже, в
  вождении воздушного судна или в навигации и что во всех других отношениях он
  и поставленные им лица приняли все необходимые меры.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 21</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>В
  случае, если перевозчик докажет, что вина лица, потерпевшего вред, была
  причиной вреда или содействовала ему, суд может, согласно постановлению
  своего собственного закона, устранить или ограничить ответственность
  перевозчика.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 22</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  При перевозке пассажиров ответственность перевозчика в отношении каждого
  пассажира ограничивается суммой в сто двадцать пять тысяч франков. В случае,
  если согласно закону суда, в котором вчинен иск, возмещение может быть
  установлено в виде периодических платежей, капитализированная сумма этих
  платежей не может превышать указанного предела. Однако посредством особого
  соглашения с перевозчиком пассажир может установить и более высокий предел
  ответственности.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  При перевозке зарегистрированного багажа и товаров ответственность
  перевозчика ограничивается суммой в двести пятьдесят франков с килограмма, за
  исключением случаев особого заявления о заинтересованности в доставке,
  сделанного отправителем в момент передачи места перевозчику и с оплатой
  возможного дополнительного сбора. В этом случае перевозчик будет обязан
  уплатить сумму, не превышающую объявленной суммы, если только он не докажет,
  что она превышает действительную заинтересованность отправителя в доставке.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>3.
  Указанные суммы считаются имеющими в виду французский франк, состоящий из
  шестидесяти пяти с половиной миллиграммов золота пробы девятьсот тысячных.
  Они могут быть выражены в любой национальной валюте с округлением цифр.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 23</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Всякая
  отговорка, клонящая к освобождению перевозчика от ответственности или же
  установлению предела ответственности меньшего, чем тот, который установлен в
  настоящей Конвенции, является недействительной и не порождает никаких
  последствий, но действительность этой оговорки не влечет за собой
  недействительности договора, который продолжает подпадать под действие
  положений настоящей Конвенции.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 24</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1. В
  случаях, предусмотренных в статьях 18 и 19, иск об ответственности на каком
  бы то ни было основании может быть предъявлен лишь в согласии с условиями и
  пределами, предусмотренными настоящей Конвенции.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2. В
  случаях, предусмотренных в статье 17, также применяются положения предыдущего
  абзаца, без ущерба для определения круга лиц, которые имеют право на
  предъявление иска, и для их ответственных прав.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 25</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Перевозчик не будет иметь права ссылаться на положения настоящей Конвенции,
  которые освобождают его от ответственности или ограничивают таковую, если
  вред произошел вследствие его умысла или вследствие вины, которая, согласно
  закону суда, в котором вчинен иск, рассматривается как равнозначная умыслу.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2. В
  этом праве ему будет также отказано, если вред, при тех же условиях, был
  причинен одним из поставленных им лиц, действовавших при исполнении своих
  обязанностей.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 26</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Получение багажа и товаров получателем без возражений составить предложение,
  впредь до доказательства противного, что товары были доставлены в надлежащем
  состоянии и согласно перевозочному документу.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2. В
  случае повреждения груза получатель должен направить перевозчику возражение
  немедленно по обнаружении повреждения и самое позднее в течение трехдневного
  срока после его получения. В случае опоздания протест должен быть произведен
  не позднее четырнадцати дней со дня, когда багаж или товар будут переданы в
  его распоряжение.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>3.
  Всякое возражение должно быть осуществлено путем оговорки, внесенной в
  перевозочный документ, или иного письменного сообщения, отправленного в срок,
  установленный для этого возражения.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>4.
  При отсутствии возражения в установленные сроки никакие иски против
  перевозчика не принимаются, кроме случаев обмана со стороны последнего.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 27</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>В
  случае смерти должника иск об ответственности в пределах, предусмотренных
  настоящей Конвенцией, предъявляется к его правопреемникам.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 28</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Иск об ответственности должен быть возбужден, по выбору истца, в пределах
  территории одной из Высоких Договаривающихся Сторон либо в суде по месту
  жительства перевозчика, по месту нахождения главного управления его
  предприятия или по месту, где он имеет контору, посредством которой был
  заключен договор, либо перед судом места назначения.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Процедура определяется законом суда, в котором вчинен иск.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 29</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Иск об ответственности должен быть возбужден, под страхом утраты права на
  иск, в течение двух лет с момента прибытия по назначению или со дня, когда
  воздушное судно должно было бы прибыть, или с момента остановки перевозки.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Порядок исчисления срока определяется законом суда, в котором вчинен иск.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 30</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>В
  случаях перевозок, регулируемых определением третьего абзаца статьи 1,
  производимых несколькими последовательными перевозчиками, каждый перевозчик,
  принимающий пассажиров, багаж или товар, подпадает под действие правил,
  установленных настоящей Конвенцией, и рассматривается в качестве
  договаривающейся стороны по договору о перевозке, поскольку этот договор
  имеет отношение к части перевозки, совершаемой под его контролем.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>В
  случае такой перевозки пассажир или его управомоченные могут возбудить дело
  лишь против перевозчика, производившего ту перевозку, в течение которой
  произошел несчастный случай или опоздание, за исключением случая, когда по
  специальному условию первый перевозчик принял ответственность за весь путь.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Если
  дело идет о багаже или товарах, отправитель может возбудить дело против
  первого перевозчика, и получатель, имеющий право на получение - против
  последнего, и тот и другой могут, кроме того, предъявить иск к перевозчику,
  совершавшего перевозку, в течение которой произошли уничтожение, утеря,
  повреждение или задержка. Эти перевозчики будут нести солидарную
  ответственность перед отправителем и получателем.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Глава </span></b><b><span lang=EN-US style='font-size:9.0pt;
  font-family:"Arial","sans-serif";color:#4D6D91'>IV</span></b><b><span
  style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#4D6D91'>.
  Постановления, касающиеся комбинированных перевозок</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 31</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1. В
  случае комбинированных перевозок, осуществляемых частью каким либо иным
  способом перевозки, положения настоящей Конвенции применяются лишь к
  воздушной перевозке, если притом последняя отвечает условиям статьи 1.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Ничто в настоящей Конвенции не мешает сторонам, в случаях комбинированной
  перевозки, включать в воздушно-перевозочный документ условия, относящиеся к
  иным видам перевозок, при условии, что положения настоящей Конвенции будут
  применяемы в отношении перевозки по воздуху.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Глава </span></b><b><span lang=EN-US style='font-size:9.0pt;
  font-family:"Arial","sans-serif";color:#4D6D91'>V</span></b><b><span
  style='font-size:9.0pt;font-family:"Arial","sans-serif";color:#4D6D91'>.
  Общие и заключительные постановления</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 32</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Являются
  недействительными всякие оговорки договора о перевозке и всякие особые
  соглашения, предшествовавшие причинению вреда, которыми стороны отступали бы
  от правил настоящей Конвенции, либо путем определения подлежащего применению
  закона, либо путем изменения правил о подсудности. Однако при перевозке
  товаров, в пределах настоящей Конвенции, допускается условие о третейском
  разбирательстве, если третейское разбирательство должно происходить в тех
  местностях, на которые распространяется компетенция судов, предусмотренных в
  статье 28 абзац 1.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 33</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Ничто
  в настоящей Конвенции не может помешать перевозчику отказаться от заключения
  договора о перевозке или устанавливать правила, не противоречащие положениям
  настоящей Конвенции.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 34</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Настоящая
  Конвенция не применяется ни к международным воздушным перевозкам,
  осуществляемым в качестве первоначальных опытов предприятиям воздушных
  передвижений в целях установления регулярных воздушных линий, ни к
  перевозкам, осуществляемым при исключительных обстоятельствах вне всяких
  нормальных операций по воздушной эксплуатации.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 35</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Когда
  в настоящей Конвенции речь идет о днях, то подразумеваются дни непрерывной
  последовательности, а не рабочие дни.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 36</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Настоящая
  Конвенция составлена в одном экземпляре на французском языке, который будет
  храниться в архивах Министерства иностранных дел Польши, и заверенная копия
  которая будет передана распоряжением Польского Правительства Правительству
  каждой из Высоких Договаривающихся Сторон.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 37</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Настоящая Конвенция будет ратифицирована. Ратификационные грамоты будут
  депонированы в архивах Министерства иностранных дел Польши, которое сообщит
  об этом депонировании Правительству каждой из Высоких Договаривающихся
  Сторон.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  После того, как настоящая Конвенция будет ратифицирована пятью Высокими
  Договаривающимися Сторонами, она вступит в силу между ними на девяностый день
  после депонирования пятой ратификации. Впоследствии она вступит в силу между
  Высокими Договаривающимися Сторонами, которые ее ратифицировали, и Высокой
  Договаривающейся Стороной, которая депонирует свою ратификационную грамоту,
  на девяностый день после ее депонирования.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>3.
  Правительство Польской Республики сообщит Правительству каждой из Высоких
  Договаривающихся Сторон дату вступления настоящей Конвенции, так же как и
  дату депонирования каждой ратификации.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 38</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Настоящая Конвенция после вступления ее в силу останется открытой для
  присоединения всех государств.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Присоединение будет произведено посредством сообщения, направленного Правительству
  Польской Республики, которое сообщит об этом Правительству каждой из Высоких
  Договаривающихся Сторон.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>3.
  Присоединение возымеет действие с девяностого дня после нотификации,
  сделанной Правительством Польской Республики.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 39</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Каждая из Высоких Договаривающихся Сторон может денонсировать настоящую Конвенцию
  посредством сообщения, сделанного Правительству Польской Республики, которое
  немедленно известит об этом Правительство каждой из Высоких Договаривающихся
  Сторон.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Денонсирование возымеет действие через шесть месяцев после сообщения о
  денонсировании и лишь в отношении стороны, которая его произвела.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 40</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>1.
  Высокие Договаривающиеся Стороны могут при подписании, депонировании
  ратификаций или при своем присоединении заявить, что принятие ими настоящей
  Конвенции не распространяется на всю совокупность или на какую-либо часть
  своих колоний, протекторатов, мандатных территорий или всякой иной
  территории, находящейся под их суверенитетом или под властью, или на всякую
  иную территорию, находящуюся под сюзеренитетом.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>2.
  Вследствие этого они могут впоследствии присоединиться отдельно от имени всей
  совокупности или какой-либо части своих колоний, протекторатов, мандатных
  территорий или всякой иной территории, находящейся под их суверенитетом или
  их властью, или всякой территории, находящейся под сюзеренитетом, таким
  образом не вошедших в их первоначальное сообщение.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>3.Они
  также могут, сообразуясь с ее постановлениями, денонсировать настоящую Конвенцию
  отдельно, либо за всю совокупность, либо за какую-либо часть своих колоний,
  протекторатов, мандатных территорий или всякой иной территории, находящейся
  под их суверенитетом или их властью, или всякой территории, находящейся под
  сюзеренитетом.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>Статья 41</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Каждая
  из Высоких Договаривающихся Сторон может не ранее чем через два года после
  вступления в силу настоящей Конвенции взять на себя инициативу созыва новой
  международной конференции в целях изыскания тех улучшений, которые могли бы
  быть внесены в настоящую </span><span lang=EN-US style='font-size:9.0pt;
  font-family:"Verdana","sans-serif"'>Конвенцию. </span><span style='font-size:
  9.0pt;font-family:"Verdana","sans-serif"'>С этой целью она обратится к Правительству
  Французской Республики, которое примет необходимые меры для подготовки этой
  конференции.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Настоящая
  Конвенция, заключенная в Варшаве 12 октября 1929 года, останется открытой для
  подписания до 31 января 1930 года.</span></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>ДОПОЛНИТЕЛЬНЫЙ ПРОТОКОЛ</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  normal'><b><span style='font-size:9.0pt;font-family:"Arial","sans-serif";
  color:#4D6D91'>К статье 2</span></b></p>
  <p class=MsoNormal style='margin-bottom:9.0pt;text-align:justify;line-height:
  9.0pt'><span style='font-size:9.0pt;font-family:"Verdana","sans-serif"'>Высокие
  Договаривающиеся Стороны сохраняют за собой право объявить в момент
  ратификации или присоединения, что статья 2 абзац 1 настоящей Конвенции не
  будет применяться к международным воздушным перевозкам, совершаемым
  непосредственно Государством, его колониями, протекторатами, мандатными
  территориями или всякой иной территориями или всякой иной территорией,
  находящейся под его суверенитетом, его сюзеренитетом или его властью</span></p>
  </td>
 </tr>
</table>
</div>