<option value='0'></option>
<option value='1'>Индуистское вeгетарианское (Хинду)</option>
<option value='2'>Питание для грудных младенцев</option>
<option value='3'>Мягкая пища</option>
<option value='4'>Детское питание</option>
<option value='5'>Диабетическое питание</option>
<option value='6'>Фруктовое питание</option>
<option value='7'>Безглютеновая диета</option>
<option value='8'>Индуистское невeгетарианское (Хинду)</option>
<option value='9'>Кошерная еда</option>
<option value='10'>Низкокалорийное питание</option>
<option value='11'>Питание с низким содержанием жира</option>
<option value='12'>Питание с низким содержанием соли</option>
<option value='13'>Мусульманское питание</option>
<option value='14'>Питание c низким содержание лактозы</option>
<option value='15'>Вегетерьянское сырое питание</option>
<option value='16'>Морепродукты</option>
<option value='17'>Укажите тип питания</option>
<option value='18'>Вегетерьянское вега питание</option>
<option value='19'>Вегетерьянское Джейн питание</option>
<option value='20'>Вегетерьянское Восточное питание</option>
<option value='21'>Лакто-ово-вегетарианское питание</option>
<option value='22'>Строго кошерное питание</option>
<option value='23'>Строго кошерное детское питание</option>
<option value='24'>Строго кошерное рыбное питание</option>
<option value='25'>Строгое рыбное питание</option>
<option value='26'>Regal Meal</option>
<option value='27'>Вегетарианское строгое питание</option>
<option value='28'>Куриное питание</option>
<option value='29'>Греческие блюда для Великого поста</option>
<option value='30'>Рыбное питание</option>