<table class='tt-terms-content-header'>
	<tbody>
		<tr>
			<td class='tt-terms-content-title'>
				<i class='el-icon-paper-clip'></i><span>Правила и условия</span>
			</td>
		</tr>
	</tbody>
</table>
<div class='tt-terms-content-body'>
<div class="tt-legal-ttt-txt">
The website (the "Website"), and the system (the "System") integrated in it, are administered by Triptop Technologies  Limited (the "Triptop").
The following terms, together with the terms of the Suppliers specified next to each product in the System (the "Supplier's Terms"); the terms appearing on the booking details document, flight tickets, hotel vouchers, car rental vouchers etc., are incorporated hereof by reference and constitute an integral part of the terms and conditions which will apply on the passenger/customer/ website visitor (the "Customer"), who visits the Website and/or makes a reservation for any of the products published on the Website and/or System (the "Terms of Use"). Triptop reserves the right to change or amend, at its sole discretion, the provisions of this Terms of Use.
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
1.	Definitions<br>
In this Terms of Use each of the following terms or expressions shall have the meaning ascribed to them below: 
</div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.1.	
		</div>
		<div class="tt-legal-ttt-table-right">
			"Cancelation Fee"- as such term is defined in sub-clause 11.2.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.2.	
		</div>
		<div class="tt-legal-ttt-table-right">
			"Cancelation Notice" - as such term is defined in sub-clause 11.1.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.3.	
	</div>
		<div class="tt-legal-ttt-table-right">
			"Confirmed Reservation" – as such term is defined in sub-clause 4.6.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.4.	
		</div>
		<div class="tt-legal-ttt-table-right">
			"Customer" - as such term is defined in the preface.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.5.
		</div>
		<div class="tt-legal-ttt-table-right">
			"Product/s" – the product/s and/or service/s, which are published on the Website and/or System, including without limitation, regular flights, charter flights, car rental, hotels and packages.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.6.
		</div>
		<div class="tt-legal-ttt-table-right">
			"Request" – as such term is defined in sub-clause 4.4.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.7.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			"Reservation Alternative" - as such term is defined in sub-clause 4.1.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.8.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			"Return Flight" - as such term is defined in sub-clause 7.3.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.9.	
		</div>
		<div class="tt-legal-ttt-table-right">		
			"Supplier/s" – various wholesalers who organize the traveling services, airlines, hotels, foreigner service providers (outside of Israel), car rental companies, transfers, special packages etc.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.10.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			"Supplier's Terms" - as such term is defined in the preface.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.11.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			"System" - as such term is defined in the preface.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.12.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			"Terms of Use" - as such term is defined in the preface.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.13.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			"Travel Documents" - as such term is defined in sub-clause 5.2.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.14.	
		</div>
		<div class="tt-legal-ttt-table-right">		
			"Travel Partners" - as such term is defined in sub-clause 2.2.5.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.15.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			"Triptop" - as such term is defined in the preface.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			1.16.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			"Website" - as such term is defined in the preface.
		</div>
	</div>
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
	2.	Website/System Usage
</div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The use of the Website and/or the System, including the content and Product/s published on them, is offered to the Customer subject to his/her acceptance of all the terms and conditions set forth in this Terms of Use. By accessing or using the Website and/or System, booking any Products on this Website and/or System, or contacting Triptop's reservations representatives, the Customer agrees that the Terms of Use then in force shall apply.
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The Customer represents and warrants, by accessing or using the Website and/or System, as follows:
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			his/her age is over 18 years old;
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			he/she has a legal capability and authority to create and/or assume a valid and binding legal obligations;
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			not to use the Website and/or System for unlawful purposes.;
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.4.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			to use the Website and/or System in compliance with the Terms of Use;
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.5.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			to use the Website and/or System to make reservations for  himself/herself or for other persons for whom he/she are legally authorized to act ("Travel Partners");
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.6.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			to inform his/her Travel Partners about the content of the Terms of Use, including the specific terms and limitations, which apply to the relevant reservation;
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.7.	
		</div>
		<div class="tt-legal-ttt-table-right">		
			all the information provided by him/her on the Website and/or System is true, accurate, current and complete;
		</div>
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.8.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			not to use the Website and/or System in a manner which may harm Triptop and/or anyone on its behalf, including Suppliers, Customers and advertisers that are connected to it;
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.9. 
		</div>
		<div class="tt-legal-ttt-table-right">	
			not to use and/or display the content and/or information published on the Website and/or System for commercial purposes;
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.10.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			not to use any unauthorized software or application to access and/or use the Website and/or the Systems, without the prior written consent of Triptop;
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.11.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			not to use an automatic process or tool for accessing and/or using the Website and/or System;
		</div>
	</div>		
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">		
			2.2.12.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			not to copy, store, create an archive, distribute, sell or create a data or information base, partly or wholly, directly or indirectly, from the information or data obtained from the Website and/or the System;
		</div>
	</div>		
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.13.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			not to use any unauthorized means, for changing or redirecting, or to try to change or redirect, the streamed information and/or the data and/or the usage capabilities of the Website and/or System;
		</div>
	</div>		
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.2.14.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			not to damage, disable, over flow, impair or harm the Website and/or System, or to interfere with the use and/or enjoyment of any other persons from the Website and/or System; 
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">				
			2.2.15.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			not to make via the Website and/or System speculative, doubled or fictitious reservations and/or transactions.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">	
			2.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			It is hereby clarified that by accessing and/or using the Website and/or System, the Customer agrees to the Terms of Use. The Customer's aforesaid agreement is a condition for making any reservation or transaction with Triptop and/or the Customer participation in a vacation. The Customer further represents and warrants, in the name of his/her Travel Partners, that the Travel Partners agree to the aforesaid. No claim by a Customer and/or the Travel Partners, will be accepted nor acknowledged, on the basis that the Customer and/or the Travel Partners, has not read the Term of Use or that the Term of Use has not been brought to their attention prior to making the reservation or transaction.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			2.4.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Triptop has the right to block or terminate the Customers' access to the Website and/or System if the Customer violates the provisions of the Terms of Use.
		</div>
	</div>	
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
3.Triptop<br>
Triptop operates as a mediator between the Customer and the Supplier/s, and orders the Products for the Customer, as requested by him/her, from the Supplier/s. 
</div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			4.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Reservation Process
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			4.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The Customer has several alternatives for booking the Products on the Website and/or System (each alternative the "Reservation Alternative"), as follows:
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">				
			4.1.1.	
		</div>
		<div class="tt-legal-ttt-table-right">		
			Booking and payment through the Website – the Customer typing his Request and credit card details on the Website. A clearing fee for credit card transaction will be added to the Product's price specified in the System. After the receipt of the details of the Customer's credit card, the respective amount will be blocked but not charged. The final charge will take place by Triptop's reservation call center only after the Request shall become a Confirmed Reservation.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">		
				4.1.2.	
		</div>
		<div class="tt-legal-ttt-table-right">		
				Booking through the Website and payment by phone - the Customer typing the Request details on the Website. Following the placement of the Request, a Triptop's reservation representative will contact the Customer by phone for receiving the Customer's credit card details.  A clearing fee for credit card transaction will be added to the Product's price specified in the System. After the receipt of the details of the Customer's credit card, the respective amount will be blocked but not charged. The final charge will take place by Triptop's reservation call center only after the Request shall become a Confirmed Reservation.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">		
				4.1.3.	
		</div>
		<div class="tt-legal-ttt-table-right">		
				Booking and payment by phone – the Customer contacts Triptop by phone on 03-5171448 or 077-5013416 and provides his/her Request and credit card details to one of Triptop's reservation representatives. A clearing fee for credit card transaction will be added to the Product's price specified in the System as well as a service fee in the amount of US$10. After the receipt of the details of the Customer's credit card, the respective amount will be blocked but not charged. The final charge will take place by Triptop's reservation only after the Request shall become a Confirmed Reservation.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">		
				4.2.	
		</div>
		<div class="tt-legal-ttt-table-right">		
				It is hereby clarified that the Customer must place his/her Request at least one (1) business day prior to the departure date. Triptop will not be responsible and the Customer releases Triptop from any and all responsibility and/or liabilities in respect of Requests placed by the Customer less than one (1) business day prior to the departure date. Without derogating from the foregoing, in the event that the Customer places a Request, in accordance with the Reservation Alternative "Booking and payment through the Website" (see sub-clause 4.1.1 above), on a date which is less than one (1) business day prior to the departure date, Triptop will try to assist (without undertaking on its part) the Customer, to receive a final confirmation from the Supplier/s, and in the delivery of Travel Documents prior to the Customer’s departure.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">		
				4.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
				It is further clarified, that the option of booking charter flights, packages and/or other Product/s as may be determined by Triptop, from time to time, is not available under the Reservation Alternative "Booking and payment through the Website" (see sub-clause 4.1.1 above), but only under the other Reservation Alternatives.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">		
				4.4.	
		</div>
		<div class="tt-legal-ttt-table-right">	
				Booking Product/s on the System, by whichever Reservation Alternative, constitutes a request for purchase (the "Request"), as the booking from the Supplier/s is subject to the Products' availability, and the final confirmation of the relevant Supplier/s. Therefore, as long as the Supplier/s' final confirmation is not obtained, the Customer's reservation will not be considered as Confirmed Reservation.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">		
				4.5.	
		</div>
		<div class="tt-legal-ttt-table-right">	
				During the reservation process, the Customer is required to provide his/her personal details and the personal details of his/her Travel Partners who join the Customer on his/her tour. Triptop is not responsible for any mistakes made by the Customer in typing the aforesaid details or in the Request details, or if such details have not been processed by the System, or to any technical or other type of malfunction which prevent the Customer from placing a Request. Changing or amending Customer and/or his/her Travel Partners name or dates of tour or vacation, after the receipt of final confirmation from the Supplier/s, will be subject to additional fee as set forth in sub-clause 11.4 below.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">	
				4.6.	
		</div>
		<div class="tt-legal-ttt-table-right">	
				Final approval for the Request will be delivered to the Customer by one of Triptop's reservation representatives via phone, during the office's working hours, or e-mail to the Customer's e-mail address, as specified by him/her during the reservation process (the "Confirmed Reservation").
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">	
				4.7.	
		</div>
		<div class="tt-legal-ttt-table-right">	
				The price of a Confirmed Reservation includes the price of the Product/s as specified on the System, clearing fee and service fee of US$ 10, if applicable. Actual charge will be made by Triptop's reservation representative only after obtaining the Suppliers final confirmation for the Request. In the event that the Request includes more than one (1) Product, then the Customer's account will not be charged until a Supplier/s' final confirmation, for all Products included in the Request, is obtained. If the Customer wishes to split the Request, and a Supplier/s' final confirmation is obtained for part of the Request, then the Customer will be charged for the part of the Request that was confirmed. It is hereby clarified that until a Supplier/s' final confirmation for a Request is obtained, the prices of the Product/s under such Request may change or be amended by the Supplier/s, and in such case the Customer will be allowed to cancel the Request without charge.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">	
				4.8.	
		</div>
		<div class="tt-legal-ttt-table-right">	
				For avoidance of doubt, it is hereby clarified, that a Request/Confirmed Reservation would obligate Triptop only after the receipt of an approval from the credit card's company, for the transaction underlying such Request/Confirmed Reservation.
		</div>
	</div>	
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
5.	Pre-Travelling Requirements 
</div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			5.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Any Customer is solely responsible to examine the necessity to obtain, and, if necessary to obtain, the required documents and equipment as elaborated bellow.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">	
			5.1.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			A valid passport for at least 6 months as of the departure date.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">	
			5.1.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			A pregnant woman, commencing from the 24 week of pregnancy must obtain a medical approval from her medical physician, in the English form, of orderly pregnancy and no prevention to fly.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">	
			5.1.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Visas to countries where the Customer wishes to visit (there is a necessity to examine the need for visas with the consulate of the destination country and it is recommended to obtain an entry visa to the destination country prior to departure).
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">	
			5.1.4.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Medicines and vaccines to countries where the Customer will visit (Please consult with your personal physician and contact the Ministry of Health or one of the medical centers which specialize in this subject).
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">	
			5.1.5.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Health and baggage insurance. It is recommended to purchase a health and baggage insurance policy prior to the Customer departure, as well as the appropriate expansion according to the nature of the journey and the Customer's status of health. The Customer's baggage is at the sole responsibility of the airline and/or the airline representative, which provides ground services, and Triptop has no control and/or responsibility with concern to this issue, including the handling of baggage that was not delivered or damaged.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			5.1.6.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			An entry visa for each country on the Customer's tour itinerary, for Customers who have transit certificates.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			5.1.7.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Customer must specify and bring Triptop up to date if he/she has a dual citizenship or nationality and/or transit visa.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			5.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			It is the Customer's responsibility to check the Travel Documents and information, immediately upon receiving them from Triptop, and to ensure that he/she has all the relevant documents (e.g. Insurance policy, airline tickets, hotel and shuttle vouchers, car rental vouchers etc. (the "Travel Documents")), including without limitation, that the details listed in them match the Request and/or Confirmed Reservation.
		</div>
	</div>	
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
			6.	Hotels
</div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Hotel level and their rating are established by the local Ministry of Tourism of each country, and therefore no comparison between the level and rating of hotels located in different countries is possible.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The common practice in hotels for entrance and departure to or from rooms is irrespective to the flights schedule. The customary schedule for room entrance is 14:00. Triptop can not guarantee an early entry or late departure from the hotel (the Customer is required to leave his/her hotel room at 12:00 on the departure date, this, even if his/her flight take off at night). If the Customer intends to arrive after 18:00, he/she must inform Triptop, with regard to his/her late arrival, during the reservation process (if Triptop is not informed during the reservation process with regard to the Customer's late arrival, Triptop shall not be responsible or liable in the event that no room is retained for the Customer). Furthermore, the Customer may inform in advance the hotel, according to the details which are found on the voucher received from Triptop. A Customer, whose trip schedule went wrong in a manner which may cause for a late arrival, shall be responsible to notify the hotel directly while taking the name of the employee/receptionist, to whom he/she has notified of the late arrival.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Rooms in hotels are usually double rooms with two beds or a double bed. Triptop can not guarantee any particular type of room or a specific location within the hotel. In a number of hotels, the hotel is divided into a central structure and other buildings (bungalows or villas). From the hotel perspective, there is no difference between the various rooms, and Triptop shall not be responsible and/or liable if the Customer will be accommodated in a room which is distant from the general services of the hotel. In the event of a reservation for more than 2 people per room, it is possible that a folding bed or an extra bed will be placed in a double room, but, Triptop can not guarantee that a larger room will be provided in such case. Single room is by nature smaller. Special rooms for the disabled require specific prior approval in writing from the Supplier/s regarding the capability to meet the needs of the disabled. The state of maintenance and cleaning of the rooms or the hotel facilities is not in any way or manner under the responsibility and/or controlled by Triptop.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.4.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Boarding on BB basis - Continental breakfast only (unless specified otherwise in the included price section). Boarding on HB basis - Continental breakfast and a hot meal (unless specified otherwise in the included price section). Boarding on FB basis includes 3 meals a day (breakfast, lunch, dinner). Boarding on AI basis "all inclusive board" includes also intermediate meals and soft drinks, as may be changed from hotel to hotel. Boarding on RO basis does not include meals at all. In some of the hotels the number of meals will be calculated from the moment of the Customer’s arrival until his/her departure. Therefore, if the arrival to the hotel on the first day is after dinner time, or the departure, on the last day, is prior to breakfast time, the Customer will not be entitled to an alternative meal.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.5.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The local travel agent and/or Triptop are not responsible for the daily operation of the hotel, including the operation of its systems, hours of operation of the air-conditioner etc. Triptop is not responsible for operation of the air-conditioner even if it is noted in the hotel's description that the hotel is equipped with an air- conditioner because its operation is solely under the control of the hotel.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.6.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			In some circumstances, it is possible that hotels will be over booked and according to international rules rooms can not be evacuated even if they have been booked. In the event of overbooking by the hotels, local agent and or management of the hotel may transfer the Customer to an alternative hotel, of the same or higher rank than the hotel that was booked by the Customer. The responsibility for the overbooking, including the transfer of the Customer to an alternative hotel is upon the hotel management and/or local agent.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.7.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			In most hotels, additional payment is required for special services and for the use of facilities such as TV, sauna, gym, tennis courts, sunshades and towels at the swimming pool, spa, safe etc. No complaints will be accepted or acknowledged by Triptop in cases of demands for payment at the hotel as mentioned above. Packages, which include staying in condominium/holiday villages, in most cases require an additional charge for final cleaning. Furthermore, sometimes, Customer will be required to deposit additional funds as collateral upon arrival. In Addition, services (replacing towels, etc.) must be paid separately on site. Moreover, in apartments in the Mediterranean basin, it is common that an additional charge for air-conditioner is required on site, and if an option of room maintenance is available, it will also be charged for on site.  In Western Europe when there is no charge for a child in the parents' room, Customer must pay directly to the hotel for the child's breakfast. Some of the services offered by the hotel are seasonal and do not operate all year round. The hotel management may at any time, temporarily close these facilities or stop providing a service and Triptop has no responsibility for the above.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.8.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Triptop is not responsible for renovations and/or construction in or near the hotel and/or various noises, heard by the traveler during his/her staying at the hotel.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.9.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			In some resort areas there are Israeli representatives employed by the local agent. The representative's role is to receive the Customer upon his/her arrival (when the Customer has paid for this service), take care of his/her transfer to the hotel and from the hotel, at the end of his vacation, to the airport for the flight. The representatives are trying to do their best to meet the Customer during his vacation to provide information on tours, which are organized by the local agent, and Triptop will not be responsible when the representative is unable to reach each and every Customer. Except for transfers from the airport to the hotel and back, Triptop is not responsible for other activities of the representative. The phone number of the local agent is on the hotel voucher and the Customer may contact him/her with any questions.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.10.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Tours at the resort area are sold and managed by local offices and/or representatives acting on their behalf, and Triptop has no part and/or responsibility with respect to them. Tours are conditioned upon a minimum number of participants, and therefore it is possible that a certain tour is canceled, despite the already an early tour registration. Sometimes, a tour guide determines and chooses a central gathering point and the Customers are responsible to reach the gathering point independently.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.11.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			If as a result of changes in the flight schedule, the Customer will suffer a loss or an extra accommodation charge in the booked hotel, Triptop shall not be liable for the loss or the added charges paid by the Customer. Furthermore, if as a result of delays in flights, the Customer will miss meals at the booked hotel, Triptop shall not be liable for the cost of the missed meals.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.12.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			During exhibitions and fairs, hotel prices are higher than usual and are without regulation.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.13.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The transfer of the Customer from the airport to the hotel and back in packages which include a transfer service, are carried out by a shuttle bus, and therefore it is possible that the trip will take longer due to the loading or unloading of passengers in various hotels.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			6.14.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			In accordance with the requirements of Supplier/s abroad, if during the Customer’s stay abroad arises a need to change or cancel the Confirmed Reservation, then the Customer must cancel the reservation with the Supplier via whom the reservation has been made, and whose phone number appears on the voucher. A cancellation that will not be made as stated above, and that will be done by the Customer directly with the hotel may not be recognized as a cancellation entitling a refund. If the Customer does not act according to the instruction written on the hotel voucher, and Triptop is charged due to it, the Customer will be charged with the same plus a service fee.
		</div>
	</div>	
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
			7.	Flights
</div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			7.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The flights offered on the Website/System are at the sole responsibility of the different Suppliers. Flight details, including flight dates/schedules/routes may be changed at the sole discretion of the Supplier/s, and sometimes even without prior notification. Triptop is not and will not be responsible or liable for any damages, lost or expenses caused to the Customer due to changes in flights’ dates/schedules/routes, and therefore can not comply with any Customer's request or demand for refund and/or compensation for the mentioned above.  
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			7.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			It is the Customer's responsibility to check and confirm with the airport information, the schedule of the flight from the Customer's country of origin. If the Customer does not comply with the aforesaid it is agreed that no claim could be made by the Customer with regard to the schedule changes of the outgoing flight.   
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			7.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Any Customer, without exceptions, must re-confirm the departure schedule of the return flight to the Customer’s country of origin (the "Return Flight") 72 hours in advance. The re-confirmation should be made in accordance with the details that appear on the flight tickets or via the local representative or flight confirmation center. It is the Customer's responsibility to make sure that he/she is aware of the manner by which he/she should re-confirm the Return Flight. It is clarified that it is the sole responsibility of the Customer to provide Triptop and/or the Supplier, prior to his/her departure of his/her country of origin and while re-confirming the Return Flight, with a phone number in the destination country or other means of communication (e.g. e-mail address) which will enable Triptop or the Supplier to contact him/her in case of schedule changes of the Return Flight.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			7.4.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			It is the sole responsibility of the Customer to arrive for the flight at least three (3) hours prior to the scheduled flight as appears on the flight ticket for security reasons and in order to complete the departure arrangements on time. Triptop shall not be liable for any damages, lost or expenses caused to the Customer due to his/her failure to show to the flight on time.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			7.5.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The meals served on plane are at the sole responsibility of the Supplier. Triptop can not guarantee a certain type of meal (e.g. kosher or vegetarian meal), and Customer who wishes certain type of meal on flight should note it during the reservation process, and Triptop shall deliver his/her request to the Supplier. For avoidance of doubt, it is hereby clarified that in most charter flight kosher or vegetarian meal are not available, and Triptop does not have any control or assume any responsibility for providing the requested type of meal.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			7.6.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			It is hereby clarified, that except for the Low-Cost airline carriers, the Supplier/s usually allow transporting a baggage of up to 20 kg in trunk, and a hand baggage of up to 4 kg. An overweight baggage will be charged according to a rate set by the Supplier and in some cases the Supplier might refuse to transport a baggage which is in excess of 20 kg. A baby up to the age of 2 years old is not entitled for a sitting place and baggage transporting.
		</div>
	</div>	
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
	8.	Car Rental
</div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			8.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			For the purpose of renting a car the Customer will have to present the following document at the car picking station or else the car will or may not be delivered to him/her:
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			8.1.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			an international credit card (sometime the car rental company demands two (2) different international credit cards);
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			8.1.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			a valid international driving license;
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			8.1.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			a valid driving license from the Customer’s country of origin;    
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			8.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			It is hereby clarified that the Supplier does not undertake to supply certain car type or model, but a car from certain class. 
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			8.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Minimum age for renting a car is 25 years old; Maximum age for renting a car is 69 years old.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			8.4.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			A renting day is 24 hours and for any delay the Customer will be charged for an additional renting day according to the local rate. The car is supplied with a full fuel tank and the Customer has to return the car with the same or else he/she might be charged for it according to the local rate.  
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			8.5.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Triptop is not responsible and will not be liable for any damages or lost caused to the car or property inside the car, and shall not incur any payment or expenses arising from or connected to parking services rendered by the Supplier.   
		</div>
	</div>	
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
	9.	Prices Policy 
</div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			9.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Triptop reserves the right to change or amend, at all times and at its sole discretion the prices of the Product/s published on the Website and/or System. 
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			9.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The prices include airport taxes and other levies (fuel, security etc.). The Products' prices do not include clearing fee which will be added upon charging the Customer's credit card. The Product's prices may be changed or amended without an advanced notice. The prices are conditioned upon booking and payment in advance: increase in prices will apply to any Request and/or Confirmed Reservation unless paid in advance and the traveling documents are in the hands of the Customer. In the event that the full consideration is not been fully paid to Triptop until the departure date, then any change which involves an increase in the Product/s prices (including but not limited to, any changes resulting from airport taxes and / or security levy and/or fuel levy and/or any other fee and/or exchange rates), shall solely apply to the Customer.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			9.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			In the event that the payment for a Product is made in a different currency than is specified next to the Product on the Website and/or System, then the Customer shall be charged according to the high tourism exchange rate published on the date of charge. In addition, the same shall apply to refund. For avoidance of doubt, no refund will be made for Product/s or which have been partially used.
		</div>
	</div>	
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
	10.	Days Count
</div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			10.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			In the days count, the departure and return date are included in accordance with the timetables and flight schedules set by the Supplier/s. The vacation days are counted from the departure date until the return date, even though the departure time is scheduled for the afternoon or evening hours and the return time is scheduled for early morning time.  
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			10.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The flights are performed by regular airlines companies or charter companies. Sometimes the flights are not direct flights and they include intermediate stops.  
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			10.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The flights schedule are in accordance with the timetables of the Supplier/s and Triptop does not undertake to complete partial days whether by actual days or by compensation.
		</div>
	</div>	
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
11.	Terms of Cancellation or Change<br>
As of the moment a Request becomes a Confirmed Reservation, the following terms will apply to cancellation or change of a Confirmed Reservation:
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-cancell-confirmed">
	Cancellation of Confirmed Reservation
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			11.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			A cancellation notice requires the Customer to provide a written notice and obtain a phone approval from Triptop's reservation call center (e-mail address: service@trip-top.com; Tel: +972-3-5171448) (the "Cancelation Notice"). The Cancellation Notice must include the passengers and Confirmed Reservation details (reservation number, itinerary, dates, etc.). Within 24 hours the Customer will receive a confirmation e-mail that the Cancellation Notice was received, including the amount of refund if such refund is applicable according the Supplier's Terms. Within 30 working days the refund will be made.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			11.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			After the receipt of a Cancellation Notice from the Customer, Triptop will cancel the transaction and charge the Customer for a service fee and Supplier's cancellation fee (the "Cancelation Fee") as specified in the Supplier's Terms. Service fee in an amount of US$ 20 per passenger on account of canceling the transaction will be paid to Triptop. Cancellation Fee is determined by the Supplier/s, and sometimes there is a willingness (without undertaking) on the Supplier's part to reduce the amount of the Cancellation Fee. Triptop undertakes to deliver to the Supplier/s the Customer's request for a refund and to refund the Customer with any amount it receives on account of the cancellation of the transaction. It is hereby clarified that Triptop is not and will not be responsible or liable for any acts committed by the Customer in contrary to the instructions of Triptop or a local representative abroad.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			11.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			No-show to a flight and/or hotel and/or any other Product, which is part of a Confirmed Reservation, for any reason, may, in accordance with the Supplier/s policy, lead to the cancellation of the entire Confirmed Reservation (i.e. with regard to hotel – canceling the entire stay ordered; with regard to flights – canceling the outgoing and return flight tickets, etc.), and to a full charge in respect of all Products without an exception and without the possibility of a refund. At the request of the Customer, Triptop will approach the Supplier/s for a refund, if applicable. The service fee for handling the matter with the Suppliers will be US$ 20 per passenger.
		</div>
	</div>	
	<div style="clear:both"></div>
	<div class="tt-legal-ttt-cancell-confirmed">
		Changes of Confirmed Reservation 
	</div>
	<div style="clear:both"></div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			11.4.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Once a Request becomes a Confirmed Reservation, no changes will be allowed or accepted (including changes to the dates of the Confirmed Reservation or passenger names) unless a prior written consent of the Supplier/s is obtained by the Customer. Please notice that these changes may carry a fee charged by the Supplier as stipulated in the Supplier's Terms. No arguments with regard to changes of a Confirmed Reservation will be acknowledged unless they are supported by a written document signed by the Supplier/s. Change of a Confirmed Reservation also involves service fee for Triptop in the amount of US$ 20 per passenger.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			11.5.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			It is hereby clarified that the provisions of clause 11.4 above, do not constitute any undertaking on Triptop's part that changes of the Confirmed Reservation (dates or passenger names) will be allowed or are possible.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			11.6.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Nothing contained in this clause 11, may impair the right of the Supplier/s to change the terms of supply of the Product/s and if such changes occur it will not be under the responsibility of Triptop.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			11.7.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			For the purpose of changing a Request and/or Confirmed Reservation, please send a statement of change request to the following email address: service@trip-top.com. The statement must include the name of the Customer, Travel Partner name and Request or Confirmed Reservation number. Yetravel's reservation representative will contact the Customer within one (1) day after the receipt of the statement. Furthermore, the Customer may also contact Triptop's reservation center via Tel: +972-3-5171448 or +972-77-5013416.
		</div>
	</div>	
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
12.	Disputes<br>
In order to enable Triptop to contact the Supplier/s abroad for clarifying any complaint/s that the Customer may have, any claim must be delivered to Triptop within 14 days after the return of the Customer to its country of origin.
</div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			13.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Limitation of Liability 
			</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			13.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The information, data and Products published on this Website and/or System are drawn from databases of third parties' global supply or distribution systems in the field of tourism and recreation. Triptop is not and will not be responsible for any inaccuracy and/or errors existing in them. In the event that an error and/or discrepancy and/or inaccuracy exists in the descriptions and/or prices of the Products presented on the Website and/or System, such error and/or discrepancy and/or inaccuracy will not obligate Triptop. In such events, Triptop may cancel the transaction at its sole discretion and refund the funds paid by the Customer, if paid.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			13.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			The inclusion or offering of any Products on the Website and/or System does not constitute any endorsement or recommendation of such Products by Triptop.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			13.3.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			TRIPTOP PROVIDES THE INFORMATION AVAILABLE ON THE WEBSITE AND/OR SYSTEM AND/OR THE SYSTEM AND/OR THE PRODUCT/S PROVIDED TO CUSTOMER "AS-IS" AND WITH ALL FAULTS, AND WITHOUT ANY OBLIGATION ON ITS PART, AND IT DISCLAIMS ALL WARRANTIES, CONDITIONS REPRESENTATION, EXPRESSED OR IMPLIED, WHETHER UNDER LAW, CASE LAW, CUSTOM, USE OR OTHERWISE, INCLUDING BUT NOT LIMITED TO, PERFORMANCE, COMPLETENESS OR ACCURACY OF INFORMATION, COMMENTS, RESULTS, PROFESSIONAL PERFORMANCE, FREE OF VIRUSES OR OTHER HARMFUL SOFTWARE OR COMPONENTS AND THE ABSENCE OF NEGLIGENCE, SECURITY, NON-INFRINGEMENT, INTEGRATION, MERCHANTABILITY, UNINTERRUPTED PLEASURE, SATISFACTORY  QUALITY OR FITNESS FOR A PARTICULAR PURPOSE.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			13.4.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Triptop tranfers the Customer's Request on behalf of the Customer to the Supplier/s, according to the details specified in the Customer's Request. Triptop undertakes to transfer the Customer's Request competently and accurately. Triptop undertakes to provide to the Customer with any information that is known to it with respect to the Products, to provide to the Supplier/s the relevant information and make sure that the Confirmed Reservation will comply with the Customer's Request.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			13.5.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Triptop acts as a mediator between the Customer and the Supplier/s. It is hereby clarified that Triptop has no connection and or part and/or ability to influence the actions of the Supplier/s, and therefore, it is agreed that Triptop under no circumstances will responsible or liable for errors, disruptions, delays and damages of any kind, which may be caused as a result of the non-performance, partial performance, faulty performance of services, or not supplying or supplying  defective Product/s by the Supplier/s or their representatives,  including without limitation, as a result of factors beyond the control of the Supplier/s, such as strikes , weather, holidays, or special requests of the Customer regarding the the Products. The Product/s are provided at the sole responsibility of the various Supplier/s. The Customer has the right to file a claim directly against the various Supplier/s for damages caused by their acts or omissions.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			13.6.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Triptop is not responsible or liable for damages, lost and expenses caused to the Customer due to accidents, illnesses and medical expenses including hospitalization expenses, baggage damages, loss of baggage, documents, airline tickets, passport and any other property, natural disasters, theft, robbery and other act of violence, etc. The Products published on the Website and/or System do not include insurance. Therefore, the Customer is hereby advised to insure himself/herself and his/her baggage with extensive personal insurance covering the damages and the events mentioned above as well as with respect to a cancellation of Confirmed Reservation.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			13.7.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Triptop reserves the right, at its sole discretion,  to cancel and/or replace, wholly or partially, any flight and/or tour and/or package and or any other Product or service booked by the Customer as part of the services provided by Triptop, if the number of passengers does not justify the flight and/or tour and/or package and/or other service, and for any other reason justifying the cancellation, even without any prior notice
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			13.8.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Triptop may terminate at any time the activity of the Website and/or System and their use, in whole or in part, without prior notification. Triptop is entitled, at its sole discretion and without prior notice, to refuse to grant access to the System or any part thereof, to any Customer. Triptop may change, from time to time, the Website and/or System installed in it, including without limitation, the appearance, content, scope and availability of the Product/s published thereon, all without the need for prior notice. Such changes will be made, in part, in light of the dynamic nature of the Web, technological changes and the occurrence of other changes. Such changes, by their nature may entail malfunctions and/or trigger discomfort at the beginning and the like.
		</div>
	</div>	
	<div class="tt-legal-ttt-cancell-confirmed">
		The Customer agrees that in accessing the Website and/or System he/she makes a statement that he/she will not have any claim and/or demand against Triptop for the implementation of such changes and/or malfunctions which may occur following the implementation of such changes.
	</div>
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			13.9.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			Triptop shall not be liable towards the Customer and/or Travel Partner under any circumstances for any loss, damage, claims or costs, of any kind, including any direct, special, incidental, indirect or consequential damages whatsoever (including but not limited to damages of loss of revenue or profits, loss of use, loss of business opportunities, penalties, losses, expenses, loss of confidential or other disruption of business, personal injury, loss of privacy, corruption, security flaw, the existence of viruses spyware) caused to the Customer Travel Partner, and even if Triptop  has been informed of the possibility of the existence of losses, damages, claims or costs as aforesaid.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			13.10.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			In the event that, despite the restrictions set forth in this Terms of Use with regard to the responsibility and/or liability of Triptop, Triptop is found by a competent court liable for the loss, damage, expenses or cost incurred by the Customer and/or any Travel Partner, then in no event Triptop cumulative liability will exceed the lower of (a) the service fee paid by the Customer in respect of the transaction carried out on the Website and/or System, or (b) US$ 100, regardless of cause of action and/or reason and/or action for which compensation is claimed for, even if such limited remedy does not meet its essential purpose.
		</div>
	</div>	
</div>
<div style="clear:both"></div>
<div class="tt-legal-ttt-def">
	14.	Copyrights And Intellectual Property
</div>
<div class="tt-legal-ttt-table">
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			14.1.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			All copyrights and intellectual property in the Website and/or System, including Website design and/or System software, application, computer code, graphic file, text and other materials contained in it, if not explicitly stated otherwise, reserved solely toTriptop.
		</div>
	</div>	
	<div class="tt-legal-ttt-table-row">
		<div class="tt-legal-ttt-table-left">
			14.2.	
		</div>
		<div class="tt-legal-ttt-table-right">	
			You may not copy, reproduce, distribute or display material as specified above, unless Triptop's written approval is obtained in advance.
		</div>
	</div>	
</div>
<div style="clear:both"></div>
</div>