<option value='0'></option>
<option value='1'>Собака поводырь</option>
<option value='2'>Собака - уши</option>
<option value='3'>Кресло-каталка - не могу подниматься по ступенькам</option>
<option value='4'>Кресло-каталка - могу подниматься по ступенькам</option>
<option value='5'>Подвозка</option>
