<option value='0'></option>
<option value='1'>Vegetarian Hindu Meal</option>
<option value='2'>Baby Meal</option>
<option value='3'>Bland Meal</option>
<option value='4'>Child Meal</option>
<option value='5'>Diabetic Meal</option>
<option value='6'>Fruit Platter Meal</option>
<option value='7'>Gluten Intolerant Meal</option>
<option value='8'>Hindu (non Vegetarian) Meal Specific</option>
<option value='9'>Kosher Meal</option>
<option value='10'>Low Calorie Meal</option>
<option value='11'>Low Fat Meal</option>
<option value='12'>Low Salt Meal</option>
<option value='13'>Moslem Meal</option>
<option value='14'>Low Lactose Meal</option>
<option value='15'>Vegetarian Raw Meal</option>
<option value='16'>Sea Food Meal</option>
<option value='17'>Special Meal/Specify Food</option>
<option value='18'>Vegetarian Vegan Meal</option>
<option value='19'>Vegetarian Jain Meal</option>
<option value='20'>Vegetariam Oriental Meal</option>
<option value='21'>Vegetarian Lacto-ovo Meal</option>
<option value='22'>Strictly Kosher Meal</option>
<option value='23'>Strictly Kosher Child Meal</option>
<option value='24'>Strictly Kosher Fish Meal</option>
<option value='25'>Regal Fish Meal</option>
<option value='26'>Regal Meal</option>
<option value='27'>Regal Vegeterian Meal</option>
<option value='28'>Chicken Meal</option>
<option value='29'>Greek Festing Meal</option>
<option value='30'>Fish Meal</option>