<option value='0'></option>
<option value="1">Blind with seeing eye dog</option>
<option value="2">Deaf with hearing dog</option>
<option value="3">Wheel chair needed - cannot ascend/descend stairs</option>
<option value="4">Wheel chair needed - can ascend/descend stairs</option>
<option value="5">Wheelchair - Immobile</option>