<div id='tariff' name='tariff'>
	<table class='tt-terms-content-header'>
		<tbody>
			<tr>
				<td class='tt-terms-content-title'>
					<i class='el-icon-plane'></i><span>Fare rules</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class='tt-terms-content-body'>
	<iframe ng-if="termsRulesUrl" ng-src="{{termsRulesUrl}}" width="100%" height="400" frameBorder="0" style="overflow:hidden; height:400px; width:100%"></iframe>
</div>
