.box (@width: 100%, @height: auto) {
	width: @width;
	height: @height;
}

#triptop-terms {
	font-size: 9.0pt;
}

.triptop-container {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #555;

	table {
		border-spacing: 0;
		border: 0;
		padding: 0;
		margin: 0;
	}

	.tt-align-left {
		text-align: @left;
	}

	.tt-align-right {
		text-align: @right;
	}

	.tt-float-left {
		float: @left;
	}

	.tt-float-right {
		float: @right;
	}

	.tt-clear {
		clear: both;
	}

	.tt-link {
		cursor: pointer;
	}

	.tt-terms-content-header {
		.box();
		margin: 5px 0 0;

		td {
			border-bottom: 1px solid #FF7405;
		}

		.tt-terms-content-title {
			height: 30px;
			font-size: 16px;
			font-weight: bold;
			white-space: nowrap;

			i {
				padding: 0 5px;
				font-size: 20px;
			}
		}
	}

	.tt-terms-content-body {
		.box();
		margin: 5px;
	}

	.tt-legal-ttt-title {
		width:100%;
		height:25px;
		font-size:120%;
		font-weight:bold;
		color:#49B5FC;
		text-align:center;
	}

	.tt-legal-ttt-txt {
		width:100%;
		height:auto;
		font-weight:bold;
		text-align:justify;
		padding:10px;
	}

	.tt-legal-ttt-def {
		width:100%;
		font-size: 10.0pt;
		color: #4D6D91;
		font-weight:bold;
		text-align:justify;
		padding:5px;
		padding-@{left}: 2px;
	}

	.tt-legal-ttt-table {
		display:table;
		font:arial;
		font-size:90%;
		font-weight:bold;
		text-align:justify;
		padding:10px;
		margin-@{left}:8px;
		margin-bottom:10px;
	}

	.tt-legal-ttt-table-row {
		display:table;
		position:relative;
		width:100%;
		min-height:25px;
		margin-bottom:3px;
		margin-top:3px;
	}

	.tt-legal-ttt-table-left {
		float:@left;
		width:45px;
		font-size:120%;
		font-weight:bold;
		text-align:@left;
		margin-@{right}:5px;
		padding-top:2px;
	}

	.tt-legal-ttt-table-right {
		font-size:9.0pt;
		font-weight:normal;
		text-align:@left;
		margin-@{right}:5px;
		text-align:justify;
	}

	.tt-legal-ttt-cancell-confirmed {
		width:100%;
		padding-top:3px;
		padding-bottom:3px;
		margin-top:10px;
		margin-bottom:3px;
		color:#FC9E19;
		font-size:130%;
		font-weight:bold;
	}
}