#triptop-terms {
  font-size: 9.0pt;
}
.triptop-container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
}
.triptop-container table {
  border-spacing: 0;
  border: 0;
  padding: 0;
  margin: 0;
}
.triptop-container .tt-align-left {
  text-align: left;
}
.triptop-container .tt-align-right {
  text-align: right;
}
.triptop-container .tt-float-left {
  float: left;
}
.triptop-container .tt-float-right {
  float: right;
}
.triptop-container .tt-clear {
  clear: both;
}
.triptop-container .tt-link {
  cursor: pointer;
}
.triptop-container .tt-terms-content-header {
  width: 100%;
  height: auto;
  margin: 5px 0 0;
}
.triptop-container .tt-terms-content-header td {
  border-bottom: 1px solid #FF7405;
}
.triptop-container .tt-terms-content-header .tt-terms-content-title {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
.triptop-container .tt-terms-content-header .tt-terms-content-title i {
  padding: 0 5px;
  font-size: 20px;
}
.triptop-container .tt-terms-content-body {
  width: 100%;
  height: auto;
  margin: 5px;
}
.triptop-container .tt-legal-ttt-title {
  width: 100%;
  height: 25px;
  font-size: 120%;
  font-weight: bold;
  color: #49B5FC;
  text-align: center;
}
.triptop-container .tt-legal-ttt-txt {
  width: 100%;
  height: auto;
  font-weight: bold;
  text-align: justify;
  padding: 10px;
}
.triptop-container .tt-legal-ttt-def {
  width: 100%;
  font-size: 10.0pt;
  color: #4D6D91;
  font-weight: bold;
  text-align: justify;
  padding: 5px;
  padding-left: 2px;
}
.triptop-container .tt-legal-ttt-table {
  display: table;
  font: arial;
  font-size: 90%;
  font-weight: bold;
  text-align: justify;
  padding: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
}
.triptop-container .tt-legal-ttt-table-row {
  display: table;
  position: relative;
  width: 100%;
  min-height: 25px;
  margin-bottom: 3px;
  margin-top: 3px;
}
.triptop-container .tt-legal-ttt-table-left {
  float: left;
  width: 45px;
  font-size: 120%;
  font-weight: bold;
  text-align: left;
  margin-right: 5px;
  padding-top: 2px;
}
.triptop-container .tt-legal-ttt-table-right {
  font-size: 9.0pt;
  font-weight: normal;
  text-align: left;
  margin-right: 5px;
  text-align: justify;
}
.triptop-container .tt-legal-ttt-cancell-confirmed {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
  margin-bottom: 3px;
  color: #FC9E19;
  font-size: 130%;
  font-weight: bold;
}
