<div class="tt-search-filter">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="tt-values-wide">
				<div class="tt-row-34">
					<label>&zwj;Стоимость: {{filterSet.price[0] | prices}} - {{filterSet.price[1] | prices}}&zwj;</label>
					<input slider="price" type="text"/>
				</div>
				<div class="tt-row-33">
					<label>&zwj;Название отеля&zwj;</label>
					<input type="text" class="form-control input-sm"/>
				</div>
				<div class="tt-row-33">
					<label>&zwj;Категория отеля&zwj;</label>
					<select class="form-control input-sm" selectize="query.rank">
						<option value="0">&zwj;Все категории&zwj;</option>
						<option value="1">&#9733;</option>
						<option value="2">&#9733;&#9733;</option>
						<option value="3">&#9733;&#9733;&#9733;</option>
						<option value="4">&#9733;&#9733;&#9733;&#9733;</option>
						<option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
					</select>
				</div>
				<div class="tt-row-25">
					<label>&zwj;Тип номера&zwj;</label>
					<select class="form-control input-sm" selectize="query.roomType" disabled="disabled">
						<option value="1">&zwj;Одноместный&zwj;</option>
						<option value="2">&zwj;Двухместный&zwj;</option>
						<option value="3">&zwj;Трехместный&zwj;</option>
						<option value="4">&zwj;Четырехместный&zwj;</option>
						<option value="5">&zwj;Двухместный (2 кровати)&zwj;</option>
						<option value="6">&zwj;Двухместный одному&zwj;</option>
						<option value="7">&zwj;Двухместный+реб.&zwj;</option>
						<option value="8">&zwj;Двухместный+2реб.&zwj;</option>
						<option value="9">&zwj;Двухместный+3реб.&zwj;</option>
					</select>
				</div>
				<div class="tt-row-25">
					<label>&zwj;Boarding&zwj;</label>
					<select class="form-control input-sm" selectize="filterSet.boarding" method="sort">
						<option value="AllIncluded">&zwj;All included&zwj;</option>
						<option value="AmericanBreakfast">&zwj;American breakfast&zwj;</option>
						<option value="BedAndBreakfast">&zwj;Bed and breakfast&zwj;</option>
						<option value="BreakfastAndTreatment">&zwj;Breakfast and treatment&zwj;</option>
						<option value="BreakfastInFridge">&zwj;Breakfast in fridge&zwj;</option>
						<option value="BuffetBreakfast">&zwj;Buffet breakfast&zwj;</option>
						<option value="ChineseBreakfast">&zwj;Chinese breakfast&zwj;</option>
						<option value="ColdBuffetBreakfast">&zwj;Cold buffet breakfast&zwj;</option>
						<option value="ContinentalBreakfast">&zwj;Continental breakfast&zwj;</option>
						<option value="EnglishBreakfast">&zwj;English breakfast&zwj;</option>
						<option value="FullBoard">&zwj;Full board&zwj;</option>
						<option value="FullBoardAndTreatment">&zwj;Full board and treatment&zwj;</option>
						<option value="HalfBoard">&zwj;Half board&zwj;</option>
						<option value="HalfBoardAndTreatment">&zwj;Half board and treatment&zwj;</option>
						<option value="HotBuffetBreakfast">&zwj;Hot buffet breakfast&zwj;</option>
						<option value="IrishBreakfast">&zwj;Irish breakfast&zwj;</option>
						<option value="IsraeliBreakfast">&zwj;Israeli breakfast&zwj;</option>
						<option value="KosherBreakfast">&zwj;Kosher breakfast&zwj;</option>
						<option value="RoomOnly">&zwj;Room only&zwj;</option>
						<option value="ScandinavianBreakfast">&zwj;Scandinavian breakfast&zwj;</option>
					</select>
				</div>
				<div class="tt-row-25">
					<label>&zwj;Сортировать&zwj;</label>
					<select class="form-control input-sm" selectize="filterSet.sort" method="sort">
						<option value="price">&zwj;По цене&zwj;</option>
						<option value="rating">&zwj;По рейтингу&zwj;</option>
					</select>
				</div>
				<div class="tt-row-25">
					<label>&zwj;Только доступные&zwj;</label>
					<select class="form-control input-sm" selectize="filterSet.available">
						<option value="1">&zwj;Да&zwj;</option>
						<option value="2">&zwj;Нет&zwj;</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>