<hotelfilter ng-if="hotelFilterOn"></hotelfilter>
<div class="tt-search-results">
    <div ng-repeat="product in resultSet.visibleProducts">
    <!--<div ng-repeat="product in [1]">-->
        <div class="panel panel-default tt-row" ng-repeat="row in product | hotelsVisibleProducts:displayedSimilarProduct">
        <!--<div class="panel panel-default tt-row" ng-repeat="row in [1]">-->
            <div class="panel-body">
                <div class="tt-title">
                    <!--<span class="tt-name">{{row.supplierAirline.name}}</span>-->
                    <span class="tt-name">Hotel name</span>
                    <span class="tt-district"> in Some district</span>
                    <!--<span class="tt-code">{{row.supplierAirline.code}}</span>-->
                </div>
                <div class="tt-body">
                    <hotelresultrow ng-hide="row.showDetails"></hotelresultrow>
                    <hotelresultrowdetails ng-if="row.showDetails"></hotelresultrowdetails>
                </div>
                <div class="tt-control">
                    <!--<div class="tt-info">-->
                        <!--&zwj;Доступно мест: {{row | hotelsSeatsAmount}}&zwj;-->
                    <!--</div>-->
                    <div class="tt-price">
                        {{row.onlinePrice.baseAmount | prices}}
                    </div>
                    <button type="button" class="btn btn-warning tt-booking" ng-click="runBooking(row);">
                        &zwj;Заказать&zwj;
                    </button>
                    <button type="button" class="btn btn-link tt-details" ng-hide="row.showDetails" ng-click="showDetails(row);">
                        &zwj;Показать детали&zwj;
                    </button>
                    <button type="button" class="btn btn-link tt-details" ng-show="row.showDetails" ng-click="hideDetails(row);">
                        &zwj;Скрыть детали&zwj;
                    </button>
                    <button type="button" class="btn btn-info tt-rules" ng-show="row.showDetails" ng-click="showRules($event, row);">
                        &zwj;Правила тарифа&zwj;
                    </button>
                </div>
            </div>
        </div>
        <div class="tt-similar-show" ng-if="!product.displayedSimilarProduct && product.similarProducts && product.similarProducts > 1">
            <div>&nbsp;</div><div>&nbsp;</div>
            <div ng-click="showSimilars(product);">
                <i class="el-icon-zoom-in"></i> &zwj;Показать {{product.similarProducts}} аналогичных предложений авиакомпании {{product.supplierAirline.name}}&zwj;
            </div>
        </div>
        <div class="tt-similar-hide" ng-if="product.displayedSimilarProduct">
            <div ng-click="hideSimilars(product);">
                <i class="el-icon-zoom-out"></i> &zwj;Скрыть аналогичные предложений авиакомпании {{product.supplierAirline.name}}&zwj;
            </div>
        </div>
    </div>
    <div class="alert alert-danger tt-nodata" role="alert" ng-if="!resultSet.visibleProducts || resultSet.visibleProducts.length == 0">
        <i class="el-icon-info-sign"></i> &zwj;Для выбранных условий фильтра, данных не найдено. Измените условия фильтра.&zwj;
    </div>
    <div class="tt-footer" ng-if="resultSet.visibleProducts && resultSet.pagination && resultSet.pagination.amount > 1">
        <div class="tt-records">&zwj;Предложения с {{(resultSet.pagination.current * resultSet.pagination.limit) + 1}} по {{(resultSet.pagination.current * resultSet.pagination.limit) + resultSet.visibleProducts.length}} из {{resultSet.total}}&zwj;</div>
        <ul class="pagination pagination-sm">
            <li>
                <span ng-click="loadPage(0);">&laquo;</span>
            </li>
            <li ng-repeat="page in [] | range:0:resultSet.pagination.amount" ng-class="resultSet.pagination.current == $index ? 'active' : ''">
                <span ng-click="loadPage($index);">{{$index + 1}}</span>
            </li>
            <li>
                <span ng-click="loadPage(resultSet.pagination.amount - 1);">&raquo;</span>
            </li>
        </ul>
    </div>
</div>