<div class="tt-search-results-row" ng-click="showDetails(row);">
    <div class="tt-item" ng-repeat="item in row | hotelsRow" ng-class="$index > 0 ? 'tt-round' : ''">
        <!--<div class="tt-image">-->
            <!--&lt;!&ndash;<img ng-src="//static.trip-top.com/triptop/gallery/triptop-gallery/images/air/{{firstSegment.airline.code | lowercase}}.jpg">&ndash;&gt;-->
            <!--<img ng-src="http://c775792.r92.cf2.rackcdn.com/sml/8/547/8547143.jpg">-->
        <!--</div>-->
        <div class="tt-hotel">
            <div class="tt-image">
                <!--<img ng-src="//static.trip-top.com/triptop/gallery/triptop-gallery/images/air/{{firstSegment.airline.code | lowercase}}.jpg">-->
                <img ng-src="http://c775792.r92.cf2.rackcdn.com/sml/8/547/8547143.jpg">
            </div>
            <div class="tt-hotel-info">
                <div class="tt-rating">
                    <!--<span class="tt-name">{{firstSegment.departure.airport.location.name}}</span>-->
                    <!--<span class="tt-code">{{firstSegment.departure.airport.code}}</span>-->
                    <span ng-repeat="star in getNumber(stars) track by $index"
                          class="glyphicon glyphicon-star" aria-hidden="true">
                    </span><span ng-repeat="starEmpty in getNumber(5 - stars) track by $index"
                          class="glyphicon glyphicon-star-empty" aria-hidden="true">
                    </span>
                </div>
                <div class="tt-address">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque nisl tortor, eget semper nisi.
                    <br/>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><a href="#"> show on map</a>
                </div>
            </div>
            <div class="tt-room-info">
                <div class="tt-label">
                    Room:
                </div>
                <div class="tt-text">
                    {{row.roomType}}
                </div>
                <div class="tt-label">
                    Boarding:
                </div>
                <div class="tt-text">
                    {{row.boardArrangementCode}}
                </div>
            </div>
        </div>
    </div>
</div>