<table class='tt-booking-digest-header'>
	<tbody>
		<tr>
			<td class='tt-booking-digest-title'>
				<i class='el-icon-gift'></i>
				<span>&zwj;Пакет отдыха&zwj;</span>
				<span class='tt-booking-digest-title-link'>
					<span ng-if='!showDetails' ng-click='openDetails()'>&zwj;Показать детали&zwj;</span>
					<span ng-if='showDetails' ng-click='hideDetails()'>&zwj;Закрыть детали&zwj;</span>
				</span>				
			</td>
		</tr>
	</tbody>
</table>
<table class='tt-booking-digest-content' ng-if='showDetails'>
	<tbody>
		<tr ng-repeat='(direction, segment) in booking.help.segments'>
<!--
			<td class='tt-booking-digest-icon tt-link'>
				<i class='el-icon-caret-right'></i>
			</td>
-->
			<td class='tt-booking-digest-img'>
				<img ng-src='{{segment | airlineIcon}}'>
			</td>
			<td class='tt-booking-digest-title' style='min-width: 60px;'>
				<span>{{segment.airline.name}}</span>
			</td>
			<td class='tt-booking-digest-title'>
				<span>{{segment.from.time | date:'dd.MM.yyyy'}}</span>
			</td>
			<td class='tt-booking-digest-title tt-align-right'>
				<span>{{segment.from.location.name}}</span>
			</td>
			<td class='tt-booking-digest-icon'>
				<i class='el-icon-arrow-right'></i>
			</td>
			<td class='tt-booking-digest-title'>
				<span>{{segment.to.location.name}}</span>
			</td>
			<td class='tt-booking-digest-title'>
				<span>{{segment.from.time | date:'HH:mm'}} - {{segment.to.time | date:'HH:mm'}}</span>
			</td>
			<td class='tt-booking-digest-title'>
				<span ng-pluralize count='{{segment.stops}}'
					when="{'0': '&zwj;Без пересадок&zwj;',
							'1': '&zwj;Одна пересадка&zwj;',
							'other': '&zwj;{} пересадки&zwj;'}"></span>
			</td>
			<td class='tt-booking-digest-title'>
				<span>&zwj;Чартерный полет&zwj;</span>
			</td>
		</tr>
		<tr>
			<td class='tt-booking-digest-img'>
				<i class=' el-icon-home'></i>
				<!-- img ng-src='{{product.hotel.image}}' -->
			</td>
			<td class='tt-booking-digest-title'>
				<span>&zwj;Гостиница&zwj;</span>
			</td>			
			<td class='tt-booking-digest-title'>
				<span>{{product.hotel.location}}</span>
			</td>
			<td class='tt-booking-digest-title' colspan='3' style='text-align: center;'>
				<span>{{product.hotel.title}}</span>
			</td>
			<td class='tt-booking-digest-title'>
				<i class=' el-icon-star' ng-repeat='star in product.hotel.stars | starsRange track by $index'></i>
			</td>
			<td class='tt-booking-digest-title' ng-switch on='product.hotel.type'>
				<span ng-switch-when='AI'>&zwj;All included&zwj;</span>
				<span ng-switch-when='AB'>&zwj;American breakfast&zwj;</span>
				<span ng-switch-when='BB'>&zwj;Bed and breakfast&zwj;</span>
				<span ng-switch-when='BT'>&zwj;Breakfast and treatment&zwj;</span>
				<span ng-switch-when='CBF'>&zwj;Breakfast in fridge&zwj;</span>
				<span ng-switch-when='BF'>&zwj;Buffet breakfast&zwj;</span>
				<span ng-switch-when='CFB'>&zwj;Chinese breakfast&zwj;</span>
				<span ng-switch-when='BC'>&zwj;Cold buffet breakfast&zwj;</span>
				<span ng-switch-when='CB'>&zwj;Continental breakfast&zwj;</span>
				<span ng-switch-when='EB'>&zwj;English breakfast&zwj;</span>
				<span ng-switch-when='FB'>&zwj;Full board&zwj;</span>
				<span ng-switch-when='FT'>&zwj;Full board and treatment&zwj;</span>
				<span ng-switch-when='HB'>&zwj;Half board&zwj;</span>
				<span ng-switch-when='HT'>&zwj;Half board and treatment&zwj;</span>
				<span ng-switch-when='BH'>&zwj;Hot buffet breakfast&zwj;</span>
				<span ng-switch-when='RB'>&zwj;Irish breakfast&zwj;</span>
				<span ng-switch-when='IB'>&zwj;Israeli breakfast&zwj;</span>
				<span ng-switch-when='KB'>&zwj;Kosher breakfast&zwj;</span>
				<span ng-switch-when='RO'>&zwj;Room only&zwj;</span>
				<span ng-switch-when='SB'>&zwj;Scandinavian breakfast&zwj;</span>
				<span ng-switch-when='TB'>&zwj;Scottish breakfast&zwj;</span>
				<span ng-switch-when='BD'>&zwj;Bed and dinner&zwj;</span>
			</td>		
			<td>&nbsp;</td>	
		</tr>
	</tbody>
</table>
<table class='tt-booking-digest-footer'>
	<tbody>
		<tr>
			<td class='tt-booking-digest-title tt-booking-normal'>
				<span>&zwj;Пассажиры:&zwj;&nbsp;</span>
				<span ng-if='product.paxes.adult > 0' ng-pluralize count="{{product.paxes | paxcount:'adult'}}"
					when="{'1': '&zwj;1 взрослый&zwj;',
							'other': '&zwj;{} взрослых&zwj;'}"></span>
				<span ng-if='product.paxes.child > 0' ng-pluralize count="{{product.paxes | paxcount:'child'}}"
					when="{'1': '&zwj;1 ребенок&zwj;',
							'2': '&zwj;{} ребенка&zwj;',
							'3': '&zwj;{} ребенка&zwj;',
							'4': '&zwj;{} ребенка&zwj;',
							'other': '&zwj;{} детей&zwj;'}"></span>
				<span ng-if='product.paxes.infant > 0' ng-pluralize count="{{product.paxes | paxcount:'infant'}}"
					when="{'1': '&zwj;1 младенец&zwj;',
							'2': '&zwj;{} младенца&zwj;',
							'3': '&zwj;{} младенца&zwj;',
							'4': '&zwj;{} младенца&zwj;',
							'other': '&zwj;{} младенцев&zwj;'}"></span>
			</td>
			<td class='tt-booking-digest-title tt-align-right'>
				<span>&zwj;Стоимость:&zwj;&nbsp;</span>
				<span>{{product.prices | productprice:'faretax'}}</span>
				<span>{{product.prices | productprice:'options'}}</span>
				<span>{{product.prices | productprice:'discount'}}</span>
				<span>{{product.prices | productprice:'total'}}</span>
<!--
				<i class='el-icon-question-sign tt-booking-question tt-link'></i>
-->
			</td>
		</tr>
	</tbody>
</table>