/*** Base elements ***/
/*** Controls ***/
body {
  margin: 0;
}
#triptop-profile .link-box {
  display: none !important;
}
.triptop-container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
}
.triptop-container table {
  border-spacing: 0;
  border: 0;
  padding: 0;
  margin: 0;
}
.triptop-container .tt-align-left {
  text-align: left;
}
.triptop-container .tt-align-center {
  text-align: center;
}
.triptop-container .tt-align-right {
  text-align: right;
}
.triptop-container .tt-float-left {
  float: left;
}
.triptop-container .tt-float-right {
  float: right;
}
.triptop-container .tt-clear {
  clear: both;
}
.triptop-container .tt-link {
  cursor: pointer;
}
.triptop-container .tt-dropdown {
  display: block !important;
}
#triptop-insurance {
  direction: ltr;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
#triptop-insurance input,
#triptop-insurance select,
#triptop-insurance textarea,
#triptop-insurance button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
#triptop-insurance .tt-insurance-search-form {
  color: #555555;
  font-size: 12px;
  position: relative;
  margin: 0;
  padding: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#triptop-insurance .tt-insurance-search-form > table {
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate;
}
#triptop-insurance .tt-insurance-search-form > table td {
  white-space: normal;
}
#triptop-insurance .tt-insurance-search-form > table td input[type="checkbox"],
#triptop-insurance .tt-insurance-search-form > table td input[type="radio"] {
  vertical-align: sub;
}
#triptop-insurance .tt-insurance-search-form > table td input[type="text"],
#triptop-insurance .tt-insurance-search-form > table td input[type="email"] {
  width: 97%;
}
#triptop-insurance .tt-insurance-search-form > table td input[name="name"] {
  width: 95%;
}
#triptop-insurance .tt-insurance-search-form > table td span {
  padding-left: 5px;
}
#triptop-insurance .tt-insurance-search-form > table td span.caret,
#triptop-insurance .tt-insurance-search-form > table td span.glyphicon {
  padding-left: 0px;
}
#triptop-insurance .tt-insurance-search-form .tt-search-form-header {
  font-size: 125%;
  font-weight: bold;
  border-bottom: 1px solid #ff7405;
}
#triptop-insurance .tt-insurance-search-form .tt-search-form-header td {
  background-color: transparent;
  padding: 5px;
}
#triptop-insurance .tt-insurance-search-form .tt-search-form-header i[class*="el-icon-"] {
  font-size: 17px;
  vertical-align: text-bottom;
}
#triptop-insurance .tt-insurance-search-form .tt-search-form-label-header {
  font-weight: bold;
}
#triptop-insurance .tt-insurance-search-form .tt-search-form-label-header #tt-cover-label {
  padding-left: 6px;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes,
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes-header {
  table-layout: fixed;
  width: 100%;
  border-top: 1px dashed #555;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes th,
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes-header th {
  word-wrap: break-word;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes #laptop input[type="text"],
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes-header #laptop input[type="text"] {
  width: 90px;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes #laptop .input-group input[type="text"],
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes-header #laptop .input-group input[type="text"] {
  width: 100%;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes .input-group,
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes-header .input-group {
  width: 90px;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes .input-group input[type="text"],
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes-header .input-group input[type="text"] {
  width: 110% !important;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes .tt-insurance-paxes-remove,
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes-header .tt-insurance-paxes-remove {
  padding: 3px 5px;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes-header {
  border-top: 0;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-paxes-add {
  margin-bottom: 15px;
  margin-left: 6px;
}
#triptop-insurance .tt-insurance-search-form select {
  background: #ffffff;
  padding: 2px;
  height: 24px;
  outline: 0 none;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-selector-type {
  width: 150px;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-selector-paxes {
  width: 50px;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-selector-date {
  padding: 2px 10px;
  margin-left: 2px;
  width: 86% !important;
  float: left;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-selector-bithday {
  width: 110% !important;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-selector-time {
  padding: 2px;
  width: 55px !important;
  height: 24px;
  float: left;
  margin-left: 5px;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-search-button-wrapper {
  border-top: 1px dashed #555;
}
#triptop-insurance .tt-insurance-search-form .tt-insurance-search-button {
  margin: 15px auto 5px;
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background: #FF7405;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border: 1px solid #EB5400;
  width: 200px;
  cursor: pointer;
  text-align: center;
}
#triptop-insurance .tt-insurance-search-waiting,
#triptop-insurance .tt-insurance-search-noresults,
#triptop-insurance .tt-insurance-search-results {
  width: 100%;
  text-align: center;
}
#triptop-insurance .tt-insurance-search-waiting {
  padding: 10px;
  color: #90A7B7;
  font-size: 13px;
  font-weight: bold;
}
#triptop-insurance .tt-insurance-search-waiting img {
  display: block;
  margin: 0 auto;
}
#triptop-insurance .tt-insurance-search-waiting iframe {
  width: 486px;
  height: 78px;
  margin: 0 auto;
  border: 0;
}
#triptop-insurance label.btn.btn-default {
  padding: 7px 12px;
}
#triptop-insurance .combobox-container {
  width: 99%;
}
#triptop-insurance .combobox-container .input-group input {
  width: 103% !important;
}
#triptop-insurance .combobox-container .input-group input::-ms-clear {
  display: none;
}
#triptop-insurance .combobox-container .input-group .input-group-addon {
  padding: 0px 5px;
}
#triptop-insurance .combobox-container .input-group .input-group-addon .caret {
  margin: 0px 3px;
}
#triptop-insurance .combobox-container .input-group .dropdown-menu {
  margin: 0;
  padding: 3px 0;
  min-width: 90%;
}
#triptop-insurance .combobox-container .input-group .dropdown-menu li > a {
  padding: 3px 10px;
  font-size: 12px;
}
#triptop-insurance input.ng-valid.ng-dirty {
  border: 1px solid green;
}
#triptop-insurance input.ng-invalid.ng-dirty {
  border: 1px solid red;
}
#triptop-insurance .tt-search-form-end {
  clear: both;
}
