/*** Base elements ***/

@baseFontSize: 16px;
@baseFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Search panel
@searchPanelText: #555;
@searchPanelFontWeight: bold;
@searchPanelHeaderText: #0060a2;
@searchPanelBackground: transparent;
@searchPanelBorder: transparent;
@searchPanelBorderRadius: 2px;

// Search button
@searchBtn: #FF8901;
@searchBtnText: #ffffff;
@searchBtnBorder: transparent;
@searchBtnBorderRadius: @searchPanelBorderRadius;

/*** Controls ***/

// Borders for text inputs and selects
@inputBorder: #90A7B7;

// Select background
@selectBackground: #ffffff;