body {
    margin: 0;
}

#triptop-profile .link-box {
    display: none !important;
}

.triptop-container {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #555;

    table {
        border-spacing: 0;
        border: 0;
        padding: 0;
        margin: 0;
    }

    .tt-align-left {
        text-align: @left;
    }

    .tt-align-center {
        text-align: center;
    }

    .tt-align-right {
        text-align: @right;
    }

    .tt-float-left {
        float: @left;
    }

    .tt-float-right {
        float: @right;
    }

    .tt-clear {
        clear: both;
    }

    .tt-link {
        cursor: pointer;
    }

    .tt-dropdown {
        display: block !important;
    }
}

#triptop-insurance {
    direction: @dir;
    font-family: @baseFontFamily;
    font-size: @baseFontSize;
    box-sizing: border-box;

    input, select, textarea, button {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    .tt-insurance-search-form {
        color: @searchPanelText;
        font-size: 12px;
        position: relative;
        margin: 0;
        padding: 5px;
        background-color: @searchPanelBackground;
        border: 1px solid @searchPanelBorder;
        -webkit-border-radius: @searchPanelBorderRadius;
        border-radius: @searchPanelBorderRadius;
    
        & > table {
            width: 100%;
            border-spacing: 5px;
            border-collapse: separate;

            td {
                white-space: normal;

                input[type="checkbox"], input[type="radio"] {
                    vertical-align: sub;
                }

                input[type="text"], input[type="email"] {
                    width: 97%;
                }

                input[name="name"] {
                    width: 95%;
                }

                span {
                    padding-@{left}: 5px;

                    &.caret, &.glyphicon {
                      padding-@{left}: 0px;
                    }
                }
            }
        }

        .tt-search-form-header {
            font-size: 125%;
            font-weight: bold;
            border-bottom: 1px solid #ff7405;

            td {
                background-color: transparent;
                padding: 5px;
            }

            i[class*="el-icon-"] {
                font-size: 17px;
                vertical-align: text-bottom;
            }
        }

        .tt-search-form-label-header {
            font-weight: bold;

            #tt-cover-label {
                padding-left: 6px;
            }
        }

        .tt-insurance-paxes, .tt-insurance-paxes-header {
            table-layout: fixed;
            width: 100%;
            border-top: 1px dashed #555;

            th {
                word-wrap: break-word;
            }

            #laptop {
                input[type="text"] {
                    width: 90px;
                }

                .input-group {
                    input[type="text"] {
                        width: 100%;
                    }
                }
            }

            .input-group {
                width: 90px;

                input[type="text"] {
                    width: 110% !important;
                }
            }

            .tt-insurance-paxes-remove {
                padding: 3px 5px;
            }
        }

        .tt-insurance-paxes-header {
            border-top: 0;
        }

        .tt-insurance-paxes-add {
            margin-bottom: 15px;
            margin-@{left}: 6px;
        }

        select {
            background: @selectBackground;
            padding: 2px;
            height: 24px;
            outline: 0 none;
        }

        .tt-insurance-selector-type {
            width: 150px;
        }

        .tt-insurance-selector-paxes {
            width: 50px;
        }

        .tt-insurance-selector-date {
            padding: 2px 10px;
            margin-@{left}: 2px;
            width: 86% !important;
            float: @left;
        }

        .tt-insurance-selector-bithday {
            width: 110% !important;
        }

        .tt-insurance-selector-time {
            padding: 2px;
            width: 55px !important;
            height: 24px;
            float: @left;
            margin-@{left}: 5px;
        }

        .tt-insurance-search-button-wrapper {
            border-top: 1px dashed #555;
        }

        .tt-insurance-search-button {
            margin: 15px auto 5px;
            padding: 10px 15px;
            color: white;
            font-size: 18px;
            font-weight: bold;
            background: #FF7405;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border: 1px solid #EB5400;
            width: 200px;
            cursor: pointer;
            text-align: center;
        }
    }

    .tt-insurance-search-waiting, .tt-insurance-search-noresults, .tt-insurance-search-results {
        width: 100%;
        text-align: center;
    }

    .tt-insurance-search-waiting {
        padding: 10px;
        color: #90A7B7;
        font-size: 13px;
        font-weight: bold;

        img {
            display: block;
            margin: 0 auto;
        }

        iframe {
            width: 486px;
            height: 78px;
            margin: 0 auto;
            border: 0;
        }
    }

    label.btn.btn-default {
        padding: 7px 12px;
    }

    .combobox-container {
        width: 99%;

        .input-group {
            input {
                width: 103% !important;

                &::-ms-clear {
                    display: none;
                }
            }

            .input-group-addon {
                padding: 0px 5px;

                .caret {
                    margin: 0px 3px;
                }
            }

            .dropdown-menu {
                margin: 0;
                padding: 3px 0;
                min-width: 90%;

                li > a {
                    padding: 3px 10px;
                    font-size: 12px;
                }
            }
        }
    }

    input {
        &.ng-valid.ng-dirty {
            border: 1px solid green;
        }

        &.ng-invalid.ng-dirty {
          border: 1px solid red;
        }
    }

    .tt-search-form-end {
        clear: both;
    }
}