<div class="tt-left">
	<div class="tt-link">
		<div ng-hide="showOptions" ng-click="openOptions(pax)">
			<span ng-if="isMouseEnter && !pax.meals && !pax.assistance">&zwj;Дополнительные опции&zwj;</span>
			<span ng-if="pax.meals">{{pax.meals.name}}</span>
			<span ng-if="pax.meals && pax.assistance">&nbsp;+&nbsp;</span>
			<span ng-if="pax.assistance">{{pax.assistance.name}}</span>
			<span>&nbsp;</span>
		</div>
		<div ng-show="showOptions" ng-click="closeOptions(pax)">&zwj;Закрыть дополнительные опции&zwj;</div>
	</div>
	<div class="tt-box" ng-show="showOptions">
		<label>&zwj;Питание&zwj;</label>
		<select class="form-control input-sm" selectize="pax.meals.code" method="meals"></select>
		<label>&zwj;Специальные услуги&zwj;</label>
		<select class="form-control input-sm" selectize="pax.assistance.code" method="assistance"></select>
		<button class="btn btn-info tt-apply" ng-click="hideOptions(pax);">&zwj;Сохранить&zwj;</button>
	</div>
</div>