<confirmflightsegment></confirmflightsegment>
<table ng-init="hotel = booking.products[0].hotel" class="tt-service-entry" width="95%">
    <tr>
        <td width="100%" bgcolor="white">
            <table>
                <tr class="tt-service-entry-header">
                    <td>&nbsp;&nbsp;</td>
                    <td>{{hotel.title}}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr class="tt-service-header">
                    <td>&nbsp;</td>
                    <td>&zwj;City&zwj;</td>
                    <td>&zwj;Check in&zwj;</td>
                    <td>&nbsp;</td>
                    <td>&zwj;Check out&zwj;</td>
                    <td>&zwj;Rooms&zwj;</td>
                    <td>&zwj;Board&zwj;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tt-service-content">
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        {{hotel.location}}
                    </td>
                    <td>
                        {{booking.products[0].segments[0].from.time | date: 'dd.MM.yyyy'}}
                    </td>
                    <td>
                        <img ng-src="{{bookingImgUrlBase}}/hotelbed.png"/>
                    </td>
                    <td>
                        {{booking.products[0].segments[1].from.time | date: 'dd.MM.yyyy'}}
                    </td>
                    <td>
                       {{booking.products[0].roomsCount}}
                    </td>
                    <td ng-init="productRoomBoarding = hotel.type">
                        <hotelroomboarding></hotelroomboarding>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>