<table width="100%">
    <tr>
        <td align="center" class="tt-header-header">
            &zwj;Your package booking confirmation&zwj; #{{booking.docketId}}
        </td>
    </tr>
    <tr>
        <td align="center" class="tt-subheader">
            &zwj;For flight and hotel &zwj;
            {{booking.help.segments.OUT.from.location.name}}
            ({{booking.help.segments.OUT.from.airport.code}})
            &ndash;
            {{booking.help.segments.OUT.to.location.name}}
            ({{booking.help.segments.OUT.to.airport.code}}), from
            {{booking.help.segments.OUT.from.time | date: 'dd.MM.yyyy'}}
            &zwj; till &zwj;
            {{booking.help.segments.RET.from.time | date: 'dd.MM.yyyy'}}
        </td>
    </tr>
    <tr><td></td></tr>
    <tr>
        <td align="center" class="tt-header-small">
            &zwj;Thicket and voucher will be e-mailed to address provided by you within next 24 hours&zwj;
        </td>
    </tr>
    <tr>
        <td align="center" class="tt-header-red">
            &zwj;After issuing tickets and vouchers are non refundable. If you need assistance - please call: 03-5171448&zwj;
        </td>
    </tr>
</table>