<table class='tt-payment-digest-header'>
	<tbody>
		<tr>
			<td class='tt-payment-digest-title'>
				<i class='el-icon-plane'></i>
				<span>&zwj;Regular flight&zwj;</span>
			</td>
		</tr>
	</tbody>
</table>
<div ng-repeat="(id, segment) in booking.help.segments | orderObjectBy :'direction':true">
	<table class='tt-payment-digest-footer'>
		<tbody>
			<tr ng-class='segment.direction == "OUT" ? "tt-departure-color" : "tt-arrival-color"'>
				<td class='tt-payment-digest-title'>
					<span>{{segment.from.time | date:'dd.MM.yyyy'}}</span>
				</td>
				<td class='tt-payment-digest-title tt-align-right'>
					<span>{{segment.from.location.name}} &rlm;[{{segment.from.airport.code}}]</span>
				</td>
				<td class='tt-payment-digest-icon'>
					<i class='el-icon-arrow-right'></i>
				</td>
				<td class='tt-payment-digest-title'>
					<span>{{segment.to.location.name}} &rlm;[{{segment.to.airport.code}}]</span>
				</td>
				<td class='tt-payment-digest-title' ng-switch on='segment.flightClass'>
					<span ng-switch-when='Economy'>&zwj;Economy&zwj;</span>
					<span ng-switch-when='Business'>&zwj;Business&zwj;</span>
                    <span ng-switch-when='Premium'>&zwj;Premium&zwj;</span>
                    <span ng-switch-when='Standard'>&zwj;Standard&zwj;</span>
                    <span ng-switch-when='First'>&zwj;First&zwj;</span>
				</td>
			</tr>
			<tr colspan='5'>
				<div>
					<table class='tt-payment-digest-content'>
						<tbody ng-repeat='item in segment.list'>
							<tr>
								<td class='tt-payment-digest-title'>
									<span>{{item.airline.name}}</span>
								</td>
								<td class='tt-payment-digest-title'>
									<span>{{item.airline.code}}-{{item.flightNum}}</span>
								</td>
								<td class='tt-payment-digest-title'>
									<span>{{item.from.time | date:'dd.MM.yyyy'}}</span>
								</td>
								<td class='tt-payment-digest-title tt-align-right'>
									<span>{{item.from.location.name}}</span>
								</td>
								<td class='tt-payment-digest-icon'>
									<i class='el-icon-arrow-right'></i>
								</td>
								<td class='tt-payment-digest-title'>
									<span>{{item.to.location.name}}</span>
								</td>
								<td class='tt-payment-digest-title tt-align-right'>
									<span>{{item.from.time | date:'HH:mm'}} - {{item.to.time | date:'HH:mm'}}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tr>
		</tbody>
	</table>
</div>
