<div class='tt-booking-wizard' ng-if='bookingStage > 0 && bookingStage < 4'>
	<bookingprocess></bookingprocess>
	<div class='tt-booking-digest'>
		<ul>
			<li ng-repeat='product in booking.products'>
				<div ng-switch on='product.type'>
					<bookingflightdigest ng-switch-when='FLIGHT'></bookingflightdigest>
					<bookingcharterdigest ng-switch-when='CHARTER'></bookingcharterdigest>
					<bookingpackagedigest ng-switch-when='PACKAGE'></bookingpackagedigest>
					<bookinghoteldigest ng-switch-when='HOTEL'></bookinghoteldigest>
					<bookingtransferdigest ng-if='$index == 0' ng-switch-when='TRANSFER'></bookingtransferdigest>
				</div>
			</li>
		</ul>
	</div>
	<bookingcontent></bookingcontent>
</div>
<div class='tt-booking-confirm' ng-if='bookingStage == 4'>
	<bookingconfirm></bookingconfirm>
</div>
<div class="modal fade" id="tt-booking-error-dialog" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body" ng-switch on='errorType'>
				<div ng-switch-when='SYSTEM_ERROR'>&zwj;К сожалению, поставщик отклонил запрос на бронирование продукта. Выберите в результатах поиск другой продукт и продолжите бронирование.&zwj;</div>
 		   	    <div ng-switch-when='PAYMENT_ERROR'>&zwj;К сожалению, процесс оплаты завершился неудачно. Вы можете забронировать данный продукт без оплаты.&zwj;</div>
          	    <div ng-switch-when='BOOKING_ONLINE_ERROR'>&zwj;К сожалению, поставщик отклонил запрос на онлайн бронирование продукта. Вы можете забронировать данный продукт без оплаты или выбрать другой продукт.&zwj;</div>
	            <div ng-switch-when='BOOKING_RESERVE_ERROR'>&zwj;К сожалению, поставщик отклонил запрос на бронирование продукта. Выберите в результатах поиск другой продукт и продолжите бронирование.&zwj;</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">&zwj;Закрыть&zwj;</button>
			</div>
		</div>
	</div>
</div>
<div class="tt-warning hide">&zwj;Внимание&zwj;</div>
<div class="tt-success hide">&zwj;Заказ успешно сохранен.&zwj;</div>
<div class="tt-fail hide">&zwj;Извините, обработка заказа прервана.&zwj;</div>
<div class="tt-creditcard hide">&zwj;Извините, оплата недоступна.&zwj;</div>