<table class="tt-confirmation-header" width="100%">
    <tbody>
        <tr ng-repeat='product in booking.products'>
            <td ng-switch on='product.type' ng-if="$index==0">
                <bookingflightconfirmheader ng-switch-when='FLIGHT'></bookingflightconfirmheader>
                <bookingcharterconfirmheader ng-switch-when='CHARTER'></bookingcharterconfirmheader>
                <bookingpackageconfirmheader ng-switch-when='PACKAGE'></bookingpackageconfirmheader>
                <bookinghotelconfirmheader ng-switch-when='HOTEL'></bookinghotelconfirmheader>
                <bookingtransferconfirmheader ng-switch-when='TRANSFER'></bookingtransferconfirmheader>
            </td>
        </tr>
    </tbody>
</table>
<table class="tt-confirmation-services" width="100%">
    <tbody>
        <tr>
            <td align="center" class="tt-service-header-big">&zwj;Services&zwj;</td>
        </tr>
        <tr ng-repeat='product in booking.products'>
            <td align="center" ng-switch on='product.type'>
                <bookingflightconfirm ng-switch-when='FLIGHT'></bookingflightconfirm>
                <bookingcharterconfirm ng-switch-when='CHARTER'></bookingcharterconfirm>
                <bookingpackageconfirm ng-switch-when='PACKAGE'></bookingpackageconfirm>
                <bookinghotelconfirm ng-switch-when='HOTEL'></bookinghotelconfirm>
                <bookingtransferconfirm ng-switch-when='TRANSFER'></bookingtransferconfirm>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    </tbody>
    <table class="tt-confirmation-footer" ng-if="documents" width="100%">
        <tbody>
        <tr><td>
            <table width="100%" class="tt-confirmation-content">
                <tbody>
                <tr>
                    <td width="100%" class="tt-caption">&zwj;Документы&zwj;</td>
                </tr>
                <tr>
                    <td width="100%">
                        <span ng-repeat="doc in documents">
                            <a href="{{docUrlStart}}{{doc.id}}" target="_blank">
                                <span ng-if='doc.type=="Voucher"'>&zwj;Voucher&zwj;</span>
                                <span ng-if='doc.type=="Receipt"'>&zwj;Receipt&zwj;</span>
                                <span ng-if='doc.type=="Invoice"'>&zwj;Invoice&zwj;</span>
                                <span ng-if='doc.type=="Notes"'>&zwj;Notes&zwj;</span>
                                <span ng-if='doc.type=="Itinerary"'>&zwj;Itinerary&zwj;</span>
                                <span ng-if='doc.type=="Information"'>&zwj;Information&zwj;</span>
                                <span ng-if='doc.type=="Confirmation"'>&zwj;Confirmation&zwj;</span>
                                <span ng-if='doc.type=="Refund"'>&zwj;Refund&zwj;</span>
                                <span ng-if='doc.type=="ClientVoucher"'>&zwj;ClientVoucher&zwj;</span>
                                <span ng-if='doc.type=="Discount"'>&zwj;Discount&zwj;</span>
                                <span ng-if='doc.type=="Remarks"'>&zwj;Remarks&zwj;</span>
                                <span ng-if='doc.type=="MailBody"'>&zwj;MailBody&zwj;</span>
                                <span ng-if='doc.type=="Extended type"'>&zwj;Extended type&zwj;</span>
                                <span ng-if='doc.type=="Affiliate voucher"'>&zwj;Affiliate voucher&zwj;</span>
                                <span ng-if='doc.type=="Moneybox transfer"'>&zwj;Moneybox transfer&zwj;</span>
                                <span ng-if='doc.type=="Fare rules"'>&zwj;Fare rules&zwj;</span>
                                {{doc.docNumber}}
                            </a>
                            &nbsp;
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td></tr>
        </tbody>
    </table>
</table>
<table class="tt-confirmation-services" width="100%">
    <tbody>
        <tr>
            <td width="50%" align="center" valign="top">
                <table width="100%" class="tt-nested-block">
                    <tbody>
                        <tr>
                            <td class="tt-caption" ng-if="booking.products[0].type != 'TRANSFER'">&zwj;Passengers&zwj;</td>
                            <td class="tt-caption" ng-if="booking.products[0].type == 'TRANSFER'">&zwj;Contact person&zwj;</td>
                        </tr>
                        <tr ng-repeat="pax in booking.paxes" ng-if="booking.products[0].type != 'TRANSFER'">
                            <td class="tt-content">
                                <img ng-if="getPaxPicType(pax) == 0"
                                     ng-src="{{bookingImgUrlBase}}/male.png"/>
                                <img ng-if="getPaxPicType(pax) == 1"
                                     ng-src="{{bookingImgUrlBase}}/female.png"/>
                                <img ng-if="getPaxPicType(pax) == 2"
                                     ng-src="{{bookingImgUrlBase}}/child.png"/>
                                <img ng-if="getPaxPicType(pax) == 3"
                                     ng-src="{{bookingImgUrlBase}}/infant.png"/>
                                &nbsp;
                                <span ng-if="getPaxPicType(pax) == 0">&zwj;Mr.&zwj;</span>
                                <span ng-if="getPaxPicType(pax) == 1">&zwj;Mrs.&zwj;</span>
                                <span ng-if="getPaxPicType(pax) == 2">&zwj;Chd.&zwj;</span>
                                <span ng-if="getPaxPicType(pax) == 3">&zwj;Inf.&zwj;</span>
                                 {{pax.name}} {{pax.surname}}
                            </td>
                        </tr>
                        <tr ng-if="booking.products[0].type == 'TRANSFER'">
                            <td class="tt-content">
                                <img ng-src="{{bookingImgUrlBase}}/male.png"/>
                                &nbsp;
                                <span ng-if="booking.person.sex == 'male'">&zwj;Mr.&zwj;</span>
                                <span ng-if="booking.person.sex == 'female'">&zwj;Mrs.&zwj;</span>
                                {{booking.person.name}} {{booking.person.surname}}
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td class="tt-caption">&zwj;Booking information&zwj;
                                <span class="tt-content">: #{{booking.docketId}}</span>
                            </td>
                        </tr>
                        <tr ng-if="booking.hasTransfers">
                            <td><confirmtransferinfo></confirmtransferinfo></td>
                        </tr>
                        <tr ng-if="!booking.hasTransfers">
                            <td class="tt-content">PNR: {{booking.pnrStr}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="1%" bgcolor="white"></td>
            <td width="49%" align="center" valign="top">
                <table width="100%" class="tt-nested-block">
                    <tbody>
                        <tr>
                            <td class="tt-caption">&zwj;Pricing&zwj;</td>
                        </tr>
                        <tr ng-if="inprocess.prices['fare'] != 0.">
                            <td>&zwj;Fare&zwj;: {{inprocess | inprocessprice:'fare'}}</td>
                        </tr>
                        <tr ng-if="inprocess.prices['tax'] > 0.">
                            <td>&zwj;Fees&zwj;: {{inprocess | inprocessprice:'tax'}}</td>
                        </tr>
                        <tr ng-if='inprocess.prices.agent'>
                            <td >&zwj;Manual markup&zwj;: {{inprocess | inprocessprice:'agent'}}</td>
                        </tr>
                        <tr ng-if="inprocess.prices['creditcard'] > 0. && inprocess.type === 'creditcard'">
                            <td>&zwj;Online markup&zwj;: {{inprocess | inprocessprice:'creditcard'}}</td>
                        </tr>
                        <tr ng-if="inprocess.prices['discount'] > 0.">
                            <td>&zwj;Discounts&zwj;: {{inprocess | inprocessprice:'discount'}}</td>
                        </tr>
                        <tr>
                            <td class="tt-content">
                                &zwj;Total&zwj;: {{inprocess | inprocessprice:'total'}}
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td class="tt-caption">&zwj;Payment&zwj;</td>
                        </tr>
                        <tr>
                            <td ng-if="!booking.payment" class="tt-small-text">
                                &zwj;Booked without payment. Our call center representative will call you shortly for final arrangements and payment&zwj;
                            </td>
                            <td ng-if="booking.payment" class="tt-small-text">
                                {{inprocess | inprocessprice:'total'}} &zwj;payed online by credit card. You will receive tickets (vouchers) within next 2 hours&zwj;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="tt-confirmation-footer" width="100%">
    <tbody>
        <tr><td>
            <table width="100%" class="tt-confirmation-content">
                <tbody>
                    <tr>
                        <td width="100%">
                            <span class="tt-caption">&zwj;For your attention&zwj;</span>
                            &nbsp;
                            <span class="tt-caption-black" ng-if="hasUnconfirmedServices">
                                &zwj;You have unconfirmed services. Please contact help desc by phone: +97235171448&zwj;
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%">
                            &zwj;When to Arrive at the Airport Advisory:<br/>Security measures are in place which necessitate an earlier arrival. See Security Checkpoints for details.<br/>To get a general idea of when you should arrive at the airport, add the required check-in time below to the current security wait time.<br/>If you are traveling as a Delta customer on one of our codeshare partners, check in with that codeshare carrier for their security check-in requirements. Security Check-in Requirements from U.S. Cities, Puerto Rico, and the U.S. Virgin Islands We recommend you arrive at the airport 75 minutes prior to departure for travel within the U.S. (must be checked in 30 minutes prior to departure). If you're traveling within the United States and you're checking bags, your baggage must be present at the check-in counter and checked in at least 30 minutes before your scheduled departure time.&zwj;
                        </td>
                    </tr>
                </tbody>
            </table>
        </td></tr>
    </tbody>
</table>