<div class='tt-booking-content'>
	<table style='width: 100%;' ng-if='bookingStage == 1'>
		<tbody>
			<tr ng-repeat='product in booking.products'>
				<td ng-switch on='product.type'>
					<bookingflightpaxes ng-switch-when='FLIGHT'></bookingflightpaxes>
					<bookingcharterpaxes ng-switch-when='CHARTER'></bookingcharterpaxes>
					<bookingpackagepaxes ng-switch-when='PACKAGE'></bookingpackagepaxes>
					<bookinghotelpaxes ng-switch-when='HOTEL'></bookinghotelpaxes>
					<bookingtransferparams ng-switch-when='TRANSFER'></bookingtransferparams>
				</td>
			</tr>
		</tbody>
	</table>
	<bookingformation ng-if='bookingStage >= 2'></bookingformation>
	<div class='tt-booking-glass-box' ng-if='bookingStage > 2'>
		<div class='tt-booking-glass-panel'>&nbsp;</div>
		<table style='width: 100%; height: 100%;'>
			<tbody>
				<tr>
					<td style='text-align: center; vertical-align: middle;'>
						<div class='tt-booking-loader-box'>
							<div class='tt-booking-loader-message'>
								&zwj;Пожалуйста, подождите, мы проверяем наличие мест&zwj;
							</div>
							<div class='tt-booking-loader'>&nbsp;</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>