<table class='tt-booking-content-header' ng-if='!booking.paymentUnavailable'>
    <tbody>
        <tr>
            <td class='tt-booking-content-title'>
                <i class='el-icon-ok-circle'></i><span>&zwj;Выберите тип заказа&zwj;</span>
            </td>
        </tr>
    </tbody>
</table>
<table class='tt-booking-form-header' ng-if='!booking.paymentUnavailable'>
    <tbody>
        <tr>
            <td align='center'>
                <div class='btn-toolbar' role='toolbar'>
                    <div ng-if='booking.siteType != 4' class='btn-group btn-group-lg' data-toggle='buttons'>
                        <label type='button' class='btn btn-default'
                               ng-class='booking.type == "creditcard" ? "active" : ""'
                               ng-click='changeBookingType("creditcard");'>
                            <input type='radio' name='bookingtype'
                                   ng-model='booking.type' value='creditcard'>
                            <i class='el-icon-credit-card'></i><span>&nbsp;&nbsp;&zwj;Оплатить кредитной картой&zwj;</span>
                        </label>
                        <label type='button' class='btn btn-default'
                               ng-class='booking.type == "reserve" ? "active" : ""'
                               ng-click='changeBookingType("reserve");'>
                            <input type='radio' name='bookingtype' ng-model='booking.type'
                                   value='reserve'>
                            <span>&zwj;Зарезервировать&zwj;&nbsp;&nbsp;</span><i class='el-icon-phone'></i>
                        </label>
                    </div>
                    <div ng-if='booking.siteType == 4' class='btn-group btn-group-lg' data-toggle='buttons'>
                        <label type='button' class='btn btn-default'
                               ng-class='booking.type == "creditcard" && booking.cardOwner == "0" ? "active" : ""'
                               ng-click='changeBookingType("creditcard", "0");'>
                            <input type='radio' name='bookingtype'
                                   ng-model='booking.type' value='creditcard'>
                            <i class='el-icon-credit-card'></i><span>&nbsp;&nbsp;&zwj;Карта клиента&zwj;</span>
                        </label>
                        <label type='button' class='btn btn-default'
                               ng-class='booking.type == "creditcard" && booking.cardOwner == "1" ? "active" : ""'
                               ng-click='changeBookingType("creditcard", "1");'>
                            <input type='radio' name='bookingtype'
                                   ng-model='booking.type' value='creditcard'>
                            <i class='el-icon-credit-card'></i><span>&nbsp;&nbsp;&zwj;Карта агента&zwj;</span>
                        </label>
                        <label type='button' class='btn btn-default'
                               ng-class='booking.type == "reserve" ? "active" : ""'
                               ng-click='changeBookingType("reserve");'>
                            <input type='radio' name='bookingtype' ng-model='booking.type'
                                   value='reserve'>
                            <span>&zwj;Наличными&zwj;&nbsp;&nbsp;</span><i class='el-icon-phone'></i>
                        </label>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table class='tt-booking-content-header'>
    <tbody>
        <tr>
            <td class='tt-booking-content-title'>
                <i class='el-icon-user'></i>
                <span ng-if='booking.type == "creditcard"'>&zwj;Данные плательщика&zwj;</span>
                <span ng-if='booking.type == "reserve"'>&zwj;Контактная информация&zwj;</span>
            </td>
            <td class='tt-booking-content-title tt-booking-content-auth tt-booking-normal tt-align-right'
                ng-if='!booking.hasTransfers && profileStage == false'>
                <a href='#' ng-click='profileLogin();'><i class='el-icon-off'></i><span>&zwj;Войти&zwj;</span></a>
            </td>
        </tr>
    </tbody>
</table>
<div ng-form='bookingForm'>
    <div class='tt-booking-form-content'>
        <table class='tt-booking-form-data'>
            <tbody>
                <tr>
                    <td class='tt-booking-form-col-1'>
                        <div class='form-group'>
                            <label>&zwj;Пол&zwj;</label>
                            <div class='btn-toolbar' role='toolbar'>
                                <div class='btn-group btn-group-sm' data-toggle='buttons'>
                                    <label type='button' class='btn btn-default'
                                           ng-class='booking.person.sex == "male" ? "active" : ""'
                                           ng-click='changePersonSex("male");'>
                                        <input type='radio' ng-model="booking.person.sex" name='sex' value='male'>
                                        <b>&zwj;М&zwj;</b>
                                    </label>
                                    <label type='button' class='btn btn-default'
                                           ng-class='booking.person.sex == "female" ? "active" : ""'
                                           ng-click='changePersonSex("female");'>
                                        <input type='radio' ng-model="booking.person.sex" name='sex' value='female'>
                                        <b>&zwj;Ж&zwj;</b>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class='tt-booking-form-col-2'>
                        <div class='form-group'>
                            <label class="tt-required">&zwj;Фамилия&zwj;</label>
                            <input type='text' class='form-control input-sm'
                                   name='surname'
                                   ng-model='booking.person.surname'
                                   required ng-pattern='/([a-zA-Z/s])+/'
                                   ng-keypress='latinNameEnter($event);'
                                   placeholder='In latin letters'/>
                            <bookingpersonselect></bookingpersonselect>
                            <i class='el-icon-exclamation-sign tt-booking-field-error'
                               ng-if="bookingForm.submited && (bookingForm.surname.$error.required || bookingForm.surname.$error.pattern)" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
                              <div class="tooltip bottom" ng-show="showTooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner" ng-show="bookingForm.surname.$error.required">
                                    &zwj;Required field&zwj;
                                </div>
                                <div class="tooltip-inner" ng-show="bookingForm.surname.$error.pattern">
                                    &zwj;Pattern error&zwj;
                                </div>
                              </div>
                            </i>
                        </div>
                    </td>
                    <td class='tt-booking-form-col-3'>
                        <div class='form-group'>
                            <label class="tt-required">&zwj;Имя&zwj;</label>
                            <input type='text' class='form-control input-sm'
                                   name='name'
                                   ng-model='booking.person.name'
                                   required ng-pattern='/[a-zA-Z]+/'
                                   ng-keypress='latinNameEnter($event);'
                                   placeholder='In latin letters'/>
                            <i class='el-icon-exclamation-sign tt-booking-field-error'
                               ng-if="bookingForm.submited && (bookingForm.name.$error.required || bookingForm.name.$error.pattern)" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
                              <div class="tooltip bottom" ng-show="showTooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner" ng-show="bookingForm.name.$error.required">
                                    &zwj;Required field&zwj;
                                </div>
                                <div class="tooltip-inner" ng-show="bookingForm.name.$error.pattern">
                                    &zwj;Pattern error&zwj;
                                </div>
                              </div>
                            </i>
                        </div>
                    </td>
                    <td class='tt-booking-form-col-4'>
                        <div class='form-group'>
                            <label>&zwj;Email&zwj;</label>
                            <input type='email' class='form-control input-sm'
                                   name='email'
                                   ng-model='booking.person.email'
                                   re-quired="booking.siteType == 4 ? 'false' : 'true'"/>
                            <i class='el-icon-exclamation-sign tt-booking-field-error'
                               ng-if="bookingForm.submited && (bookingForm.email.$error.required || bookingForm.email.$invalid)" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
                              <div class="tooltip bottom" ng-show="showTooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner" ng-show="bookingForm.email.$error.required">
                                    &zwj;Required field&zwj;
                                </div>
                                <div class="tooltip-inner" ng-show="!bookingForm.email.$error.required && bookingForm.email.$invalid">
                                    &zwj;Pattern error&zwj;
                                </div>
                              </div>
                            </i>
                        </div>
                    </td>
                    <td class='tt-booking-form-col-5'>
                        <div class='form-group'>
                            <label>&zwj;Телефон&zwj;</label>
                            <input type='text' class='form-control input-sm'
                                   name='phone'
                                   ng-keypress='numberEnter($event);'
                                   ng-model='booking.person.phone'
                                   re-quired="booking.siteType == 4 ? 'false' : 'true'"/>
                            <i class='el-icon-exclamation-sign tt-booking-field-error'
                               ng-if="bookingForm.submited && (bookingForm.phone.$error.required || bookingForm.phone.$invalid)" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
                              <div class="tooltip bottom" ng-show="showTooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner" ng-show="bookingForm.phone.$error.required">
                                    &zwj;Required field&zwj;
                                </div>
                                <div class="tooltip-inner" ng-show="!bookingForm.phone.$error.required && bookingForm.phone.$invalid">
                                    &zwj;Pattern error&zwj;
                                </div>
                              </div>
                            </i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class='tt-booking-content-header' ng-if="booking.type == 'reserve' && booking.displayCaptcha">
        <tbody>
            <tr>
                <td class='tt-booking-content-title' width="100%" colspan="4">
                    <i class='el-icon-user'></i><span>&zwj;Введите код, который видите на картинке&zwj;</span>
                </td>
            </tr>
            <tr>
                <td width="25%"></td>
                <td width="25%"
                    class='tt-booking-content-title tt-booking-normal tt-align-right'>
                    <img ng-src='{{captchaUrl}}/{{booking.captchaId}}'/>
                    <img style="cursor: pointer"
                         ng-click="refreshCaptcha()"
                         ng-src="{{bookingImgUrlBase}}/refresh.png"
                         width="25" height="25"/>&nbsp;&nbsp;&nbsp;
                </td>
                <td width="15%">
                    <input id="captchaId"
                           class='form-control input-sm'
                           name='captchaAnswer'
                           ng-model='booking.captchaAnswer'/>
                </td>
                <td width="35%"></td>
            </tr>
        </tbody>
    </table>
    <table class='tt-booking-content-header'>
        <tbody>
            <tr>
                <td class='tt-booking-content-title'>
                    <i class='el-icon-list-alt'></i><span>&zwj;Детализация стоимости заказа&zwj;</span>
                </td>
                <td class='tt-booking-content-title tt-booking-normal tt-align-right'>
                    <i class='el-icon-exclamation-sign'></i><span>&zwj;Стоимость к оплате включает все налоги и комиссии&zwj;</span>
                </td>
            </tr>
        </tbody>
    </table>
    <table class='tt-booking-form-price'>
        <tbody>
            <tr>
                <td>
                    <div>
                        <label class='tt-booking-form-price-label'>&zwj;Тариф и сборы&zwj;</label>

                        <div class='tt-booking-form-price-value'>{{booking.products | bookingprice:'faretax'}}</div>
                    </div>
                </td>
                <td ng-if='booking.help.prices.options != 0'>
                    <div>
                        <label class='tt-booking-form-price-label'>&zwj;Опции&zwj;</label>

                        <div class='tt-booking-form-price-value'>{{booking.products | bookingprice:'options'}}</div>
                    </div>
                </td>
                <td ng-if='booking.help.prices.discount != 0'>
                    <div>
                        <label class='tt-booking-form-price-label'>&zwj;Скидки&zwj;</label>

                        <div class='tt-booking-form-price-value'>{{booking.products | bookingprice:'discount'}}</div>
                    </div>
                </td>
                <td ng-if='booking.siteType == 4'>
                    <div>
                        <label class='tt-booking-form-price-label'>&zwj;Комиссия агента&zwj;</label>
                        <div class='form-group tt-booking-form-price-value'>
                            <div style="width: 100%; height: 30px;"></div>
                            <input type='text' class='form-control input-sm'
                                   ng-keypress='numberEnter($event);'
                                   ng-model='booking.prices.agent'/>
                        </div>
                    </div>
                </td>
                <td ng-if='booking.type == "creditcard" && booking.prices.creditcard != 0'>
                    <div>
                        <label class='tt-booking-form-price-label'>&zwj;Комиссия за оплату картой&zwj;</label>
                        <div class='tt-booking-form-price-value'>{{booking.products | bookingprice:'creditcard'}}</div>
                    </div>
                </td>
                <td>
                    <div>
                        <label class='tt-booking-form-price-label'>&zwj;Итого к оплате:&zwj;</label>
                        <div class='tt-booking-form-price-value'>{{booking.products | bookingprice:'total'}}</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class='tt-booking-terms' width="100%">
        <tbody>
            <tr>
                <td align="center" width="100%">
                    <input type='checkbox' ng-model='booking.agree'>
                    <span ng-click="toggleAgreement();">&zwj;Я принимаю&zwj;</span>
                    <span ng-if="!booking.hasTransfers">
                        <span ng-click="showTermsView('#tt-booking-rules');"
                              data-toggle="modal"
                              data-target="#tt-booking-view-terms">&zwj;Правила и условия&zwj;</span>
                        <span ng-click="toggleAgreement();">&zwj;и подтверждаю, что ознакомлен с&zwj;</span>
                        <span ng-if='booking.hasRegularFlights'
                              ng-click="showTermsView('#tt-booking-tariff');"
                              data-toggle="modal"
                              data-target="#tt-booking-view-terms">&zwj;Правилами тарифа&zwj;</span>
                        <span ng-click="toggleAgreement();" ng-if='booking.hasRegularFlights'>&zwj;и текстом&zwj;</span>
                        <span ng-click="toggleAgreement();" ng-if='!booking.hasRegularFlights'>&zwj;текстом&zwj;</span>
                        <span ng-click="showTermsView('#tt-booking-convention');" data-toggle="modal"
                              data-target="#tt-booking-view-terms">&zwj;Варшавской конвенции&zwj;</span>
                    </span>
                    <span ng-if="booking.hasTransfers">
                        <span ng-click="showTermsView('#tt-booking-transfers-rules');"
                              data-toggle="modal"
                              data-target="#tt-booking-view-terms">&zwj;Правила и условия&zwj;</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class='tt-booking-errors' ng-show='bookingForm.submited && !bookingForm.$valid'><i
            class='el-icon-exclamation-sign'></i>&nbsp;&zwj;Обратите внимание на некорректно заполненные поля!&zwj;</div>
    <div class='tt-booking-next' ng-class='!booking.agree ? "tt-booking-next-disable" : ""'
         ng-click='gotoStage3($event);'>&zwj;Заказать&zwj;</div>
    <div class='tt-booking-cancel' ng-click='gotoStage(0);'>&zwj;Отменить бронирование и вернуться к результатам поиска&zwj;</div>
</div>
<div class="modal fade" id="tt-booking-view-terms" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <termsrules class="tt-booking-view-terms"></termsrules>
                <termstariff class="tt-booking-view-terms"></termstariff>
                <termsconvention class="tt-booking-view-terms"></termsconvention>
                <transferstermsrules class="tt-booking-view-terms"></transferstermsrules>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">&zwj;Закрыть&zwj;</button>
            </div>
        </div>
    </div>
</div>