<table class='tt-booking-process'>
	<tbody>
		<tr>
			<td>
				<div class='tt-booking-stage'>
					<div class='tt-booking-stage-num'>1</div>&nbsp;
					<div class='tt-booking-stage-title' ng-click='gotoStage(0);'>&zwj;Результаты поиска&zwj;</div>
				</div>
			</td>
			<td>
				<div class='tt-booking-stage' ng-click='gotoStage(1);' ng-class='bookingStage == 1 ? "tt-booking-active-stage" : ""'>
					<div class='tt-booking-stage-num'>2</div>&nbsp;
					<div class='tt-booking-stage-title'>&zwj;Данные пассажиров&zwj;</div>
				</div>
			</td>
			<td>
				<div class='tt-booking-stage' ng-class='bookingStage == 2 ? "tt-booking-active-stage" : ""'>
					<div class='tt-booking-stage-num'>3</div>&nbsp;
					<div class='tt-booking-stage-title'>&zwj;Оформление заказа&zwj;</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>