<table ng-repeat="segment in product.segments" class="tt-service-entry" width="95%">
    <tr class="tt-service-entry-header">
        <td width="100%" bgcolor="white">
            <table>
                <tr>
                    <td>&nbsp;&nbsp;</td>
                    <td>{{segment.from.location.name}}</td>
                    <td width="10%">&nbsp;</td>
                    <td>
                        <img ng-if="segment.direction == 'OUT'"
                             width="26px"
                             height="26px"
                             ng-src="{{bookingImgUrlBase}}/plane-right.png"/>
                        <img ng-if="segment.direction == 'RET'"
                             width="26px"
                             height="26px"
                             ng-src="{{bookingImgUrlBase}}/plane-left.png"/>
                    <td width="2%">&nbsp;</td>
                    <td>{{segment.to.location.name}}</td>
                    <td width="8%">&nbsp;</td>
                    <td>{{segment.from.time | date: 'dd.MM.yyyy HH:mm'}}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr class="tt-service-header">
                    <td width="1%">&nbsp;&nbsp;</td>
                    <td width="20%">&zwj;Departure&zwj;</td>
                    <td width="13%">&nbsp;</td>
                    <td width="10%">&zwj;Flight&zwj;</td>
                    <td width="10%">&nbsp;</td>
                    <td width="10%">&zwj;Duration&zwj;</td>
                    <td width="20%">&zwj;Arrival&zwj;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tt-service-content">
                    <td>&nbsp;&nbsp;</td>
                    <td>
                        <span ng-class="segment.direction == 'OUT'?'tt-from':'tt-to'">
                            {{segment.from.location.name}}
                        </span>
                        <br/>
                        <span class="tt-from-airport">
                            {{segment.from.airport.name}}
                            <span ng-if="segment.from.airport.terminal">
                                ({{segment.from.airport.terminal}})
                            </span>
                        </span>
                    </td>
                    <td>
                        {{segment.from.time | date: 'dd.MM.yyyy'}}
                        <b>
                            {{segment.from.time | date: 'HH:mm'}}
                        </b>
                    </td>
                    <td>
                        {{segment.airline.code}}-{{segment.flightNum}}
                    </td>
                    <td>{{segment.airline.name}}</td>
                    <td>{{segment.flightTime | flightTime}}</td>
                    <td><span ng-class="segment.direction == 'RET' ? 'tt-from' : 'tt-to'">
                            {{segment.to.location.name}}
                        </span>
                        <br/>
                        <span class="tt-from-airport">
                            {{segment.to.airport.name}}
                            <span ng-if="segment.to.airport.terminal">
                                ({{segment.to.airport.terminal}})
                            </span>
                        </span>
                    </td>
                    <td>{{segment.to.time | date: 'dd.MM.yyyy'}}
                        <b>
                            {{segment.to.time | date: 'HH:mm'}}
                        </b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- TRIPTOP BEGIN -->
<div style="margin: 0 auto;">
    <script src="//il.trip-top.com/triptop-widgets/dist/affiliates/yestravel/margalit/triptop.js" type="text/javascript"></script>
</div>
<!-- TRIPTOP END -->
