<span ng-switch on='productRoomBoarding'>
    <span ng-switch-when='AI'>&zwj;All included&zwj;</span>
    <span ng-switch-when='AB'>&zwj;American breakfast&zwj;</span>
    <span ng-switch-when='BB'>&zwj;Bed and breakfast&zwj;</span>
    <span ng-switch-when='BT'>&zwj;Breakfast and treatment&zwj;</span>
    <span ng-switch-when='CBF'>&zwj;Breakfast in fridge&zwj;</span>
    <span ng-switch-when='BF'>&zwj;Buffet breakfast&zwj;</span>
	<span ng-switch-when='CFB'>&zwj;Chinese breakfast&zwj;</span>
	<span ng-switch-when='BC'>&zwj;Cold buffet breakfast&zwj;</span>
	<span ng-switch-when='CB'>&zwj;Continental breakfast&zwj;</span>
	<span ng-switch-when='EB'>&zwj;English breakfast&zwj;</span>
	<span ng-switch-when='FB'>&zwj;Full board&zwj;</span>
	<span ng-switch-when='FT'>&zwj;Full board and treatment&zwj;</span>
	<span ng-switch-when='HB'>&zwj;Half board&zwj;</span>
	<span ng-switch-when='HT'>&zwj;Half board and treatment&zwj;</span>
	<span ng-switch-when='BH'>&zwj;Hot buffet breakfast&zwj;</span>
	<span ng-switch-when='RB'>&zwj;Irish breakfast&zwj;</span>
	<span ng-switch-when='IB'>&zwj;Israeli breakfast&zwj;</span>
	<span ng-switch-when='KB'>&zwj;Kosher breakfast&zwj;</span>
	<span ng-switch-when='RO'>&zwj;Room only&zwj;</span>
	<span ng-switch-when='SB'>&zwj;Scandinavian breakfast&zwj;</span>
	<span ng-switch-when='TB'>&zwj;Scottish breakfast&zwj;</span>
	<span ng-switch-when='BD'>&zwj;Bed and dinner&zwj;</span>
</span>