<span ng-switch on='productRoomType'>
    <span ng-switch-when='Single'>&zwj;Single&zwj;</span>
	<span ng-switch-when='Double'>&zwj;Double&zwj;</span>
	<span ng-switch-when='Twin'>&zwj;Twin&zwj;</span>
	<span ng-switch-when='Triple'>&zwj;Triple&zwj;</span>
	<span ng-switch-when='Quad'>&zwj;Quad&zwj;</span>
	<span ng-switch-when='DoubleForSingle'>&zwj;Double for single&zwj;</span>
	<span ng-switch-when='DoubleWithChild'>&zwj;Double with child&zwj;</span>
	<span ng-switch-when='DoubleWith2Child'>&zwj;Double with 2 child&zwj;</span>
	<span ng-switch-when='DoubleWith3Child'>&zwj;Double with 3 child&zwj;</span>
	<span ng-switch-when='SingleWith2Child'>&zwj;Single with 2 child&zwj;</span>
	<span ng-switch-when='TripleWithChild'>&zwj;Triple with child&zwj;</span>
</span>