div.datepicker {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/* width: 196px; */
	/* height: 147px; */
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
}

.datepickerContainer {
	/*
	background: #121212;
	position: absolute;
	top: 10px;
	left: 10px;
	*/
	width: auto !important;
	height: auto !important;
	display: inline-block;
	padding: 5px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.datepickerHidden {
	display: none;
}

div.datepicker table {
	border-collapse:collapse;
}

div.datepicker a {
	color: #555;
	text-decoration: none;
	cursor: default;
	outline: none;
}

div.datepicker table td {
	text-align: center;
	padding: 3px 0;
	margin: 0;
}

div.datepicker table.datepickerViewMonths td, div.datepicker table.datepickerViewYears td {
	padding: 8px 7px;
}

div.datepicker th {
	text-align: center;
	color: #555;
	font-weight: normal;
}

div.datepicker tbody th {
	width: 32px;
	text-align: left;
}

div.datepicker tbody th.datepickerMonth {
	font-weight: bold;
}

div.datepicker tbody th.datepickerMonth span.all:after, div.datepicker tbody th.datepickerMonth span.month:after, div.datepicker tbody th.datepickerMonth span.year:after {
	/* content: "\25BC"; */
	content: " \25BE";
}

div.datepicker tbody a {
	display: block;
}
/*
.datepickerDays a {
	width: 20px;
	line-height: 16px;
	height: 16px;
	padding-right: 2px;
}
*/
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}

td.datepickerNotInMonth a span {
	color: #999;
}

tbody.datepickerDays td.datepickerSelected a span {
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected a span {
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: rgba(0, 109, 204, 0.5) !important;
    background-image: none !important;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected {
	background: #17384d;
}

div.datepicker span {
	padding: 4px 6px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 110%; 
}

div.datepicker a span:hover {
	background-color: #eee;
}

div.datepicker tbody th {
	text-align: left;
}

.datepickerSpace div {
	width: 20px;
}

.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 20px;
	line-height: 20px;
}

.datepickerGoNext a {
	float: right;
	width: 20px;
}

.datepickerGoPrev a {
	float: left;
	width: 20px;
}

table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}

table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}

table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}

td.datepickerDisabled a span,
td.datepickerDisabled.datepickerNotInMonth a span {
	color: #999;
}

td.datepickerDisabled a span:hover {
	background: none;
}
/*
td.datepickerSpecial a {
	background: #700;
}

td.datepickerSpecial.datepickerSelected a {
	background: #a00;
}
*/