<transfersearch></transfersearch>
<transferwaiting ng-if="transfersSearchStage == 1"></transferwaiting>
<transfernoresults ng-if="transfersSearchStage == 2"></transfernoresults>
<transferresults ng-if="transfersSearchStage == 3"></transferresults>