<div class="tt-transfer-search-results-header">
    <table>
        <tr>
            <td class="tt-col tt-col-fixed">&zwj;Transfer type&zwj;</td>
            <td class="tt-col-sm">&zwj;No. of passengers per vehicle&zwj;</td>
            <td class="tt-col-sm">&zwj;Total baggage allowed&zwj;</td>
            <td class="tt-col">&zwj;Route duration&zwj;</td>
            <td class="tt-col">&zwj;Описание&zwj;</td>
            <td class="tt-col-sm">&zwj;Availability&zwj;</td>
            <td class="tt-col-sm">&zwj;No. of Vehicles&zwj;</td>
            <td class="tt-col">&zwj;Total price&zwj;</td>
        </tr>
    </table>
</div>
<div class="tt-transfer-search-results-row" ng-repeat="product in results.visibleProducts">
    <table>
        <tr>
            <td class="tt-col tt-col-fixed" ng-init='waiting = parseDuration(product.waitingDuration, true)' ng-attr-title="&zwj;Waiting {{waiting[0]}}:{{waiting[1]}}&zwj;">
                <img ng-src="{{getImage(product.vehicle.code)}}"/><br/>
                <span>{{product.vehicle.name}}</span>&nbsp;
                <img ng-src="{{imgUrlBase}}/info.png"/>
            </td>
            <td class="tt-col-sm">
                <img height="60px" ng-src="{{imgUrlBase}}/pass-trans.png"/><br/>
                <span ng-if="product.vehicle.minPax != product.vehicle.maxPax">
                    {{product.vehicle.minPax}} &minus; {{product.vehicle.maxPax}}
                </span>
                <span ng-if="product.vehicle.minPax == product.vehicle.maxPax">
                    {{product.vehicle.maxPax}}
                 </span>
            </td>
            <td class="tt-col-sm">
                <span ng-pluralize count='{{product.vehicle.maxLuggage}}'
                    when="{'1': '&zwj;Одно место багажа&zwj;',
                            '2': '&zwj;{} места багажа&zwj;',
                            '3': '&zwj;{} места багажа&zwj;',
                            '4': '&zwj;{} места багажа&zwj;',
                            'other': '&zwj;{} мест багажа&zwj;'}"></span>
            </td>
            <td class="tt-col" ng-init='duration = parseDuration(product.transferDuration, true)'>
                <span>&zwj;Duration {{duration[0]}}:{{duration[1]}}&zwj;</span>
            </td>
            <td class="tt-col">
                <span>&zwj;Transfer from {{product.pickUp.name}} to {{product.dropOff.name}}&zwj;</span>
            </td>
            <td class="tt-col-sm">
                <span ng-if="product.availability == 'OK' && (!product.mergedProduct || product.mergedProduct.availability == 'OK')">&zwj;OK&zwj;</span>
                <span style="font-weight: bold; color: red;" ng-if="product.availability == 'RQ' || product.mergedProduct.availability == 'RQ'">
                    &zwj;By request&zwj;
                    <img ng-click="onAvailabilityInfo()" ng-src="{{imgUrlBase}}/info.png"/>
                </span>
            </td>
            <td class="tt-col-sm" ng-if="product.vehicle.isSole">
                {{product.amount}}
            </td>
            <td class="tt-col-sm" ng-if="!product.vehicle.isSole">
                <select ng-model='product.amount' ng-options='n for n in [] | range:1:5' ng-change='changeAmount(product)'/>
            </td>
            <td class="tt-col">
                <div ng-click="startBooking(product)" class="tt-button">
                    <div class="tt-text-caption">&zwj;Online&zwj;</div>
                    <div class="tt-text-total">{{product.prices | transfersprice:'total'}}</div>
                    <div class="tt-text-phone" ng-if='booking.siteType == 1'>&zwj;By phone: +{{product.prices | transfersprice:'phone'}}&zwj;</div>
                    <div class="tt-text-booking">&zwj;Booking&zwj;</div>
                </div>
            </td>
        </tr>
    </table>
</div>