<div class="tt-transfer-search-form">
    <div class="tt-transfer-search-row">
        <div class="tt-transfer-search-country">
            <div>&zwj;Country&zwj;</div>
            <select combobox='countries'
                ng-model="query.country"
                ng-change="onSelectCountry();"
                ng-options="c.name for c in countries">
                <option style="display:none" value="">&zwj;Select country&zwj;</option>
            </select>
        </div>
        <div class="tt-transfer-search-paxes">
            <div>
                <div>&zwj;Adults (12+)&zwj;</div>
                <select name='adults' class='tt-transfer-selector-paxes'
                    ng-model='query.paxes.adults'
                    ng-options='n for n in [] | range:0:54'/>
            </div>
            <div>
                <div>&zwj;Children (2-12)&zwj;</div>
                <select name='children' class='tt-transfer-selector-paxes'
                    ng-model='query.paxes.children'
                    ng-options='n for n in [] | range:0:54'/>
            </div>
            <div>
                <div>&zwj;Infants (0-2)&zwj;</div>
                <select name='infants' class='tt-transfer-selector-paxes'
                    ng-model='query.paxes.infants'
                    ng-options='n for n in [] | range:0:54'/>
            </div>
        </div>
    </div>
    <div class="tt-transfer-search-row">
        <div class="tt-transfer-search-location">
            <div>&zwj;Pick-up сity&zwj;</div>
            <select combobox='cities'
                ng-model="query.city" 
                ng-change="onSelectCity();" 
                ng-options="c as c.name for c in cities">
                <option style="display:none" value="">&zwj;Select city&zwj;</option>
            </select>
        </div>
        <div class="tt-transfer-search-location">
            <div>&zwj;Pick-up location&zwj;</div>
            <select combobox='locations'
                ng-model="query.from" 
                ng-options="l as l.name for l in locations">
                <option style="display:none" value="">&zwj;Pick-up&zwj;</option>
            </select>
        </div>
        <div class="tt-transfer-search-location">
            <div>&zwj;Arrival time&zwj;</div>
            <input name='arrivalTime' type='text'
                class='tt-transfer-selector-date'
                datepicker start-date='+1d'
                ng-model='query.arrivalTime'
                ng-change="onChangeArrivalTime(true)"
                required placeholder='dd.mm.yyyy'/>
            <input type="text"
                class="tt-transfer-selector-time"
                timepicker="12:00"
                ng-model='query._arrivalTime'
                ng-change="onChangeArrivalTime()"
                required/>
        </div>
    </div>
    <div class="tt-transfer-search-row">
        <div class="tt-transfer-search-location">
            <div>&zwj;Drop-off сity&zwj;</div>
            <select combobox='cities'
                ng-model="query.cityTo" 
                ng-change="onSelectCity('to');" 
                ng-options="c as c.name for c in cities">
                <option style="display:none" value="">&zwj;Select city&zwj;</option>
            </select>
        </div>
        <div class="tt-transfer-search-location">
            <div>&zwj;Drop-off location&zwj;</div>
            <select combobox='locationsTo'
                ng-model="query.to"
                ng-options="l as l.name for l in locationsTo">
                <option style="display:none" value="">&zwj;Drop-off&zwj;</option>
            </select>
        </div>
        <div class="tt-transfer-search-location">
            <label>
                <input type='checkbox' ng-model='query.type' ng-true-value='1' ng-false-value='0' ng-change='onChangeType()'>
                <span>&zwj;Return&zwj;</span>
            </label>
            <div ng-show='query.type == 1'>
                <input name='departureTime' type='text'
                    class='tt-transfer-selector-date'
                    datepicker start-date='+1d'
                    ng-model='query.departureTime'
                    ng-change="onChangeDepartureTime()"
                    placeholder='dd.mm.yyyy'/>
                <input type="text"
                    class="tt-transfer-selector-time"
                    ng-model='query._departureTime'
                    ng-change="onChangeDepartureTime()"
                    timepicker="15:00"/>
            </div>
        </div>
    </div>
<!--
    <table>
        <tr>
            <td>&zwj;Country&zwj;</td>
            <td>
                <select combobox='countries'
                    ng-model="query.country"
                    ng-change="onSelectCountry();"
                    ng-options="c.name for c in countries">
                    <option style="display:none" value="">&zwj;Select country&zwj;</option>
                </select>
            </td>
            <td>&zwj;Transfer Type&zwj;</td>
            <td>
                <select name='type' class='tt-transfer-selector-type'
                    ng-model='query.type'
                    ng-change='onChangeType()'>
                    <option value="0" selected>&zwj;One way&zwj;</option>
                    <option value="1">&zwj;There and back&zwj;</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>&zwj;City&zwj;</td>
            <td>
                <select combobox='cities'
                    ng-model="query.city" 
                    ng-change="onSelectCity();" 
                    ng-options="c as c.name for c in cities">
                    <option style="display:none" value="">&zwj;Select city&zwj;</option>
                </select>
            </td>
            <td>&zwj;Arrival time&zwj;</td>
            <td>
                <input name='arrivalTime' type='text'
                    class='tt-transfer-selector-date'
                    datepicker start-date='+1d'
                    ng-model='query.arrivalTime'
                    ng-change="onChangeArrivalTime(true)"
                    required placeholder='dd.mm.yyyy'/>
                <input type="text"
                    class="tt-transfer-selector-time"
                    timepicker="12:00"
                    ng-model='query._arrivalTime'
                    ng-change="onChangeArrivalTime()"
                    required/>
            </td>
        </tr>
        <tr>
            <td>&zwj;Pick-up&zwj;</td>
            <td>
                <select combobox='locations'
                    ng-model="query.from" 
                    ng-options="l as l.name for l in locations">
                    <option style="display:none" value="">&zwj;Pick-up&zwj;</option>
                </select>
            </td>
            <td ng-show='query.type == 0' colspan='2'></td>
            <td ng-show='query.type == 1'>&zwj;Departure time&zwj;</td>
            <td ng-show='query.type == 1'>
                <input name='departureTime' type='text'
                    class='tt-transfer-selector-date'
                    datepicker start-date='+1d'
                    ng-model='query.departureTime'
                    ng-change="onChangeDepartureTime()"
                    placeholder='dd.mm.yyyy'/>
                <input type="text"
                    class="tt-transfer-selector-time"
                    ng-model='query._departureTime'
                    ng-change="onChangeDepartureTime()"
                    timepicker="15:00"/>
            </td>
        </tr>
        <tr>
            <td>&zwj;Drop-off&zwj;</td>
            <td>
                <select combobox='locations'
                    ng-model="query.to"
                    ng-options="l as l.name for l in locations">
                    <option style="display:none" value="">&zwj;Drop-off&zwj;</option>
                </select>
            </td>
        </tr>
    </table>
-->    
    <table class="tt-transfer-search-button" ng-click="runSearch()">
        <tr>
            <td>
                &zwj;S<br/>E<br/>A<br/>R<br/>C<br/>H&zwj;
            </td>
        </tr>
    </table>
</div>