<div class="tt-transfer-search-form">
    <span>&zwj;Country&zwj;</span>
    <select combobox='countries'
        class='form-control input-sm'
        ng-model="query.country"
        ng-change="onSelectCountry();"
        ng-options="c.name for c in countries">
        <option style="display:none" value="">&zwj;Select country&zwj;</option>
    </select>
    <span>&zwj;Adults (12+)&zwj;</span>
    <select name='adults' class='form-control input-sm tt-transfer-selector-paxes'
        ng-model='query.paxes.adults'
        ng-options='n for n in [] | range:0:54'/>
    <span>&zwj;Children (2-12)&zwj;</span>
    <select name='children' class='form-control input-sm tt-transfer-selector-paxes'
        ng-model='query.paxes.children'
        ng-options='n for n in [] | range:0:54'/>
    <span>&zwj;Infants (0-2)&zwj;</span>
    <select name='infants' class='form-control input-sm tt-transfer-selector-paxes'
        ng-model='query.paxes.infants'
        ng-options='n for n in [] | range:0:54'/>

    <div class="tt-transfer-search-row">
        <div class="tt-transfer-search-location">
            <label>&zwj;Pick-up сity&zwj;</label>
            <select combobox='cities'
                class='form-control input-sm'
                ng-model="query.city" 
                ng-change="onSelectCity();" 
                ng-options="c as c.name for c in cities">
                <option style="display:none" value="">&zwj;Select city&zwj;</option>
            </select>
        </div>
        <div class="tt-transfer-search-location">
            <label>&zwj;Pick-up location&zwj;</label>
            <select combobox='locations'
                class='form-control input-sm'
                ng-model="query.from" 
                ng-options="l as l.name for l in locations">
                <option style="display:none" value="">&zwj;Pick-up&zwj;</option>
            </select>
        </div>
        <div class="tt-transfer-search-location">
            <label>&zwj;Arrival time&zwj;</label>
            <input name='arrivalTime' type='text'
                class='form-control input-sm tt-transfer-selector-date'
                datepicker start-date='+1d'
                ng-model='query.arrivalTime'
                ng-change="onChangeArrivalTime(true)"
                required placeholder='dd.mm.yyyy'/>
            <input type="text"
                class="form-control input-sm tt-transfer-selector-time"
                timepicker="12:00"
                ng-model='query._arrivalTime'
                ng-change="onChangeArrivalTime()"
                required/>
        </div>
    </div>
    <div class="tt-transfer-search-row">
        <div class="tt-transfer-search-location">
            <label>&zwj;Drop-off сity&zwj;</label>
            <select combobox='cities'
                class='form-control input-sm'
                ng-model="query.cityTo" 
                ng-change="onSelectCity('to');" 
                ng-options="c as c.name for c in cities">
                <option style="display:none" value="">&zwj;Select city&zwj;</option>
            </select>
        </div>
        <div class="tt-transfer-search-location">
            <label>&zwj;Drop-off location&zwj;</label>
            <select combobox='locationsTo'
                class='form-control input-sm'
                ng-model="query.to"
                ng-options="l as l.name for l in locationsTo">
                <option style="display:none" value="">&zwj;Drop-off&zwj;</option>
            </select>
        </div>
        <div class="tt-transfer-search-location">
            <label>
                <input type='checkbox' ng-model='query.type' ng-true-value='1' ng-false-value='0' ng-change='onChangeType()'>
                <span>&zwj;Return&zwj;</span>
            </label>
            <div ng-show='query.type == 1'>
                <input name='departureTime' type='text'
                    class='form-control input-sm tt-transfer-selector-date'
                    datepicker start-date='+1d'
                    ng-model='query.departureTime'
                    ng-change="onChangeDepartureTime()"
                    placeholder='dd.mm.yyyy'/>
                <input type="text"
                    class="form-control input-sm tt-transfer-selector-time"
                    ng-model='query._departureTime'
                    ng-change="onChangeDepartureTime()"
                    timepicker="15:00"/>
            </div>
        </div>
    </div>
    <table class="tt-transfer-search-button" ng-click="runSearch()">
        <tr>
            <td>
                &zwj;S<br/>E<br/>A<br/>R<br/>C<br/>H&zwj;
            </td>
        </tr>
    </table>
</div>