<div class="tt-transfer-search-waiting">
	<div ng-if='query.type == 0'>
		&zwj;We are searching transfer {{query.from.name}} {{query.to.name}} {{query.arrivalTime | date:'dd.MM.yyyy'}}&zwj;
	</div>
	<div ng-if='query.type == 1'>
		&zwj;We are searching transfer {{query.from.name}} {{query.to.name}} {{query.arrivalTime | date:'dd.MM.yyyy'}} {{query.departureTime | date:'dd.MM.yyyy'}}&zwj;
	</div>
    <img src="//static.trip-top.com/triptop/gallery/triptop-gallery/images/loader.gif"/>
    <iframe src="//yestravel.trip-top.com/adsforsearch/banner.html?time=1409317834965#34"></iframe>
</div>