<div ng-if="flightOn">
	<div class="visible-xs">XS</div>
	<div class="visible-sm">SM</div>
	<div class="visible-md">MD</div>
	<div class="visible-lg">LG</div>
	<flightsearch ng-if="flightSearchOn"></flightsearch>
	<flightsearchwait ng-if="flightState == 'SEARCHING'"></flightsearchwait>
	<div ng-if="flightState == 'RESULTS'">
		<flightflextable ng-if="flightFlexibleOn"></flightflextable>
		<flightfilter ng-if="flightFilterOn"></flightfilter>
		<flightresult></flightresult>
	</div>
	<processwait ng-show="processState == 'WAITING'"></processwait>
	<loadmodule module='flights/booking/flightbooking' ng-if="flightState == 'BOOKING'"></loadmodule>
</div>