<table class="tt-confirmation-header" width="100%">
    <tr>
        <td align="center" class="tt-header-header">
            &zwj;Your charter booking confirmation&zwj; #{{booking.docketId}}
        </td>
    </tr>
    <tr>
        <td align="center">
            &zwj;For flight&zwj;
            {{booking.help.segments.OUT.from.location.name}}
            ({{booking.help.segments.OUT.from.airport.code}})
            &ndash;
            {{booking.help.segments.OUT.to.location.name}}
            ({{booking.help.segments.OUT.to.airport.code}}),
            {{booking.help.segments.OUT.from.time | date: 'dd.MM.yyyy'}}
            &ndash;
            <span ng-if="booking.help.segments.RET && booking.help.segments.RET.from">{{booking.help.segments.RET.from.time | date: 'dd.MM.yyyy'}}</span>
        </td>
    </tr>
    <tr>
        <td align="center">
            &zwj;Dear&zwj; {{booking.person.name}} {{booking.person.surname}},
            &zwj;thank you for booking with&zwj; {{siteName}}
        </td>
    </tr>
</table>