<div ng-if="flightOn">
	<flightsearch ng-if="flightSearchOn"></flightsearch>
	<flightsearchwait ng-if="flightState == 'SEARCHING'"></flightsearchwait>
	<flightresult ng-if="flightState == 'RESULTS'"></flightresult>
	<processwait ng-show="processState == 'WAITING'"></processwait>
	<loadmodule module='flights/booking/flightbooking' ng-if="flightState == 'BOOKING'"></loadmodule>
</div>