<div class='glass-box'></div>
<table class='account-box'>
    <tr align='center' valign='middle'>
        <td>
            <div class='content-box'>
                <div class='navbar navbar-default navbar-sm'>
                    <div class='navbar-header'>
                        <div class='navbar-brand'>
                            &zwj;Welcome {{profile.name}} {{profile.surname}}&zwj;
                        </div>
                    </div>
                    <div class='collapse navbar-collapse'>
                        <button type='button' class='btn btn-default btn-xs navbar-btn navbar-right'
                                ng-click='signOut();'><span class='glyphicon glyphicon-log-out'></span>&nbsp;
                            &zwj;Sign out&zwj;
                        </button>
                    </div>
                </div>
                <ul class='nav nav-tabs nav-justified'>
                    <li class='active'>
                        <a ng-click='selectView("profile", $event);'>&zwj;Profile&zwj;</a>
                    </li>
                    <li class="disabled-tab">
                        <a>&nbsp;</a>
                        <!--<a ng-click='selectView("messages", $event);'>&zwj;Messages&zwj;</a>-->
                    </li>
                    <li class="disabled-tab">
                        <a>&nbsp;</a>
                        <!--<a ng-click='selectView("offers", $event);'>&zwj;Special offers&zwj;</a>-->
                    </li>
                </ul>
                <div class='content-tab'>
                    <tabview></tabview>
                </div>
                <button class='close close-button'
                        ng-click='closeCabinet();'>&times;</button>
            </div>
        </td>
    </tr>
</table>