<div class='order-box'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            &zwj;Dockets&zwj;
        </div>
        <div class='panel-nav' style="&zwj;rtl&zwj;: 8px;">
            <button type='button'
                    class='btn btn-default btn-xs disabled'
                    disabled='disabled'
                    ng-click='cancelDocket($index);'>
                <span class='glyphicon glyphicon-minus-sign'></span>
                &zwj;Cancel&zwj;
            </button>

            <button type='button'
                    class='btn btn-default btn-xs disabled'
                    disabled='disabled'
                    ng-click='payDocket($index);'>
                <span class='glyphicon glyphicon-usd'></span>
                &zwj;Pay&zwj;
            </button>

            <div class='btn-group'>
                <button type='button' class='btn btn-default btn-xs disabled'
                        disabled='disabled' data-toggle='dropdown'>
                    <span class='glyphicon glyphicon-edit'></span>
                    &zwj;Documents&zwj;
                </button>
                <button type='button' class='btn btn-default btn-xs dropdown-toggle disabled'
                        disabled='disabled'
                        data-toggle='dropdown'>
                    <span class='caret'></span>
                    <span class='sr-only'>&zwj;Toggle Dropdown&zwj;</span>
                </button>
                <ul class='dropdown-menu'
                    role='menu'>
                        <li ng-repeat='doc in profile.dockets[selectedDocket].documents'>
                            <a ng-if="profile.dockets[selectedDocket].products[0].typeId == 12"
                               href="{{docUrlStart}}{{doc.path}}"
                               target="_blank">
                                <span class='glyphicon glyphicon-download'/>
                                {{doc.type}} {{doc.number}}
                            </a>
                            <a ng-if="profile.dockets[selectedDocket].products[0].typeId != 12"
                               href="{{legacyDocUrlStart}}{{doc.documentId}}"
                               target="_blank">
                                <span class='glyphicon glyphicon-download'/>
                                {{doc.type}} {{doc.number}}
                            </a>
                        </li>
                </ul>
            </div>
        </div>
        <div class='panel-scroll'>
            <table class='table table-condensed table-hover'>
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>#</th>
                    <th>
                        &zwj;Type&zwj;
                    </th>
                    <th>
                        &zwj;Date&zwj;
                    </th>
                    <th>
                        &zwj;Supplier&zwj;
                    </th>
                    <th>
                        &zwj;Price&zwj;
                    </th>
                    <th>
                        &zwj;Status&zwj;
                    </th>
                </tr>
                </thead>
                <tbody ng-repeat='docket in profile.dockets' ng-click='selectDocket($event, $index);'>
                <tr ng-repeat='product in docket.products'>
                    <td ng-if='$index == 0' rowspan='{{docket.products.length}}'>
                        <div class='selectMark' style="cursor:pointer"></div>
                    </td>
                    <td ng-if='$index == 0' rowspan='{{docket.products.length}}'>{{docket.id}}</td>
                    <td>{{product.type}}</td>
                    <td>{{product.date | date:'dd.MM.yyyy'}}</td>
                    <td>{{product.supplier}}</td>
                    <td>{{product.price}} {{product.currencyCode}}</td>
                    <td ng-if='$index == 0' rowspan='{{docket.products.length}}'>{{docket.statusStr}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>