<div class='passenger-box'>
    <div class='panel panel-default'>
        <div class='panel-heading'>&zwj;Passengers&zwj;</div>
        <div class='panel-nav' style="&zwj;rtl&zwj;: 8px;">
            <button type='button' class='btn btn-default btn-xs' ng-click='selectView("addpassenger");'><span
                    class='glyphicon glyphicon-plus-sign'></span> &zwj;Add&zwj;
            </button>
            <div class='btn-group'>
                <button type='button' class='btn btn-default btn-xs disabled' disabled='disabled'
                        ng-click='selectView("editpassenger");'>
                    <span class='glyphicon glyphicon-edit'></span> &zwj;Edit&zwj;
                </button>
                <button type='button' class='btn btn-default btn-xs dropdown-toggle disabled'
                        disabled='disabled'
                        data-toggle='dropdown'>
                    <span class='caret'></span>
                    <span class='sr-only'>&zwj;Toggle Dropdown&zwj;</span>
                </button>
                <ul class='dropdown-menu' role='menu'>
                    <li><a ng-click='selectView("editpassenger");' style="cursor:pointer">
                        <span class='glyphicon glyphicon-edit'>
                        </span> &zwj;Edit&zwj;</a></li>
                    <li><a ng-click='deletePassenger();' style="cursor:pointer">
                        <span class='glyphicon glyphicon-minus-sign'>
                        </span> &zwj;Delete&zwj;</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='panel-scroll'>
            <table class='table table-condensed table-hover'>
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&zwj;Name&zwj;</th>
                    <th>&zwj;Passport&zwj;</th>
                    <th>&zwj;Birthday&zwj;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='passenger in profile.passengers' ng-click='selectPassenger($event, $index);'>
                    <td>
                        <div class='selectMark' style="cursor:pointer"></div>
                    </td>
                    <td>{{passenger.name}} {{passenger.surname}}</td>
                    <td>{{passenger.passports[0].number}}</td>
                    <td>{{passenger.birthday | date:'dd.MM.yyyy'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>