<div class='row'>
    <div class='col-md-6'>
        <div class='profile-box'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    &zwj;User info&zwj;
                </div>
                <div class="panel-nav" style="&zwj;rtl&zwj;: 8px">
                    <button type='button' class='btn btn-default btn-xs' ng-click='selectView("editor");'>
                        <span class='glyphicon glyphicon-edit'></span>
                        &zwj;Edit info&zwj;
                    </button>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td width='40%'>
                                <b>
                                    &zwj;Name&zwj;
                                    :</b>
                            </td>
                            <td colspan='3'>
                                {{profile.name}} {{profile.surname}}
                            </td>
                        </tr>
                        <tr>
                            <td width='40%'>
                                <b>
                                    &zwj;Email&zwj;
                                    :</b>
                            </td>
                            <td colspan='3'>
                                {{profile.email}}
                            </td>
                        </tr>
                        <tr>
                            <td width='40%'>
                                <b>
                                    &zwj;Phone&zwj;
                                    :</b>
                            </td>
                            <td colspan='3'>
                                {{profile.phone}}
                            </td>
                        </tr>
                        <tr>
                            <td width='40%'>
                                <b>
                                    &zwj;Birthday&zwj;
                                    :</b>
                            </td>
                            <td colspan='3'>
                                {{profile.birthday | date:'dd.MM.yyyy'}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-6'>
        <passengers></passengers>
    </div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <orders></orders>
    </div>
</div>

