<table class='tt-payment-digest-header'>
    <tbody>
        <tr>
            <td class='tt-payment-digest-title'>
                <i class='el-icon-home'></i>
                <span>&zwj;Hotel&zwj;</span>
            </td>
        </tr>
    </tbody>
</table>
<div ng-repeat="product in booking.products">
    <table class='tt-payment-digest-hotel'>
        <tr>
            <td width="60%" class="tt-payment-digest-hotel-cell">
                <table>
                    <tr><td>{{product.name}}</td></tr>
                    <tr><td>{{product.address}}</td></tr>
                    <tr><td style="color:red">&zwj;Board&zwj;: {{product.boarding.title}}</td></tr>
                    <tr><td style="color:red">&zwj;Cancellation&zwj;: {{product.cancellation}}</td></tr>
                </table>
            </td>
            <td class="tt-payment-digest-hotel-cell">
                <img src="{{product.imgs[0]}}" width="250px">
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%" class="tt-hotel-details">
                <span ng-bind-html="product.description"></span>
            </td>
        </tr>
    </table>
    <iframe ng-if="googleMapsUrl.length > 0"
            width='500px'
            height='400px'
            frameborder='0'
            scrolling='no'
            marginheight='0'
            marginwidth='0'
            ng-src='{{googleMapsUrl}}'>
    </iframe>
</div>

