<table class='tt-booking-digest-header'>
	<tbody>
		<tr>
			<td class='tt-booking-digest-title'>
				<i class='el-icon-home'></i>
				<span>&zwj;Гостиница&zwj;</span>
				<span class='tt-booking-digest-title-link'>
					<span ng-if='!showDetails' ng-click='openDetails()'>&zwj;Показать детали&zwj;</span>
					<span ng-if='showDetails' ng-click='hideDetails()'>&zwj;Закрыть детали&zwj;</span>
				</span>				
			</td>
		</tr>
	</tbody>
</table>
<table class='tt-booking-digest-content' ng-if='showDetails'>
	<tbody>
		<tr>
			<td class='tt-booking-digest-title'>
				<span>{{product.location.parent.name}}, {{product.location.name}}</span>
			</td>
			<td class='tt-booking-digest-title'>
				<i class=' el-icon-star' ng-repeat='star in product.stars | starsRange track by $index'></i>
			</td>
			<td class='tt-booking-digest-title'>
				<span>{{product.title}}</span>
			</td>
			<td class='tt-booking-digest-title'>
				<span ng-pluralize count="{{product.nights}}"
					when="{'1': '&zwj;1 ночь&zwj;',
							'2': '&zwj;2 ночи&zwj;',
							'3': '&zwj;3 ночи&zwj;',
							'4': '&zwj;4 ночи&zwj;',
							'other': '&zwj;{} ночей&zwj;'}"></span>
			</td>
			<td class='tt-booking-digest-title'>
				<span>{{product.dateIn | date:'dd.MM.yyyy'}} - {{product.dateOut | date:'dd.MM.yyyy'}}</span>
			</td>
			<td class='tt-booking-digest-title' ng-init="productRoomBoarding = product.room.boarding">
                <hotelroomboarding></hotelroomboarding>
			</td>
			<td class='tt-booking-digest-title' ng-init="productRoomType = product.room.type">
                <hotelroomtype></hotelroomtype>
			</td>
			<td class='tt-booking-digest-title'>
				<span ng-pluralize count="{{product.room.count}}"
					when="{'1': '&zwj;1 комната&zwj;',
							'2': '&zwj;2 комнаты&zwj;',
							'3': '&zwj;3 комнаты&zwj;',
							'4': '&zwj;4 комнаты&zwj;',
							'other': '&zwj;{} комнат&zwj;'}"></span>
			</td>
		</tr>
	</tbody>
</table>
<table class='tt-booking-digest-footer'>
	<tbody>
		<tr>
			<td class='tt-booking-digest-title tt-booking-normal'>
				<span>&zwj;Проживающих:&zwj;&nbsp;</span>
				<span ng-if='product.paxes.adult > 0' ng-pluralize count="{{product.paxes | paxcount:'adult'}}"
					when="{'1': '&zwj;1 взрослый&zwj;',
							'other': '&zwj;{} взрослых&zwj;'}"></span>
				<span ng-if='product.paxes.child > 0' ng-pluralize count="{{product.paxes | paxcount:'child'}}"
					when="{'1': '&zwj;1 ребенок&zwj;',
							'2': '&zwj;{} ребенка&zwj;',
							'3': '&zwj;{} ребенка&zwj;',
							'4': '&zwj;{} ребенка&zwj;',
							'other': '&zwj;{} детей&zwj;'}"></span>
			</td>
			<td class='tt-booking-digest-title tt-align-right'>
				<span>&zwj;Стоимость:&zwj;&nbsp;</span>
				<span>{{product.prices | productprice:'faretax'}}</span>
				<span>{{product.prices | productprice:'options'}}</span>
				<span>{{product.prices | productprice:'discount'}}</span>
				<span>{{product.prices | productprice:'total'}}</span>
			</td>
		</tr>
	</tbody>
</table>