<div class='filter-box'>
	<div ng-form name='filterForm' class='content-box'>
		<div class='form-group'>
			<label class='control-label'>&zwj;Hotel name&zwj;</label>
            <div class="form-group" >
<!--
                <select class="input-sm" ng-model="filter.name" ng-options="i for i in items" combobox></select>
-->
                <select class="form-control input-sm" selectize="filter.name" method="names"></select>
            </div>
			<!--<img src='http://maps.google.com/mapfiles/kml/pal4/icon8.png' ng-click='changeName($event)'>-->
            <!--<span class='form_icon'></span>-->
        </div>
		<div class='form-group'>
			<label class='control-label'>&zwj;Budget&zwj;</label>
			<div class='radio-box' ng-click='selectBudget($event, 0);' ng-class='{active: filter.budget == 0}'>
				<input type='radio' name='budget' value='0' ng-model='filter.budget'>&zwj;Any budget&zwj;
			</div>
			<div class='radio-box' ng-repeat='item in budgets' ng-click='selectBudget($event, $index+1);' ng-class='{active: filter.budget == $index+1}'>
				<input type='radio' name='budget' value='{{$index+1}}' ng-model='filter.budget'>
                <span ng-if='!$last'>&zwj;{{item}} room/night&zwj;</span>
                <span ng-if='$last'>&zwj;More than {{item}} room/night&zwj;</span>
			</div>
		</div>
		<div class='form-group'>
			<label class='control-label'>&zwj;Star rating&zwj;</label>
			<div class='radio-box' ng-click='selectRaiting($event, 0);' ng-class='{active: filter.raiting == 0}'>
				<input type='radio' name='stars' value='0' ng-model='filter.raiting'>&zwj;Any star rating&zwj;
			</div>
			<div class='radio-box' ng-click='selectRaiting($event, 5);' ng-class='{active: filter.raiting == 5}'>
				<input type='radio' name='stars' value='5' ng-model='filter.raiting'>&#9733;&#9733;&#9733;&#9733;&#9733;
			</div>
			<div class='radio-box' ng-click='selectRaiting($event, 4);' ng-class='{active: filter.raiting == 4}'>
				<input type='radio' name='stars' value='4' ng-model='filter.raiting'>&#9733;&#9733;&#9733;&#9733;
			</div>
			<div class='radio-box' ng-click='selectRaiting($event, 3);' ng-class='{active: filter.raiting == 3}'>
				<input type='radio' name='stars' value='3' ng-model='filter.raiting'>&#9733;&#9733;&#9733;
			</div>
			<div class='radio-box' ng-click='selectRaiting($event, 2);' ng-class='{active: filter.raiting == 2}'>
				<input type='radio' name='stars' value='2' ng-model='filter.raiting'>&#9733;&#9733;
			</div>
			<div class='radio-box' ng-click='selectRaiting($event, 1);' ng-class='{active: filter.raiting == 1}'>
				<input type='radio' name='stars' value='1' ng-model='filter.raiting'>&#9733;
			</div>
		</div>
		<button class='close-button' ng-click='closeFilter();'></button>
	</div>
</div>