<option value=''></option>
<option value='112'>Австралия</option>
<option value='113'>Австрия</option>
<option value='115'>Азорские острова (Португалия)</option>
<option value='114'>Айзербаджан</option>
<option value='101'>Албания</option>
<option value='102'>Алжир</option>
<option value='103'>Американское Самоа</option>
<option value='165'>Англия</option>
<option value='105'>Ангола</option>
<option value='104'>Андорра</option>
<option value='107'>Антарктика</option>
<option value='108'>Антигуа и Барбуда</option>
<option value='250'>Антильские острова (Голландия)</option>
<option value='109'>Аргентина</option>
<option value='110'>Армения</option>
<option value='111'>Аруба</option>
<option value='100'>Афганистан</option>
<option value='116'>Багамы</option>
<option value='118'>Бангладеш</option>
<option value='119'>Барбадос</option>
<option value='117'>Бахрейн</option>
<option value='120'>Беларусь</option>
<option value='122'>Белиз</option>
<option value='121'>Бельгия</option>
<option value='123'>Бенин</option>
<option value='124'>Бермуды</option>
<option value='133'>Болгария</option>
<option value='126'>Боливия</option>
<option value='127'>Босния и Герцеговина</option>
<option value='128'>Ботсвана</option>
<option value='129'>Бразилия</option>
<option value='228'>Брисбен</option>
<option value='132'>Бруней</option>
<option value='134'>Буркина Фасо</option>
<option value='135'>Бурунди</option>
<option value='125'>Бутан</option>
<option value='325'>Вануату</option>
<option value='198'>Венгрия</option>
<option value='326'>Венесуэла</option>
<option value='130'>Вирджинские острова (Британские)</option>
<option value='318'>Вирджинские острова (США)</option>
<option value='329'>Восточная Сахара</option>
<option value='161'>Восточный Тимур</option>
<option value='327'>Вьетнам</option>
<option value='180'>Габон</option>
<option value='195'>Гаити</option>
<option value='181'>Гамбия</option>
<option value='184'>Гана</option>
<option value='189'>Гваделупа</option>
<option value='191'>Гватемала</option>
<option value='192'>Гвинея</option>
<option value='193'>Гвинея-Бисау</option>
<option value='183'>Германия</option>
<option value='185'>Гибралтар</option>
<option value='249'>Голландия</option>
<option value='197'>Гон-Конг</option>
<option value='196'>Гондурас</option>
<option value='188'>Гренада</option>
<option value='187'>Гренландия</option>
<option value='186'>Греция</option>
<option value='182'>Грузия</option>
<option value='190'>Гуам</option>
<option value='194'>Гуяна</option>
<option value='157'>Дания</option>
<option value='158'>Джибути</option>
<option value='159'>Доминик</option>
<option value='160'>Доминиканская Республика</option>
<option value='163'>Египет</option>
<option value='174'>Ереван</option>
<option value='331'>Замбия</option>
<option value='332'>Зимбабве</option>
<option value='330'>Йемен</option>
<option value='205'>Израиль</option>
<option value='200'>Индия</option>
<option value='201'>Индонезия</option>
<option value='209'>Иордания</option>
<option value='203'>Ирак</option>
<option value='202'>Иран</option>
<option value='204'>Ирландия</option>
<option value='199'>Исландия</option>
<option value='297'>Испания</option>
<option value='206'>Италия</option>
<option value='210'>Казахстан</option>
<option value='140'>Каймановы острова</option>
<option value='136'>Камбоджия</option>
<option value='137'>Камерун</option>
<option value='138'>Канада</option>
<option value='256'>Канберра</option>
<option value='139'>Капе Верде</option>
<option value='273'>Катар</option>
<option value='211'>Кения</option>
<option value='153'>Кипр</option>
<option value='215'>Киргизстан</option>
<option value='212'>Кирибати</option>
<option value='267'>Китай</option>
<option value='146'>Колумбия</option>
<option value='147'>Коморские острова</option>
<option value='156'>Конго</option>
<option value='106'>Кордоба</option>
<option value='149'>Коста Рика</option>
<option value='150'>Кот-де-Вуар</option>
<option value='152'>Куба</option>
<option value='214'>Кувейт</option>
<option value='216'>Лаос</option>
<option value='217'>Латвия</option>
<option value='219'>Лесото</option>
<option value='220'>Либерия</option>
<option value='218'>Ливан</option>
<option value='221'>Ливия</option>
<option value='222'>Литва</option>
<option value='9832'>Лихтенштейн</option>
<option value='223'>Люксембург</option>
<option value='236'>Маврикий</option>
<option value='235'>Мавритания</option>
<option value='226'>Мадагаскар</option>
<option value='227'>Мадейра</option>
<option value='237'>Майот</option>
<option value='224'>Макао</option>
<option value='225'>Македония</option>
<option value='229'>Малазия</option>
<option value='231'>Мали</option>
<option value='317'>Малые Внешние острова (США)</option>
<option value='230'>Мальдивы</option>
<option value='232'>Мальта</option>
<option value='243'>Марокко</option>
<option value='234'>Мартиника</option>
<option value='233'>Маршалловы острова</option>
<option value='238'>Мексика</option>
<option value='172'>Микронезия</option>
<option value='244'>Мозамбик</option>
<option value='239'>Молдова</option>
<option value='240'>Монако</option>
<option value='241'>Монголия</option>
<option value='131'>Монсеррат</option>
<option value='245'>Мьянмар</option>
<option value='246'>Намибия</option>
<option value='247'>Науру</option>
<option value='248'>Непал</option>
<option value='254'>Нигер</option>
<option value='255'>Нигерия</option>
<option value='253'>Никарагуа</option>
<option value='252'>Новая Зеландия</option>
<option value='251'>Новая Каледония</option>
<option value='259'>Норвегия</option>
<option value='321'>Объединённые Арабские Эмираты</option>
<option value='260'>Оман</option>
<option value='279'>Остров Святой Елены</option>
<option value='328'>Острова Валиса и Футуна</option>
<option value='148'>Острова Кука</option>
<option value='261'>Пакистан</option>
<option value='262'>Палау</option>
<option value='264'>Панама</option>
<option value='265'>Папуа Новая Гвинея</option>
<option value='266'>Парагвай</option>
<option value='268'>Перу</option>
<option value='270'>Польша</option>
<option value='271'>Португалия</option>
<option value='143'>Проточные острова</option>
<option value='272'>Пуэрто Рико</option>
<option value='275'>Реньон</option>
<option value='9834'>Республика Конго</option>
<option value='277'>Россия</option>
<option value='278'>Руанда</option>
<option value='276'>Румыния</option>
<option value='164'>Сальвадор</option>
<option value='282'>Самоа</option>
<option value='173'>Сан-Китт и Невис</option>
<option value='281'>Сан Винсент и Гренадины</option>
<option value='280'>Сан Лючия</option>
<option value='274'>Сан Марино (республика)</option>
<option value='283'>Сан Томе и Принсип</option>
<option value='284'>Саудовская Аравия</option>
<option value='301'>Свазиленд</option>
<option value='155'>Северная Корея</option>
<option value='258'>Северные Марианские острова</option>
<option value='288'>Сейшельские острова</option>
<option value='286'>Сенегал</option>
<option value='287'>Сербия</option>
<option value='290'>Сингапур</option>
<option value='304'>Сирия</option>
<option value='291'>Словакия</option>
<option value='292'>Словения</option>
<option value='293'>Соломоновы острова</option>
<option value='294'>Сомали</option>
<option value='299'>Судан</option>
<option value='300'>Суринам</option>
<option value='322'>США</option>
<option value='289'>Сьерра Лион</option>
<option value='306'>Таджикистан</option>
<option value='305'>Тайвань</option>
<option value='308'>Таиланд</option>
<option value='307'>Танзания</option>
<option value='309'>Того</option>
<option value='310'>Тонга</option>
<option value='311'>Тринидад и Тобаго</option>
<option value='316'>Тувалу</option>
<option value='312'>Тунис</option>
<option value='315'>Турецкие и Кайка, острова</option>
<option value='314'>Туркменистан</option>
<option value='313'>Турция</option>
<option value='319'>Уганда</option>
<option value='324'>Узбекистан</option>
<option value='320'>Украина</option>
<option value='323'>Уругвай</option>
<option value='269'>Филиппины</option>
<option value='175'>Финляндия</option>
<option value='170'>Фолклендкие острова</option>
<option value='171'>Форерские острова</option>
<option value='177'>Франция</option>
<option value='178'>Французская Гвинея</option>
<option value='179'>Французская Полинезия</option>
<option value='151'>Хорватия</option>
<option value='141'>Центрально-Африканская Республика</option>
<option value='142'>Чад</option>
<option value='242'>Черногория</option>
<option value='154'>Чехия</option>
<option value='144'>Чили</option>
<option value='303'>Швейцария</option>
<option value='302'>Швеция</option>
<option value='298'>Шри Ланка</option>
<option value='162'>Эквадор</option>
<option value='166'>Экваториальная Гвинея</option>
<option value='167'>Эритрея</option>
<option value='168'>Эстония</option>
<option value='169'>Эфиопия</option>
<option value='295'>ЮАР</option>
<option value='296'>Южная Корея</option>
<option value='207'>Ямайка</option>
<option value='208'>Япония</option>