<style>
.cl_wars_conv_container {
  width: 100%;
}

.cl_wars_spacer {
  width: 100%;
  height: 15px;
}

.cl_wars_conv_head {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  font-family: Tahoma, Arial, sans-serif;
  color: #000000;
  text-decoration: none;
  background: #FFFFFF;
  width: 100%;
}

.cl_wars_conv_chapt {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  font-family: Tahoma, Arial, sans-serif;
  color: #000000;
  text-decoration: none;
  background: #FFFFFF;
  width: 100%;
}

.cl_wars_conv_scope {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  font-family: Tahoma, Arial, sans-serif;
  color: #000000;
  text-decoration: none;
  background: #FFFFFF;
  width: 100%;
}

.cl_wars_conv_art {
  text-align: left;
  font-size: 11px;
  font-weight: bold;
  font-family: Tahoma, Arial, sans-serif;
  color: #000000;
  text-decoration: none;
  background: #FFFFFF;
  width: 100%;
}

.cl_wars_conv_line {
  background: #FFFFFF;
  width: 100%;
}

.cl_wars_line_num {
  float: left;
  position: relative;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  font-family: Tahoma, Arial, sans-serif;
  color: #000000;
  text-decoration: none;
  background: FFFFFF;
  border-width: 0 0 0 1px;
  padding: 0 0 10px 0;
  border-color: #C6C5C5;
  margin: 0 5px;
}
.cl_wars_line_cont {
  position: relative;
  text-align: left;
  text-align: justify;
  font-size: 11px;
  font-weight: normal;
  font-family: Tahoma, Arial, sans-serif;
  color: #000000;
  text-decoration: none;
  padding: 0 0 10px 0;
  background: FFFFFF;
}
</style>
<table class='tt-terms-content-header'>
  <tbody>
    <tr>
      <td class='tt-terms-content-title'>
        <i class='el-icon-globe'></i><span>Warsaw convention</span>
      </td>
    </tr>
  </tbody>
</table>
<div class='tt-terms-content-body'>
<div class="cl_wars_conv_container">
<div class="cl_wars_conv_head">CONVENTION FOR THE UNIFICATION OF
CERTAIN RULES RELATING TO INTERNATIONAL CARRIAGE BY AIR, SIGNED AT
WARSAW ON 12 OCTOBER 1929 (WARSAW CONVENTION)</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_chapt">CHAPTER I</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_scope">SCOPE - DEFINITIONS</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 1</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">This Convention applies to all
international carriage of persons,luggage or goods performed by aircraft
for reward. It applies equally to gratuitous carriage by aircraft
performed by an air transport undertaking.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">For the purposes of this Convention
the expression "internationalcarriage" means any carriage in which,
according to the contract made by the parties, the place of departure
and the place of destination, whether or not there be a break in the
carriage or a transhipment, are situated either within the territories
of two High Contracting Parties, or within the territory of a single
High Contracting Party, if there is an agreed stopping place within a
territory subject to the sovereignty, suzerainty, mandate or authority
of another Power, even though that Power is not a party to this
Convention. A carriage without such an agreed stopping place between
territories subject to the sovereignty, suzerainty, mandate or authority
of the same High Contracting Party is not deemed to be international for
the purposes of this Convention.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">A carriage to be performed by
several successive air carriers isdeemed, for the purposes of this
Convention, to be one undivided carriage, if it has been regarded by the
parties as a single operation, whether it had been agreed upon under the
form of a single contract or of a series of contracts, and it does not
lose its international character merely because one contract or a series
of contracts is to be performed entirely within a territory subject to
the sovereignty, suzerainty, mandate or authority of the same High
Contracting Party.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 2</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">This Convention applies to carriage
performed by the State or by legally constituted public bodies provided
it falls within the conditions laid down in Article 1.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">This Convention does not apply to
carriage performed under theterms of any international postal
Convention.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_chapt">CHAPTER II</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_chapt">DOCUMENTS OF CARRIAGE</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Section I - Passenger Ticket</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 3</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">For the carriage of passengers the
carrier must deliver apassenger ticket which shall contain the following
particulars:- (a) the place and date of issue; (b) the place of
departure and of destination; (c) the agreed stopping places, provided
that the carrier may reserve the right to alter the stopping places in
case of necessity, and that if he exercises that right, the alteration
shall not have the effect of depriving the carriage of its international
character; (d) the name and address of the carrier or carriers; (e) a
statement that the carriage is subject to the rules relating to
liability established by this Convention.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">The absence, irregularity or loss
of the passenger ticket does notaffect the existence or the validity of
the contract of carriage, which shall none the less be subject to the
rules of this Convention. Nevertheless, if the carrier accepts a
passenger without a passenger ticket having been delivered he shall not
be entitled to avail himself of those provisions of this Convention
which exclude or limit his liability. Section II - Luggage Ticket</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 4</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">For the carriage of luggage, other
than small personal objects ofwhich the passenger takes charge himself,
the carrier must deliver a luggage ticket.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">The luggage ticket shall be made
out in duplicate, one part forthe passenger and the other part for the
carrier.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">The luggage ticket shall contain
the following particulars:- (a) the place and date of issue; (b) the
place of departure and of destination; (c) the name and address of the
carrier or carriers; (d) the number of the passenger ticket; (e) a
statement that delivery of the luggage will be made to the bearer of the
luggage ticket; (f) the number and weight of the packages; (g) the
amount of the value declared in accordance with Article 22(2); (h) a
statement that the carriage is subject to the rules relating to
liability established by this Convention.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">4.</div>
<div class="cl_wars_line_cont">The absence, irregularity or loss
of the luggage ticket does notaffect the existence or the validity of
the contract of carriage, which shall none the less be subject to the
rules of this Convention. Nevertheless, if the carrier accepts luggage
without a luggage ticket having been delivered, or if the luggage ticket
does not contain the particulars set out at (d), (f) and (h) above, the
carrier shall not be entitled to avail himself of those provisions of
the Convention which exclude or limit his liability.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Section III - Air Consignment Note</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 5</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">Every carrier of goods has the
right to require the consignor tomake out and hand over to him a
document called an "air consignment note"; every consignor has the right
to require the carrier to accept this document.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">The absence, irregularity or loss
of this document does not affectthe existence or the validity of the
contract of carriage which shall, subject to the provisions of Article
9, be none the less governed by the rules of this Convention.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 6</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">The air consignment note shall be
made out by the consignor inthree original parts and be handed over with
the goods.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">The first part shall be marked "for
the carrier," and shall besigned by the consignor. The second part shall
be marked "for the consignee"; it shall be signed by the consignor and
by the carrier and shall accompany the goods. The third part shall be
signed by the carrier and handed by him to the consignor after the goods
have been accepted.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">The carrier shall sign on
acceptance of the goods.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">4.</div>
<div class="cl_wars_line_cont">The signature of the carrier may be
stamped; that of theconsignor may be printed or stamped.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">5.</div>
<div class="cl_wars_line_cont">If, at the request of the
consignor, the carrier makes out the airconsignment note, he shall be
deemed, subject to proof to the contrary, to have done so on behalf of
the consignor.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 7</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">The carrier of goods has the right
to require the consignor to make out separate consignment notes when
there is more than one package.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 8</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">The air consignment note shall
contain the following particulars:- (a) the place and date of its
execution; (b) the place of departure and of destination; (c) the agreed
stopping places, provided that the carrier may reserve the right to
alter the stopping places in case of necessity, and that if he exercises
that right the alteration shall not have the effect of depriving the
carriage of its international character; (d) the name and address of the
consignor; (e) the name and address of the first carrier; (f) the name
and address of the consignee, if the case so requires; (g) the nature of
the goods; (h) the number of the packages, the method of packing and the
particular marks or numbers upon them; (i) the weight, the quantity and
the volume or dimensions of the goods; (j) the apparent condition of the
goods and of the packing; (k) the freight, if it has been agreed upon,
the date and place of payment, and the person who is to pay it; (l) if
the goods are sent for payment on delivery, the price of the goods, and,
if the case so requires, the amount of the expenses incurred; (m) the
amount of the value declared in accordance with Article 22 (2); (n) the
number of parts of the air consignment note; (o) the documents handed to
the carrier to accompany the air consignment note; (p) the time fixed
for the completion of the carriage and a brief note of the route to be
followed, if these matters have been agreed upon; (q) a statement that
the carriage is subject to the rules relating to liability established
by this Convention.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 9</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">If the carrier accepts goods
without an air consignment note having been made out, or if the air
consignment note does not contain all the particulars set out in Article
8(a) to (i) inclusive and (q), the carrier shall not be entitled to
avail himself of the provisions of this Convention which exclude or
limit his liability.</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 10</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">The consignor is responsible for
the correctness of the particularsand statements relating to the goods
which he inserts in the air consignment note.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">The consignor will be liable for
all damage suffered by thecarrier or any other person by reason of the
irregularity, incorrectness or incompleteness of the said particulars
and statements.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 11</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">The air consignment note is prima
facie evidence of theconclusion of the contract, of the receipt of the
goods and of the conditions of carriage.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">The statements in the air
consignment note relating to the weight,dimensions and packing of the
goods, as well as those relating to the number of packages, are prima
facie evidence of the facts stated; those relating to the quantity,
volume and condition of the goods do not constitute evidence against the
carrier except so far as they both have been, and are stated in the air
consignment note to have been, checked by him in the presence of the
consignor, or relate to the apparent condition of the goods.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 12</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">Subject to his liability to carry
out all his obligations under thecontract of carriage, the consignor has
the right to dispose of the goods by withdrawing them at the aerodrome
of departure or destination, or by stopping them in the course of the
journey on any landing, or by calling for them to be delivered at the
place of destination or in the course of the journey to a person other
than the consignee named in the air consignment note, or by requiring
them to be returned to the aerodrome of departure. He must not exercise
this right of disposition in such a way as to prejudice the carrier or
other consignors and he must repay any expenses occasioned by the
exercise of this right.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">If it is impossible to carry out
the orders of the consignor thecarrier must so inform him forthwith.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">If the carrier obeys the orders of
the consignor for the dispositionof the goods without requiring the
production of the part of the air consignment note delivered to the
latter, he will be liable, without prejudice to his right of recovery
from the consignor, for any damage which may be caused thereby to any
person who is lawfully in possession of that part of the air consignment
note.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">4.</div>
<div class="cl_wars_line_cont">The right conferred on the
consignor ceases at the moment whenthat of the consignee begins in
accordance with Article 13. Nevertheless, if the consignee declines to
accept the consignment note or the goods, or if he cannot be
communicated with, the consignor resumes his right of disposition.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 13</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">Except in the circumstances set out
in the preceding Article, theconsignee is entitled, on arrival of the
goods at the place of destination, to require the carrier to hand over
to him the air consignment note and to deliver the goods to him, on
payment of the charges due and on complying with the conditions of
carriage set out in the air consignment note.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">Unless it is otherwise agreed, it
is the duty of the carrier to givenotice to the consignee as soon as the
goods arrive.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">If the carrier admits the loss of
the goods, or if the goods havenot arrived at the expiration of seven
days after the date on which they ought to have arrived, the consignee
is entitled to put into force against the carrier the rights which flow
from the contract of carriage.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 14</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">The consignor and the consignee can
respectively enforce all the rights given them by Articles 12 and 13,
each in his own name, whether he is acting in his own interest or in the
interest of another, provided that he carries out the obligations
imposed by the contract.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 15</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">Articles 12, 13 and 14 do not
affect either the relations of theconsignor or the consignee with each
other or the mutual relations of third parties whose rights are derived
either from the consignor or from the consignee.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">The provisions of Articles 12, 13
and 14 can only be varied byexpress provision in the air consignment
note.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 16</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">The consignor must furnish such
information and attach to theair consignment note such documents as are
necessary to meet the formalities of customs, octroi or police before
the goods can be delivered to the consignee. The consignor is liable to
the carrier for any damage occasioned by the absence, insufficiency or
irregularity of any such information or documents, unless the damage is
due to the fault of the carrier or his agents.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">The carrier is under no obligation
to enquire into the correctness or sufficiency of such information or
documents.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_chapt">CHAPTER III</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_chapt">LIABILITY OF THE CARRIER</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 17</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">The carrier is liable for damage
sustained in the event of the death or wounding of a passenger or any
other bodily injury suffered by a passenger, if the accident which
caused the damage so sustained took place on board the aircraft or in
the course of any of the operations of embarking or disembarking.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 18</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">The carrier is liable for damage
sustained in the event of thedestruction or loss of, or of damage to,
any registered luggage or any goods, if the occurrence which caused the
damage so sustained took place during the carriage by air.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">The carriage by air within the
meaning of the precedingparagraph comprises the period during which the
luggage or goods are in charge of the carrier, whether in an aerodrome
or on board an aircraft, or, in the case of a landing outside an
aerodrome, in any place whatsoever.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">The period of the carriage by air
does not extend to any carriageby land, by sea or by river performed
outside an aerodrome. If, however, such a carriage takes place in the
performance of a contract for carriage by air, for the purpose of
loading, delivery or transshipment, any damage is presumed, subject to
proof to the contrary, to have been the result of an event which took
place during the carriage by air.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 19</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">The carrier is liable for damage
occasioned by delay in the carriage by air of passengers, luggage or
goods.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 20</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">The carrier is not liable if he
proves that he and his agents havetaken all necessary measures to avoid
the damage or that it was impossible for him or them to take such
measures.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">In the carriage of goods and
luggage the carrier is not liable ifhe proves that the damage was
occasioned by negligent pilotage or negligence in the handling of the
aircraft or in navigation and that, in all other respects, he and his
agents have taken all necessary measures to avoid the damage.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 21</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">If the carrier proves that the
damage was caused by or contributed to by the negligence of the injured
person the Court may, in accordance with the provisions of its own law,
exonerate the carrier wholly or partly from his liability.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 22</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">In the carriage of passengers the
liability of the carrier for eachpassenger is limited to the sum of
125,000 francs. Where, in accordance with the law of the Court seised of
the case, damages may be awarded in the form of periodical payments, the
equivalent capital value of the said payments shall not exceed 125,000
francs. Nevertheless, by special contract, the carrier and the passenger
may agree to a higher limit of liability.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">In the carriage of registered
luggage and of goods, the liabilityof the carrier is limited to a sum of
250 francs per kilogram, unless the consignor has made, at the time when
the package was handed over to the carrier, a special declaration of the
value at delivery and has paid a supplementary sum if the case so
requires. In that case the carrier will be liable to pay a sum not
exceeding the declared sum, unless he proves that that sum is greater
than the actual value to the consignor at delivery.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">As regards objects of which the
passenger takes charge himselfthe liability of the carrier is limited to
5,000 francs per passenger.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">4.</div>
<div class="cl_wars_line_cont">The sums mentioned above shall be
deemed to refer to theFrench franc consisting of 65 пїЅ milligrams gold of
millesimal fineness 900. These sums may be converted into any national
currency in round figures.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 23</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">Any provision tending to relieve
the carrier of liability or to fix a lower limit than that which is laid
down in this Convention shall be null and void, but the nullity of any
such provision does not involve the nullity of the whole contract, which
shall remain subject to the provisions of this Convention.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 24</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">In the cases covered by Articles 18
and 19 any action fordamages, however founded, can only be brought
subject to the conditions and limits set out in this Convention.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">In the cases covered by Article 17
the provisions of thepreceding paragraph also apply, without prejudice
to the questions as to who are the persons who have the right to bring
suit and what are their respective rights.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 25</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">The carrier shall not be entitled
to avail himself of the provisionsof this Convention which exclude or
limit his liability, if the damage is caused by his wilful misconduct or
by such default on his part as, in accordance with the law of the Court
seised of the case, is considered to be equivalent to wilful misconduct.
</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">Similarly the carrier shall not be
entitled to avail himself of thesaid provisions, if the damage is caused
as aforesaid by any agent of the carrier acting within the scope of his
employment.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 26</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">Receipt by the person entitled to
delivery of luggage or goodswithout complaint is prima facie evidence
that the same have been delivered in good condition and in accordance
with the document of carriage.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">In the case of damage, the person
entitled to delivery mustcomplain to the carrier forthwith after the
discovery of the damage, and, at the latest, within three days from the
date of receipt in the case of luggage and seven days from the date of
receipt in the case of goods. In the case of delay the complaint must be
made at the latest within fourteen days from the date on which the
luggage or goods have been placed at his disposal.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">Every complaint must be made in
writing upon the document ofcarriage or by separate notice in writing
despatched within the times aforesaid.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">4.</div>
<div class="cl_wars_line_cont">Failing complaint within the times
aforesaid, no action shall lieagainst the carrier, save in the case of
fraud on his part.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 27</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">In the case of the death of the
person liable, an action for damages lies in accordance with the terms
of this Convention against those legally representing his estate.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 28</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">An action for damages must be
brought, at the option of theplaintiff, in the territory of one of the
High Contracting Parties, either before the Court having jurisdiction
where the carrier is ordinarily resident, or has his principal place of
business, or has an establishment by which the contract has been made or
before the Court having jurisdiction at the place of destination.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">Questions of procedure shall be
governed by the law of theCourt seised of the case.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 29</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">The right to damages shall be
extinguished if an action is notbrought within two years, reckoned from
the date of arrival at the destination, or from the date on which the
aircraft ought to have arrived, or from the date on which the carriage
stopped.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">The method of calculating the
period of limitation shall bedetermined by the law of the Court seised
of the case.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 30</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">In the case of carriage to be
performed by various successivecarriers and falling within the
definition set out in the third paragraph of Article 1, each carrier who
accepts passengers, luggage or goods is subjected to the rules set out
in this Convention, and is deemed to be one of the contracting parties
to the contract of carriage in so far as the contract deals with that
part of the carriage which is performed under his supervision.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">In the case of carriage of this
nature, the passenger or hisrepresentative can take action only against
the carrier who performed the carriage during which the accident or the
delay occurred, save in the case where, by express agreement, the first
carrier has assumed liability for the whole journey.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">As regards luggage or goods, the
passenger or consignor willhave a right of action against the first
carrier, and the passenger or consignee who is entitled to delivery will
have a right of action against the last carrier, and further, each may
take action against the carrier who performed the carriage during which
the destruction, loss, damage or delay took place. These carriers will
be jointly and severally liable to the passenger or to the consignor or
consignee.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_chapt">CHAPTER IV</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_chapt">PROVISIONS RELATING TO COMBINED
CARRIAGE</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 31</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">In the case of combined carriage
performed partly by air andpartly by any other mode of carriage, the
provisions of this Convention apply only to the carriage by air,
provided that the carriage by air falls within the terms of Article 1.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">Nothing in this Convention shall
prevent the parties in the caseof combined carriage from inserting in
the document of air carriage conditions relating to other modes of
carriage, provided that the provisions of this Convention are observed
as regards the carriage by air.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_chapt">CHAPTER V</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_chapt">GENERAL AND FINAL PROVISIONS</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 32</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">Any clause contained in the
contract and all special agreements entered into before the damage
occurred by which the parties purport to infringe the rules laid down by
this Convention, whether by deciding the law to be applied, or by
altering the rules as to jurisdiction, shall be null and void.
Nevertheless for the carriage of goods arbitration clauses are allowed,
subject to this Convention, if the arbitration is to take place within
one of the jurisdictions referred to in the first paragraph of Article
28.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 33</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">Nothing contained in this
Convention shall prevent the carrier either from refusing to enter into
any contract of carriage, or from making regulations which do not
conflict with the provisions of this Convention.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 34</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">This Convention does not apply to
international carriage by air performed by way of experimental trial by
air navigation undertakings with the view to the establishment of a
regular line of air navigation, nor does it apply to carriage performed
in extraordinary circumstances outside the normal scope of an air
carrier's business.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 35</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">The expression "days" when used in
this Convention means current days not working days.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 36</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">The Convention is drawn up in
French in a single copy which shall remain deposited in the archives of
the Ministry for Foreign Affairs of Poland and of which one duly
certified copy shall be sent by the Polish Government to the Government
of each of the High Contracting Parties.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 37</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">This Convention shall be ratified.
The instruments of ratificationshall be deposited in the archives of the
Ministry for Foreign Affairs of Poland, which will notify the deposit to
the Government of each of the High Contracting Parties.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">As soon as this Convention shall
have been ratified by five of theHigh Contracting Parties it shall come
into force as between them on the ninetieth day after the deposit of the
fifth ratification. Thereafter it shall come into force between the High
Contracting Parties who shall have ratified and the High Contracting
Party who deposits his instrument of ratification on the ninetieth day
after the deposit.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">It shall be the duty of the
Government of the Republic of Polandto notify to the Government of each
of the High Contracting Parties the date on which this Convention comes
into force as well as the date of the deposit of each ratification.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 38</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">This Convention shall, after it has
come into force, remain openfor accession by any State.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">The accession shall be effected by
a notification addressed to theGovernment of the Republic of Poland,
which will inform the Government of each of the High Contracting Parties
thereof.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">The accession shall take effect as
from the ninetieth day after thenotification made to the Government of
the Republic of Poland.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 39</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">Any one of the High Contracting
Parties may denounce thisConvention by a notification addressed to the
Government of the Republic of Poland, which will at once inform the
Government of each of the High Contracting Parties.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">Denunciation shall take effect six
months after the notificationof denunciation, and shall operate only as
regards the Party who shall have proceeded to denunciation.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 40</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">1.</div>
<div class="cl_wars_line_cont">Any High Contracting Party may, at
the time of signature or ofdeposit of ratification or of accession
declare that the acceptance which he gives to this Convention does not
apply to all or any of his colonies, protectorates, territories under
mandate, or any other territory subject to his sovereignty or his
authority, or any territory under his suzerainty.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">2.</div>
<div class="cl_wars_line_cont">Accordingly any High Contracting
Party may subsequentlyaccede separately in the name of all or any of his
colonies, protectorates, territories under mandate or any other
territory subject to his sovereignty or to his authority or any
territory under his suzerainty which has been thus excluded by his
original declaration.</div>
</div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num">3.</div>
<div class="cl_wars_line_cont">Any High Contracting Party may
denounce this Convention, inaccordance with its provisions, separately
or for all or any of his colonies, protectorates, territories under
mandate or any other territory subject to his sovereignty or to his
authority, or any other territory under his suzerainty.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">Article 41</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">Any High Contracting Party shall be
entitled not earlier than two years after the coming into force of this
Convention to call for the assembling of a new international Conference
in order to consider any improvements which may be made in this
Convention. To this end he will communicate with the Government of the
French Republic which will take the necessary measures to make
preparations for such Conference. This Convention done at Warsaw on the
12th October, 1929, shall remain open for signature until the 31st
January, 1930.</div>
</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_chapt">ADDITIONAL PROTOCOL</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_art">(With reference to Article 2)</div>
<div class="cl_wars_spacer"></div>
<div class="cl_wars_conv_line">
<div class="cl_wars_line_num"></div>
<div class="cl_wars_line_cont">The High Contracting Parties
reserve to themselves the right to declare at the time of ratification
or of accession that the first paragraph of Article 2 of this Convention
shall not apply to international carriage by air performed directly by
the State, its colonies, protectorates or mandated territories or by any
other territory under its sovereignty, suzerainty or authority.</div>
</div>
</div>
</div>
</div>