<option value='0'></option>
<option value="1">ארוחה צימחונית הינדו</option> 
<option value="2">ארוחת תינוקות</option> 
<option value="3">ארוחה תפלה</option> 
<option value="4">ארוחת ילדים</option> 
<option value="5">ארוחה סוכרתית</option> 
<option value="6">צלחת פירות</option> 
<option value="7">ארוחה לרגישים לגלוטן</option> 
<option value="8">ארוחה הינדו לא צמחונית</option> 
<option value="9">ארוחה כשרה</option> 
<option value="10">ארוחה דלת קלוריות</option> 
<option value="11">ארוחה דלת שומן</option> 
<option value="12">ארוחה דלת מלח</option> 
<option value="13">ארוחה איסלאמית</option> 
<option value="14">ארוחה דלת לוקטוז</option> 
<option value="15">ארוחה צמחונית נא</option> 
<option value="16"> ארוחת מאכלי ים</option> 
<option value="17">ארוחה מיוחדת/ נא לציין אוכל</option> 
<option value="18">ארוחה צמחונית טבעונית</option> 
<option value="19">ארוחה צמחונית ג'יין</option> 
<option value="20">ארוחה מזרחית צמחונית</option> 
<option value="21">ארוחה צמחונית לקטו-אבו</option> 
<option value="22">ארוחה כשרה למהדרין</option> 
<option value="23">ארוחת ילדים כשרה למהדרין</option> 
<option value="24">ארוחת דג כשרה למהדרין</option> 
<option value="25">ארוחת דג - ריגל</option> 
<option value="26">ארוחה - ריגלl</option> 
<option value="27">ארוחה צמחונית - ריגל</option> 
<option value="28">ארוחת עוף</option> 
<option value="29">ארוחת צום יוונית</option> 
<option value="30">ארוחת דג</option>