<option value='0'></option>
<option value="1">עיוור מלווה בכלב הנחיה</option>
<option value="2">חרש מלווה בכלב שמיעה</option>
<option value="3">זקוק לכסא גלגלים</option>
<option value="4">ללא יכולת לעלות/לרדת במדרגות</option>
<option value="5">כסא גלגלים</option>