<div class="tt-search-waiting tt-waiting">
    <div class="tt-wrap">
        <div class="panel panel-default tt-panel">
            <div class="panel-body">
                <img ng-src="{{imgDir}}/loader.gif"/>
                <div>&zwj;Мы ищем для вас регулярные полеты:&zwj;</div>
                <div>
                    <span ng-repeat="airport in digest.airports">
                        <span ng-if="$index > 0"> - </span>
                        <span>{{airport.location.name}}</span><span class="tt-code">{{airport.code}}</span>
                    </span>
                </div>
                <div>
                    <span>&zwj;Даты вылета:&zwj;</span>
                    <span ng-repeat="time in digest.times">
                        <span ng-if="$index > 0"> - </span>
                        <span>{{time | date:"dd.MM.yyyy"}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>