/*** Base elements ***/

@baseFontSize: 16px;
@baseFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Search panel
@searchPanelText: #fff;
@searchPanelFontWeight: bold;
@searchPanelHeaderText: #0060a2;
@searchPanelBackground: #9FC7D8;
@searchPanelBorder: #90A7B7;
@searchPanelBorderRadius: 2px;

// Search button
@searchBtn: #FF8901;
@searchBtnText: #ffffff;
@searchBtnBorder: transparent;
@searchBtnBorderRadius: @searchPanelBorderRadius;

// Results
@resultsHeader: #FF8901;
@resultsHeaderText: #ffffff;
@resultsBackground: #fff;
@resultsBorder: @searchPanelBorder;
@resultsBorderRadius: @searchPanelBorderRadius;

// Book button
@bookBtn: #639966;
@bookBtnText: #ffffff;
@bookBtnBorder: @searchBtnBorder;
@bookBtnBorderRadius: @searchBtnBorderRadius;

/*** Controls ***/

// Borders for text inputs and selects
@inputBorder: #90A7B7;

// Select background
@selectBackground: #ffffff;