/*** Base elements ***/
/*** Controls ***/
body {
  margin: 0;
}
#triptop-profile .link-box {
  display: none !important;
}
.triptop-container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
}
.triptop-container table {
  border-spacing: 0;
  border: 0;
  padding: 0;
  margin: 0;
}
.triptop-container .tt-align-left {
  text-align: left;
}
.triptop-container .tt-align-center {
  text-align: center;
}
.triptop-container .tt-align-right {
  text-align: right;
}
.triptop-container .tt-float-left {
  float: left;
}
.triptop-container .tt-float-right {
  float: right;
}
.triptop-container .tt-clear {
  clear: both;
}
.triptop-container .tt-link {
  cursor: pointer;
}
.triptop-container .tt-dropdown {
  display: block !important;
}
#triptop-rentacar {
  direction: ltr;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
#triptop-rentacar input,
#triptop-rentacar select,
#triptop-rentacar textarea,
#triptop-rentacar button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
#triptop-rentacar .tt-rentacar-search-form {
  color: #ffffff;
  font-size: 12px;
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 10px;
  background-color: #9fc7d8;
  border: 1px solid #90a7b7;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#triptop-rentacar .tt-rentacar-search-form select {
  background: #ffffff;
  border: 1px solid #90a7b7;
  padding: 2px;
  height: 24px;
  outline: 0 none;
}
#triptop-rentacar .tt-rentacar-search-form .tt-search-form-locations,
#triptop-rentacar .tt-rentacar-search-form .tt-search-form-dates {
  padding: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
}
#triptop-rentacar .tt-rentacar-search-form .tt-rentacar-search-locations {
  position: relative;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
}
#triptop-rentacar .tt-rentacar-search-form .tt-rentacar-search-locations input[type="text"] {
  padding: 2px 5px;
  border: 1px solid #90a7b7;
  width: 100%;
  height: 24px;
}
#triptop-rentacar .tt-rentacar-search-form .tt-rentacar-search-locations input[type="checkbox"] {
  vertical-align: sub;
  margin-right: 5px;
}
#triptop-rentacar .tt-rentacar-search-form .tt-rentacar-search-dates {
  position: relative;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
}
#triptop-rentacar .tt-rentacar-search-form .tt-rentacar-search-dates .tt-rentacar-search-date {
  position: relative;
  display: block;
  width: 55%;
  float: left;
  margin-right: 10px;
}
#triptop-rentacar .tt-rentacar-search-form .tt-rentacar-search-dates .tt-rentacar-search-date input[type="text"] {
  padding: 2px 5px;
  border: 1px solid #90a7b7;
  width: 100%;
  height: 24px;
  float: left;
}
#triptop-rentacar .tt-rentacar-search-form .tt-rentacar-search-dates .tt-rentacar-search-time {
  position: relative;
  display: block;
  width: 30%;
  float: right;
}
#triptop-rentacar .tt-rentacar-search-form .tt-rentacar-search-dates .tt-rentacar-search-time input[type="text"] {
  border: 1px solid #90a7b7;
  padding: 2px;
  width: 100%;
  height: 24px;
  float: left;
}
#triptop-rentacar .tt-rentacar-search-form .tt-insurance-search-button {
  display: block;
  float: right;
  margin-top: 5px;
  position: relative;
  padding: 4px 10px;
  font-size: 110%;
  text-transform: uppercase;
  background: #ff8901;
  cursor: pointer;
}
#triptop-rentacar .tt-rentacar-search-form .tt-search-form-end {
  clear: both;
}
#triptop-rentacar .tt-rentacar-search-waiting,
#triptop-rentacar .tt-rentacar-search-noresults,
#triptop-rentacar .tt-rentacar-search-results {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
#triptop-rentacar .tt-rentacar-search-waiting {
  padding: 10px;
  color: #90A7B7;
  font-size: 13px;
  font-weight: bold;
}
#triptop-rentacar .tt-rentacar-search-waiting img {
  display: block;
  margin: 0 auto;
}
#triptop-rentacar .tt-rentacar-search-waiting iframe {
  width: 486px;
  height: 78px;
  margin: 0 auto;
  border: 0;
}
#triptop-rentacar .tt-rentacar-search-results {
  font-size: 12px;
  position: relative;
  width: 700px;
  margin: 10px auto 0;
  padding: 10px;
  border: 1px solid #90a7b7;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-car {
  overflow: hidden;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-header {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
  font-size: 125%;
  font-weight: bold;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-header span {
  font-size: 85%;
  color: #ccc;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left {
  position: relative;
  width: 29%;
  padding: 5px 10px;
  float: left;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left p {
  width: 90%;
  clear: both;
  margin: 0;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left p img {
  border: 0;
  vertical-align: top;
  text-align: left;
  max-width: 100%;
  height: auto;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left ul {
  clear: both;
  text-align: center;
  padding: 2px 0;
  list-style: none;
  margin: 0;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left ul li {
  margin: 0 2px;
  padding: 0;
  width: 26px;
  height: 48px;
  float: left;
  list-style: none outside none;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left ul li div {
  margin: 0;
  padding: 0;
  display: block;
  width: 26px;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left ul li div .icon-passenger {
  background-position: -168px 0;
  width: 22px!important;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left ul li div .icon-baggage {
  background-position: 1px 0;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left ul li div .icon-doors {
  background-position: -23px 0;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left ul li div .icon-manual {
  background-position: -143px 0;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left ul li div .icon-auto {
  background-position: -119px 0;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-left ul li div .icon-ac {
  background-position: -95px 0;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right {
  position: relative;
  width: 69%;
  float: right;
  padding: 7px 10px;
  text-align: left;
  border: 1px solid #90a7b7;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-logo {
  position: relative;
  width: 24%;
  float: left;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-logo p {
  float: left;
  clear: both;
  border: 1px solid #dadada;
  margin: 0;
  padding: 0;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-logo p span {
  background: #ffffff url("//cdn.cartrawler.com/ctabe/includes/ct-ui-vendors-14072014.jpg") no-repeat top left;
  display: block;
  width: 92px;
  height: 33px;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-logo p .dollar_thrifty {
  background-position: 0 -5449px;
  width: 92px;
  height: 33px;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-logo p .europcar {
  background-position: 0 -6318px;
  width: 92px;
  height: 33px;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-details {
  position: relative;
  width: 50%;
  float: left;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-details p {
  margin-bottom: 5px;
  overflow: hidden;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-details .tt-rentacar-search-results-icon,
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-details .tt-rentacar-search-results-icon-gray {
  float: left;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-details .icon-airport {
  background-position: -372px -4px;
  height: 19px;
  width: 16px;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-details .icon-tick {
  background-position: -4px -228px;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-details .tt-rentacar-search-results-info {
  float: left;
  margin: 0 0 0 3px;
  color: #555555;
  border-bottom: 1px dotted;
  cursor: pointer;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-details .tt-rentacar-search-results-info.info-bold {
  font-weight: bold;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-details .tt-rentacar-search-results-info.info-green {
  color: #008000;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-price {
  position: relative;
  width: 24%;
  float: left;
  text-align: right;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-price h1 {
  padding: 0;
  margin: 0;
  background: 0;
  clear: both;
  font-size: 175%;
  font-weight: bold;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-price h1 label {
  margin: 0;
  display: block;
  font-size: 55%;
  font-weight: normal;
  font-style: italic;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-right .tt-rentacar-search-results-price h5 {
  padding: 0;
  margin-top: 5px;
  background: 0;
  clear: both;
  font-size: 120%;
  font-weight: normal;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-icon {
  display: inline-block;
  background-image: url("../img/ct-ui-icons.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 26px;
  margin: 0 auto;
}
#triptop-rentacar .tt-rentacar-search-results .tt-rentacar-search-results-icon-gray {
  width: 16px;
  height: 16px;
  background-image: url(../img/ct-ui-icons-gray_16x16.png);
  background-repeat: no-repeat;
  display: block;
  border-bottom: 0;
  cursor: default;
  margin: 0;
}
#triptop-rentacar .input-group {
  width: 100%;
  border-spacing: 0;
}
#triptop-rentacar .input-group input {
  width: 100%;
  height: 24px;
  border-radius: 0;
  border: 1px solid #90a7b7;
  padding: 5px;
}
#triptop-rentacar .input-group input::-ms-clear {
  display: none;
}
#triptop-rentacar .input-group .form-control {
  border: 1px solid #90a7b7;
}
#triptop-rentacar .input-group .input-group-addon {
  padding: 0px 5px;
  border: 1px solid #90a7b7;
  border-left: 0;
  border-radius: 0;
}
#triptop-rentacar .input-group .input-group-addon .caret {
  margin: 0px 3px;
}
#triptop-rentacar .input-group .dropdown-menu {
  border-radius: 0;
  margin: 0;
  padding: 3px 0;
  min-width: 100%;
}
#triptop-rentacar .input-group .dropdown-menu li > a {
  padding: 3px 10px;
  font-size: 12px;
}
