body {
    margin: 0;
}

#triptop-profile .link-box {
    display: none !important;
}

.triptop-container {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #555;

    table {
        border-spacing: 0;
        border: 0;
        padding: 0;
        margin: 0;
    }

    .tt-align-left {
        text-align: @left;
    }

    .tt-align-center {
        text-align: center;
    }

    .tt-align-right {
        text-align: @right;
    }

    .tt-float-left {
        float: @left;
    }

    .tt-float-right {
        float: @right;
    }

    .tt-clear {
        clear: both;
    }

    .tt-link {
        cursor: pointer;
    }

    .tt-dropdown {
        display: block !important;
    }
}

#triptop-rentacar {
    direction: @dir;
    font-family: @baseFontFamily;
    font-size: @baseFontSize;
    box-sizing: border-box;

    input, select, textarea, button {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    .tt-rentacar-search-form {
        color: @searchPanelText;
        font-size: 12px;
        position: relative;
        width: 280px;
        margin: 0 auto;
        padding: 10px;
        background-color: @searchPanelBackground;
        border: 1px solid @searchPanelBorder;
        -webkit-border-radius: @searchPanelBorderRadius;
        border-radius: @searchPanelBorderRadius;

        select {
            background: @selectBackground;
            border: 1px solid @inputBorder;
            padding: 2px;
            height: 24px;
            outline: 0 none;
        }

        .tt-search-form-locations, .tt-search-form-dates {
            padding: 0;
            margin-bottom: 10px;
            margin-@{left}: 10px;
            float: @left;
        }

        .tt-rentacar-search-locations {
            position: relative;
            padding: 0;
            width: 100%;
            margin-bottom: 10px;
            margin-@{right}: 10px;
            float: @left;

            input[type="text"] {
                padding: 2px 5px;
                border: 1px solid @inputBorder;
                width: 100%;
                height: 24px;
            }

            input[type="checkbox"] {
                vertical-align: sub;
                margin-@{right}: 5px;
            }
        }

        .tt-rentacar-search-dates {
            position: relative;
            padding: 0;
            width: 100%;
            margin-bottom: 10px;
            margin-@{right}: 10px;
            float: @left;

            .tt-rentacar-search-date {
                position: relative;
                display: block;
                width: 55%;
                float: @left;
                margin-@{right}: 10px;

                input[type="text"] {
                    padding: 2px 5px;
                    border: 1px solid @inputBorder;
                    width: 100%;
                    height: 24px;
                    float: @left;
                }
            }

            .tt-rentacar-search-time {
                position: relative;
                display: block;
                width: 30%;
                float: @right;

                input[type="text"] {
                    border: 1px solid @inputBorder;
                    padding: 2px;
                    width: 100%;
                    height: 24px;
                    float: @left;
                }
            }
        }

        .tt-insurance-search-button {
            display: block;
            float: @right;
            margin-top: 5px;
            position: relative;
            padding: 4px 10px;
            font-size: 110%;
            text-transform: uppercase;
            background: @searchBtn;
            cursor: pointer;
        }

        .tt-search-form-end {
            clear: both;
        }
    }

    .tt-rentacar-search-waiting, .tt-rentacar-search-noresults, .tt-rentacar-search-results {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .tt-rentacar-search-waiting {
        padding: 10px;
        color: #90A7B7;
        font-size: 13px;
        font-weight: bold;

        img {
            display: block;
            margin: 0 auto;
        }

        iframe {
            width: 486px;
            height: 78px;
            margin: 0 auto;
            border: 0;
        }
    }

    .tt-rentacar-search-results {
        font-size: 12px;
        position: relative;
        width: 700px;
        margin: 10px auto 0;
        padding: 10px;
        border: 1px solid @searchPanelBorder;
        -webkit-border-radius: @searchPanelBorderRadius;
        border-radius: @searchPanelBorderRadius;

        .tt-rentacar-search-results-car {
            overflow: hidden;
        }

        .tt-rentacar-search-results-header {
            position: relative;
            width: 100%;
            margin-bottom: 5px;
            text-align: @left;
            font-size: 125%;
            font-weight: bold;

            span {
                font-size: 85%;
                color: #ccc;
            }
        }

        .tt-rentacar-search-results-left {
            position: relative;
            width: 29%;
            padding: 5px 10px;
            float: @left;

            p {
                width: 90%;
                clear: both;
                margin: 0;

                img {
                    border: 0;
                    vertical-align: top;
                    text-align: left;
                    max-width: 100%;
                    height: auto;
                }
            }

            ul {
                clear: both;
                text-align: center;
                padding: 2px 0;
                list-style: none;
                margin: 0;

                li {
                    margin: 0 2px;
                    padding: 0;
                    width: 26px;
                    height: 48px;
                    float: left;
                    list-style: none outside none;

                    div {
                        margin: 0;
                        padding: 0;
                        display: block;
                        width: 26px;

                        .icon-passenger {
                            background-position: -168px 0;
                            width: 22px!important;
                        }

                        .icon-baggage {
                            background-position: 1px 0;
                        }

                        .icon-doors {
                            background-position: -23px 0;
                        }

                        .icon-manual {
                            background-position: -143px 0;
                        }

                        .icon-auto {
                            background-position: -119px 0;
                        }

                        .icon-ac {
                            background-position: -95px 0;
                        }
                    }
                }
            }
        }

        .tt-rentacar-search-results-right {
            position: relative;
            width: 69%;
            float: @right;
            padding: 7px 10px;
            text-align: @left;
            border: 1px solid @searchPanelBorder;
            -webkit-border-radius: @searchPanelBorderRadius;
            border-radius: @searchPanelBorderRadius;

            .tt-rentacar-search-results-logo {
                position: relative;
                width: 24%;
                float: @left;

                p {
                    float: left;
                    clear: both;
                    border: 1px solid #dadada;
                    margin: 0;
                    padding: 0;

                    span {
                        background: #FFFFFF url("//cdn.cartrawler.com/ctabe/includes/ct-ui-vendors-14072014.jpg") no-repeat top left;
                        display: block;
                        width: 92px;
                        height: 33px;
                    }

                    .dollar_thrifty {
                        background-position: 0 -5449px;
                        width: 92px;
                        height: 33px;
                    }

                    .europcar {
                        background-position: 0 -6318px;
                        width: 92px;
                        height: 33px;
                    }
                }
            }

            .tt-rentacar-search-results-details {
                position: relative;
                width: 50%;
                float: @left;

                p {
                    margin-bottom: 5px;
                    overflow: hidden;
                }

                .tt-rentacar-search-results-icon, .tt-rentacar-search-results-icon-gray {
                    float: left;
                }

                .icon-airport {
                    background-position: -372px -4px;
                    height: 19px;
                    width: 16px;
                }

                .icon-tick {
                    background-position: -4px -228px;
                }

                .tt-rentacar-search-results-info {
                    float: left;
                    margin: 0 0 0 3px;
                    color: rgb(85, 85, 85);
                    border-bottom: 1px dotted;
                    cursor: pointer;

                    &.info-bold {
                        font-weight: bold;
                    }

                    &.info-green {
                        color: rgb(0, 128, 0);
                    }
                }
            }

            .tt-rentacar-search-results-price {
                position: relative;
                width: 24%;
                float: @left;
                text-align: @right;

                h1 {
                    padding: 0;
                    margin: 0;
                    background: 0;
                    clear: both;
                    font-size: 175%;
                    font-weight: bold;

                    label {
                        margin: 0;
                        display: block;
                        font-size: 55%;
                        font-weight: normal;
                        font-style: italic;
                    }
                }

                h5 {
                    padding: 0;
                    margin-top: 5px;
                    background: 0;
                    clear: both;
                    font-size: 120%;
                    font-weight: normal;
                }
            }
        }

        .tt-rentacar-search-results-icon {
            display: inline-block;
            background-image: url("../img/ct-ui-icons.png");
            background-repeat: no-repeat;
            width: 22px;
            height: 26px;
            margin: 0 auto;
        }

        .tt-rentacar-search-results-icon-gray {
            width: 16px;
            height: 16px;
            background-image: url(../img/ct-ui-icons-gray_16x16.png);
            background-repeat: no-repeat;
            display: block;
            border-bottom: 0;
            cursor: default;
            margin: 0;
        }
    }

    .input-group {
        width: 100%;
        border-spacing: 0;

        input {
            width: 100%;
            height: 24px;
            border-radius: 0;
            border: 1px solid @inputBorder;
            padding: 5px;

            &::-ms-clear {
              display: none;
            }
        }

        .form-control {
            border: 1px solid @inputBorder;
        }

        .input-group-addon {
            padding: 0px 5px;
            border: 1px solid @inputBorder;
            border-@{left}: 0;
            border-radius: 0;

            .caret {
              margin: 0px 3px;
            }
        }

        .dropdown-menu {
            border-radius: 0;
            margin: 0;
            padding: 3px 0;
            min-width: 100%;

            li > a {
                padding: 3px 10px;
                font-size: @baseFontSize * 0.75;
            }
        }
    }
}