<div class="tt-book">
    <div class="tt-header">
        <div class="tt-title">
            <i class="el-icon-ok-circle"></i> &zwj;Выберите тип заказа&zwj;
        </div>
    </div>
    <div class="tt-type">
        <div class="btn-toolbar" role="toolbar">
            <div ng-if="siteType != 'TERMINAL'" class="btn-group btn-group-lg" data-toggle="buttons">
                <label type="button" class="btn btn-default"
                       ng-class="product.bookingType == 'CARD' ? 'btn-warning' : ''"
                       ng-click="changeBookingType('CARD');">
                    <input type="radio" name="bookingtype" ng-model="product.bookingType" value="CARD">
                    <span><i class="el-icon-credit-card"></i> &zwj;Оплатить кредитной картой&zwj;</span>
                </label>
                <label type="button" class="btn btn-default"
                       ng-class="product.bookingType == 'RESERVE' ? 'btn-warning' : ''"
                       ng-click="changeBookingType('RESERVE');">
                    <input type="radio" name="bookingtype" ng-model="product.bookingType" value="RESERVE">
                    <span>&zwj;Зарезервировать&zwj; <i class="el-icon-phone"></i><span>
                </label>
            </div>
            <div ng-if="siteType == 'TERMINAL'" class="btn-group btn-group-lg" data-toggle="buttons">
                <label type="button" class="btn btn-default"
                       ng-class="product.bookingType == 'CARD' && product.cardOwner == '0' ? 'btn-warning' : ''"
                       ng-click="changeBookingType('CARD', '0');">
                    <input type="radio" name="bookingtype" ng-model="product.bookingType" value="CARD">
                    <span><i class="el-icon-credit-card"></i> &zwj;Карта клиента&zwj;</span>
                </label>
                <label type="button" class="btn btn-default"
                       ng-class="product.bookingType == 'CARD' && product.cardOwner == '1' ? 'btn-warning' : ''"
                       ng-click="changeBookingType('CARD', '1');">
                    <input type="radio" name="bookingtype" ng-model="product.bookingType" value="CARD">
                    <span><i class="el-icon-credit-card"></i> &zwj;Карта агента&zwj;</span>
                </label>
                <label type="button" class="btn btn-default"
                       ng-class="product.bookingType == 'RESERVE' ? 'btn-warning' : ''"
                       ng-click="changeBookingType('RESERVE');">
                    <input type="radio" name="bookingtype" ng-model="product.bookingType" value="RESERVE">
                    <span>&zwj;Наличными&zwj; <i class="el-icon-phone"></i></span>
                </label>
            </div>
        </div>
    </div>
    <div class="tt-header">
        <div ng-show="product.bookingType == 'CARD'" class="tt-title">
            <i class="el-icon-user"></i> &zwj;Данные плательщика&zwj;
        </div>
        <div ng-show="product.bookingType == 'RESERVE'" class="tt-title">
            <i class="el-icon-user"></i> &zwj;Контактная информация&zwj;
        </div>
    </div>
    <div class="tt-content">
        <div class="tt-form" ng-form="bookingForm">
            <div class="tt-fields">
                <div class="tt-title">
                    <label>&zwj;Пол&zwj;</label>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                            <button class="btn btn-default"
                                   ng-class="product.person.sex == 'male' ? 'active' : ''"
                                   ng-click="changePersonSex('male');">
                                <input type="radio" ng-model="product.person.sex" name="sex" value="male">
                                <b>&zwj;М&zwj;</b>
                            </button>
                            <button class="btn btn-default"
                                   ng-class="product.person.sex == 'female' ? 'active' : ''"
                                   ng-click="changePersonSex('female');">
                                <input type="radio" ng-model="product.person.sex" name="sex" value="female">
                                <b>&zwj;Ж&zwj;</b>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <label>&zwj;Фамилия&zwj;</label>
                    <input type="text" class="form-control input-sm"
                           name="surname"
                           ng-model="product.person.surname"
                           required ng-pattern="/([a-zA-Z/s])+/"
                           ng-keypress="latinNameEnter($event);"
                           placeholder="In latin letters"/>
                    <hotelbookingpersons></hotelbookingpersons>
                    <i class="el-icon-warning-sign tt-error"
                        ng-if="bookingForm.submited && (bookingForm.surname.$error.required || bookingForm.surname.$error.pattern)" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
                        <div class="tooltip bottom" ng-show="showTooltip">
                            <div class="tooltip-arrow"></div>
                            <div class="tooltip-inner" ng-show="bookingForm.surname.$error.required">
                                &zwj;Обязательное поле&zwj;
                            </div>
                            <div class="tooltip-inner" ng-show="bookingForm.surname.$error.pattern">
                                &zwj;Неверное значение&zwj;
                            </div>
                        </div>
                    </i>
                </div>
                <div>
                    <label>&zwj;Имя&zwj;</label>
                    <input type="text" class="form-control input-sm"
                           name="name"
                           ng-model="product.person.name"
                           required ng-pattern="/[a-zA-Z]+/"
                           ng-keypress="latinNameEnter($event);"
                           placeholder="In latin letters"/>
                    <i class="el-icon-warning-sign tt-error"
                        ng-if="bookingForm.submited && (bookingForm.name.$error.required || bookingForm.name.$error.pattern)" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
                        <div class="tooltip bottom" ng-show="showTooltip">
                            <div class="tooltip-arrow"></div>
                            <div class="tooltip-inner" ng-show="bookingForm.name.$error.required">
                                &zwj;Обязательное поле&zwj;
                            </div>
                            <div class="tooltip-inner" ng-show="bookingForm.name.$error.pattern">
                                &zwj;Неверное значение&zwj;
                            </div>
                        </div>
                    </i>
                </div>
                <div>
                    <label>&zwj;Email&zwj;</label>
                    <input type="email" class="form-control input-sm"
                           name="email"
                           ng-model="product.person.email"
                           ng-required="siteType == 'TERMINAL'"/>
                    <i class="el-icon-warning-sign tt-error"
                        ng-if="bookingForm.submited && (bookingForm.email.$error.required || bookingForm.email.$invalid)"
                        ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
                        <div class="tooltip bottom" ng-show="showTooltip">
                            <div class="tooltip-arrow"></div>
                            <div class="tooltip-inner" ng-show="bookingForm.email.$error.required">
                                &zwj;Обязательное поле&zwj;
                            </div>
                            <div class="tooltip-inner" ng-show="!bookingForm.email.$error.required && bookingForm.email.$invalid">
                                &zwj;Неверное значение&zwj;
                            </div>
                        </div>
                    </i>
                </div>
                <div>
                    <label>&zwj;Телефон&zwj;</label>
                    <input type="text" class="form-control input-sm"
                           name="phone"
                           ng-keypress="numberEnter($event);"
                           ng-model="product.person.phone"
                           ng-required="siteType == 'TERMINAL'"/>
                    <i class="el-icon-warning-sign tt-error"
                        ng-if="bookingForm.submited && (bookingForm.phone.$error.required || bookingForm.phone.$invalid)" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
                        <div class="tooltip bottom" ng-show="showTooltip">
                            <div class="tooltip-arrow"></div>
                            <div class="tooltip-inner" ng-show="bookingForm.phone.$error.required">
                                &zwj;Обязательное поле&zwj;
                            </div>
                            <div class="tooltip-inner" ng-show="!bookingForm.phone.$error.required && bookingForm.phone.$invalid">
                                &zwj;Неверное значение&zwj;
                            </div>
                        </div>
                    </i>
                </div>
            </div>
        </div>
    </div>
    <div class="tt-header">
        <div class="tt-title">
            <i class="el-icon-list-alt"></i> &zwj;Детализация стоимости заказа&zwj;
            <span>
                <i class="el-icon-warning-sign"></i> &zwj;Стоимость к оплате включает все налоги и комиссии&zwj;
            </span>
        </div>
    </div>
    <div class="tt-price" ng-init="price = product.onlinePrice">
        <div>
            <label>&zwj;Тариф и сборы&zwj;</label>
            <p>{{price.baseAmount | prices:price.currencyCode}}</p>
        </div>
        <div ng-show="siteType == 'TERMINAL'">
            <label>&zwj;Комиссия агента&zwj;</label>
            <div class="tt-price-value">
                <input type="text" class="form-control input-sm"
                       ng-keypress="numberEnter($event);"
                       ng-model="product.onlinePrice.manualMarkup"/>
            </div>
        </div>
        <div ng-show="product.bookingType == 'CARD'">
            <label>&zwj;Комиссия за оплату картой&zwj;</label>
            <p>{{price.onlineMarkup | prices:price.currencyCode}}</p>
        </div>
        <div>
            <label>&zwj;Итого к оплате:&zwj;</label>
            <p>{{product | totalPrices}}</p>
        </div>
    </div>
    <div class="tt-terms">
        <input type="checkbox" ng-model="product.agree">
        <span ng-click="toggleAgreement();">&zwj;Я принимаю&zwj;</span>
        <button class="btn btn-link" ng-click="showTerms($event);">&zwj;Правила и условия&zwj;</button>
        <span ng-click="toggleAgreement();">&zwj;и подтверждаю, что ознакомлен с&zwj;</span>
        <button class="btn btn-link" ng-click="showRules($event, product);">&zwj;Правилами тарифа&zwj;</button>
        <span ng-click="toggleAgreement();">&zwj;и текстом&zwj;</span>
        <button class="btn btn-link" ng-click="showConvention($event);">&zwj;Варшавской конвенции&zwj;</button>
    </div>
    <div class="tt-errors" ng-show="bookingForm.submited && !bookingForm.$valid">
        <i class="el-icon-warning-sign"></i> &zwj;Обратите внимание на некорректно заполненные поля!&zwj;
    </div>
    <div class="tt-footer">
        <button class="btn btn-warning tt-next" ng-class="!product.agree ? 'disabled' : ''" ng-click="gotoBook();">&zwj;Заказать&zwj;</button>
        <button class="btn btn-link tt-cancel" ng-click="cancelBooking();">&zwj;Отменить бронирование и вернуться к результатам поиска&zwj;</button>
    </div>
</div>