<div class="tt-paxes">
	<div class="tt-header">
		<div class="tt-title">
			<i class="el-icon-group"></i> &zwj;Данные пассажиров как в паспорте&zwj;
		</div>
<!--		
		<button class="btn btn-link tt-magic" ng-if="profileState == 'UNLOGGED'">
			<i class="el-icon-magic"></i> &zwj;Преимущества зарегистрированных пользователей&zwj;
		</button>
		<button class="btn btn-link tt-enter" ng-if="profileState == 'UNLOGGED'" ng-click="profileLogin();">
			<i class="el-icon-off"></i> &zwj;Войти&zwj;
		</button>
-->
	</div>
	<div class="tt-content" ng-form="paxesList">
		<div class="tt-pax" ng-repeat="pax in product.paxes">
			<div ng-form="paxItem" ng-controller="PaxRowController" ng-mouseenter="contentMouseEnter(true);" ng-mouseleave="contentMouseEnter(false);">
				<div class="tt-fields">
					<div class="tt-title">
						<label>&zwj;Пол&zwj;</label>
						<div class="btn-toolbar" role="toolbar">
							<div class="btn-group btn-group-sm" data-toggle="buttons">
								<button class="btn btn-default" ng-class="pax.sex == 'male' ? 'active' : ''" ng-click="changePaxSex(pax, 'male');">
									<input type="radio" ng-model="pax.sex" name="sex{{$index}}" value="male">
									<b>&zwj;М&zwj;</b>
								</button>
								<button class="btn btn-default" ng-class="pax.sex == 'female' ? 'active' : ''" ng-click="changePaxSex(pax, 'female');">
									<input type="radio" ng-model="pax.sex" name="sex{{$index}}" value="female">
									<b>&zwj;Ж&zwj;</b>
								</button>
							</div>
						</div>
					</div>
					<div>
						<label>&zwj;Фамилия&zwj;</label>
						<input type="text" class="form-control input-sm"
							name="surname"
							ng-model="pax.surname"
							required ng-pattern="/([a-zA-Z/s])+/"
							ng-keypress="latinNameEnter($event);"
							placeholder="In latin letters"/>
						<i class="el-icon-warning-sign tt-error" ng-if="paxesList.submited && (paxItem.surname.$error.required || paxItem.surname.$error.pattern)" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
							<div class="tooltip bottom" ng-show="showTooltip">
								<div class="tooltip-arrow"></div>
								<div class="tooltip-inner" ng-show="paxItem.surname.$error.required">
									&zwj;Обязательное поле&zwj;
								</div>
								<div class="tooltip-inner" ng-show="paxItem.surname.$error.pattern">
									&zwj;Неверное значение&zwj;
								</div>
							</div>
						</i>
					</div>
					<div>
						<label>&zwj;Имя&zwj;</label>
						<input type="text" class="form-control input-sm" 
							name="name"
							ng-model="pax.name"
							required ng-pattern="/[a-zA-Z]+/"
							ng-keypress="latinNameEnter($event);"
							placeholder="In latin letters"/>
						<i class="el-icon-warning-sign tt-error" ng-if="paxesList.submited && (paxItem.name.$error.required || paxItem.name.$error.pattern)" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
							<div class="tooltip bottom" ng-show="showTooltip">
								<div class="tooltip-arrow"></div>
								<div class="tooltip-inner" ng-show="paxItem.name.$error.required">
									&zwj;Обязательное поле&zwj;
								</div>
								<div class="tooltip-inner" ng-show="paxItem.name.$error.pattern">
									&zwj;Неверное значение&zwj;
								</div>
							</div>
						</i>
					</div>
					<div class="tt-paxes-type">
						<label>&zwj;Дата рождения&zwj;</label>
						<input type="text" class="form-control input-sm" datepicker end-date="-0d"
							name="birthday"
							ng-model="pax.birthday"
							ng-change="changeBirthDay(pax);"
							ng-keypress="dateEnter($event);"
							required placeholder="dd.mm.yyyy"/>
						<i class="el-icon-warning-sign tt-error" ng-if="paxesList.submited && paxItem.birthday.$error.required" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
							<div class="tooltip bottom" ng-show="showTooltip">
								<div class="tooltip-arrow"></div>
								<div class="tooltip-inner" ng-show="paxItem.birthday.$error.required">
									&zwj;Обязательное поле&zwj;
								</div>
							</div>
						</i>
					</div>
				</div>
				<div class="tt-fields">
					<div class="tt-title tt-paxes-type" ng-switch on="pax.type">
						<div ng-switch-when="ADULTS">
							<label>&zwj;Взрослый&zwj;</label>
						</div>
						<div ng-switch-when="CHILDREN">
							<label>&zwj;Ребенок&zwj;</label>
							<p>(2-12)</p>
						</div>
						<div ng-switch-when="INFANTS">
							<label>&zwj;Младенец&zwj;</label>
							<p>(0-2)</p>
						</div>
						<div ng-switch-default>&nbsp;</div>
					</div>
					<div>
						<label>&zwj;Гражданство&zwj;</label>
						<select class="form-control input-sm" name="country" selectize="pax.country" method="countries" required></select>
						<i class="el-icon-warning-sign tt-error" ng-if="paxesList.submited && paxItem.country.$error.required" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
							<div class="tooltip bottom" ng-show="showTooltip">
								<div class="tooltip-arrow"></div>
								<div class="tooltip-inner" ng-show="paxItem.country.$error.required">
									&zwj;Обязательное поле&zwj;
								</div>
							</div>
						</i>
					</div>
					<div ng-if="product.docRequired == true">
						<label>&zwj;Серия и номер документа&zwj;</label>
						<input type="text" class="form-control input-sm" name="docnum" ng-model="pax.docnum" required/>
						<i class="el-icon-warning-sign tt-error" ng-if="paxesList.submited && paxItem.docnum.$error.required" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
							<div class="tooltip bottom" ng-show="showTooltip">
								<div class="tooltip-arrow"></div>
								<div class="tooltip-inner" ng-show="paxItem.docnum.$error.required">
									&zwj;Обязательное поле&zwj;
								</div>
							</div>
						</i>
					</div>
					<div ng-if="product.docRequired == true">
						<label>&zwj;Срок действия&zwj;</label>
						<input type="text" class="form-control input-sm"
							datepicker start-date="+0d"
							name="docdate"
							ng-model="pax.docdate"
							ng-keypress="dateEnter($event);"
							required placeholder="dd.mm.yyyy"/>
						<i class="el-icon-warning-sign tt-error" ng-if="paxesList.submited && paxItem.docdate.$error.required" ng-init="showTooltip = true" ng-click="showTooltip = !showTooltip">
							<div class="tooltip bottom" ng-show="showTooltip">
								<div class="tooltip-arrow"></div>
								<div class="tooltip-inner" ng-show="paxItem.docdate.$error.required">
									&zwj;Обязательное поле&zwj;
								</div>
							</div>
						</i>
					</div>
				</div>
				<div class="tt-end"></div>
			</div>
		</div>
		<div class="tt-errors" ng-show="paxesList.submited && !paxesList.$valid">
			<i class="el-icon-warning-sign"></i> &zwj;Обратите внимание на некорректно заполненные поля!&zwj;
		</div>
	</div>
	<div class="tt-footer">
		<button class="btn btn-warning tt-next" ng-click="gotoForm();">&zwj;Перейти на шаг 3&zwj;</button>
		<button class="btn btn-link tt-cancel" ng-click="cancelBooking();">&zwj;Отменить бронирование и вернуться к результатам поиска&zwj;</button>
	</div>
</div>