<div class='glass-box'></div>
<table class='forgot-box'>
    <tr align='center' valign='middle'>
        <td>
            <div ng-form name='registrationForm' class='content-box form-horizontal'>
                <div class='well well-sm'>&zwj;Please enter your email and new password.<br>You will receive mail for password confirmation.&zwj;</div>
                <div class='form-group'>
                    <label class='col-sm-4 control-label'>&zwj;Email&zwj;</label>
                    <div class='col-sm-7'>
                        <input type='email' name='email' class='form-control input-sm'
                               ng-model='user.email'
                               placeholder='&zwj;Email&zwj;'
                               required>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-4 control-label'>&zwj;New password&zwj;</label>
                    <div class='col-sm-7'>
                        <input type='password' name='password' class='form-control input-sm'
                               ng-model='user.password'
                               placeholder='&zwj;Password&zwj;'
                               required ng-minlength='5'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-4 control-label'>&zwj;Repeat password&zwj;</label>
                    <div class='col-sm-7'>
                        <input type='password' name='confirm' class='form-control input-sm'
                               ng-model='user.confirm'
                               placeholder='&zwj;Password confirmation&zwj;'
                               required password-verify='user.password'>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-sm-12'>
                        <button class='btn btn-primary' ng-click='changePassword();'>
                            &zwj;Change password&zwj;</button>
                    </div>
                </div>
                <button class='close close-button' ng-click='openLogin();'>&times;</button>
            </div>
        </td>
    </tr>
</table>