<div class='glass-box'></div>
<table class='login-box'>
	<tr align='center' valign='middle'>
		<td>
			<div ng-form name='loginForm' class='content-box form-horizontal'>
				<div class='well well-sm'>&zwj;Please, provide your identification data or register<br>to enter your personal account&zwj;</div>
				<div class='form-group'>
					<label class='col-sm-3 control-label'>&zwj;Email&zwj;:</label>
					<div class='col-sm-9'>
						<input type='email' name='email'
							class='form-control input-sm'
							ng-model='user.email'
							placeholder='&zwj;Email&zwj;' required>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-sm-3 control-label'>&zwj;Password&zwj;:</label>
					<div class='col-sm-9'>
						<input type='password' name='password'
							class='form-control input-sm'
							ng-model='user.password'
							placeholder='&zwj;Password&zwj;'
							required ng-minlength='5'>
					</div>
				</div>
				<div class='form-group'>
					<div class='col-sm-offset-3'>
						<div class='checkbox'>
							<label>
								<input type='checkbox'
									name='remember'
									ng-model='user.remember'> &zwj;Remember me&zwj;
							</label>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<div class='col-sm-12'>
						<button class='btn btn-primary' ng-click='submitLogin();'>
                            &zwj;Sign in&zwj;
						</button>&nbsp;
						<button class='btn btn-default' ng-click='openRegistration();'>
                            &zwj;Registration&zwj;
						</button>&nbsp;
						<button class='btn btn-default' ng-click='openChangePassword();'>
                            &zwj;Forgot password&zwj;
						</button>
					</div>
				</div>
				<button class='close close-button' ng-click='closeLogin();'>&times;</button>
			</div>
		</td>
	</tr>
</table>