<div class='glass-box'></div>
<table class='login-box'>
	<tr align='center' valign='middle'>
		<td>
			<div ng-form name='registrationForm' class='content-box form-horizontal'>
				<div class='well well-sm'>&zwj;Please, create your personal account&zwj;</div>
				<div class='form-group'>
					<label class='col-sm-3 control-label'>&zwj;Email&zwj;:</label>
					<div class='col-sm-9'>
						<input type='email' name='email' class='form-control input-sm'
                               ng-model='user.email'
                               placeholder='&zwj;Email&zwj;'
                               required>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-sm-3 control-label'>&zwj;First name&zwj;:</label>
					<div class='col-sm-9'>
						<input type='text' name='name' class='form-control input-sm'
                               ng-model='user.name'
                               placeholder='&zwj;First name&zwj;'
                               required ng-minlength='2'>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-sm-3 control-label'>&zwj;Last name&zwj;:</label>
					<div class='col-sm-9'>
						<input type='text' name='surname' class='form-control input-sm'
                               ng-model='user.surname'
                               placeholder='&zwj;Last name&zwj;'
                               required ng-minlength='2'>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-sm-3 control-label'>&zwj;Password&zwj;:</label>
					<div class='col-sm-9'>
						<input type='password' name='password' class='form-control input-sm'
                               ng-model='user.password'
                               placeholder='&zwj;Password&zwj;'
                               required ng-minlength='5'>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-sm-3 control-label'>&zwj;Repeat&zwj;:</label>
					<div class='col-sm-9'>
						<input type='password' name='confirm' class='form-control input-sm'
                               ng-model='user.confirm'
                               placeholder='&zwj;Password confirmation&zwj;'
                               required password-verify='user.password'>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-sm-3 control-label'>&zwj;Birthday&zwj;:</label>
					<div class='col-sm-5'>
						<input type='text'
                               name='birthday'
                               class='form-control input-sm'
                               ng-model='user.birthday'
                               end-date='-0d'
                               datepicker
                               placeholder='&zwj;DD.MM.YYYY&zwj;'
                               required>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-sm-3 control-label'>&zwj;Phone&zwj;:</label>
					<div class='col-sm-9'>
						<input type='text' name='phone' class='form-control input-sm'
                               ng-model='user.phone'
                               placeholder='&zwj;Phone number&zwj;'
                               required ng-pattern='/^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$/'
                               ng-minlength='7'>
					</div>
				</div>
				<div class='form-group'>
					<div class='col-sm-12'>
						<button class='btn btn-primary' ng-click='submitRegistration();'>&zwj;Registration&zwj;</button>
					</div>
				</div>
				<button class='close close-button' ng-click='openLogin();'>&times;</button>
			</div>
		</td>
	</tr>
</table>