<div ng-if="hotelOn">
	<hotelsearch ng-if="hotelSearchOn"></hotelsearch>
	<hotelsearchwait ng-if="hotelState == 'SEARCHING'"></hotelsearchwait>
	<hotelresult ng-if="hotelState == 'RESULTS'"></hotelresult>
	<!--<hotelresult></hotelresult>-->
	<processwait ng-show="processState == 'WAITING'"></processwait>
	<loadmodule module='hotels/booking/hotelbooking' ng-if="hotelState == 'BOOKING'"></loadmodule>
</div>