<ion-view view-title="Flight search">
	<ion-content>
	    <div class="row list no-margin">
	    	<div class="col">
	    		<!--<span class="input-label">From</span>-->
		  		<!--<label class="item item-input">-->
		  			<!--<i class="icon ion-ios-location placeholder-icon"></i>-->
		    		<!--<input type="text" placeholder="From"/>-->
		  		<!--</label>-->

				<!--<md-input-container>-->
					<!--<label>-->
						<!--<i class="icon ion-ios-location placeholder-icon"></i>-->
						<!--From-->
					<!--</label>-->
					<!--<input ng-model="query.from">-->
				<!--</md-input-container>-->
				<md-autocomplete
						ng-disabled="ctrl.isDisabled"
						md-no-cache="ctrl.noCache"
						md-selected-item="ctrl.selectedItem"
						md-search-text="ctrl.searchText"
						md-items="item in ctrl.querySearch(ctrl.searchText)"
						md-item-text="item.display"
						placeholder="Test">
					<span md-highlight-text="ctrl.searchText">{{item.display}}</span>
				</md-autocomplete>
	  		</div>	
	  		<div class="col">
	  			<!--<span class="input-label">To</span>-->
		  		<!--<label class="item item-input">-->
		  			<!--<i class="icon ion-ios-location-outline placeholder-icon"></i>-->
		    		<!--<input type="text" placeholder="To"/>-->
		  		<!--</label>-->
				<md-input-container>
					<label>
						<i class="icon ion-ios-location-outline placeholder-icon"></i>
						To
					</label>
					<input ng-model="query.to">
				</md-input-container>
	  		</div>
		</div>
		<div class="row list no-margin">
			<div class="col">
				<!--<span class="input-label" style="width: 100%;">-->
					<!--Depart date-->
				<!--</span>-->
				<!--<label class="item item-input">-->
	  				<!--<i class="icon ion-ios-calendar placeholder-icon"></i>-->
					<!--<input type="text" pick-a-date="date" pick-a-date-options="{ format: 'yyyy-mm-dd' }" id="depart" placeholder="Depart"/>-->
					<!--<input type="text" id="depart" placeholder="Depart"/>-->
	  			<!--</label>-->
				<md-input-container>
					<label>
						<i class="icon ion-ios-calendar placeholder-icon"></i>
						Depart date
					</label>
					<input ng-model="query.time">
				</md-input-container>
			</div>
			<div class="col">
				<!--<span class="input-label" style="width: 100%;">-->
					<!--Return date-->
				<!--</span>-->
				<!--<label class="item item-input">-->
	  				<!--<i class="icon ion-ios-calendar placeholder-icon"></i>-->
	    			<!--<input type="text" id="return" placeholder="Return"/>-->
	  			<!--</label>-->
				<md-input-container>
					<label>
						<i class="icon ion-ios-calendar placeholder-icon"></i>
						Return date
					</label>
					<input ng-model="query.round">
				</md-input-container>
			</div>
		</div>
		<div class="row list no-margin">
			<div class="col">
				<!--<span class="input-label" style="width: 100%;">-->
					<!--<label class="checkbox option">-->
						<!--<input type="checkbox">-->
					<!--</label>-->
					<!--В одну сторону-->
				<!--</span>-->
				<md-checkbox ng-model="query.type" class="option">
					В одну сторону
				</md-checkbox>
			</div>
			<div class="col">
				<!--<span class="input-label" style="width: 100%;">-->
					<!--<label class="checkbox option">-->
						<!--<input type="checkbox">-->
					<!--</label>-->
					<!--±3 дня-->
				<!--</span>-->
				<md-checkbox ng-model="query.tmp" class="option">
					±3 дня
				</md-checkbox>
			</div>
		</div>
		<!--<div class="row">-->
			<!--<button class="button button-block button-energized">-->
	  			<!--Search-->
			<!--</button>-->
		<!--</div>-->
		<div class="row">
			<md-button class="md-raised md-primary button button-block">Primary</md-button>
		</div>
		<script>
			$('#depart').DatePicker({
				flat: true,
				date: '2008-07-31',
				current: '2008-07-31',
				calendars: 1,
				starts: 1
			});
		</script>
	</ion-content>
</ion-view>
