<table class='tt-booking-digest-header'>
	<tbody>
		<tr>
			<td class='tt-booking-digest-title'>
				<i class='el-icon-plane'></i>
				<span>&zwj;Регулярный полет&zwj;</span>
				<span class='tt-booking-digest-title-link'>
					<span ng-if='!showDetails' ng-click='openDetails()'>&zwj;Показать детали&zwj;</span>
					<span ng-if='showDetails' ng-click='hideDetails()'>&zwj;Закрыть детали&zwj;</span>
				</span>				
			</td>
			<td class='tt-booking-digest-title tt-align-right tt-booking-normal'>
				<i class='el-icon-bell'></i><span ng-pluralize count='{{product | seats}}'
					when="{'1': '&zwj;Одно свободное место&zwj;',
							'2': '&zwj;{} свободных места&zwj;',
							'3': '&zwj;{} свободных места&zwj;',
							'4': '&zwj;{} свободных места&zwj;',
							'other': '&zwj;{} свободных мест&zwj;'}"></span>
			</td>
		</tr>
	</tbody>
</table>
<table class='tt-booking-digest-content' ng-if='showDetails'>
	<tbody>
		<tr ng-repeat='(direction, segment) in booking.help.segments'>
<!--
			<td class='tt-booking-digest-icon tt-link'>
				<i class='el-icon-caret-right'></i>
			</td>
-->
			<td class='tt-booking-digest-img'>
				<img ng-src='{{segment | airlineIcon}}'>
			</td>
			<td class='tt-booking-digest-title' style='min-width: 60px;'>
				<span>{{segment.airline.name}}</span>
			</td>
			<td class='tt-booking-digest-title'>
				<span>{{segment.from.time | date:'dd.MM.yyyy'}}</span>
			</td>
			<td class='tt-booking-digest-title tt-align-right'>
				<span>{{segment.from.location.name}}</span>
			</td>
			<td class='tt-booking-digest-icon'>
				<i class='el-icon-arrow-right'></i>
			</td>
			<td class='tt-booking-digest-title'>
				<span>{{segment.to.location.name}}</span>
			</td>
			<td class='tt-booking-digest-title'>
				<span>{{segment.from.time | date:'HH:mm'}} - {{segment.to.time | date:'HH:mm'}}</span>
			</td>
			<td class='tt-booking-digest-title'>
				<span ng-pluralize count='{{segment.stops}}'
					when="{'0': '&zwj;Без пересадок&zwj;',
							'1': '&zwj;Одна пересадка&zwj;',
							'other': '&zwj;{} пересадки&zwj;'}"></span>
			</td>
			<td class='tt-booking-digest-title' ng-switch on='segment.flightClass'>
				<span ng-switch-when='Economy'>&zwj;Economy&zwj;</span>
				<span ng-switch-when='Business'>&zwj;Business&zwj;</span>
				<span ng-switch-when='Premium'>&zwj;Premium&zwj;</span>
				<span ng-switch-when='Standard'>&zwj;Standard&zwj;</span>
				<span ng-switch-when='First'>&zwj;First&zwj;</span>
			</td>
		</tr>
	</tbody>
</table>
<table class='tt-booking-digest-footer'>
	<tbody>
		<tr>
			<td class='tt-booking-digest-title tt-booking-digest-paxes tt-booking-normal'>
				<span>&zwj;Пассажиры:&zwj;&nbsp;</span>
				<span ng-if='product.paxes.adult > 0' ng-pluralize count="{{product.paxes | paxcount:'adult'}}"
					when="{'1': '&zwj;1 взрослый&zwj;',
							'other': '&zwj;{} взрослых&zwj;'}"></span>
				<span ng-if='product.paxes.senior > 0' ng-pluralize count="{{product.paxes | paxcount:'senior'}}"
					when="{'1': '&zwj;1 пенсионер&zwj;',
							'2': '&zwj;{} пенсионера&zwj;',
							'3': '&zwj;{} пенсионера&zwj;',
							'4': '&zwj;{} пенсионера&zwj;',
							'other': '&zwj;{} пенсионеров&zwj;'}"></span>
				<span ng-if='product.paxes.youth > 0' ng-pluralize count="{{product.paxes | paxcount:'youth'}}"
					when="{'1': '&zwj;1 подросток&zwj;',
							'2': '&zwj;{} подростка&zwj;',
							'3': '&zwj;{} подростка&zwj;',
							'4': '&zwj;{} подростка&zwj;',
							'other': '&zwj;{} подростков&zwj;'}"></span>
				<span ng-if='product.paxes.child > 0' ng-pluralize count="{{product.paxes | paxcount:'child'}}"
					when="{'1': '&zwj;1 ребенок&zwj;',
							'2': '&zwj;{} ребенка&zwj;',
							'3': '&zwj;{} ребенка&zwj;',
							'4': '&zwj;{} ребенка&zwj;',
							'other': '&zwj;{} детей&zwj;'}"></span>
				<span ng-if='product.paxes.infant > 0' ng-pluralize count="{{product.paxes | paxcount:'infant'}}"
					when="{'1': '&zwj;1 младенец&zwj;',
							'2': '&zwj;{} младенца&zwj;',
							'3': '&zwj;{} младенца&zwj;',
							'4': '&zwj;{} младенца&zwj;',
							'other': '&zwj;{} младенцев&zwj;'}"></span>
			</td>
			<td class='tt-booking-digest-title tt-align-right'>
				<span>&zwj;Стоимость:&zwj;&nbsp;</span>
				<span>{{product.prices | productprice:'faretax'}}</span>
				<span>{{product.prices | productprice:'options'}}</span>
				<span>{{product.prices | productprice:'discount'}}</span>
				<span>{{product.prices | productprice:'total'}}</span>
<!--
				<i class='el-icon-question-sign tt-booking-question tt-link'></i>
-->
			</td>
		</tr>
	</tbody>
</table>