body {
  margin: 0;
}
#triptopFilter {
  direction: rtl;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  z-index: 1000;
}
#triptopFilter .link-box {
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 1;
  width: auto;
  height: 100%;
}
#triptopFilter .link-box .open-button {
  width: 26px;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background: #444;
  color: #eee;
  box-shadow: 0 2px 5px #666;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
#triptopFilter .filter-box {
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 1;
  width: auto;
  height: 100%;
}
#triptopFilter .filter-box .form_icon {
  width: 26px;
  height: 26px;
  background-size: 26px auto;
  background: url('http://maps.google.com/mapfiles/kml/pal4/icon8.png');
  float: right;
  display: block;
  position: relative;
  right: 0;
  bottom: 3px;
  cursor: pointer;
}
#triptopFilter .filter-box .form_icon {
  float: left;
}
#triptopFilter .filter-box .form_control {
  float: left;
}
#triptopFilter .filter-box .content-box {
  background: #fff;
  color: #333;
  box-shadow: 0 1px 5px #666;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  position: relative;
  width: auto;
  height: auto;
}
#triptopFilter .filter-box .content-box .form-group {
  position: relative;
  width: 200px;
}
#triptopFilter .filter-box .content-box .form-group .control-label {
  margin-bottom: 5px;
}
#triptopFilter .filter-box .content-box .form-group .input-group input {
  height: 30px;
  width: 100%;
  border: 1px solid #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#triptopFilter .filter-box .content-box .form-group .input-group input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#triptopFilter .filter-box .content-box .form-group .input-group .caret {
  margin: 0px 3px;
}
#triptopFilter .filter-box .content-box .form-group .input-group span.input-group-addon {
  padding: 6px 10px !important;
}
#triptopFilter .filter-box .content-box .form-group .input-group span.input-group-addon {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-left: 1px solid #cccccc !important;
  border-right: 0 !important;
}
#triptopFilter .filter-box .content-box .radio-box {
  line-height: 22px;
  cursor: pointer;
}
#triptopFilter .filter-box .content-box .radio-box.active {
  background-color: yellow;
}
#triptopFilter .filter-box .content-box label {
  display: block;
  font-size: 18px;
  margin: 10px 0 0 0;
}
#triptopFilter .filter-box .content-box img {
  cursor: pointer;
  width: 26px;
  position: absolute;
  top: 18px;
  right: 0;
}
#triptopFilter .filter-box .content-box input[type=radio] {
  margin: 0 5px;
}
#triptopFilter .filter-box .close-button {
  margin: 0 auto;
  text-align: center;
  background: #444 !important;
  color: #eee;
  box-shadow: 0 2px 5px #666;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  top: -13px;
  right: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 2px 2px 3px;
  border: 0;
  width: 25px;
  height: auto;
}
#triptopFilter .filter-box .close-button:after {
  content: '▶';
}
#triptopFilter .checkbox label {
  float: left;
}
#triptopFilter .dropdown-menu {
  min-width: 200px  !important;
  left: auto !important;
  right: 0 !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
