body {
  margin: 0;
}

.box (@width: 100%, @height: auto) {
  width: @width;
  height: @height;
}

#triptopFilter {
  direction: @dir;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  z-index: 1000;

  & .link-box {
    position: fixed;
    top: 20%;
    @{right}: 0;
    z-index: 1;
    .box(auto, 100%);

    & .open-button {
      .box(26px);
      box-sizing: border-box;
      margin: 0 auto;
      padding: 10px;
      text-align: center;
      background: #444;
      color: #eee;
      box-shadow: 0 2px 5px #666;
      -webkit-border-top-@{left}-radius: 5px;
      -webkit-border-bottom-@{left}-radius: 5px;
      -moz-border-radius-top@{left}: 5px;
      -moz-border-radius-bottom@{left}: 5px;
      border-top-@{left}-radius: 5px;
      border-bottom-@{left}-radius: 5px;
      cursor: pointer;
    }
  }

  & .filter-box {
    position: fixed;
    top: 20%;
    @{right}: 0;
    z-index: 1;
    .box(auto, 100%);

    .form_icon {
      width: 26px;
      height: 26px;
      background-size: 26px auto;
      background: url('http://maps.google.com/mapfiles/kml/pal4/icon8.png');
      float: right;

      & when (@dir = rtl) {
        float: left;
      }

      display: block;
      position: relative;
      @{right}: 0;
      bottom: 3px;
      cursor: pointer;
    }

    .form_control {
      float: @left;
    }

    & .content-box {
      background: #fff;
      color: #333;
      box-shadow: 0 1px 5px #666;
      -webkit-border-top-@{left}-radius: 5px;
      -webkit-border-bottom-@{left}-radius: 5px;
      -moz-border-radius-top@{left}: 5px;
      -moz-border-radius-bottom@{left}: 5px;
      border-top-@{left}-radius: 5px;
      border-bottom-@{left}-radius: 5px;
      padding: 10px;
      position: relative;
      .box(auto, auto);

      & .form-group {
        position: relative;
        width: 200px;

        & .control-label {
          margin-bottom: 5px;
        }

        & .input-group {
          input {
            height: 30px;
            width: 100%;
            border: 1px solid #ccc;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;

            & when (@dir = rtl) {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }

          & .caret {
            margin: 0px 3px;
          }

          span.input-group-addon {
            padding: 6px 10px !important;

            & when (@dir = rtl) {
              border-top-right-radius: 0 !important;
              border-bottom-right-radius: 0 !important;
              border-top-left-radius: 4px !important;
              border-bottom-left-radius: 4px !important;
              border-left: 1px solid #cccccc !important;
              border-right: 0 !important;
            }
          }
        }
      }

      & .radio-box {
        line-height: 22px;
        cursor: pointer;
      }

      & .radio-box.active {
        background-color: yellow;
      }
      & label {
        display: block;
        font-size: 18px;
        margin: 10px 0 0 0;
      }
//      & input[type=text] {
//        border: solid 1px #BBB;
//        margin: 0;
//        padding: 3px;
//        outline: none;
//        width: 96%;
//        font-size: 13px;
//        -webkit-transition: none;
//        -moz-transition: none;
//        -o-transition: none;
//        transition: none;
//        -webkit-box-shadow: none;
//        -moz-box-shadow: none;
//        box-shadow: none;
//        height: auto;
//      }
      & img {
        cursor: pointer;
        width: 26px;
        position: absolute;
        top: 18px;
        right: 0;
      }
      & input[type=radio] {
        margin: 0 5px;
      }
    }

    & .close-button {
      margin: 0 auto;
      text-align: center;
      background: #444 !important;
      color: #eee;
      box-shadow: 0 2px 5px #666;
      -webkit-border-top-@{left}-radius: 5px;
      -webkit-border-bottom-@{left}-radius: 5px;
      -moz-border-radius-top@{left}: 5px;
      -moz-border-radius-bottom@{left}: 5px;
      border-top-@{left}-radius: 5px;
      border-bottom-@{left}-radius: 5px;
      position: absolute;
      top: -13px;
      @{right}: 0;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      padding: 0px 2px 2px 3px;
      border: 0;
      .box(25px);
    }

    & .close-button:after {
      content: @arrow;
    }
  }

  .checkbox label {
    float: left;
  }

  .dropdown-menu {
    min-width: 200px  !important;
    @{left}: auto !important;
    @{right}: 0 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
  }

}

