<div ng-if="packageOn" ng-init="activeTab = 1">
    <packagesearch ng-if="packageSearchOn"></packagesearch>
    <packageinfo></packageinfo>
    <packagesearchwait ng-if="packageState == 'SEARCHING'"></packagesearchwait>
    <ul class="nav nav-tabs">
        <li ng-class="activeTab == 1 ? 'active' : ''" ng-click="activeTab = 1">
            <a href="#">Flights</a>
        </li>
        <li ng-class="activeTab == 2 ? 'active' : ''" ng-click="activeTab = 2">
            <a href="#">Hotels</a>
        </li>
    </ul>
    <flightresult ng-if="packageState == 'RESULTS' && activeTab == 1"></flightresult>
    <hotelfilter ng-if="activeTab == 2"></hotelfilter>
    <processwait ng-show="processState == 'WAITING'"></processwait>
    <!--<loadmodule module='flights/booking/flightbooking' ng-if="flightState == 'BOOKING'"></loadmodule>-->
</div>