<div class="tt-packages-search-results"  ng-init="activeTab = 1; showFilters = 0">
    <table class="tt-search-form-header">
        <tr>
            <td>
                <i class="el-icon-th-list"></i>
                &zwj;Результаты поиска&zwj;
            </td>
        </tr>
    </table>
    <div class="tt-packages-search-results-package">
        <div class="package-info">
            Информация о содержимом пакета
        </div>
        <div class="package-details">
            <div class="package-components">
                <div class="package-main">
                    <div class="package-flight">
                        <h5>Flight:</h5>
                        <div class="airline-icon">
                            <img class="flight-airline"
                                 src="http://static.trip-top.com/triptop/gallery/triptop-gallery/images/air/ju.jpg">
                        </div>
                        <span>AIRLINE_NAME</span>
                        <span class="flight-stops">N stops / without stopping</span>
                        <ul class="flight-to">
                            <li>
                                <div class="route-title">
                                    Tel Aviv [TLV]
                                </div>
                                <div class="route-details">
                                    24/10/2014, 15:45
                                </div>
                            </li>
                            <li class="route-arrow">
                                &#10230;
                            </li>
                            <li>
                                <div class="route-title">
                                    Bangkok [BKK]
                                </div>
                                <div class="route-details">
                                    25/10/2014, 09:25
                                </div>
                            </li>
                        </ul>
                        <div class="airline-icon">
                            <img class="flight-airline"
                                 src="http://static.trip-top.com/triptop/gallery/triptop-gallery/images/air/ju.jpg">
                        </div>
                        <span>AIRLINE_NAME</span>
                        <span class="flight-stops">N stops / without stopping</span>
                        <ul class="flight-from">
                            <li>
                                <div class="route-title">
                                    Bangkok [BKK]
                                </div>
                                <div class="route-details">
                                    30/10/2014, 11:10
                                </div>
                            </li>
                            <li class="route-arrow">
                                &#10230;
                            </li>
                            <li>
                                <div class="route-title">
                                    Tel Aviv [TLV]
                                </div>
                                <div class="route-details">
                                    31/10/2014, 02:55
                                </div>
                            </li>
                        </ul>
                        <a href="#">Show flight details &raquo;</a>
                        <a class="to-results" href="#">Show results</a>
                    </div>
                    <div class="package-hotel">
                        <h5>Hotel:</h5>
                        <img src="http://c775792.r92.cf2.rackcdn.com/sml/0/86/86772.jpg">
                        <div class="hotel-info">
                            <h4>Hotel name</h4>
                            <div>
                                ***STARS***
                            </div>
                            Bangkok, Kek st. 6
                        </div>
                        <a class="to-results" href="#">Show results</a>
                    </div>
                </div>
            </div>
            <div class="package-total">
                <h5>Total:</h5>
                <div class="total-price">
                    <h3>$1 777.77</h3>
                </div>
                <div class="package-book">
                    <h4>Book</h4>
                </div>
            </div>
        </div>
    </div>
    <button type="button"
             class="btn-filters btn btn-default btn-sm"
             ng-show="showFilters == 0"
             ng-click="showFilters = 1">
        <span class="glyphicon glyphicon-filter"></span> Show filters
    </button>
    <button type="button"
             class="btn-filters btn btn-default btn-sm active"
             ng-show="showFilters == 1"
             ng-click="showFilters = 0">
        <span class="glyphicon glyphicon-filter"></span> Hide filters
    </button>
    <button type="button"
            class="btn-map btn btn-default btn-sm"
            ng-show="activeTab == 2"
            ng-click="">
        <span class="glyphicon glyphicon-map-marker"></span> Show map
    </button>
    <div class="tt-packages-search-results-filters" ng-show="showFilters == 1">
        Some filters
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="activeTab == 1 ? 'active' : ''">
            <a href="#"
               ng-click="activeTab = 1">
                Flights
            </a>
        </li>
        <li ng-class="activeTab == 2 ? 'active' : ''">
            <a href="#"
               ng-click="activeTab = 2">
                Hotels
            </a>
        </li>
    </ul>
    <div class="tt-packages-search-results-list tt-packages-search-results-flights"
         ng-show="activeTab == 1">
        <!--Результаты поиска полётов-->
        <div class="tt-packages-search-results-item result-div" ng-repeat="row in results track by $index">
            <div class="result-item-info-wrapper">
                <div class="result-item-info"  ng-hide="row.showDetails">
                    <div class="result-item-flight-info flight-info-header">
                        AIRLINE_NAME - Regular flight
                    </div>
                    <div class="result-item-flight-info">
                        <ul class="flight-to">
                            <li class="airline-icon">
                                <img class="flight-airline"
                                     src="http://static.trip-top.com/triptop/gallery/triptop-gallery/images/air/ju.jpg">
                            </li>
                            <li>
                                <div class="route-title">
                                    Tel Aviv [TLV]
                                </div>
                                <div class="route-details">
                                    24/10/2014, 15:45
                                </div>
                            </li>
                            <li>
                                <div class="route-title">
                                    Bangkok [BKK]
                                </div>
                                <div class="route-details">
                                    25/10/2014, 09:25
                                </div>
                            </li>
                            <li>
                                <div class="li-title">
                                    1 Flight change
                                </div>
                                <div class="li-details">
                                    Istanbul
                                </div>
                            </li>
                            <li>
                                <div class="li-title">
                                    Route duration
                                </div>
                                <div class="li-details">
                                    13 hours and 40 minutes
                                </div>
                            </li>
                        </ul>
                        <ul class="flight-from">
                            <li class="airline-icon">
                                <img class="flight-airline"
                                     src="http://static.trip-top.com/triptop/gallery/triptop-gallery/images/air/ju.jpg">
                            </li>
                            <li>
                                <div class="route-title">
                                    Bangkok [BKK]
                                </div>
                                <div class="route-details">
                                    30/10/2014, 11:10
                                </div>
                            </li>
                            <li>
                                <div class="route-title">
                                    Tel Aviv [TLV]
                                </div>
                                <div class="route-details">
                                    31/10/2014, 02:55
                                </div>
                            </li>
                            <li>
                                <div class="li-title">
                                    1 Flight change
                                </div>
                                <div class="li-details">
                                    Istanbul
                                </div>
                            </li>
                            <li>
                                <div class="li-title">
                                    Route duration
                                </div>
                                <div class="li-details">
                                    20 hours and 45 minutes
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="result-item-detailed-info"  ng-show="row.showDetails">
                    <div class="flight-info-header">
                        AIRLINE_NAME - Regular flight
                    </div>
                    <div class="flight-to">
                        <div class="flight-header">
                            Tel Aviv - Bangkok 24/10/2014
                        </div>
                        <div class="flight-info">
                            <div class="airline-icon">
                                <img class="flight-airline"
                                     src="http://static.trip-top.com/triptop/gallery/triptop-gallery/images/air/ju.jpg">
                            </div>
                            <span>AIRLINE_NAME - Flight 777</span>
                            <div class="title">
                                Departure:
                            </div>
                            <div class="date-time">
                                24/10/2014, 15:45
                            </div>
                            <div class="city-airport">
                                <!--Tel Aviv [TLV]-->
                                Tel Aviv, airport Ben Gurion Intl, Turkish Airlines flight #791, Airbus A321-100/200
                            </div>
                            <div class="title">
                                Arrival:
                            </div>
                            <div class="date-time">
                                24/10/2014, 19:30
                            </div>
                            <div class="city-airport">
                                Istanbul [AAA]
                            </div>
                        </div>
                        <div class="flight-change">
                            <b style="color:red !important;">Change flight</b> at Istanbul AIRPORT_NAME airport. Stop time: <b>01:25</b>
                        </div>
                        <div class="flight-info">
                            <div class="airline-icon">
                                <img class="flight-airline"
                                     src="http://static.trip-top.com/triptop/gallery/triptop-gallery/images/air/ju.jpg">
                            </div>
                            <span>AIRLINE_NAME - Flight 555</span>
                            <div class="title">
                                Departure:
                            </div>
                            <div class="date-time">
                            24/10/2014, 20:55
                            </div>
                            <div class="city-airport">
                                Istanbul [AAA]
                            </div>
                            <div class="title">
                                Arrival:
                            </div>
                            <div class="date-time">
                                25/10/2014, 05:15
                            </div>
                            <div class="city-airport">
                                Bangkok [BKK]
                            </div>
                        </div>
                    </div>
                    <div class="flight-from">
                        <div class="flight-header">
                            Bangkok - Tel Aviv 30/10/2014
                        </div>
                        <div class="flight-info">
                            <div class="airline-icon">
                                <img class="flight-airline"
                                     src="http://static.trip-top.com/triptop/gallery/triptop-gallery/images/air/ju.jpg">
                            </div>
                            <span>AIRLINE_NAME - Flight 345</span>
                            <div class="title">
                                Departure:
                            </div>
                            <div class="date-time">
                                30/10/2014, 11:10
                            </div>
                            <div class="city-airport">
                                Bangkok [BKK]
                            </div>
                            <div class="title">
                                Arrival:
                            </div>
                            <div class="date-time">
                                30/10/2014, 19:30
                            </div>
                            <div class="city-airport">
                                Istanbul [AAA]
                            </div>
                        </div>
                        <div class="flight-change">
                            <b style="color:red !important;">Change flight</b> at Istanbul AIRPORT_NAME airport. Stop time: <b>03:40</b>
                        </div>
                        <div class="flight-info">
                            <div class="airline-icon">
                                <img class="flight-airline"
                                     src="http://static.trip-top.com/triptop/gallery/triptop-gallery/images/air/ju.jpg">
                            </div>
                            <span>AIRLINE_NAME - Flight 871</span>
                            <div class="title">
                                Departure:
                            </div>
                            <div class="date-time">
                                30/10/2014, 23:10
                            </div>
                            <div class="city-airport">
                                Istanbul [AAA]
                            </div>
                            <div class="title">
                                Arrival:
                            </div>
                            <div class="date-time">
                                31/10/2014, 02:55
                            </div>
                            <div class="city-airport">
                                <!--Tel Aviv [TLV]-->
                                Tel Aviv, airport Ben Gurion Intl, Turkish Airlines flight #791, Airbus A321-100/200
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result-item-add">
                    <span>
                        Seat(s): <b>7</b>
                    </span>
                    <div class="item-price">
                        <h4>$777.77</h4>
                    </div>
                    <div class="item-add">
                        <h5>Add to cart</h5>
                    </div>
                    <button type="button"
                             class="btn-rules btn btn-default btn-xs"
                             ng-show="row.showDetails">Fare rules</button>
                </div>
            </div>
            <div align="center" style="height:0px; position:relative;">
                <div class="details-button-wrapper result-div">
                    <div class="result-item-details-button" ng-hide="row.showDetails" ng-click="onShowDetails(row)">
                        Show Details
                    </div>
                    <div class="result-item-details-button" ng-show="row.showDetails" ng-click="onHideDetails(row)">
                        Hide Details
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    <div class="tt-packages-search-results-list tt-packages-search-results-hotels"
         ng-show="activeTab == 2">
        Результаты поиска гостиниц
    </div>
</div>