<ng-form name="packagesForm">
    <div class="tt-packages-search-form">
        <table class="tt-search-form-header">
            <tr>
                <td>
                    <i class="el-icon-pencil"></i>
                    &zwj;Поиск пакетов отдыха&zwj;
                </td>
            </tr>
        </table>
        <div class="tt-packages-search-location">
            <input type="text"
                   class="form-control input-sm"
                   placeholder="From"
                   ng-model="query.fromCity"
                   ui-autocomplete='departure'/>
        </div>
        <div class="tt-packages-search-location">
            <input type="text"
                   class="form-control input-sm"
                   placeholder="To"
                   ng-model="query.toCity"/>
        </div>
        <div class="tt-packages-search-date">
            <input type='text'
                   name='birthday'
                   class='form-control input-sm'
                   datepicker start-date='+1d'
                   ng-model='query.fromDate'
                   required placeholder='&zwj;dd.mm.yyyy&zwj;'/>
        </div>
        <div class="tt-packages-search-date">
            <input type='text'
                   name='birthday'
                   class='form-control input-sm'
                   datepicker start-date='+2d'
                   ng-model='query.toDate'
                   required placeholder='&zwj;dd.mm.yyyy&zwj;'/>
        </div>
        <div class="tt-packages-search-paxes">
            <i class="tt-search-form-adult"></i>
            <select class="form-control input-sm"
                    ng-model='subquery.adults'
                    ng-options='value for value in [0,1,2,3,4,5,6,7,8,9]'></select>
            <i class="tt-search-form-child"></i>
            <select class="form-control input-sm"
                    ng-model='subquery.children'
                    ng-options='value for value in [0,1,2,3,4,5,6,7,8,9]'></select>
            <i class="tt-search-form-infant"></i>
            <select class="form-control input-sm"
                    ng-model='subquery.infants'
                    ng-options='value for value in [0,1,2,3,4,5,6,7,8,9]'></select>
        </div>

        <!--Error block-->
        <div class="alert alert-danger"
             role="alert"
             ng-show="packagesSearchError">
            <b>Ошибка!</b>
            <span ng-show="packagesSearchErrors.locations"><br/>&bull; Вы должны ввести пункты отправления и назначения.</span>
            <span ng-show="packagesSearchErrors.dates"><br/>&bull; Вы должны выбрать обе даты.</span>
            <span ng-show="packagesSearchErrors.paxes"><br/>&bull; Вы не можете выбрать 0 пассажиров.</span>
        </div>

        <div class="tt-packages-search-button-wrapper">
            <!--<div class="tt-packages-search-button" ng-click="runSearch();">&zwj;Заказать&zwj;</div>-->
            <div class="tt-packages-search-button" ng-click="getId(getRaw);">&zwj;Поиск&zwj;</div>
        </div>
        <div class="tt-search-form-end"></div>
    </div>
</ng-form>