<div class="panel panel-default tt-search-form">
	<div class="panel-heading">
		<i class="el-icon-plane"></i> &zwj;Поиск отелей&zwj;
	</div>
	<div class="panel-body">
		<div class="row" ng-repeat="segment in query | hotelsQuerySegments">
			<div class="col-xs-3">
				<label>&zwj;Название города&zwj;</label>
				<select class="form-control input-sm" placeholder="&zwj;Например, Лондон&zwj;" selectize="segment.to" method="locations"></select>
			</div>
			<div class="col-xs-3">
				<label>&zwj;Название гостиницы&zwj;</label>
				<input type="text" class="form-control input-sm" placeholder="&zwj;Название гостиницы&zwj;" ng-model="segment.hotelName"/>
			</div>
			<div class="col-xs-2">
				<label>&zwj;Дата заезда&zwj;</label>
				<!--<input type="text" class="form-control input-sm" placeholder="dd.mm.yyyy"-->
					<!--datepicker start-date="+0d" ng-model="segment.time" required ng-change="onChangeTime()"/>-->
				<input name='time' type='text' class='form-control input-sm' placeholder='dd.mm.yyyy'
					   jquery-datepicker months="2" start-date="+0d"
					   ng-model='segment.time' required ng-change="onChangeTime()"/>
			</div>
			<div class="col-xs-1">
				<label>&zwj;Кол-во ночей&zwj;</label>
				<select selectize="query.nights">
					<option ng-repeat="val in [] | range:30" value="$index + 1">{{$index + 1}}</option>
				</select>
			</div>
			<div class="col-xs-2">
				<label>&zwj;Дата выезда&zwj;</label>
				<!--<input type="text" class="form-control input-sm" placeholder="dd.mm.yyyy"-->
					<!--datepicker start-date="+0d" ng-model="segment.round" required/>-->
				<input name='round' type='text' class='form-control input-sm' placeholder='dd.mm.yyyy'
					   jquery-datepicker months="2"
					   ng-model='segment.round'/>

			</div>
		</div>
		<div class="row row-lt">
			<div class="col-xs-3">
				<label>&zwj;Категория отеля&zwj;</label>
				<select selectize="query.rank">
					<option value="0">&zwj;Все категории&zwj;</option>
					<option value="1">&#9733;</option>
					<option value="2">&#9733;&#9733;</option>
					<option value="3">&#9733;&#9733;&#9733;</option>
					<option value="4">&#9733;&#9733;&#9733;&#9733;</option>
					<option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
				</select>
			</div>
			<div class="col-xs-3">
				<label>&zwj;Тип номера&zwj;</label>
				<select selectize="query.roomType">
					<option value="1">&zwj;Одноместный&zwj;</option>
					<option value="2">&zwj;Двухместный&zwj;</option>
					<option value="3">&zwj;Трехместный&zwj;</option>
					<option value="4">&zwj;Четырехместный&zwj;</option>
					<option value="5">&zwj;Двухместный (2 кровати)&zwj;</option>
					<option value="6">&zwj;Двухместный одному&zwj;</option>
					<option value="7">&zwj;Двухместный+реб.&zwj;</option>
					<option value="8">&zwj;Двухместный+2реб.&zwj;</option>
					<option value="9">&zwj;Двухместный+3реб.&zwj;</option>
				</select>
			</div>
			<div class="col-xs-2">
				<label>&zwj;Только доступные&zwj;</label>
				<select selectize="query.available">
					<option value="1">&zwj;Да&zwj;</option>
					<option value="2">&zwj;Нет&zwj;</option>

				</select>
			</div>
			<div class="col-xs-2">
				&nbsp;
			</div>
			<div class="col-xs-2 col-lt">
				<button type="button" class="btn btn-warning tt-submit" ng-click="runSearch()">&zwj;Поиск&zwj;</button>
			</div>
		</div>
	</div>
</div>
<div class="hide tt-notfound">
	&zwj;Извините, по вашему запросу результатов не найдено. Измените параметры запроса и выполните поиск еще раз.&zwj;
</div>
<div class="hide tt-corrupt">
	&zwj;Извините, но результаты поиска устарели. Поиск будет запущен повторно.&zwj;
</div>
<div class="hide tt-dest-invalid">
    &zwj;Неверно указаны направления.&zwj;
</div>
<div class="hide tt-date-invalid">
    &zwj;Неверно указаны даты.&zwj;
</div>