<div class="tt-search-waiting tt-waiting">
    <div class="tt-wrap">
        <div class="panel panel-default tt-panel">
            <div class="panel-body">
                <img ng-src="{{imgDir}}/loader.gif"/>
                <div>&zwj;Мы ищем для вас отели&zwj;:</div>
                <div>
                    <span>{{digest.to.name}}</span>
                </div>
                <div>
                    <span>
                        &zwj;Заезд {{digest.time | date:"dd.MM.yyyy"}} и выезд {{digest.round | date:"dd.MM.yyyy"}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>