body {
    margin: 0;
}

#triptop-profile .link-box {
    display: none !important;
}

.triptop-container {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #555;

    table {
        border-spacing: 0;
        border: 0;
        padding: 0;
        margin: 0;
    }

    .tt-align-left {
        text-align: @left;
    }

    .tt-align-center {
        text-align: center;
    }

    .tt-align-right {
        text-align: @right;
    }

    .tt-float-left {
        float: @left;
    }

    .tt-float-right {
        float: @right;
    }

    .tt-clear {
        clear: both;
    }

    .tt-link {
        cursor: pointer;
    }

    .tt-dropdown {
        display: block !important;
    }
}

#triptop-transfers {
    direction: @dir;
    font-family: @baseFontFamily;
    font-size: @baseFontSize;
    box-sizing: border-box;

    input, select, textarea, button {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    .tt-transfer-search-form {
        color: @searchPanelText;
        font-size: 12px;
        position: relative;
        margin: 0;
        padding: 10px;
        padding-@{right}: 90px;
        background-color: @searchPanelBackground;
        border: 1px solid @searchPanelBorder;
        -webkit-border-radius: @searchPanelBorderRadius;
        border-radius: @searchPanelBorderRadius;
        height: 150px;

        & > table {
            width: 100%;
            border-spacing: 5px;
            border-collapse: separate;

            td {
                white-space: nowrap;
            }
        }

        select {
            background: @selectBackground;
//            border: 1px solid @inputBorder;
            padding: 2px;
//            height: 24px;
            outline: 0 none;
        }

        .tt-transfer-search-country, .tt-transfer-search-paxes, .tt-transfer-search-location {
            float: @left;
            width: 32%;
            margin-@{right}: 1%;

            label {
                display: block;
                margin: 0px;
                font-weight: normal;
                height: 18px;

                span {
                    vertical-align: top;
                }
            }
        }

        .tt-transfer-search-paxes {
            width: 66%;

            & > div {
                float: @left;
                min-width: 18%;
                margin-@{right}: 1%;
            }
        }

        .tt-transfer-selector-type {
            width: 150px;
        }

        .tt-transfer-selector-paxes {
            width: 60px;
        }

        .tt-transfer-selector-date {
            padding: 2px 5px;
//            border: 1px solid @inputBorder;
            width: 90px;
//            height: 24px;
            float: @left;
        }

        .tt-transfer-selector-time {
//            border: 1px solid @inputBorder;
            padding: 2px;
            width: 55px;
//            height: 24px;
            float: @left;
            margin-@{left}: 5px;
        }

        .tt-transfer-search-button {
            position: absolute;
            top: 0;
            @{right}: 0;
            width: 80px;
            height: 145px;
            margin: 0;
            font-size: 18px;
            line-height: 24px;
            color: @searchBtnText;
            text-shadow: 1px 1px 2px #666;
            font-weight: bold;
            cursor: pointer;
            background-color: @searchBtn;
            border: 1px solid @searchBtnBorder;
            border-spacing: 0;
            -webkit-border-top-@{right}-radius: @searchPanelBorderRadius - 1;
            -webkit-border-bottom-@{right}-radius: @searchPanelBorderRadius - 1;
            border-top-@{right}-radius: @searchPanelBorderRadius - 1;
            border-bottom-@{right}-radius: @searchPanelBorderRadius - 1;

            td {
                text-align: center;
                vertical-align: middle;
                height: 146px;
            }
        }
    }

    .tt-transfer-search-waiting, .tt-transfer-search-noresults, .tt-transfer-search-results {
        width: 100%;
        text-align: center;
    }

    .tt-transfer-search-waiting {
        padding: 10px;
        color: #90A7B7;
        font-size: 13px;
        font-weight: bold;

        img {
            display: block;
            margin: 0 auto;
        }

        iframe {
            width: 486px;
            height: 78px;
            margin: 0 auto;
            border: 0;
        }
    }

    .tt-transfer-search-results-header, .tt-transfer-search-results-row {
        margin: 10px 0 0;

        .tt-col {
            width: 15%;
        }

        .tt-col-sm {
            width: 10%;
        }

        .tt-col-fixed {
            min-width: 120px;
            cursor: pointer;
        }

        & > table {
            width: 100%;

            td {
                text-align: center;
                font-size: 11px;
                line-height: 12px;
            }
        }
    }

    .tt-transfer-search-results-header {
        td {
            vertical-align: top;
            border-bottom: 1px solid #90A7B7;
            color: #90A7B7;
        }
    }

    .tt-transfer-search-results-row {
        box-shadow: 0px 0px 6px #90A7B7;
        border-radius: @resultsBorderRadius;
        background-color: @resultsBackground;

        &:hover {
            background-color: #b9def0;
        }

        td {
            vertical-align: middle;
            color: #555;
            padding: 8px;
        }

        select {
            background: #FFF;
            border: 1px solid #90A7B7;
            padding: 2px;
            width: 50px;
//            height: 24px;
            outline: 0 none;
        }

        .tt-button {
            cursor: pointer;
            border: 1px solid @bookBtnBorder;
            -webkit-border-radius: @bookBtnBorderRadius;
            -moz-border-radius: @bookBtnBorderRadius;
            border-radius: @bookBtnBorderRadius;
            background-color: @bookBtn;
            color: @bookBtnText;
            
            .tt-text-caption {
                font-size: 10px;
                line-height: 12px;
                font-weight: bold;
                margin: 5px 0;
            }
            
            .tt-text-total, .tt-text-booking {
                font-size: 16px;
                line-height: 20px;
                font-weight: bold;
                margin: 5px 0;
            }

            .tt-text-phone {
                font-size: 10px;
                line-height: 14px;
                font-weight: bold;
                padding: 2px 0;
                background-color: @bookBtnText;
                color: @bookBtn;
            }
        }
    }

    .input-group {
        width: 100%;
        border-spacing: 0;

        input {
            width: 100%;
//            height: 24px;
//            border-radius: 0;
//            border: 1px solid @inputBorder;
            padding: 5px;

            &::-ms-clear {
              display: none;
            }
        }

        .form-control {
//            border: 1px solid @inputBorder;
        }

        .input-group-addon {
            padding: 0px 5px;
//            border: 1px solid @inputBorder;
            border-@{left}: 0;
//            border-radius: 0;

            .caret {
              margin: 0px 3px;
            }
        }

        .dropdown-menu {
//            border-radius: 0;
            margin: 0;
            padding: 3px 0;
            min-width: 100%;

            li > a {
                padding: 3px 10px;
                font-size: 12px;
            }
        }
    }
}