/*** Base elements ***/
/*** Controls ***/
body {
  margin: 0;
}
#triptop-profile .link-box {
  display: none !important;
}
.triptop-container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
}
.triptop-container table {
  border-spacing: 0;
  border: 0;
  padding: 0;
  margin: 0;
}
.triptop-container .tt-align-left {
  text-align: left;
}
.triptop-container .tt-align-center {
  text-align: center;
}
.triptop-container .tt-align-right {
  text-align: right;
}
.triptop-container .tt-float-left {
  float: left;
}
.triptop-container .tt-float-right {
  float: right;
}
.triptop-container .tt-clear {
  clear: both;
}
.triptop-container .tt-link {
  cursor: pointer;
}
.triptop-container .tt-dropdown {
  display: block !important;
}
#triptop-transfers {
  direction: ltr;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
#triptop-transfers input,
#triptop-transfers select,
#triptop-transfers textarea,
#triptop-transfers button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
#triptop-transfers .tt-transfer-search-form {
  color: #ffffff;
  font-size: 12px;
  position: relative;
  margin: 0;
  padding: 10px;
  padding-right: 90px;
  background-color: #9fc7d8;
  border: 1px solid #90a7b7;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 150px;
}
#triptop-transfers .tt-transfer-search-form > table {
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate;
}
#triptop-transfers .tt-transfer-search-form > table td {
  white-space: nowrap;
}
#triptop-transfers .tt-transfer-search-form select {
  background: #ffffff;
  border: 1px solid #90a7b7;
  padding: 2px;
  height: 24px;
  outline: 0 none;
}
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-country,
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-paxes,
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-location {
  float: left;
  width: 32%;
  margin-right: 1%;
}
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-country label,
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-paxes label,
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-location label {
  display: block;
  margin: 0px;
  font-weight: normal;
  height: 18px;
}
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-country label span,
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-paxes label span,
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-location label span {
  vertical-align: top;
}
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-paxes {
  width: 66%;
}
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-paxes > div {
  float: left;
  min-width: 18%;
  margin-right: 1%;
}
#triptop-transfers .tt-transfer-search-form .tt-transfer-selector-type {
  width: 150px;
}
#triptop-transfers .tt-transfer-search-form .tt-transfer-selector-paxes {
  width: 60px;
}
#triptop-transfers .tt-transfer-search-form .tt-transfer-selector-date {
  padding: 2px 5px;
  border: 1px solid #90a7b7;
  width: 90px;
  height: 24px;
  float: left;
}
#triptop-transfers .tt-transfer-search-form .tt-transfer-selector-time {
  border: 1px solid #90a7b7;
  padding: 2px;
  width: 55px;
  height: 24px;
  float: left;
  margin-left: 5px;
}
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 145px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #666;
  font-weight: bold;
  cursor: pointer;
  background-color: #ff8901;
  border: 1px solid transparent;
  border-spacing: 0;
  -webkit-border-top-right-radius: 1px;
  -webkit-border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
#triptop-transfers .tt-transfer-search-form .tt-transfer-search-button td {
  text-align: center;
  vertical-align: middle;
  height: 146px;
}
#triptop-transfers .tt-transfer-search-waiting,
#triptop-transfers .tt-transfer-search-noresults,
#triptop-transfers .tt-transfer-search-results {
  width: 100%;
  text-align: center;
}
#triptop-transfers .tt-transfer-search-waiting {
  padding: 10px;
  color: #90A7B7;
  font-size: 13px;
  font-weight: bold;
}
#triptop-transfers .tt-transfer-search-waiting img {
  display: block;
  margin: 0 auto;
}
#triptop-transfers .tt-transfer-search-waiting iframe {
  width: 486px;
  height: 78px;
  margin: 0 auto;
  border: 0;
}
#triptop-transfers .tt-transfer-search-results-header,
#triptop-transfers .tt-transfer-search-results-row {
  margin: 10px 0 0;
}
#triptop-transfers .tt-transfer-search-results-header .tt-col,
#triptop-transfers .tt-transfer-search-results-row .tt-col {
  width: 15%;
}
#triptop-transfers .tt-transfer-search-results-header .tt-col-sm,
#triptop-transfers .tt-transfer-search-results-row .tt-col-sm {
  width: 10%;
}
#triptop-transfers .tt-transfer-search-results-header .tt-col-fixed,
#triptop-transfers .tt-transfer-search-results-row .tt-col-fixed {
  min-width: 120px;
  cursor: pointer;
}
#triptop-transfers .tt-transfer-search-results-header > table,
#triptop-transfers .tt-transfer-search-results-row > table {
  width: 100%;
}
#triptop-transfers .tt-transfer-search-results-header > table td,
#triptop-transfers .tt-transfer-search-results-row > table td {
  text-align: center;
  font-size: 11px;
  line-height: 12px;
}
#triptop-transfers .tt-transfer-search-results-header td {
  vertical-align: top;
  border-bottom: 1px solid #90A7B7;
  color: #90A7B7;
}
#triptop-transfers .tt-transfer-search-results-row {
  box-shadow: 0px 0px 6px #90A7B7;
  border-radius: 2px;
  background-color: #ffffff;
}
#triptop-transfers .tt-transfer-search-results-row:hover {
  background-color: #b9def0;
}
#triptop-transfers .tt-transfer-search-results-row td {
  vertical-align: middle;
  color: #555;
  padding: 8px;
}
#triptop-transfers .tt-transfer-search-results-row select {
  background: #FFF;
  border: 1px solid #90A7B7;
  padding: 2px;
  width: 50px;
  height: 24px;
  outline: 0 none;
}
#triptop-transfers .tt-transfer-search-results-row .tt-button {
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #639966;
  color: #ffffff;
}
#triptop-transfers .tt-transfer-search-results-row .tt-button .tt-text-caption {
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  margin: 5px 0;
}
#triptop-transfers .tt-transfer-search-results-row .tt-button .tt-text-total,
#triptop-transfers .tt-transfer-search-results-row .tt-button .tt-text-booking {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 5px 0;
}
#triptop-transfers .tt-transfer-search-results-row .tt-button .tt-text-phone {
  font-size: 10px;
  line-height: 14px;
  font-weight: bold;
  padding: 2px 0;
  background-color: #ffffff;
  color: #639966;
}
#triptop-transfers .input-group {
  width: 100%;
  border-spacing: 0;
}
#triptop-transfers .input-group input {
  width: 100%;
  height: 24px;
  border-radius: 0;
  border: 1px solid #90a7b7;
  padding: 5px;
}
#triptop-transfers .input-group input::-ms-clear {
  display: none;
}
#triptop-transfers .input-group .form-control {
  border: 1px solid #90a7b7;
}
#triptop-transfers .input-group .input-group-addon {
  padding: 0px 5px;
  border: 1px solid #90a7b7;
  border-left: 0;
  border-radius: 0;
}
#triptop-transfers .input-group .input-group-addon .caret {
  margin: 0px 3px;
}
#triptop-transfers .input-group .dropdown-menu {
  border-radius: 0;
  margin: 0;
  padding: 3px 0;
  min-width: 100%;
}
#triptop-transfers .input-group .dropdown-menu li > a {
  padding: 3px 10px;
  font-size: 12px;
}
