/* Empty. Add your own CSS if you like */
.no-margin {
    margin-bottom: 0;
}

.checkbox.option {
    vertical-align: sub;
    padding: 0 5px 0 0;
}

.checkbox.option>input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.checkbox.option>input[type="checkbox"]:before {
    border-radius: 0;
}

.checkbox.option>input[type="checkbox"]:after {
    width: 10px;
    height: 5px;
}

md-checkbox.option {
    margin: 0 5px !important;
}

.item-input {
    padding-left: 10px;
}

md-input-container {
    padding-bottom: 10px !important;
}