body {
  margin: 0;
}
#triptop-profile {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
}
#triptop-profile .inactive {
  cursor: pointer;
}
#triptop-profile .disabled-tab {
  cursor: default;
}
#triptop-profile input.ng-dirty.ng-invalid {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#triptop-profile input.ng-dirty.ng-invalid:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
#triptop-profile table {
  border-spacing: 0;
  border: 0;
}
#triptop-profile table td {
  padding: 1px;
}
#triptop-profile .no-padding {
  padding: 0;
}
#triptop-profile .link-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
}
#triptop-profile .link-box .open-button {
  margin: 0 auto;
  text-align: center;
  background: #444;
  color: #eee;
  box-shadow: 0 2px 5px #666;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  width: 250px;
  height: auto;
}
#triptop-profile .glass-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #444;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
#triptop-profile .content-box {
  background: #fff;
  color: #333;
  box-shadow: 0 2px 5px #666;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}
#triptop-profile .content-box .content-tab {
  border: solid 1px #DDD;
  border-top: 0;
  padding: 5px;
  min-height: 351px;
  width: 100%;
  height: auto;
}
#triptop-profile .content-box .content-tab .row {
  margin-left: 0;
  margin-right: 0;
}
#triptop-profile .content-box .content-tab .row div[class^="col-"] {
  padding: 0;
}
#triptop-profile .close-button {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #444 !important;
  color: #eee;
  box-shadow: 0 2px 5px #666;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 17px;
  font-weight: bold;
  opacity: 1;
  filter: none;
  width: 20px;
  height: 20px;
}
#triptop-profile .login-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  width: 100%;
  height: 100%;
}
#triptop-profile .login-box .content-box {
  width: 400px;
  height: auto;
}
#triptop-profile .forgot-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  width: 100%;
  height: 100%;
}
#triptop-profile .forgot-box .content-box {
  width: 500px;
  height: auto;
}
#triptop-profile .account-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  width: 100%;
  height: 100%;
}
#triptop-profile .account-box .content-box {
  width: 800px;
  height: auto;
}
#triptop-profile .account-box .panel {
  text-align: justify;
  position: relative;
  margin-bottom: 5px;
}
#triptop-profile .account-box .panel .panel-scroll {
  height: 110px;
  overflow: auto;
}
#triptop-profile .account-box .panel .panel-nav {
  position: absolute;
  top: 8px;
}
#triptop-profile .account-box .profile-box {
  margin: 5px;
}
#triptop-profile .account-box .profile-box table {
  width: 100%;
  height: auto;
}
#triptop-profile .account-box .passenger-box,
#triptop-profile .account-box .order-box,
#triptop-profile .account-box .bonus-box {
  margin: 5px;
}
#triptop-profile .account-box .passenger-box .table td,
#triptop-profile .account-box .order-box .table td,
#triptop-profile .account-box .bonus-box .table td {
  border-bottom: 1px solid #DDD;
}
#triptop-profile .account-box .passenger-box .selectMark,
#triptop-profile .account-box .order-box .selectMark,
#triptop-profile .account-box .bonus-box .selectMark {
  border: 1px solid #C6C6C6;
  font-size: 1px;
  height: 13px;
  margin: 2px 0 0 2px;
  width: 13px;
  background: #fff;
}
#triptop-profile .account-box .passenger-box .selectedRow td,
#triptop-profile .account-box .order-box .selectedRow td,
#triptop-profile .account-box .bonus-box .selectedRow td,
#triptop-profile .account-box .passenger-box .selectedRow:hover td,
#triptop-profile .account-box .order-box .selectedRow:hover td,
#triptop-profile .account-box .bonus-box .selectedRow:hover td {
  background-color: #98DEF3;
}
#triptop-profile .account-box .passenger-box .selectedRow td .selectMark,
#triptop-profile .account-box .order-box .selectedRow td .selectMark,
#triptop-profile .account-box .bonus-box .selectedRow td .selectMark,
#triptop-profile .account-box .passenger-box .selectedRow:hover td .selectMark,
#triptop-profile .account-box .order-box .selectedRow:hover td .selectMark,
#triptop-profile .account-box .bonus-box .selectedRow:hover td .selectMark {
  background: url(//ssl.gstatic.com/ui/v1/menu/checkmark.png) no-repeat -6px -5px #ffffff;
}
#triptop-profile .account-box .order-box .panel-scroll {
  height: 127px;
}
#triptop-profile .account-box .bonus-box .panel-scroll {
  height: 250px;
}
#triptop-profile .account-box .editinfo-box.panel {
  margin: 5px;
}
#triptop-profile .account-box .editinfo-box.panel .submit-box {
  text-align: left;
}
#triptop-profile .checkbox label {
  float: right;
}
