body {
	margin: 0;
}

.box (@width: 100%, @height: auto) {
	width: @width;
	height: @height;
}

#triptop-profile {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #555;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 800;

    .inactive {
      cursor: pointer;
    }

    .disabled-tab {
      cursor: default;
    }

	input.ng-dirty.ng-invalid {
		border-color: #a94442;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
	input.ng-dirty.ng-invalid:focus {
		border-color: #843534;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	}

	& table {
		border-spacing: 0;
		border: 0;

		td {
			padding: 1px;
		}
	}

    & .no-padding {
        padding: 0;
    }

	& .link-box {
		position: fixed;
		top:0;
		left: 0;
		z-index: 1;
		.box(100%);

		& .open-button {
			margin: 0 auto;
			text-align: center;
			background: #444;
			color: #eee;
			box-shadow: 0 2px 5px #666;
			border-radius: 0 0 5px 5px;
			cursor: pointer;
			.box(250px);
		}
	}

	& .glass-box {
		position: fixed;
		top:0;
		left: 0;
		z-index: 1;
		background: #444;
		opacity: 0.5;
		.box(100%, 100%);
	}

	& .content-box {
		background: #fff;
		color: #333;
		box-shadow: 0 2px 5px #666;
		border-radius: 5px;
		padding: 10px;
		position: relative;

		& .content-tab {
			border: solid 1px #DDD;
			border-top: 0;
			padding: 5px;
			min-height: 351px;
			.box(100%);

			& .row {
				margin-@{right}: 0;
				margin-@{left}: 0;

				div[class^="col-"] {
					padding: 0;					
				}
			}
		}
	}

	& .close-button {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		background: #444 !important;
		color: #eee;
		box-shadow: 0 2px 5px #666;
		border-radius: 10px;
		position: absolute;
		top: -10px;
		@{right}: -10px;
		font-size: 17px;
		font-weight: bold;
		opacity: 1;
		filter: none;
		.box(20px, 20px);
	}

	& .login-box {
		position: fixed;
		top:0;
		left: 0;
		z-index: 1;
		color: #fff;
		.box(100%, 100%);

		& .content-box {
			.box(400px);
		}
	}

    & .forgot-box {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		color: #fff;
		.box(100%, 100%);

		& .content-box {
			.box(500px);
		}
    }

  & .account-box {
		position: fixed;
		top:0;
		left: 0;
		z-index: 1;
		color: #fff;
		.box(100%, 100%);

		& .content-box {
			.box(800px);
		}

		& .panel {
			text-align: justify;
			position: relative;
			margin-bottom: 5px;
			& .panel-scroll {
				height: 110px;
				overflow: auto;
			}
			& .panel-nav {
				position: absolute;
				top: 8px;
			}
		}

		& .profile-box {
			margin: 5px;
			table {
				.box(100%);
			}
		}

		& .passenger-box, .order-box, .bonus-box {
			margin: 5px;
			& .table td {
				border-bottom: 1px solid #DDD;
			}
			& .selectMark {
				border: 1px solid #C6C6C6;
				font-size: 1px;
				height: 13px;
				margin: 2px 0 0 2px;
				width: 13px;
				background: #fff;
			}
			& .selectedRow td, .selectedRow:hover td {
				background-color: #98DEF3;
				& .selectMark {
					background: url(//ssl.gstatic.com/ui/v1/menu/checkmark.png) no-repeat -6px -5px #fff;
				}
			}
		}

		& .order-box {
			& .panel-scroll {
				height: 127px;
			}
		}

        & .bonus-box {
            & .panel-scroll {
                height: 250px;
            }
        }

		& .editinfo-box.panel {
			margin: 5px;

			& .submit-box {
				text-align: @right;
			}
		}
	}

	.checkbox label {
		float: @left;
	} 
}
